
<div class="container mt-5 mb-5">
    <div class="row">
      <div class="col-md-6 col-lg-8 col-sm-12 order-2 order-xs-2 order-lg-1 order-md-1 hide-mobile">
          <div class=" p-bot-15">
            <h6 class="text-capitalize">{{item?.name}}</h6>
          </div>
          <!--  -->
          <div class="p-bot-15">
            <div [ngStyle]="{'display': item?.rating.percentage >= 1 ? 'block': 'none'}">
                  <!--  -->
                  <div class="d-flex">
                    <div class="star_div star_size">
                    <div class="star_poss">
                      <mat-icon style="color: #d8d8d8; margin-left: -2px;">star</mat-icon>
                    </div>
                    <div class="star_poss"
                      [ngStyle]="{'width': item?.rating.percentage >= 1 ? '100%':  item?.rating.percentage > 0 ? getDec(item?.rating.percentage) : '0'}">
                      <mat-icon style="color: gold; margin-left: -2px;">star</mat-icon>
                    </div>
                  </div>
                  <!--  -->
                  <div class="star_div star_size">
                    <div class="star_poss">
                      <mat-icon style="color: #d8d8d8; margin-left: -2px;">star</mat-icon>
                    </div>
                    <div class="star_poss"
                      [ngStyle]="{'width': item?.rating.percentage >= 2 ? '100%':  item?.rating.percentage > 1 ? getDec(item?.rating.percentage) : '0'}">
                      <mat-icon style="color: gold; margin-left: -2px;">star</mat-icon>
                    </div>
                  </div>
                  <div class="star_div star_size">
                    <div class="star_poss">
                      <mat-icon style="color: #d8d8d8; margin-left: -2px;">star</mat-icon>
                    </div>
                    <div class="star_poss"
                      [ngStyle]="{'width': item?.rating.percentage >= 3 ? '100%':  item?.rating.percentage > 2 ? getDec(item?.rating.percentage) : '0'}">
                      <mat-icon style="color: gold; margin-left: -2px;">star</mat-icon>
                    </div>
                  </div>
                  <div class="star_div star_size">
                    <div class="star_poss">
                      <mat-icon style="color: #d8d8d8; margin-left: -2px;">star</mat-icon>
                    </div>
                    <div class="star_poss"
                      [ngStyle]="{'width': item?.rating.percentage >= 4 ? '100%':  item?.rating.percentage > 3 ? getDec(item?.rating.percentage) : '0'}">
                      <mat-icon style="color: gold; margin-left: -2px;">star</mat-icon>
                    </div>
                  </div>
                  <div class="star_div star_size">
                    <div class="star_poss">
                      <mat-icon style="color: #d8d8d8; margin-left: -2px;">star</mat-icon>
                    </div>
                    <div class="star_poss"
                      [ngStyle]="{'width': item?.rating.percentage == 5 ? '100%': item?.rating.percentage > 4 ? getDec(item?.rating.percentage) : '0'}">
                      <mat-icon style="color: gold; margin-left: -2px;">star</mat-icon>
                    </div>
                  </div>
                  <!--  -->
                  </div >
                  <div style="margin-left:130px; font-size: 14px; margin-top: -25px;">
                    {{item?.rating.percentage | number : '1.1-1'}} Star Ratings
                  </div>
                  <!--  -->
            </div>
          </div>
          <!--  -->
          <div class="price-name p-bot-15">
            <span class="mr-1 price-content">Item Price:</span><span class="mr-2">&#8369;</span>{{item?.price | number : '1.2-2'}}
          </div>
          <div class="price-description">
            <span class="mr-1 description-content">Description:</span>{{item?.description}}
          </div>


      </div>
      <div class="col-md-6 col-lg-4 col-sm-12 order-1 order-xs-1 order-lg-2  order-md-2">
          <div class="card mb-5">
            <div class="card-body">
                <!-- carousel -item -->
                <div (swipeleft)="swipeLeft()" (swiperight)="swipeRight()">
                    <!-- <div class="sticky"> -->
                      <div class="c-img-main" [ngStyle]="{'background-image': item ? 'url(' + item?.images[slide.getPosition() - 1].file + ')' : 'none'}">
                        <a class="prev" (click)="slide.setPosition(-1)">&#10094;</a>
                        <a class="next" (click)="slide.setPosition(1)">&#10095;</a>
                      </div>
                      <div class="thumbnail-pane">
                        <div *ngFor="let imgs of item?.images; index as i" class="img-thumb"
                          [style.backgroundImage]="'url('+ imgs.file +')'" (click)="slide.defPosition(i+1)"
                          [ngClass]="{'img-thumb-selected':slide.getPosition()==i+1}"></div>
                      </div>
                    <!-- </div> -->

                </div>
                <!--  -->
            </div>
          </div>

      </div>
    </div>
    <!-- 2nd row newly added -->
    <div class="row">
      <div class="col-md-6 col-lg-8 order-2 order-xs-2 order-lg-1 order-md-1">
        <!--  -->
         <!-- customer revies  newly added-->
          <div class="row mb-5">
            <div class="col-md-5 col-lg-5 col-12 col-sm-12">
            <h4>Customer Reviews</h4>
            </div>
            <div class="col-md-7 col-lg-7 col-12 col-sm-12 d-flex justify-content-between">
              <!--  -->

                  <div>
                    <strong class="star_small-item">5</strong>
                    <img src="https://img.icons8.com/fluent/18/000000/star.png"/>
                    <strong class="semicolon-style">&nbsp;:&nbsp;</strong>
                    <img class="mr-1" src="https://img.icons8.com/ios-glyphs/18/000000/person-male.png"/>
                    <strong class="rating-style">{{item?.rating['5'] | number }}</strong>
                  </div>

                  <div>
                    <strong class="star_small-item">4</strong>
                    <img src="https://img.icons8.com/fluent/18/000000/star.png"/>
                    <strong class="semicolon-style">&nbsp;:&nbsp;</strong>
                    <img class="mr-1" src="https://img.icons8.com/ios-glyphs/18/000000/person-male.png"/>
                    <strong class="rating-style">{{item?.rating['4'] | number }}</strong>
                  </div>

                  <div>
                    <strong class="star_small-item">3</strong>
                    <img src="https://img.icons8.com/fluent/18/000000/star.png"/>
                    <strong class="semicolon-style">&nbsp;:&nbsp;</strong>
                    <img class="mr-1" src="https://img.icons8.com/ios-glyphs/18/000000/person-male.png"/>
                    <strong class="rating-style">{{item?.rating['3'] | number }}</strong>
                  </div>

                  <div>
                    <strong class="star_small-item">2</strong>
                    <img src="https://img.icons8.com/fluent/18/000000/star.png"/>
                    <strong class="semicolon-style">&nbsp;:&nbsp;</strong>
                    <img class="mr-1" src="https://img.icons8.com/ios-glyphs/18/000000/person-male.png"/>
                    <strong class="rating-style">{{item?.rating['2'] | number }}</strong>
                  </div>

                  <div>
                    <strong class="star_small-item">1</strong>
                    <img src="https://img.icons8.com/fluent/18/000000/star.png"/>
                    <strong class="semicolon-style">&nbsp;:&nbsp;</strong>
                    <img class="mr-1" src="https://img.icons8.com/ios-glyphs/18/000000/person-male.png"/>
                    <strong class="rating-style">{{item?.rating['1'] | number }}</strong>
                  </div>
              <!--  -->
            </div>
          </div>
          <!-- end -->
          <div *ngIf="item?.testimonies.length != 0">
            <ng-container *ngFor="let rating of item?.testimonies  | slice:0:show; let i=index">
              <div *ngIf="rating.type === 1">
                <div class="row">
                  <div class="col-md-3 col-lg-2 col-3 col-sm-3">
                    <img class="mt-2" src="https://img.icons8.com/material/64/4db6ac/user-male-circle--v1.png"/>
                  </div>
                  <div class="col-md-9 col-lg-10 col-9 col-sm-9">
                      <!-- start -->
                      <div class="row">
                        <div class="col-md-12 col-lg-12 col-12 col-sm-12">


                                <div class=" d-inline-block mr-3">
                                  <div class="star_pos"><mat-icon class="star_small" style="color: #d8d8d8; margin-left: -2px;">star</mat-icon></div>
                                  <div class="star_pos" [ngStyle]="{'width': rating.rate >= 1 ? '100%': rating.rate > 0 ? getDec(rating.rate) : '0'}">
                                    <mat-icon class="star_small" style="color: gold; margin-left: -2px;">star</mat-icon>
                                  </div>
                                </div>
                                <div class="  d-inline-block mr-3">
                                  <div class="star_pos"><mat-icon class="star_small" style="color: #d8d8d8; margin-left: -2px;">star</mat-icon></div>
                                  <div class="star_pos" [ngStyle]="{'width': rating.rate >= 2 ? '100%': rating.rate > 1 ? getDec(rating.rate) : '0'}">
                                    <mat-icon class="star_small" style="color: gold; margin-left: -2px;">star</mat-icon>
                                  </div>
                                </div>
                                <div class="  d-inline-block mr-3">
                                  <div class="star_pos"><mat-icon class="star_small" style="color: #d8d8d8; margin-left: -2px;">star</mat-icon></div>
                                  <div class="star_pos" [ngStyle]="{'width': rating.rate >= 3 ? '100%': rating.rate > 2 ? getDec(rating.rate) : '0'}">
                                    <mat-icon class="star_small" style="color: gold; margin-left: -2px;">star</mat-icon>
                                  </div>
                                </div>
                                <div class="  d-inline-block mr-3">
                                  <div class="star_pos"><mat-icon class="star_small" style="color: #d8d8d8; margin-left: -2px;">star</mat-icon></div>
                                  <div class="star_pos" [ngStyle]="{'width': rating.rate >= 4 ? '100%': rating.rate > 3 ? getDec(rating.rate) : '0'}">
                                    <mat-icon class="star_small" style="color: gold; margin-left: -2px;">star</mat-icon>
                                  </div>
                                </div>
                                <div class="  d-inline-block mr-3">
                                  <div class="star_pos"><mat-icon class="star_small" style="color: #d8d8d8; margin-left: -2px;">star</mat-icon></div>
                                  <div class="star_pos" [ngStyle]="{'width': rating.rate >= 5 ? '100%': rating.rate > 4 ? getDec(rating.rate) : '0'}">
                                    <mat-icon class="star_small" class="star_small" style="color: gold; margin-left: -2px;">star</mat-icon>
                                  </div>
                                </div>

                            </div>
                        </div>
                        <!--  -->
                        <div class="row form-group">
                          <div class="col-md-12 col-lg-12 col-12 col-sm-12">
                            {{rating.message}}
                          </div>
                       </div>
                       <!--  -->
                       <div class="row form-group">
                        <div class="col-md-12 col-lg-12 col-12 col-sm-12">
                          <div *ngIf="rating.testimony_image != 0" >
                            <div *ngFor="let img of rating.testimony_image" class="w-h-100 d-inline-flex">
                              <img class="img-thumbnail img-testimony" [src]="img"/>
                            </div>
                          </div>
                          <ng-container *ngIf="rating?.admin_reply[0]">
                            <p><img class="mr-2" src="https://img.icons8.com/material/24/4db6ac/chat.png"/>{{rating?.admin_reply[0].message}}</p>
                          </ng-container>

                        </div>
                        </div>

                    </div>
                  </div>
                <hr>
                </div>
              </ng-container>
            </div>

            <div *ngIf="show <  item?.testimonies.length">
                <span class="pointer-hand show-hover" (click)="increaseShow()">Show More</span>
            </div>
        <!--  -->
      </div>
      <div class="col-md-6 col-lg-4  order-1 order-xs-1 order-lg-2  order-md-2 mb-2">
        <div class="card">
          <div class="card-body">
            <div class="p-bot-15">
              <h6 class="text-capitalize">{{item?.name}}</h6>
            </div>
            <div class="p-bot-15">
              <div [ngStyle]="{'display': item?.rating.percentage >= 1 ? 'block': 'none'}">
                    <!--  -->
                    <div class="d-flex">
                      <div class="star_div star_size">
                      <div class="star_poss">
                        <mat-icon style="color: #d8d8d8; margin-left: -2px;">star</mat-icon>
                      </div>
                      <div class="star_poss"
                        [ngStyle]="{'width': item?.rating.percentage >= 1 ? '100%':  item?.rating.percentage > 0 ? getDec(item?.rating.percentage) : '0'}">
                        <mat-icon style="color: gold; margin-left: -2px;">star</mat-icon>
                      </div>
                    </div>
                    <!--  -->
                    <div class="star_div star_size">
                      <div class="star_poss">
                        <mat-icon style="color: #d8d8d8; margin-left: -2px;">star</mat-icon>
                      </div>
                      <div class="star_poss"
                        [ngStyle]="{'width': item?.rating.percentage >= 2 ? '100%':  item?.rating.percentage > 1 ? getDec(item?.rating.percentage) : '0'}">
                        <mat-icon style="color: gold; margin-left: -2px;">star</mat-icon>
                      </div>
                    </div>
                    <div class="star_div star_size">
                      <div class="star_poss">
                        <mat-icon style="color: #d8d8d8; margin-left: -2px;">star</mat-icon>
                      </div>
                      <div class="star_poss"
                        [ngStyle]="{'width': item?.rating.percentage >= 3 ? '100%':  item?.rating.percentage > 2 ? getDec(item?.rating.percentage) : '0'}">
                        <mat-icon style="color: gold; margin-left: -2px;">star</mat-icon>
                      </div>
                    </div>
                    <div class="star_div star_size">
                      <div class="star_poss">
                        <mat-icon style="color: #d8d8d8; margin-left: -2px;">star</mat-icon>
                      </div>
                      <div class="star_poss"
                        [ngStyle]="{'width': item?.rating.percentage >= 4 ? '100%':  item?.rating.percentage > 3 ? getDec(item?.rating.percentage) : '0'}">
                        <mat-icon style="color: gold; margin-left: -2px;">star</mat-icon>
                      </div>
                    </div>
                    <div class="star_div star_size">
                      <div class="star_poss">
                        <mat-icon style="color: #d8d8d8; margin-left: -2px;">star</mat-icon>
                      </div>
                      <div class="star_poss"
                        [ngStyle]="{'width': item?.rating.percentage == 5 ? '100%': item?.rating.percentage > 4 ? getDec(item?.rating.percentage) : '0'}">
                        <mat-icon style="color: gold; margin-left: -2px;">star</mat-icon>
                      </div>
                    </div>
                    <!--  -->
                    </div >
                    <div style="margin-left:130px; font-size: 14px; margin-top: -25px;">
                      {{item?.rating.percentage | number : '1.1-1'}} Star Ratings
                    </div>
                    <!--  -->
              </div>
            </div>
            <!--  -->
            <div class="price-name p-bot-15">
              <span class="mr-1 price-content">Item Price:</span><span class="mr-2">&#8369;</span>{{item?.price | number : '1.2-2'}}
            </div>
            <div class="price-description">
              <span class="mr-1 description-content">Description:</span>{{item?.description}}
            </div>
              <!--  -->
              <hr>
              <div>Quantity</div>
              <!-- <div class="quantity">
                <input type="number" min="1" max="9" step="1" value="1">
              </div> -->
              <input type="number" [(value)]="qnty" min="1" />
              <div id="inc-button" class="spinner-button" (click)="qnty = qnty + 1">
                &#x25B2;
              </div>
              <div id="dec-button" class="spinner-button" (click)="qnty = +qnty < 2 ? 1 : qnty - 1">
                &#x25BC;
              </div>


              <div class="mt-1">
                <button (click)="saveToCart(qnty, item?.id)" mat-stroked-button class="btn btn-md btn-block btn-color">
                  <span class="pr-2">ADD TO CART </span><img src="https://img.icons8.com/pastel-glyph/24/ffffff/shopping-cart--v2.png"/></button>
              </div>
          </div>
        </div>

      </div>
    </div>



</div>

<!-- http://localhost:4200//user/email-verification/c78803daf7c25d0794fbe88a31fd3054 -->
