.nav-header ul{
  padding-left: 0px;
  list-style-type: none;
  cursor: pointer;
}
.nav-header li{
  display: inline-block;
  padding: 5px;
  color: #333;
  font-size: 12px;
  text-align: right;
}
//
.title-name{
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  color: #000000;
}


.price-name{
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  color: #000000;
}

.price-content{
  font-weight: normal;
  font-style: normal;
}


.price-description{
  font-size: 14px;
  text-align: justify;
  font-weight: normal;
  color: #000000;
}

.description-content{
  font-weight: normal;
  font-style: normal;
  color: #000000;
}

//button
.btn-color{
  background: #009688;
  color: #ffffff;
}

.star_div{
  position: relative;
}

.star_poss{
  // margin-top: -24px;
  position: absolute;
  overflow: hidden;
}
.mat-icon {
  font-size: 16px;
}


// for image design
.image-item img{
  width: 100%;
  height: 300px;
}


// padding
.p-bot-15{
  padding-bottom: 15px;
}
.p-bot-25{
  padding-bottom: 25px;
}




// slider carousel
.carousel-inner img {
  width: 100%;
  height: 100%
}
.flickity-viewport{
  height: 500px !important;
}
#custCarousel .carousel-indicators {
  position: static;
  margin-top: 20px
}

#custCarousel .carousel-indicators>li {
  width: 100px
}

#custCarousel .carousel-indicators li img {
  display: block;
  left: 0px;
  // opacity: 0.5
}

#custCarousel .carousel-indicators li.active img {
  // opacity: 1
}

#custCarousel .carousel-indicators li:hover img {
  // opacity: 0.75
}

.carousel-item img {
  width: 100%
}

input {
  position: relative;
  // left: 10px;
  top: 10px;
  width: 50px;
  height: 30px;
  padding: 0px;
  font-size: 14pt;
  border: solid 0.5px #333;
  z-index: 1;
  text-align: center;
  border-radius: 5px;
  color: #333;
}

.spinner-button {
  position: relative;
  cursor: pointer;
  width: 20px;
  text-align: center;
  margin: 0px;
  // pointer-events: none;
  height:15px;
  line-height: 10px;
}

#inc-button {
  left: 55px;
  top: -20.5px;
}

#dec-button {
  left: 55px;
  top: -15.5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}



.aligned-with-icon{
  position: absolute;
  margin-top: 5px;
  // margin-left: 5px; /* optional */
}
.mat-icon {
  font-size: 18px;
}
.show-hover:hover{
  text-decoration: underline;
}
.modify-card{
  position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    // border: 1px solid rgba(0,0,0,.125);

    border-radius: .25rem;

}
.modify-card-body{
  flex: 1 1 auto;
  padding: 1.25rem;

}
.shadow-border{
  -moz-box-shadow: 0 0 10px #777777;
  -webkit-box-shadow: 0 0 10px #777777;
   box-shadow: 0 0 10px #777777;
 }

 .aligned-with-icon{
  position: absolute;
  // margin-top: -1px;
  // margin-right: 15px;
  margin-left: -25px; /* optional */
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  // top: calc(50% - 20px);
  width: auto;
  margin-top: 10px;
  padding: 10px;
  background:rgb(0, 128, 128, 0.3);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  color:#fff;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
background: #4db6ac;
color: #fff;
}

/* FLOATING CART */
/* Floating Cart */
.dsf-floating-shipping-info {
  font-weight: normal;
  font-size: 13px !important;
  color: #333;
  cursor: pointer;
  padding-right: 2px !important;
  }
.dsf-floating-shipping-info.shipping-free {
  color: black;
}
.floating-cart {
  font-family: sans-serif;
  letter-spacing: 0 !important;
}

.floating-cart * {
  box-sizing: content-box;
}

.floating-cart img {
  background-color: transparent !important;
}

.floating-cart span {
  letter-spacing: 0 !important;
}

.floating-cart a:hover img {
  opacity: 1 !important;
  background-color: transparent !important;
  top: 0 !important;
  left: 0 !important;
}

.floating-cart.sidebar {
  z-index: 2147483647 !important;
  display: inline-block;
  position: relative;
}
.hideFloatingCart{
  right: -165px !important;
}

.floating-cart.sidebar .floating-cart-wrapper {
  width: 0;
  position: fixed;
  z-index: 99999;
  bottom: 83px;
  right: 0;
  display: none;
  border: 1px solid #CCCCCC;
  box-shadow: 0 0 9px #CCC;
  background: white;

  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.floating-cart.sidebar span {
  display: inline-block;
  font-size: 14px;
  padding: 0 6px;
  text-align: left;
  line-height: normal !important;
}

.floating-cart.sidebar .item-name {
  font-size: 20px;
  display: block;
  padding-top: 8px;
  color: #333;
  width: 148px;
  word-break: break-all;
  margin: auto;
}
.floating-cart.sidebar .item-description {
  display: block;
  color: #808080;
  width: 148px;
  word-break: break-all;
  margin: auto;
  font-weight: lighter;
  font-style: italic;
  font-size: 12px;
}
.floating-line-separator{
  color: #F5F5F5; /* whitesmoke */
  margin: 5px 0px 5px 0px;
  opacity: 0.3;
}
.floating-cart.sidebar .item-price {
  color: #bf0000;
  padding-bottom: 2px;
  width: 148px;
  display: inline-block;
}

.floating-cart.sidebar .item-price .item-tax {
  color: #333;
  padding: 0;
}

.floating-cart.sidebar .item-shipping {
  font-size: 12px;
  white-space: nowrap;
  width: 148px;
}

.floating-cart.sidebar .item-shipping.victory {
  padding: 1px;
  color: #ff0000;
  white-space: normal;
}

.floating-cart.sidebar .item-shipping .item-shipping-included {
  background-color: #bf0000;
  padding: 1px;
  color: white;
  display: none;
}

.floating-cart.sidebar .item-shipping .item-shipping-excluded {
  padding: 1px;
  display: none;
}

.floating-cart.sidebar .item-sale-msg {
  color: #ff0000;
  font-size: 12px;
  width: 148px;
}

.floating-cart.sidebar .item-price-bigfont {
  color: black !important;
  width: 148px;
  display: inline-block;
  // text-align: right !important;
  font-size: 20px !important;
}

.floating-cart.sidebar .item-tax-info {
  color: #333;
  padding: 0;
  padding-top: 30px;
  padding-bottom: 2px;
  font-size: 12px;
  // text-align: right;
}

.floating-cart.sidebar .item-shipping-info {
  font-size: 11px;
  white-space: nowrap;
  text-align: right;
  padding: 0;
  display: block;
}

.floating-cart.sidebar .item-tax-full-row {
  color: #333;
  padding: 0;
  padding-bottom: 2px;
  font-size: 12px;
  text-align: right;
  width: 148px;
}

.floating-cart.sidebar .item-shipping-full-row {
  white-space: nowrap;
  // text-align: right;
  padding: 0;
  width: 148px;
  box-sizing: content-box;
  margin-bottom: 2px !important;
}

.floating-cart-wrapper .item-free-shipping {
  background-color: #bf0000;
  padding: 0 !important;
  color: white !important;
  display: none;
  font-size: 12px !important;
  text-align: right !important;
}

.floating-cart-wrapper .item-charged-shipping {
  font-size: 12px !important;
  white-space: nowrap;
  text-align: right;
  padding: 0 !important;
}

.floating-cart.sidebar span.buttons-container {
  display: inline-block;
  height: auto !important;
  padding-top: 4px;
  position: relative;
}

.floating-cart.sidebar span.buttons-container .cart-button {
  display: inline-block;
  height: 35px;
}

.floating-cart.sidebar span.buttons-container .cart-button.checkout {
  margin-bottom: 4px !important;
}

.floating-cart.sidebar span.buttons-container .cart-button:hover {
  opacity: 0.8;
  top: auto;
  left: auto;
  text-decoration: none !important;
}

.floating-cart.sidebar span.buttons-container .cart-button:hover span {
  text-decoration: none !important;
}

.floating-cart.sidebar span.buttons-container .cart-button.soldout {
  display: inline-block;
}

.floating-cart.sidebar span.buttons-container .cart-button.soldout:hover {
  opacity: 1;
  cursor: default !important;
}

.floating-cart.sidebar span.buttons-container .cart-button.soldout .normal {
  background-color: grey !important;
  border: 1px solid grey !important;
  text-align: center !important;
}

.floating-cart.sidebar span.buttons-container .cart-button.soldout.victory .normal {
  background-color: black !important;
  border: 1px solid black  !important;
  opacity: 0.3;
  text-align: left !important;
  margin-bottom: 4px;
}

.floating-cart.sidebar span.buttons-container .cart-button .normal {
  display: block !important;
  background-color: black !important;
  border: 1px solid black !important;
  line-height: 25px !important;
  border-radius: 4px !important;
  text-align: left !important;
  padding-left: 5px !important;
  color: white !important;
  box-sizing: content-box !important;
}

.floating-cart.sidebar span.buttons-container .cart-button .normal img {
  vertical-align: top !important;
  width: 23px !important;
  padding-right: 4px !important;
  box-sizing: content-box !important;
}

.floating-cart.sidebar span.buttons-container .cart-button img {
  vertical-align: top !important;
  width: 23px !important;
  padding-right: 4px !important;
  display: inline-block !important;
  margin: 0 !important;
  background: transparent !important;
}

.floating-cart.sidebar .coupon-container {
  display: none;
  font-size: 14px;
  padding: 4px 7px 0 6px;
  position: fixed;
  z-index: 99999;
  bottom: 42px;
  right: 0;
  background: white;
  border: 1px solid #CCC;
  border-top: 1px dashed #CCC;
  width: 147px;
  box-shadow: 0 1px 3px #CCC;
}

.floating-cart.sidebar .coupon-container.standalone {
  border: 1px solid #CCC;
}

.floating-cart.sidebar .coupon-container .coupon {
  line-height: 25px;
  padding: 0;
}

.floating-cart.sidebar .coupon-container .coupon span.normal {
  text-align: left;
  padding-left: 5px;
}

.floating-cart.sidebar .coupon-container .coupon span.coupon-text {
  display: inline-block;
}

.floating-cart.sidebar .coupon-container .coupon img {
  vertical-align: top;
  width: 23px;
  padding-right: 4px;
}

.floating-cart .floating-button {
  text-decoration: none !important;
  cursor: pointer;
  position: relative;
  display: inline-block;
  margin-bottom: 4px;
  width: 148px;
  height: 32px;
  border-radius: 4px;
  text-indent: 0;
}

.floating-cart .floating-button span {
  display: inline-block;
}

.floating-cart .floating-button span.normal {
  padding: 4px 0;
}

.floating-cart .floating-button span.normal span {
  font-size: 13px;
  padding: 0;
  color: white;
  line-height: 23px !important;
}

.floating-cart .cart-button {
  color: white !important;
}

.floating-cart .floating-coupon {
  border-radius: 4px;
  background-color: #FDBD19;
}

.floating-cart .floating-coupon span {
  color: #333 !important;
  display: block;
  text-align: center;
}
/* REVIE-W WIDGET */
.floating-cart-wrapper .item-review {
  width: 148px;
  margin: 0 auto;
  text-align: right !important;
  display: inline-block;
}

.floating-cart.sidebar .item-review-rating {
  cursor: pointer;
}

.floating-cart.sidebar .item-review-rate {
  display: inline;
  color: #333;
  word-break: break-all;
  margin: auto;
  font-weight: normal;
  font-size: 12px;
}

.floating-cart-wrapper .item-review:hover {
  cursor: pointer
}

.floating-cart-wrapper .item-review:hover li {
  filter: alpha(opacity = 65);
  opacity: 0.65;
  -ms-filter: "alpha(opacity=65)"
}

.floating-cart-wrapper .item-review-star {
  padding-right: 0 !important;
  cursor: pointer;
}

.floating-cart-wrapper .item-review-count-link {
  text-decoration: none;
  font-size: 11px !important;
  padding-right: 0 !important;
  color: #1d54a7;
  cursor: pointer;
}

.floating-cart-wrapper .item-review-count-link:hover {
  text-decoration: underline;
  color: #1d54a7;
}

.floating-cart-wrapper .review-avg-stars {
  margin: 0 auto;
  *margin: 0;
  padding: 0;
  text-align: right;
}

.floating-cart-wrapper .review-avg-stars .review-star {
  display: inline-block;
  *display: inline;
  zoom: 1.0;
  width: 12px;
  margin: 0;
}

.floating-cart-wrapper .review-avg-stars .review-star:after {
  content: ' ';
  float: left !important;
  padding-top: 0 !important;
  width: 12px !important;
  height: 12px !important;
}

.floating-cart-wrapper .review-avg-stars .review-star.star-full {
  background: url(https://r.r10s.jp/com/img/rms/storefront/pc/page/star_on.gif) no-repeat left top !important;
  padding: 0 !important;
}

.floating-cart-wrapper .review-avg-stars .review-star.star-half {
  background: url(https://r.r10s.jp/com/img/rms/storefront/pc/page/star_half.gif) no-repeat left top !important;
  padding: 0 !important;
}

.floating-cart-wrapper .review-avg-stars .review-star.star-empty {
  background: url(https://r.r10s.jp/com/img/rms/storefront/pc/page/star_off.gif) no-repeat left top !important;
  padding: 0 !important;
}

.floating-cart.sidebar .item-display-price {
  color: #bf0000;
  width: 148px;
  display: inline-block;
  text-align: right;
  font-size: 18px !important;
}

.floating-cart-wrapper .item-tax-shipping {
  width: 148px;
  text-align: right;
  font-size: 12px;
}

.floating-cart-wrapper span.item-tax-shipping-info {
  display: inline-block;
  width: 148px;
  text-align: right;
  vertical-align: middle;
}
.floatBookmarkArea .bkm {
  display: block;
  margin: 0 auto;
  overflow: hidden;
  text-align: left;
  height: 39px !important;
  width: 148px !important;
  }
.floatBookmarkArea .bkm .addBkm {
  display: inline-block !important;
  width: 146px;
  height: 31px;
  border: 1px solid #ccc !important;
  border-radius: 4px;
  position: relative;
  text-decoration: none !important;
  margin-bottom: 6px;
  cursor: pointer;
  text-indent: 0;
  background: url('https://r.r10s.jp/com/img/rms/storefront/pc/page/bookmarkstar.png') no-repeat;
  background-position: 8px 6px;
  line-height: 25px !important;
  box-sizing: content-box !important;
}
.floatBookmarkArea .bkm .addBkm .bkmStar:before{
  display: inline-block;
  font-size: 13px;
  margin-top: 4px;
  padding-left: 26px !important;
  line-height: 23px !important;
  content: "お気に入りに追加";
  color: #333 !important;
  letter-spacing: 0 !important;
  line-height: 23px !important;
}
.floatBookmarkArea .bkm .addBkm:hover{
  opacity: 0.8;
  filter: alpha(opacity=80);
  -ms-filter: "alpha( opacity=80 )";
  -moz-opacity: 0.50;
}
/* info */
.dsf-detail-link:after, .dsf-floating-shipping-info:after {
  background-image: url(//r.r10s.jp/com/img/rms/storefront/pc/page/icon_check_fee.png);
  background-repeat: no-repeat;
  content: '';
  width: 12px;
  height: 12px;
  display: inline-block;
  position: relative;
  top: 1px;
  left: 2px;
}
/* / FLOATING CART */

/* scroll to top */
.scroll-to-top {
  position: fixed;
  z-index: 2;
  bottom: 20px;
  right: 20px;
  opacity: 0;
  transition: all .2s ease-in-out;
}
.show-scrollTop {
  opacity: 0.5;
  transition: all .2s ease-in-out;
}
/* /scroll to top */

.area-input{
    width: 80%;
    padding-top: 25px;
    margin: auto;
    display: grid;
    grid-template-columns: 45% 55%;
}

.user-rating{
  display: grid;
  grid-template-columns: 1fr 1fr;
}


.img_desc{
    // width: 80%;
    // height: 35vw;
    width: 100%;
    max-width: 700px;
    margin: auto;
}

.img-thumb{
    width: 60px;
    height: 60px;
    background-color: white;
    cursor: pointer;
    margin-right: 10px;
}

.img-thumb-selected{
    border: 3px solid #4db6ac;
}
// editedt  may 28, 2020 time 5:21
.item-title-text{
    color: black;
    font-size: 26px;
    font-weight: bold;
}

.item-price-text{
    color: black;
    font-size: 16px;
    margin-top: 10px;
}

.textbox{
    height: 35px;
    width: 50px;
    outline: none;
    border: 2px solid dimgray !important;
    padding: 0 10px;
    text-align: center;
    margin-left: 15px;
}

.mat-icon-arw{
    color: dimgray;
    font-size: 30px;
    margin-right: 7px;
}

.sticky {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 200px;
}

.star_counts{
    display: flex; margin-top: 10px;
}

.star_num{
    color: gold;
    font-size: 14px;
}

.big_star{
    font-size: 2rem;
    width: 43px;
    color: gold;
    margin-top: -3px;
}

.star_size_big{
    width: 43px;
    height: 43px;
}
.star_pos{
  // font-size: 43px;
}
.star_pos_small{
  font-size: 23px;
}
.chips{
    display: flex;
    height: 30px;
    padding: 0 40px 0 20px;
    background-color: silver;
    border-radius: 25px;
    margin-left: 15px;
}

.chip_icon{
    // margin-top: 5px;
    font-size: 14px;
}

.comment_list{
    width: 80%;
    margin: 0 auto 50px auto;
    display: flex;
}

.avatar{
    width: 70px;
    height: 70px;
    margin: auto;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    background-image: url('../../../assets/images/avatar.png')
}
.admin-avatar{
    width: 50px;
    height: 50px;
		border: 1px solid #ff4081;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    background-image: url('../../../assets/images/avatar.png')
}

.star_small{
  // margin-bottom: -10px;
    // position: relative;
    // margin-top: -2px;
    color: gold;
    // margin-left: -10px;
    font-size: 18px;
}
.star_small-item{
  // margin-bottom: -10px;
    position: absolute;
    margin-top: 1px;
    color: gold;
    margin-left: -10px;
    font-size: 18px;
}
.rating-style{
  position: absolute;
  // margin-top: -2px;
  margin-left: -2px;
  font-size: 18px;
}
.semicolon-style{
  position: relative;
  font-size: 14px;
  margin-top: 2px !important;
}

.star_shrink{
    width: 15px;
    height: 15px;
}

.star_size{
    width: 26px;
    height: 26px;
}
.star_size_small{
  width: 16px;
  height: 16px;
}
.w-h-100{
	max-width: 100px !important;
	max-height: 100px !important;
}
.img-testimony{
	height: auto;
	width: 100%;
}

.thumbnail-pane{
  padding-top: 10px;
  display: grid;
  grid-column-gap: 5px;
  margin: 0 auto;
  grid-template-columns: repeat( auto-fill, minmax(60px, 60px) );
}

@media only screen and (max-width:600px){
  .area-input{
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
  }

  .user-rating{
    grid-template-columns: 1fr;
    grid-template-rows:50% 50%;
  }

  .overall{
    margin: 0 auto;
  }
  // .c-img-main{
  //     height: 50vw;
  // }
  .sticky {
      position: inherit;
  }
   // #floatingCartContainer{
   //   display: none !important;
   // }

   // :host ::ng-deep .mat-fab{
   //   transform:translateX(-90px);
   // }

}

@media only screen and (max-width:700px){
  .img_desc{
    padding:0 15px;
  }
}

//joseph -4, 2020
@media only screen and (min-width: 500px) {

  .size-matter{
    font-size: 2rem;
  }

}

@media only screen and (max-width: 500px) {
  .button-description{
    width: 60%;
  }

}


@media only screen and (max-width: 600px) {
  .button-description{
    width: 80%;
  }

}
@media only screen and (min-width: 600px) {
  .button-description{
    width: 80%;
  }

}





@media only screen and (min-width: 500px) {
 .hideIfmobile{
   display: none;
 }
}


@media only screen and (max-width: 500px) {
  .hideIfmobile{
    display: none;
  }
}


@media only screen and (min-width: 600px) {

  .hideIfmobile{
    display: none;
  }

}

@media only screen and (min-width: 768px) {


  .hideIfmobile{
    display: block;
  }


}

@media only screen and (min-width: 992px) {


  .hideIfmobile{
    display: block;
  }

}



// /* headlines with lines */
@media only screen and (max-width: 600px) {
    .c-img-main, .img-thumb, .img_desc{
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;

    }
    .c-img-main{
      width: 100%;
      height: 40vw;
      position: relative;
      object-fit: cover;
    }
    .hide-mobile{
      display: none;
    }
}
@media only screen and (min-width: 600px) {

  .c-img-main, .img-thumb, .img_desc{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .c-img-main{
    width: 100%;
    height: 40vw;
    position: relative;
  }
  .hide-mobile{
    display: none;
  }

}
@media only screen and (min-width: 768px) {

  .c-img-main, .img-thumb, .img_desc{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .c-img-main{
    width: 100%;
    height: 25vw;
    position: relative;
  }
  .hide-mobile{
    display: block;
  }

}
@media only screen and (min-width: 992px) {

  .c-img-main, .img-thumb, .img_desc{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .c-img-main{
    width: 100%;
    height: 20vw;
    position: relative;
  }
  .hide-mobile{
    display: block;
  }
}



// newly added



