
 <div mat-dialog-title class="border-bottom mb-0">
  <span class="text-dark h4">Booking #{{ details?.data?.courier_book_id }}</span>

  <button class="lh-button-icon float-right" mat-icon-button [mat-dialog-close]="" style="top: -5px;right: -10px; width: 32px; height: 32px;">
    <mat-icon>close</mat-icon>
  </button>
</div>

<mat-dialog-content class="overflow-x-hidden text-dark mx-0 px-0 pr-1" [ngStyle]="{'max-width': '500px'}">
<div class="container">
  <div class="row">
    <div class="col-12 px-0">
      <span class="col-form-label d-block mt-2"><strong>Name</strong></span>
      <span class="col-form-label d-block py-0">{{ details?.data?.customer_contact_person }}</span>

      <span class="col-form-label d-block mt-2"><strong>Contact Number</strong></span>
      <span class="col-form-label d-block py-0">{{ details?.data?.customer_contact_no }}</span>

      <span class="col-form-label d-block mt-2"><strong>Address</strong></span>
      <span class="col-form-label d-block py-0">{{ details?.data?.customer_address }}</span>

      <span class="col-form-label d-block mt-2"><strong>Insurance Amount</strong></span>
      <span class="col-form-label d-block py-0">
        <span class="mr-2">&#8369;</span>{{ details?.data?.insurance_amount }}.00
      </span>
    </div>
  </div>
</div>
</mat-dialog-content>

<!-- (click)="paymaentbtn()" -->
