:host::ng-deep .mat-table thead{
  background-color:whitesmoke;
}

:host::ng-deep .mat-table thead tr{
  height: 40px;
  font-size: 13px;
  color: black;
}

:host::ng-deep .mat-select-underline{
  border-color:black !important;
}
:host::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: dimgray !important;
}
:host::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color:  dimgray !important;
}
:host::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label {
    color: dimgray !important;
}




// :host::ng-deep .mat-tab-label {
//   // padding: 0px !important; // adjust this to whatever padding you need
//   // justify-content: left !important;
//   color: black !important;
// }

:host::ng-deep .mat-tab-body-content {
  overflow-x: hidden;
  overflow-y: auto;
}


/* Styles for tab labels */
:host::ng-deep  .mat-tab-label {
  // min-width: 25px !important;
  padding: 5px;
  background-color: transparent;
  color:black;
  // font-weight: 700;
}

/* Styles for the active tab label */
:host::ng-deep  .mat-tab-label.mat-tab-label-active {
  // min-width: 25px !important;
  padding: 5px;
  background-color: transparent;
  color: black;
}

// /* Styles for the ink bar */
// :host::ng-deep  .mat-ink-bar {
//   background-color: green;
// }
