<div class="container-flex">
  <div class="pt-4 mx-3">

    <!-- header -->
    <div class="mb-4"  style="margin-left: 14px;">
      <img style="margin-top: -4px;" class="mr-2"  src="https://img.icons8.com/material-sharp/24/000000/compare.png"/>
      <span>Return and Exchange</span>
     </div>
    <!-- end of header -->

    <!-- start -->

    <div class="col-md-12">
      <mat-tab-group  (selectedTabChange)='tabChange($event)'>

          <mat-tab label="Form">
            <!-- start -->

            <div class="row">
              <div class="col-md-3 col-lg-3  align-self-center">
                <label for="" class="col-form-label">
                  Reason:
                </label>
              </div>
              <div class="col-md-4 col-lg-4">
                <mat-form-field class="my-form-field col-md-12 px-0">
                  <mat-select [(value)]="type" (selectionChange)="clsOR()">
                    <mat-option [value]="0">Lost</mat-option>
                    <mat-option [value]="1">Return and Exchange</mat-option>
                </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-5 col-lg-5"></div>
            </div>
            <!--  -->
            <div *ngIf="type==1">
              <div class="row">
                <div class="col-md-3 col-lg-3  align-self-center">
                  <label for="" class="col-form-label">
                    Order Number
                  </label>
                </div>
                <div class="col-md-4 col-lg-4">
                  <mat-form-field class="my-form-field col-md-12 px-0">
                    <input [disabled]="type==0" [(ngModel)]="or" matInput autocomplete="off"
                    (input)="searchOR($event.target.value)">
                  </mat-form-field>

                </div>
                <div class="col-md-1 col-lg-1 align-self-center">
                  <div class="col-form-label">
                    <mat-icon *ngIf="orStat==1" style="color: green;">done</mat-icon>
                    <mat-icon *ngIf="orStat==3" style="color: red;">clear</mat-icon>
                    <mat-spinner *ngIf="orStat==2" [diameter]="18" mode="indeterminate"></mat-spinner>
                  </div>
                </div>
                <div class="col-md-4 col-lg-4"></div>
              </div>
            </div>
            <!--  -->
            <div class="row" hidden>
              <div class="col-md-3 col-lg-3  align-self-center">
                <label for="" class="col-form-label">
                  Order Id:
                </label>
              </div>
              <div class="col-md-4 col-lg-4">
                <mat-form-field class=" my-form-field col-md-12 px-0">
                  <input [value]="resp?.data.transaction_no" readonly matInput>
                </mat-form-field>
              </div>
              <div class="col-md-5 col-lg-5"></div>
            </div>
            <!--  -->
            <div *ngIf="type==1">
              <div class="row">
                <div class="col-md-3 col-lg-3  align-self-center">
                  <label for="" class="col-form-label">
                    Customer Name:
                  </label>
                </div>
                <div class="col-md-4 col-lg-4">
                  <mat-form-field class=" my-form-field col-md-12 px-0">
                    <input [value]="resp?.data.customer_name" readonly matInput>
                  </mat-form-field>
                </div>
                <div class="col-md-5 col-lg-5"></div>
              </div>
            </div>
            <!--  -->
            <div class="row">
              <div class="col-md-3 col-lg-3  align-self-center">
                <label for="" class="col-form-label">
                  Item Name:
                </label>
              </div>
              <div class="col-md-4 col-lg-4">
                <mat-form-field class="my-form-field col-md-12 px-0">
                  <mat-select [(value)]="selItem">
                    <mat-option *ngFor="let i of items" [value]="i">
                        {{i?.name}}
                    </mat-option>
                </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-5 col-lg-5"></div>
            </div>
            <!--  -->
            <div class="row">
              <div class="col-md-3 col-lg-3  align-self-center">
                <label for="" class="col-form-label">
                  Item Quantity:
                </label>
              </div>
              <div class="col-md-4 col-lg-4">
                <mat-form-field class="my-form-field col-md-12 px-0">
                  <input [disabled]="selItem == null" [(ngModel)]="qty" matInput type="number" autocomplete="off">
                </mat-form-field>
              </div>
              <div class="col-md-1 col-lg-1 align-self-center">
                <div>/ {{selItem?.quantity}}</div>
              </div>
              <div class="col-md-4 col-lg-4"></div>
            </div>
            <!--  -->
            <div *ngIf="type==1">
              <div class="row">
                <div class="col-md-3 col-lg-3  align-self-center">
                  <label for="" class="col-form-label">
                    Remarks:
                  </label>
                </div>
                <div class="col-md-4 col-lg-4">
                  <mat-form-field class="my-form-field col-md-12 px-0">
                    <textarea [(ngModel)]="remark" matInput></textarea>
                  </mat-form-field>
                </div>
                <div class="col-md-5 col-lg-5"></div>
              </div>
              </div>
            <!--  -->
            <div class="row form-group">
              <div class="col-md-3 col-lg-3"></div>
              <div class="col-md-4 col-lg-4">
                <button [disabled]="btnDisabled" (click)="setRE()"  class="btn btn-dark btn-block text-light btn-md">
                  {{isSaving ? 'Saving Please Wait' : 'Update Form'}}
              </button>
              </div>
              <div class="col-md-5 col-lg-5"></div>
            </div>


            <!-- end -->
          </mat-tab>
          <!-- form tab end -->

          <mat-tab label="Return and Exchange">
						<!-- table starts here Return and Exhange -->
						<div class="col-md-12 list-div pr-0 pl-0" [ngStyle]="{'height': contentHeight + 'px'}">
			        <!-- style="max-height: 450px;" -->
			        <table mat-table [dataSource]="dataSource" matSort class="w-100">
			          <!-- class="mat-elevation-z8" -->
			          <ng-container matColumnDef="id">
			            <th class=" pl-2" math-header-cell *matHeaderCellDef>#</th>
			            <td mat-cell class="list-item pl-2" *matCellDef="let row; let i=index">{{i+1}}</td>
			          </ng-container>

								<ng-container matColumnDef="created_date">
			            <th class="" math-header-cell *matHeaderCellDef mat-sort-header>Date</th>
			            <td mat-cell class="list-item " *matCellDef="let row">{{row.created_date | date: 'MMMM dd, yyyy'}}</td>
			          </ng-container>

			          <ng-container matColumnDef="order_record">
			            <th class="" math-header-cell *matHeaderCellDef>Order No</th>
			            <td mat-cell class="list-item" *matCellDef="let row">{{row.order_record}}</td>
			          </ng-container>

								<ng-container matColumnDef="item_name">
			            <th class="" math-header-cell *matHeaderCellDef>Item Name</th>
			            <td mat-cell class="list-item" *matCellDef="let row">{{row.item_name}}</td>
			          </ng-container>

			          <ng-container matColumnDef="type">
			            <th class="" math-header-cell *matHeaderCellDef>Reason</th>
			            <td mat-cell class="list-item" *matCellDef="let row">{{row.type==0?'Lost':'Return and Exchange'}}</td>
			          </ng-container>

			          <ng-container matColumnDef="quantity">
			            <th class="" math-header-cell *matHeaderCellDef>Quantity</th>
			            <td mat-cell class="list-item" *matCellDef="let row">{{row.quantity}}</td>
			          </ng-container>

			          <!-- <ng-container matColumnDef="status">
			            <th class="text-muted" math-header-cell *matHeaderCellDef mat-sort-header>Status</th>
			            <td mat-cell class="list-item" *matCellDef="let row">{{row.status_text}}</td>
			          </ng-container> -->
								<ng-container matColumnDef="viewAction">
									<th class=" text-center" math-header-cell *matHeaderCellDef>
										Controls
										<mat-spinner *ngIf="search_loading" [diameter]="20" style="margin-top: 10px; position: absolute; top: 0px; left: 80%;"></mat-spinner>
									</th>
									<td mat-cell *matCellDef="let row" class="text-center pr-0">
										<button class="list-opt list-btn-opt-view" (click)="openView(row, 'return')" matTooltip="">
											View
										</button>
									</td>
								</ng-container>
			          <!-- <ng-container matColumnDef="viewAction">
			            <th class="text-muted text-center" math-header-cell *matHeaderCellDef>Controls</th>
			            <td mat-cell *matCellDef="let row" class="text-center pr-0">
			              <button class="list-opt list-btn-opt-view" (click)="openView(row, 'view')" matTooltip="">
			                View
			              </button>
			              <button class="list-opt list-btn-opt-edit" (click)="openView(row, 'update')" matTooltip="">
			                Update
			              </button>
			            </td>
			          </ng-container> -->
			          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
			          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
			          <!-- <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row> -->
			        </table>
			      </div>
				</mat-tab>
<!-- --------------------------------------------------------------------------------------------- -->
				<mat-tab label="Lost items">
					<!-- table starts here Return and Exhange -->
					<div class="col-md-12 list-div pr-0 pl-0" [ngStyle]="{'height': contentHeight + 'px'}">
						<!-- style="max-height: 450px;" -->
						<table mat-table [dataSource]="itemLostDataSource" matSort #date class="w-100">
							<!-- class="mat-elevation-z8" -->
							<ng-container matColumnDef="id">
								<th class=" pl-2" math-header-cell *matHeaderCellDef>#</th>
								<td mat-cell class="list-item pl-2" *matCellDef="let rowIL; let j=index">{{j+1}}</td>
							</ng-container>

							<ng-container matColumnDef="created_date">
								<th class="" math-header-cell *matHeaderCellDef mat-sort-header>Date</th>
								<td mat-cell class="list-item " *matCellDef="let rowIL">{{rowIL.created_date | date: 'MMMM dd, yyyy'}}</td>
							</ng-container>

							<ng-container matColumnDef="item_name">
								<th class="" math-header-cell *matHeaderCellDef>Item Name</th>
								<td mat-cell class="list-item" *matCellDef="let rowIL">{{rowIL.item_name}}</td>
							</ng-container>

							<ng-container matColumnDef="type">
								<th class="" math-header-cell *matHeaderCellDef>Reason</th>
								<td mat-cell class="list-item" *matCellDef="let rowIL">Lost</td>
							</ng-container>
							<ng-container matColumnDef="quantity">
								<th class="" math-header-cell *matHeaderCellDef>
									Quantity
									<mat-spinner *ngIf="search_loading" [diameter]="20" style="margin-top: 10px; position: absolute; top: 0px; left: 80%;"></mat-spinner>
								</th>
								<td mat-cell class="list-item" *matCellDef="let rowIL">{{rowIL.quantity}}</td>
							</ng-container>
							<!-- <ng-container matColumnDef="viewAction">
								<th class="text-muted text-center" math-header-cell *matHeaderCellDef>
									Controls
									<mat-spinner *ngIf="search_loading" [diameter]="20" style="margin-top: 10px; position: absolute; top: 0px; left: 80%;"></mat-spinner>
								</th>
								<td mat-cell *matCellDef="let row" class="text-center pr-0">
									<button class="list-opt list-btn-opt-view" (click)="openView(row, 'lost')" matTooltip="">
										View
									</button>
								</td>
							</ng-container> -->
							<tr mat-header-row *matHeaderRowDef="ILdisplayedColumns; sticky: true"></tr>
							<tr mat-row *matRowDef="let rowIL; columns: ILdisplayedColumns;"></tr>
							<!-- <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row> -->
						</table>
					</div>
			</mat-tab>
      </mat-tab-group>
    </div>


    <!-- end -->



    </div>
</div>
