.img{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}

.sender_name0, .receiver_name0, .client_name0, .mobile_number0, .birthdate0, .amount0, .acc_name0,
.sender_name1, .receiver_name1, .client_name1, .mobile_number1, .birthdate1, .amount1, .acc_name1,
.sender_name2, .receiver_name2, .client_name2, .mobile_number2, .birthdate2, .amount2, .acc_name2,
.sender_name3, .receiver_name3, .client_name3, .mobile_number3, .birthdate3, .amount3, .acc_name3,
.sender_name4, .receiver_name4, .client_name4, .mobile_number4, .birthdate4, .amount4, .acc_name4,
.sender_name5, .receiver_name5, .client_name5, .mobile_number5, .birthdate5, .amount5,  .acc_name5{
    position: absolute;
    font-weight: bold;
    color: red;
}

.sender_name0{
    top: 365px;
    left: 150px;
}

.receiver_name0{
    top: 370px;
    left: 600px;
}

.client_name0{
    top: 275px;
    left: 530px;
}

.mobile_number0{
    top: 490px;
    left: 125px;
}

.birthdate0{
    top: 490px;
    left: 350px;
}

.amount0{
    top: 490px;
    left: 600px;
}

.acc_name0{
    top: 0;
    left: 0;
}

.sender_name1{
    top: 210px;
    left: 415px;
}

.receiver_name1{
    top: 200px;
    left: 705px;
}

.client_name1{
    top: 500px;
    left: 580px;
}

.mobile_number1{
    top: 287px;
    left: 480px;
}

.birthdate1{

}

.amount1{
    top: 420px;
    left: 505px;
}

.acc_name1{
    top: 0;
    left: 0;
}

.sender_name2{
    top: 90px;
    left: 245px;
}

.receiver_name2{

}

.client_name2{

}

.mobile_number2{

}

.birthdate2{

}

.amount2{
    top: 829px;
    left: 360px;
}

.acc_name2{
    top: 150px;
    left: 255px;
    letter-spacing: 25px;
}

.sender_name3{
    top: 196px;
    left: 200px;
}

.receiver_name3{
    top: 330px;
    left: 200px;
}

.client_name3{
    top: 128px;
    left: 200px;
}

.mobile_number3{

}

.birthdate3{

}

.amount3{
    top: 475px;
    left: 900px;
}

.acc_name3{
    top: 160px;
    left: 200px;
}

.sender_name4{
    top: 210px;
    left: 200px;
}

.receiver_name4{
    top: 330px;
    left: 200px;
}

.client_name4{
    top: 135px;
    left: 200px;
}

.mobile_number4{

}

.birthdate4{

}

.amount4{
    top: 475px;
    left: 900px;
}

.acc_name4{
    top: 175px;
    left: 200px;
}

.sender_name5{
    top: 890px;
    left: 600px;
}

.receiver_name5{

}

.client_name5{
    top: 220px;
    left: 380px;
}

.mobile_number5{

}

.birthdate5{

}

.amount5{
    top: 560px;
    left: 746px;
}

.acc_name5{
    top: 180px;
    left: 410px;
    letter-spacing: 25px;
}
