
<div style="margin-bottom: 20px;" *ngIf="ind==0">
    Payment Instruction<br><br>
    Cebuana Lhuillier REMITTANCE / PAYMENT FORM<br><br>
    &nbsp;&nbsp;&nbsp;1. Fill up portion where the hand with pointed finger icon is [signature over printed name].<br>
    &nbsp;&nbsp;&nbsp;2. On TRANSACTION TYPE, check box [PAYMENT]<br>
    &nbsp;&nbsp;&nbsp;3. Write YOUR NAME on space for SENDER<br>
    &nbsp;&nbsp;&nbsp;4. On space for RECEIVER, write the name of our representative who is authorized to collect in our company’s behalf – JEZIEL M. SALAZAR<br>
    &nbsp;&nbsp;&nbsp;5. If paying for over P30,000.00 and above, fill up the corresponding space<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;a. For [Purpose of Sending Remittance], write [for payment to Retailer 4DPocket, Inc. of ___________] Put in Order Number.<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;b. For [Relationship to the Receiver] write [CLIENT]<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;c. IF paying for less than P30,000.00 leave this portion blank.<br>
</div>

<div style="margin-bottom: 20px;" *ngIf="ind==2">
    How to fill up PNB DEPOSIT Information Slip<br><br>
    &nbsp;&nbsp;&nbsp;1. Fill up the [DATE]<br>
    &nbsp;&nbsp;&nbsp;2. On Account Name, write [4DPocket, Inc.]<br>
    &nbsp;&nbsp;&nbsp;3. On Account No., write 1404-1001-5600<br>
    &nbsp;&nbsp;&nbsp;4. Write down the denomination For example:<br>
</div>

<div style="margin-bottom: 20px;" *ngIf="ind==5">
    Payment Instruction<br><br>
    BPI DEPOSIT / PAYMENT / BILLS PURCHASE FORM<br><br>
    &nbsp;&nbsp;&nbsp;1. On top right, fill up the [DATE]<br>
    &nbsp;&nbsp;&nbsp;2. Check the box for [PAYMENT]<br>
    &nbsp;&nbsp;&nbsp;3. On CURRENCY, check the box for [PESO]<br>
    &nbsp;&nbsp;&nbsp;4. On Account Number, write [_____________________]<br>
    &nbsp;&nbsp;&nbsp;5. On ACCCOUNT NAME / MERCHANT NAME, write [4DPocket, Inc.]<br>
    &nbsp;&nbsp;&nbsp;6. On TYPE OF DEPOSIT / PAYMENT, write the amount in [CASH] or [CHECK]<br>
    &nbsp;&nbsp;&nbsp;7. Fill up [Signature over printed name] at bottom right.
</div>

<div style="margin-bottom: 20px;" *ngIf="ind==3">
    How to fill up BDO Cash Transaction Slip<br><br>
    &nbsp;&nbsp;&nbsp;A. On left portion:<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1. Check the box for DEPOSIT<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2. Check the box for [Savings]<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3. On Account Name, write [4DPocket, Inc.]<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4. On Account No., write _____________________<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5. On Payor’s Name, write your name.<br>
    &nbsp;&nbsp;&nbsp;B. On right protion:<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1. On Currency, check the box for [Peso]<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2. Fill up the [DATE]<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3. Write down the denomination<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;For example:<br>
</div>


  <div class="img" [ngStyle]="{'height': height,'width':'1000px', 'background-image': 'url(' + imgs[ind] + ')'}">
      <div class="text-small" [ngClass]="'sender_name'+ind">{{ind == 2 ? formInfo?.account_name : 'Juan Dela Cruz'}}</div>
      <div *ngIf="ind == 0 || ind == 1" class="text-small" [ngClass]="'receiver_name'+ind">{{formInfo?.receiver_name}}</div>
      <div *ngIf="ind == 0 || ind == 1 || ind == 3 || ind == 5" class="text-small" [ngClass]="'client_name'+ind">{{ind == 0 || ind == 1 ? 'Juan Dela Cruz' : formInfo?.account_name}}</div>
      <div *ngIf="ind == 0 || ind == 1" class="text-small" [ngClass]="'mobile_number'+ind">{{currentUser.contact_no}}</div>
      <div *ngIf="ind == 0" class="text-small" [ngClass]="'birthdate'+ind">January 1, 1990</div>
      <div class="text-small" [ngClass]="'amount'+ind">Php {{total | number : '1.2-2'}}</div>
      <div class="text-small" [ngClass]="'acc_name'+ind">{{ind==2?formInfo?.pnb_account_number:ind==3?formInfo?.bdo_account_number:ind==5?formInfo?.bpi_account_number:''}}</div>
  </div>

<br><br>
<div style="margin-bottom: 20px;" *ngIf="ind==3">
    How to fill up BDO Check Transaction Slip<br><br>
    &nbsp;&nbsp;&nbsp;A. On left portion<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1. Check [Deposit] box<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2. Check [Savings] Box<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3. On Account Name, write [4DPocket, Inc.]<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4. On Account No., write [_________________]<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5. On Payor’s Name, write your own name.<br>
    &nbsp;&nbsp;&nbsp;B. On right Portion<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1. On [Currency], check the box for [Peso]<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2. Fill up the [Date]<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3. Check box for [Local]<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4. On Bank / Branch, write [________________________]<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5. Write check number on the column provided<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6. Write the amount on column for [Amount]<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7. Fill up the [Total Amount]<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;For Ex:
</div>

<div *ngIf="ind==3" class="img" [ngStyle]="{'height': height,'width':'1000px', 'background-image': 'url(' + imgs[4] + ')'}">
    <div class="text-small" [ngClass]="'sender_name4'">{{ind == 2 ? formInfo?.account_name : 'Juan Dela Cruz'}}</div>
    <!-- <div class="text-small" [ngClass]="'receiver_name4'">{{formInfo?.receiver_name}}</div> -->
    <div class="text-small" [ngClass]="'client_name4'">{{ind == 0 || ind == 1 ? 'Juan Dela Cruz' : formInfo?.account_name}}</div>
    <!-- <div class="text-small" [ngClass]="'mobile_number4'">{{currentUser.contact_no}}</div> -->
    <!-- <div *ngIf="ind == 0" class="text-small" [ngClass]="'birthdate'">January 1, 1990</div>
    <div class="text-small" [ngClass]="'amount'">Php {{total | number : '1.2-2'}}</div> -->
    <div class="text-small" [ngClass]="'acc_name4'">{{ind==2?formInfo?.pnb_account_number:ind==3?formInfo?.bdo_account_number:ind==5?formInfo?.bpi_account_number:''}}</div>
</div>
