.retex{
  line-height: 75px;
}

@media only screen and (max-width:768px){
  .retex{
    line-height: 7.5vw;
  }
}

// newly added

.nav-header ul{
  padding-left: 0px;
  list-style-type: none;
  cursor: pointer;
}
.nav-header li{
  display: inline-block;
  padding: 5px;
  color: #333;
  font-size: 12px;
  text-align: right;
}
.m-bottom-110{
  margin-bottom: 110px;
}
// heading with lines

@media only screen and (max-width: 600px) {
  .header-title{
    font-size: 14px;
    letter-spacing: .1em;
    color: #333;
    font-weight: 600;
  }

}
@media only screen and (min-width: 600px) {
  .header-title{
    font-size: 18px;
    letter-spacing: .1em;
    color: #333;
    font-weight: 600;
  }
}
@media only screen and (min-width: 768px) {
  .header-title{
    font-size: 24px;
    letter-spacing: .1em;
    color: #333;
    font-weight: 600;
  }
}
@media (min-width: 992px) {
  .header-title{
    font-size: 24px;
    letter-spacing: .1em;
    color: #333;
    font-weight: 600;
  }
  .label-end{
     display: flex;
     justify-content: flex-end;
   }
 }

.decorated{
  overflow: hidden;
  text-align: center;
}
.decorated > span{
 position: relative;
 display: inline-block;
}
.decorated > span:before, .decorated > span:after{
 content: '';
 position: absolute;
 top: 50%;
 border-bottom: 1px solid;
 width: 90vw;
 margin: 0 20px;
}
.decorated > span:before{
 right: 100%;
}
.decorated > span:after{
 left: 100%;
}
