// @import "node_modules/bootstrap/scss/functions";
// @import "node_modules/bootstrap/scss/mixins";
// @import "node_modules/bootstrap/scss/variables";
// @import "node_modules/bootstrap/scss/utilities";

.dialog{
    background-color: #fdfdfd;
    max-height: 500px;
    min-height: 500px;
    padding: 0 15px 0 15px;
}

.title-txt{
    font-size: 1.5rem;
    margin-top: 20px auto 0 auto;
}

table {
  border: 0;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

table > tr > td {
  width: 180px
}
.howayProofOfPayment-td {
  margin-left: 10px;
  width: 400px !important;
  background-color: white;
}
.howayProofOfPayment-td img{
    width: 100%;
    height: 500px;
    margin-left: 10px;
    box-shadow: 0 3px 8px rgba(44, 63, 238, 0.247);
    background-color: #cccccc;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.myHeader {
	// background: #fc00019c;
	height: 65px !important;
}

.pagi-arrow{
  color: rgb(117, 117, 117);
  outline: none;
}

.indicator{
  margin-top: 12px;
  font-size: 12px;
  color: rgb(117, 117, 117);
  margin-left: 15px;
  margin-right: 10px;
}
.proof-tag{
	position: absolute;
	width: 100%;
	height: 100%;
	/*display: flex;
	/* top: 0px; */
	top: 40%;
}

.borderless td, .borderless th {
    border: none;
}

// COLLAPSE
/* Sets button text when clicked. Should combine these later with wildcards */
#subs-table .btn-primary:before {
    content:'Click for details';
}
#subs-table .btn-primary[aria-expanded="true"]:before {
    content:'Close Details';
}
/* Styling of the collapsible row */
#subs-table td.collapse-row {
    border-style: none;
    padding: 0;
}

.mat-error {
 text-align: right !important;
}
// :host::ng-deep .mat-table thead{
//   background-color: whitesmoke;
// }

:host::ng-deep .mat-table thead tr{
  height: 40px;
  font-size: 13px;
}
:host::ng-deep .shippingSlip .mat-checkbox-frame {
    border-color: white;
}
:host .mat-icon-button ::ng-deep .mat-button-focus-overlay {
    display: none;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
  background-color: black !important;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: black;
}

:host::ng-deep .mat-focused .mat-form-field-label{ color: #000000 !important; }
:host::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple{ background: #000000 !important; }

// :host td.mat-cell {
//  /* row padding */
//  padding: 16px 0;
//  /* row border */
//  border-bottom: 1px solid #ffa600;
//  border-top: 1px solid #ffa600;
// }
//
// :host td.mat-cell:first-child {
//   /* row border */
//   border-left: 1px solid #ffa600;
// }
//
// :host td.mat-cell:last-child {
//   /* row border */
//   border-right: 1px solid #ffa600;
// }
//
// :host table {
//   /* row spacing / margin */
//   border-spacing: 0 8px !important;
// }
