
<!-- color="accent" -->
  <!-- <button style="float:right; outline: none;z-index: 10;" mat-dialog-close mat-icon-button class="mx-2 my-1">
    <mat-icon class="text-dark">close</mat-icon>
  </button>
	<div class="col-md-12 text-right py-3 mt-0 pl-2 pr-5 myHeader">
	  <h2 class="text-dark d-inline float-left" [ngStyle]="{'position': 'relative', 'top': '5px'}">Order Request Details</h2> -->
		<!-- <ng-container *ngIf="details.row.service_type === 1">
			<mat-checkbox [(ngModel)]="shippingChecked" class="h7 mr-2 mt-2 pt-1 text-white shippingSlip" style="vertical-align: -webkit-baseline-middle;"> -->
				<!-- <mat-icon class="text-success align-top">check_circle</mat-icon>  -->
				<!-- Shipping Slip Status.
			</mat-checkbox>
		</ng-container> -->
		<!-- <ng-container *ngIf="details.row.status >= 2 && details.row.status <= 5">
			<button class="btn-warning btn text-normal shadow-all bg-gradient-yellow-reverse px-1 py-1 mx-2" (click)="printOR()" style="margin: auto;">
				Print OR
			</button>
		</ng-container> -->
	<!-- </div> -->
  <div mat-dialog-title class="mb-0">
		<!-- <img src="/assets/images/favicon.ico" alt="" class="dialog-icon"> -->
		<span class="text-dark h4">ORDER REQUEST DETAIL</span>
		<!-- <span class="text-muted mb-0">{{ details?.firstname | titlecase }} {{ details?.surename | titlecase }}'s Detail</span> -->
		<button class="lh-button-icon float-right" mat-icon-button [mat-dialog-close]="" style="top: -5px;right: -10px; width: 32px; height: 32px;">
			<mat-icon>close</mat-icon>
		</button>
	</div>
  <mat-dialog-content class="overflow-x-hidden text-dark mx-0 px-0" [ngStyle]="{'max-width': '600px'}">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-12 px-0">
              <h5 class="w-100 text-dark py-2 px-0 mx-0">ORDER INFORMATION</h5>
            </div>
          </div>
          <div class="row my-2">
            <div class="col-md-4 pl-0 ">
              <label>Order No:</label>
            </div>
            <div class="col-md-8 ">
              <span>{{ details.row.order_no }}</span>
            </div>
          </div>
          <div class="row my-2">
            <div class="col-md-4 pl-0">
              <label>Order Status:</label>
            </div>
            <div class="col-md-8">
              <span>{{ details.row.status_text }}</span>
            </div>
          </div>
          <!-- ITEMS -->
          <div class="row my-2">
            <div class="col-md-4 pl-0">
              <label>Items:</label>
            </div>
            <div class="col-md-8 ">
              <div class="row" *ngFor="let item of details.row.order_items">
                <div class="col-md-6 text-left">
                  <span>
                    <span class="mr-2">&#8369;</span> {{ item.price }}.00 x{{ item.quantity }}
                  </span>
                </div>
                <div class="col-md-6">
                  <span>- {{ item.item_name }}</span>
                </div>
              </div>
            </div>
          </div>
          <!-- SHIPPING FEE -->
          <div class="row my-2">
            <div class="col-md-4 pl-0">
              <label>Shipping Fee:</label>
            </div>
            <div class="col-md-8 ">
              <div class="row">
                <div class="col-md-6 text-left">
                  <span> <span class="mr-2">&#8369;</span> {{ details.row.ship_fee }}.00</span>
                </div>
                <div class="col-md-6">
                </div>
              </div>
            </div>
          </div>
          <!-- PACKAGES -->
          <!-- <ng-container *ngIf="details.row.service_type === 1">
            <div class="row my-2 mb-0">
              <div class="col-md-12 border-bottom border-light">
                <h6>Package Detail:</h6>
              </div>
            </div>
            <div class="row my-2 mt-0">
              <div class="col-md-12 border-bottom border-light table-responsive mt-0">
                <table class="table table-striped mt-0">
                  <thead class="borderless">
                    <tr>
                      <th>Package #</th>
                      <th>Shpping Price</th>
                      <th>Type</th>
                      <th>Info</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let package of order_package?.package; let i = index">
                      <td>{{i+1}}.)Package Set #{{package.package_no}}</td>
                      <td>{{package.shipping_price}}</td>
                      <td>{{package.type}}</td>
                      <td>
                          <h6 *ngFor="let item of package.package_items; let i = index">{{item.itemqty_count}}x - {{item.item_detail.item_name}}</h6>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </ng-container> -->
          <!-- GIFTWRAP FEE -->
          <div *ngIf="details.row.giftwrap_status === 1" class="row my-2">
            <div class="col-md-4 pl-0 ">
              <h6>GIFTWRAP FEE:</h6>
            </div>
            <div class="col-md-8">
              <div class="row">
                <div class="col-md-6 text-left">
                  <span><span class="mr-2">&#8369;</span>{{ details.row.giftwrap_fee | number : '1.2-2' }}</span>
                </div>
                <div class="col-md-6">
                </div>
              </div>
            </div>
          </div>
          <!-- GIFTWRAP OPTION -->
          <div *ngIf="details.row.giftwrap_status === 1 && details.row.giftwrap_option.length > 0" class="row my-2">
            <div class="col-md-4 pl-0 ">
              <h6>GIFTWRAP OPTION:</h6>
            </div>
            <div class="col-md-8">
              <div class="row">
                <div class="col-md-6 text-left">
                  <img [src]="details.row.giftwrap_option[0].images[0].file" [alt]="details.row.giftwrap_option[0].images[0].id" class="img-thumbnail mb-2" style="width: 90px; height:80px;">
                </div>
                <div class="col-md-6">
                </div>
              </div>
            </div>
          </div>
          <!-- TOTAL AMOUNT -->
          <div class="row my-2">
            <div class="col-md-4 pl-0">
              <label>Total Amount:</label>
            </div>
            <div class="col-md-8">
              <div class="row">
                <div class="col-md-6 text-left">
                  <span> <span class="mr-2">&#8369;</span>{{ details.row.total_amt }}.00</span>
                </div>
                <div class="col-md-6">
                </div>
              </div>
            </div>
          </div>
          <div class="row my-2" hidden>
            <div class="col-md-4 pl-0 ">
              <label>Customer ID #:</label>
            </div>
            <div class="col-md-8">
              <span>{{ details.row.user_id }}</span>
            </div>
          </div>
          <div class="row my-2">
            <div class="col-md-4 pl-0">
              <label>Customer Name:</label>
            </div>
            <div class="col-md-8">
              <span>{{ details.row.name }}</span>
            </div>
          </div>
          <div class="row my-2">
            <div class="col-md-4 pl-0">
              <label>Customer Address:</label>
            </div>
            <div class="col-md-8">
              <span>
                {{ details?.row.customer.address | titlecase }}
                <!-- {{ details?.row.customer.address | titlecase }} {{ details?.row.customer.barangay | titlecase }} {{ details?.row.customer.city | titlecase }} {{ details?.row.customer.province | titlecase }} {{ details?.row.customer.region | uppercaseRoman }} -->
              </span>
            </div>
          </div>
          <div class="row my-2">
            <div class="col-md-4 pl-0">
              <label>Customer Address Remarks <small>( Unit no./Bldg. no./Floor no./Village/Blk # Lt #/Street/Special Instructions )</small>:</label>
            </div>
            <div class="col-md-8">
              <span>
                {{ details?.row.customer.remarks | titlecase }}
                <!-- {{ details?.row.customer.address | titlecase }} {{ details?.row.customer.barangay | titlecase }} {{ details?.row.customer.city | titlecase }} {{ details?.row.customer.province | titlecase }} {{ details?.row.customer.region | uppercaseRoman }} -->
              </span>
            </div>
          </div>
          <div class="row my-2">
            <div class="col-md-4 pl-0">
              <label>Customer Contact #:</label>
            </div>
            <div class="col-md-8">
              <span>{{ details?.row.customer.contact_no }}</span>
            </div>
          </div>
          <div class="row my-2">
            <div class="col-md-4 pl-0">
              <label>Receiver Name:</label>
            </div>
            <div class="col-md-8 ">
              <span>{{ (details.row.receiver_type === 1) ? 'Same with customer name.' : details.row.receiver_name }}</span>
            </div>
          </div>
          <div class="row my-2">
            <div class="col-md-4 pl-0">
              <label>Receiver Address:</label>
            </div>
            <div class="col-md-8">
              <span>{{ (details.row.receiver_type === 1) ? 'Same with customer address.' : details.row.receiver_address }}</span>
            </div>
          </div>
          <div class="row my-2">
            <div class="col-md-4 pl-0">
              <label>Receiver Address Remarks <small>( Unit no./Bldg. no./Floor no./Village/Blk # Lt #/Street/Special Instructions ):</small></label>
            </div>
            <div class="col-md-8">
              <span>{{ (details.row.receiver_type === 1) ? 'Same with customer address.' : details.row.remarks }}</span>
            </div>
          </div>
          <div class="row my-2">
            <div class="col-md-4 pl-0">
              <label>Receiver Contact #:</label>
            </div>
            <div class="col-md-8">
              <span>{{ (details.row.receiver_type === 1) ? 'Same with customer contact #.' : details.row.receiver_contact }}</span>
              <!-- <span>{{ details.row.receiver_contact }}</span> -->
            </div>
          </div>
          <div class="row my-2">
            <div class="col-md-4 pl-0">
              <label>Service Type:</label>
            </div>
            <div class="col-md-8">
              <span>{{ details.row.service }}</span>
            </div>
          </div>
          <ng-container *ngIf="details.row.service_type === 2">
            <div class="row my-2">
              <div class="col-md-4 pl-0">
                <label>Pickup Date:</label>
              </div>
              <div class="col-md-8">
                <span>{{ details.row.pickup_date | date: 'MMMM dd, yyyy' }}</span>
              </div>
            </div>
            <div class="row my-2">
              <div class="col-md-4 pl-0">
                <label>Pickup Time:</label>
              </div>
              <div class="col-md-8">
                <span>{{ details.row.pickup_time }}</span>
              </div>
            </div>
          </ng-container>
          <!-- <div class="row my-2" *ngIf="details.row.service_type == '1'">
            <div class="col-md-4 pl-0 border-bottom">
              <label>Destination:</label>
            </div>
            <div class="col-md-8 border-bottom">
              <span>{{ details.row.region }}</span>
            </div>
          </div> -->
          <div class="row my-2">
            <div class="col-md-4 pl-0">
              <label>Payment method:</label>
            </div>
            <div class="col-md-8">
              <span>{{ details.row.modeofpayment }}</span>
            </div>
          </div>
          <div class="row my-2" hidden>
            <div class="col-md-4 pl-0">
              <label>Customer Remarks:</label>
            </div>
            <div class="col-md-8">
              <span>{{ details.row.remarks }}</span>
            </div>
          </div>
          <!-- ADDITIONALS INFO -->
          <span *ngIf="details.option != 'update'">
            <div class="row">
              <div class="col-md-12 px-0">
                <h5 class="w-100 text-dark py-2 px-0 mx-0">ADDITIONAL INFORMATION</h5>
              </div>
            </div>
            <div class="row my-2">
              <div class="col-md-4 pl-0">
                <label>Estimated Delivery:</label>
              </div>
              <div class="col-md-8">
                <span>{{ details.row.est_deliverydate | date }}</span>
              </div>
            </div>
            <div class="row my-2" *ngIf="details.row.payment_date">
              <div class="col-md-4 pl-0">
                <label>Payment Date:</label>
              </div>
              <div class="col-md-8">
                <span>{{ details.row.payment_date | date: 'MMMM dd, yyyy h:mm:ss a' }}</span>
              </div>
            </div>
            <div class="row my-2">
              <div class="col-md-4 pl-0">
                <label>Tracking no:</label>
              </div>
              <div class="col-md-8">
                <span>{{ details.row.tracking_no }}</span>
              </div>
            </div>
            <div class="row my-2">
              <div class="col-md-4 pl-0">
                <label>Payment Reference Number:</label>
              </div>
              <div class="col-md-8">
                <span>{{ details.row.or_no }}</span>
              </div>
            </div>
            <div class="row my-2">
              <div class="col-md-4 pl-0">
                <label>TIN no:</label>
              </div>
              <div class="col-md-8">
                <span>{{ details.row.customer_tin_no }}</span>
              </div>
            </div>
            <div class="row my-2">
              <div class="col-md-4 pl-0">
                <label>Bank name:</label>
              </div>
              <div class="col-md-8 ">
                <span>{{ details.row.check_bank }}</span>
              </div>
            </div>
            <div class="row my-2">
              <div class="col-md-4 pl-0">
                <label>Check no:</label>
              </div>
              <div class="col-md-8">
                <span>{{ details.row.check_no }}</span>
              </div>
            </div>
            <div class="row my-2">
              <div class="col-md-4 pl-0">
                <label>Check date:</label>
              </div>
              <div class="col-md-8">
                <span>{{ details.row.check_date | date }}</span>
              </div>
            </div>
          </span>
          <span *ngIf="details.option == 'update'">
            <form [formGroup]="updateForm">
            <div class="row mt-4 form-group">
              <div class="col-md-4 pl-0 align-self-center">
                <label for="" class="col-form-label">
                  Update Order Status:
                </label>
              </div>
              <div class="col-md-8 px-0">
                  <mat-form-field class="my-form-field col-md-12">
                    <mat-label>Update Order Status:</mat-label>
                    <mat-select #orderStatus formControlName="status" (selectionChange)="orderStatusChanged($event.value)" required>
                      <mat-option *ngIf="(details.row.status == 1 || details.row.status == 1 )" [value]="1">Waiting for proof of payment</mat-option>
                      <mat-option *ngIf="(details.row.status == 1 || details.row.status == 2 )" [value]="2">Payment Confirmed</mat-option>
                      <mat-option *ngIf="(details.row.status == 2 || details.row.status == 8 )" [value]="8">Preparing Items</mat-option>
                      <mat-option *ngIf="details.row.service_type == 2" [value]="3">Ready for pick-up</mat-option>
                      <mat-option *ngIf="(details.row.status == 8 || details.row.status == 4 ) && details.row.service_type != 2" [value]="4">Out for delivery</mat-option>
                      <mat-option *ngIf="(details.row.status == 4 || details.row.status == 3) || details.row.status == 5" [value]="5">Order Completed</mat-option>
                      <mat-option *ngIf="details.row.status == 1 || details.row.status == 6" [value]="6">Cancelled</mat-option>
                      <mat-option *ngIf="(details.row.status == 5) || details.row.status == 7"[value]="7">Closed</mat-option>
                      <!-- # 1 Waiting for proof of payment
                    # 2 Payment Confirmed.Preparing Items
                    # 3 Ready for pick-up
                    # 4 Out for delivery
                    # 5 Order Completed
                    # 6 Return and exchange
                    # 7 Cancelled
                    # 8 Closed -->
                    </mat-select>
                  </mat-form-field>
                  <!-- <mat-form-field style="width: 300px;">
                    <input formControlName="remarks" matInput placeholder="4DPocket Remarks:" autocomplete="off" required>
                    <mat-error *ngIf="updateForm.get('remarks').hasError('required')">
                      Username is <strong>required</strong>
                    </mat-error>
                  </mat-form-field> -->

                  <!-- <mat-form-field style="width: 300px;">
                    <input formControlName="remarks" matInput placeholder="4DPocket Remarks:" autocomplete="off" required>
                    <mat-error *ngIf="updateForm.get('remarks').hasError('required')">
                      Username is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>-->

                  <!-- # 1 Waiting for proof of payment
                    # 2 Payment Confirmed.Preparing Items
                    # 3 Ready for pick-up
                    # 4 Out for delivery
                    # 5 Order Completed
                    # 6 Return and exchange
                    # 7 Cancelled
                    # 8 Closed -->


              </div>
            </div>
            <!-- <h5>{{ getFormValue.status.value }}</h5> -->
            <!-- <h5>{{ orderStatus.value }}</h5> -->
            <div class="row form-group" [attr.hidden]="(details.row.service_type == 1 && getFormValue.status.value != 1) ? null : ''">
              <div class="col-md-4 pl-0 align-self-center">
                  <label for="" class="col-form-label">
                    Estimated Delivery date:
                  </label>
              </div>
              <div class="col-md-8 px-0">
                <mat-form-field class="my-form-field col-md-12" >
                  <input class="pointer-hand" (click)="edd.open()" formControlName="est_deliverydate" matInput [matDatepicker]="edd" placeholder="Estimated delivery date" readonly>
                  <mat-datepicker-toggle matSuffix [for]="edd"></mat-datepicker-toggle>
                  <mat-datepicker #edd></mat-datepicker>
                  <mat-error *ngIf="updateForm.get('est_deliverydate').hasError('required')">
                    Estimated Date is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
              <!-- -->
            </div>
            <!--  -->
            <div class="row form-group" [attr.hidden]="(getFormValue.status.value != 1) ? null : ''">
              <div class="col-md-4 pl-0 align-self-center">
                  <label for="" class="col-form-label">
                    Payment date:
                  </label>
              </div>
              <div class="col-md-8 px-0">
                <mat-form-field class="my-form-field col-md-12" >
                  <input class="pointer-hand" (click)="paydate.open()" formControlName="payment_date" matInput [min]="paymentDatetoday" [matDatepicker]="paydate" placeholder="Payment date" readonly>
                  <mat-datepicker-toggle matSuffix [for]="paydate"></mat-datepicker-toggle>
                  <mat-datepicker #paydate></mat-datepicker>
                  <!-- <mat-error *ngIf="updateForm.get('payment_date').hasError('required')">
                    Payment Date is <strong>required</strong>
                  </mat-error> -->
                </mat-form-field>
              </div>
              <!--  -->
            </div>
            <!--  -->
            <div class="row form-group" [attr.hidden]="(details.row.service_type == 1 && getFormValue.status.value == 4) ? null : ''">
              <div class="col-md-4 pl-0 align-self-center">
                  <label for="" class="col-form-label">
                   Tracking No.:
                  </label>
              </div>
              <div class="col-md-8 px-0">
                <mat-form-field class="my-form-field col-md-12">
                  <input formControlName="tracking_no" matInput placeholder="Tracking no" autocomplete="off" (input)="shippingCheck($event.target.value);">
                </mat-form-field>
              </div>
            </div>
            <!--  -->
            <div class="row form-group" [attr.hidden]="getFormValue.status.value != 1 ? null : ''">
              <div class="col-md-4 pl-0 align-self-center">
                  <label for="" class="col-form-label">
                   Payment Reference Number:
                  </label>
              </div>
              <div class="col-md-8 px-0">
                <mat-form-field class="my-form-field col-md-12">
                  <input formControlName="or_no" matInput placeholder="Payment Reference Number" autocomplete="off">
                  <!-- <mat-error *ngIf="updateForm.get('or_no').hasError('required')">
                    Estimated Date is <strong>required</strong>
                  </mat-error> -->
                </mat-form-field>
              </div>
            </div>
            <!--  -->
            <div class="row form-group" [attr.hidden]="getFormValue.status.value != 1 ? null : ''">
              <div class="col-md-4 pl-0 align-self-center">
                  <label for="" class="col-form-label">
                   Customer Tin No.:
                  </label>
              </div>
              <div class="col-md-8 px-0">
                <mat-form-field class="my-form-field col-md-12">
                  <input formControlName="customer_tin_no" matInput placeholder="TIN No." autocomplete="off">
                </mat-form-field>
              </div>
            </div>
            <!--  -->
            <div class="row" [attr.hidden]="getFormValue.status.value != 1 ? null : ''">
              <div class="col-md-12 pl-0">
                <mat-checkbox (change)="checked = $event.checked">Check Payment</mat-checkbox>
              </div>
            </div>
            <!--  -->
            <div *ngIf="checked">
            <div class="row form-group">
              <div class="col-md-4 pl-0 align-self-center">
                  <label for="" class="col-form-label">
                   Bank Name:
                  </label>
              </div>
              <div class="col-md-8 px-0">
                <mat-form-field  class="my-form-field col-md-12">
                  <input formControlName="check_bank" matInput placeholder="Bank Name" autocomplete="off">
                </mat-form-field>
              </div>
            </div>
            <!--  -->
            <div class="row form-group">
              <div class="col-md-4 pl-0 align-self-center">
                  <label for="" class="col-form-label">
                  Check No.:
                  </label>
              </div>
              <div class="col-md-8 px-0">
                <mat-form-field  class="my-form-field col-md-12">
                  <input formControlName="check_no" matInput placeholder="Check No." autocomplete="off">
                </mat-form-field>
              </div>
            </div>
            <!--  -->
            <div class="row form-group">
              <div class="col-md-4 pl-0 align-self-center">
                  <label for="" class="col-form-label">
                  Check Date:
                  </label>
              </div>
              <div class="col-md-8 px-0">
                <mat-form-field class="my-form-field col-md-12">
                  <input class="pointer-hand" formControlName="check_date" (click)="picker.open()" matInput [matDatepicker]="picker" placeholder="Check Date" readonly>
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
            </div>


          </div>


          </form>
          </span>
        </div>
        <!-- col-md-12 -->
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-12 px-0">
              <h5 class="w-100 text-dark py-2 px-0 mx-0">PROOF OF PAYMENT</h5>
            </div>
            <div class="col-md-12 px-0">
              <div class="img-fluid" *ngIf="!details.row.proofofpayment" [ngStyle]="{'position': 'relative', 'height': '400px', 'max-height': '400px', 'width': '100%', 'background-color': 'whitesmoke'}">
                <div class="proof-tag text-center text-muted">
                  <h1>PROOF OF PAYMENT</h1>
                  <h3>NOT YET AVAILABLE</h3>
                </div>
              </div>
              <img class="img-fluid" *ngIf="details.row.proofofpayment" [src]="details.row.proofofpayment" [ngStyle]="{'height': '400px', 'max-height': '400px', 'width': '100%', 'background-color': 'whitesmoke'}">
            </div>
            <div class="col-md-12 px-0">
              <h5 class="w-100 text-dark py-2 px-0 mx-0">ORDER LOGS</h5>
            </div>
            <div class="col-md-12 px-0">
              <table mat-table [dataSource]="dataSource" matSort class="w-100 mt-0 text-dark" border="1">
                <ng-container matColumnDef="admin_name">
                  <th class="pl-2 h6" math-header-cell *matHeaderCellDef mat-sort-header>Commit By</th>
                  <td mat-cell class="pl-2" *matCellDef="let row">{{row.name}}</td>
                </ng-container>

                <ng-container matColumnDef="log_desc">
                  <th class="pl-2 h6" math-header-cell *matHeaderCellDef mat-sort-header>Log Description</th>
                  <td mat-cell class="pl-2" *matCellDef="let row">{{row.activity_details.replace(details.row.order_no, '')}}</td>
                </ng-container>

                <ng-container matColumnDef="log_date">
                  <th class="pl-2 h6" math-header-cell *matHeaderCellDef mat-sort-header>Log Description</th>
                  <td mat-cell class="pl-2" *matCellDef="let row">{{row.activity_date | date: 'MMMM dd, yyyy'}}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            </div>
          </div>
        </div>
        <!-- col-md-12 -->

      </div>
    </div>

  </mat-dialog-content>
  <mat-dialog-actions class="border-top mb-0 py-0"> <!---align="left"--->
    <ng-container *ngIf="details.option == 'update'">
  		<div class="container-fluid">
  			<div class="row px-0">
      		<div class="col-md-6 px-0 align-self-end" align="left">
      			<button	class="btn btn-block btn-md btn-dark text-light" (click)="onSubmit()" matRipple>
      				Save Update
            </button>
      		</div>
  				<div class="col-md-6 px-0" align="right">
  					<div class="mt-2 mr-1" style="width: 45px; height: 45px;">
  						<mat-progress-spinner *ngIf="isSpinner" class="" [diameter]="45" color="warn" mode="indeterminate"></mat-progress-spinner>
  					</div>
  				</div>
  			</div>
  		</div>
    </ng-container>
	</mat-dialog-actions>
  <!-- matRipple [matRippleCentered]="false" [matRippleColor]="'rgba(255, 0, 0, 0.1)'" -->
<!--  px-2 py-1 mx-1  -->
