<mat-dialog-content class="mat-typography font-14 mx-0 px-0 pt-0 pb-3 text-center" style="height: 100% !important; max-width: 300px !important">
  Do you really want to remove this item?
</mat-dialog-content>
<mat-dialog-actions style="padding: 0px 0px 26px 0px;">
	<div class="container-fluid">
		<div class="row px-0">
      <div class="col-md-6 col-6 col-lg-6 col-sm-6 px-0" align="left">
        <!-- <button mat-button [mat-dialog-close]="false">Close</button> -->
        <button class="w-100" mat-button align="left" (click)="closeBTN()">No</button>
			</div>
			<div class="col-md-6 col-6 col-lg-6 col-sm-6 px-0" align="right">
        <!-- <button mat-button [mat-dialog-close]="true">Yes</button> -->
        <button class="w-100" mat-button align="right" (click)="okayBTN()">Yes</button>
			</div>
		</div>
	</div>
</mat-dialog-actions>


<!-- <h2 mat-dialog-title class="border-bottom">Confirmation required</h2>
<mat-dialog-content class="mat-typography font-14 mx-0 px-0" style="height: 100% !important;">
  Do you really want to remove this item?
</mat-dialog-content>
<mat-dialog-actions class="border-top mt-3">
	<div class="container-fluid">
		<div class="row px-0">
			<div class="col-md-6 col-6 col-lg-6 col-sm-6 px-0" align="left">
        <button mat-button [mat-dialog-close]="false">Close</button>
        <button mat-button align="left" (click)="closeBTN()">No</button>
			</div>
			<div class="col-md-6 col-6 col-lg-6 col-sm-6 px-0" align="right">
        <button mat-button [mat-dialog-close]="true">Yes</button>
        <button mat-button align="right" (click)="okayBTN()">Yes</button>
			</div>
		</div>
	</div>
</mat-dialog-actions> -->
