.list-opt-red{
    outline: none;
    font-size: 13px;
}

.list-btn-opt-view-red {
    border-radius: 5px;
    background: rgb(234, 0, 37, 1);
    border: none;
    color: #ffffff;
    padding: 10px 25px;
    transition: 0.4s all ease;
}

.list-btn-opt-view-red:hover {
    background-color: rgb(234, 0, 37, .50);
    transition: 0.4s all ease;
}

@media only screen and (max-width:575px){

}


.header-style{
  text-align: center;
  margin-bottom: 30px;
  margin-top: 30px;
  font-size: 20px;
  color: #333;
  line-height: 1.5;
}




// /* headlines with lines */

@media only screen and (max-width: 600px) {
  .header-title{
    font-size: 14px;
    letter-spacing: .1em;
    color: #333;
    font-weight: 600;
  }
  .pc-view{
    display: none;
  }
  .mobile-view{
    display: block;
  }

}
@media only screen and (min-width: 600px) {
  .header-title{
    font-size: 18px;
    letter-spacing: .1em;
    color: #333;
    font-weight: 600;
  }
  .pc-view{
    display: none;
  }
  .mobile-view{
    display: block;
  }
}
@media only screen and (min-width: 768px) {
  .header-title{
    font-size: 24px;
    letter-spacing: .1em;
    color: #333;
    font-weight: 600;
  }
  .pc-view{
    display: block;
  }
  .mobile-view{
    display: none;
  }
}
@media (min-width: 992px) {
  .header-title{
    font-size: 24px;
    letter-spacing: .1em;
    color: #333;
    font-weight: 600;
  }
   .pc-view{
    display: block;
  }
  .mobile-view{
    display: none;
  }
 }

  .decorated{
    overflow: hidden;
    text-align: center;
  }
  .decorated > span{
  position: relative;
  display: inline-block;
  }
  .decorated > span:before, .decorated > span:after{
  content: '';
  position: absolute;
  top: 50%;
  border-bottom: 1px solid #333;
  width: 90vw;
  margin: 0 20px;
  }
  .decorated > span:before{
  right: 100%;
  }
  .decorated > span:after{
  left: 100%;
  }

  .btn-color{
    color:#ffffff;
    background-color: #009688;
  }

  .order-header div{
    display: flex;
    justify-content: center;
  }

  table {
    table-layout: fixed ;
    width: 100% ;
  }
  td {
    width: 25% ;
  }
