<div class="decorated mb-5">
  <span class="header-title">ORDER HISTORY</span>
</div>
  <div *ngIf="transactionLists.length == 0; else elseBlock">
   <div class="row">
    <div class="col-md-6 col-lg-6">
      <p>There are no orders placed yet</p>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-12 col-sm-12">
          <button routerLink="/" class="btn btn-color btn-md btn-block">
            CONTINUE SHOPPING
          </button>
        </div>
      </div>
    </div>
   </div>
  </div>
  <ng-template #elseBlock>
  <div class="pc-view">
  <div class="row mb-2">
    <div class="col-md-12 col-lg-12">
      <div class="table-responsive-lg table-responsive-md">
        <table class="table table-border">
          <thead class="">
            <th scope="col">Order number</th>
            <th scope="col">Date</th>
            <th scope="col">Summary</th>
            <th scope="col">Status</th>
            <th scope="col">Actions</th>
          </thead>
          <tbody>
            <tr  *ngFor="let row of transactionLists">
              <td>{{row.order_no}}</td>
              <td>{{row.order_date | date: 'MMMM dd, yyyy'}}</td>
              <td>{{row.item_list }}</td>
              <td>{{statMess[row.status-1]}}</td>
              <td><button mat-stroked-button class="btn btn-block btn-md btn-color" (click)="openView(row)">
                VIEW
              </button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
  <ng-container  *ngFor="let row of transactionLists">
    <!-- <div class="container"> -->
      <div class="row mobile-view">
        <div class="col-12 mb-2">
          <div class="card">
            <div class="card-body">
              <div class="row form-group">
                <div class="col-6">
                  <label for="">Order Number</label>
                </div>
                <div class="col-6">{{row.order_no}}</div>
              </div>
              <!--  -->
              <div class="row form-group">
                <div class="col-6">
                  <label for="">Date</label>
                </div>
                <div class="col-6">{{row.order_date | date: 'MMMM dd, yyyy'}}</div>
              </div>
              <!--  -->
              <div class="row form-group">
                <div class="col-6">
                  <label for="">Summary</label>
                </div>
                <div class="col-6">{{row.item_list }}</div>
              </div>
              <!--  -->
              <div class="row form-group">
                <div class="col-6">
                  <label for="">Status</label>
                </div>
                <div class="col-6">{{statMess[row.status-1]}}</div>
              </div>
              <!--  -->
              <div class="row">
                <div class="col-12">
                  <button mat-stroked-button class="btn btn-block btn-md btn-color" (click)="openView(row)">
                    VIEW
                  </button>
                </div>
              </div>

              <!--  -->
            </div>
          </div>
        </div>
      </div>
    <!-- </div> -->
  </ng-container>


</ng-template>




