<div class="mb-5">

  <div class="decorated mb-5">
    <span class="header-title">MANAGE PROFLE</span>
  </div>

<ng-container  *ngIf="!isUpdate" >
  <div class="row">
      <div class="col-md-3 col-lg-2 col-sm-6 col-6">
        <div>
          <label for="">Firstname:</label>
        </div>
      </div>
      <div class=" col-md-8 col-lg-10 col-sm-6 col-6">
        {{userDetail?.firstname}}
      </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-lg-2  col-sm-6 col-6">
      <div>
        <label for="">Middlename:</label>
      </div>
    </div>
    <div class=" col-md-3 col-lg-10  col-sm-6 col-6">
      {{userDetail?.middlename}}
    </div>
</div>

<div class="row">
  <div class="col-md-6 col-lg-2  col-sm-6 col-6">
    <div>
      <label for="">Lastname:</label>
    </div>
  </div>
  <div class=" col-md-3 col-lg-10  col-sm-6 col-6">
    {{userDetail?.surename}}
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-lg-2  col-sm-6 col-6 ">
    <div>
      <label for="">Gender:</label>
    </div>
  </div>
  <div class=" col-md-3 col-lg-10  col-sm-6 col-6">
    {{ (userDetail?.gender && userDetail?.gender != "None" ) ? (userDetail?.gender == 3) ? 'N/A' : (userDetail?.gender == 1) ? 'Male' : 'Female' : 'N/A'  }}
  </div>
</div>

<div *ngIf="userDetail?.age">
  <div class="row">
    <div class="col-md-6 col-lg-2  col-sm-6 col-6 ">
      <div>
        <label for="">Age:</label>
      </div>
    </div>
    <div class=" col-md-3 col-lg-10  col-sm-6 col-6">
      {{userDetail?.age}}
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-lg-2 col-sm-6 col-6">
    <div>
      <label for="">Address:</label>
    </div>
  </div>
  <div class=" col-md-3 col-lg-10 col-sm-6 col-6">
    {{userDetail?.address | titlecase}}
    <!-- {{userDetail?.address | titlecase}} {{userDetail?.barangay | titlecase}} ,{{userDetail?.city | titlecase}}, {{userDetail?.province | titlecase}} {{userDetail?.region | uppercaseRoman}} -->
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-lg-2  col-sm-6 col-6 ">
    <div>
      <label for="">Email Address:</label>
    </div>
  </div>
  <div class=" col-md-3 col-lg-10  col-sm-6 col-6 text-break">
    {{userDetail?.email_address}}
  </div>
</div>

  <div class="row">
    <div class="col-md-6 col-lg-6 col-sm-12 col-12 ">

      <div class="row">
        <div class="col-md-6 col-lg-6">
          <button (click)="updateInfo()" [routerLink]="['./information-update']" mat-stroked-button class="btn-block btn-color btn btn-md">
            UPDATE INFO
            </button>
            <button (click)="isUpdatePassword=true" [routerLink]="['./password-update']" mat-stroked-button class="btn-block btn-color btn btn-md ">
            UPDATE PASSWORD
            </button>
            <button (click)="isUpdateEmail=true" [routerLink]="['./email-update']" mat-stroked-button class="btn-block btn-color btn btn-md ">
            UPDATE EMAIL
            </button>
        </div>
      </div>

    </div>
  </div>
</ng-container>
</div>
 <!--  -->
<router-outlet></router-outlet>
