.item-details{
    width: 70%;
    margin: 20px auto auto auto;
    display: grid;
    grid-template-columns: 60% 40%;
}

.pic{
  grid-column: 2/3;
}

.text-pane{
  grid-column: 1/2;
  grid-row: 1/2;
}

.profile-pic{
    // width: 150px;
    // height: 150px;
    // border-radius: 50%;
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;
    // box-shadow: 0 3px 8px rgba(44, 63, 238, 0.247);
    // background-color: #cccccc;
}

.fab-browse {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #f8f8f8;
    color: #535353;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    box-shadow: 0 3px 8px rgba(44, 63, 238, 0.247);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.fab-browse:hover {
    box-shadow: 0 5px 12px rgba(44, 63, 238, 0.247);
    transition: 0.2s all ease;
}
.fab-browse:active {
    box-shadow: 0 1px 12px rgba(44, 63, 238, 0.247);
    transition: 0.2s all ease;
}
@media only screen and (max-width:650px){
  .item-details{
      grid-template-columns: 100%;
      grid-template-rows:40% 60%
  }
  // .pic{
  //   grid-column: 1/2;
  //   grid-row: 1/2;
  // }

  .text-pane{
    grid-row: 2/3;
  }
}


// june 5, 2020


@media only screen and (min-width: 500px) {
  .header-size{
    margin-top: -15px;
    text-align: center;
    font-size:  16px;
    font-weight: bold;
  }
}


@media only screen and (max-width: 500px) {
  .header-size{
    margin-top: -15px;
    text-align: center;
    font-size:  16px;
    font-weight: bold;
  }
}


@media only screen and (min-width: 600px) {

  .header-size{
    margin-top: -15px;
    text-align: center;
    font-size:  18px;
    font-weight: bold;
  }
}

@media only screen and (min-width: 768px) {

  .header-size{
    text-align: center;
    font-weight: 32px;
  }

  .margin-style{
    margin-left: -60px;
  }

}

@media only screen and (min-width: 992px) {

  .header-size{
    margin-top: -15px;
    text-align: center;
    font-size:  22px;
    font-weight: bold;
  }

  .margin-style{
    margin-left: -60px;
  }

}


.aligned-with-icon{
  position: absolute;
  margin-top: 1px;
  margin-left: -25px;
}



// newly added
.header-style{
  text-align: center;
  margin-bottom: 30px;
  margin-top: 30px;
  font-size: 20px;
  color: #333;
  line-height: 1.5;

  // link


}


// /* headlines with lines */
@media only screen and (max-width: 600px) {
  .header-title{
    font-size: 14px;
    letter-spacing: .1em;
    color: #333;
    font-weight: 600;
  }

}
@media only screen and (min-width: 600px) {
  .header-title{
    font-size: 18px;
    letter-spacing: .1em;
    color: #333;
    font-weight: 600;
  }
}
@media only screen and (min-width: 768px) {
  .header-title{
    font-size: 24px;
    letter-spacing: .1em;
    color: #333;
    font-weight: 600;
  }
}
@media (min-width: 992px) {
  .header-title{
    font-size: 24px;
    letter-spacing: .1em;
    color: #333;
    font-weight: 600;
  }
  .label-end{
     display: flex;
     justify-content: flex-end;
   }
 }

  .decorated{
    overflow: hidden;
    text-align: center;
  }
  .decorated > span{
  position: relative;
  display: inline-block;
  }
  .decorated > span:before, .decorated > span:after{
  content: '';
  position: absolute;
  top: 50%;
  border-bottom: 1px solid #333;
  width: 90vw;
  margin: 0 20px;
  }
  .decorated > span:before{
  right: 100%;
  }
  .decorated > span:after{
  left: 100%;
  }

  @media only screen and (min-width: 992px) {
    .label-end{
      display: flex;
      justify-content: flex-end;
    }
  }

  .btn-color{
    color: #ffffff;
    background-color: #009688;
  }
