<h1 mat-dialog-title>LBC BRANCHES - {{data.selectedBranch_name}}</h1>
<div mat-dialog-content>
  <!-- <p>What's your favorite animal?</p>
  <mat-form-field>
    <input matInput [(ngModel)]="data.animal">
  </mat-form-field> -->
  <agm-map id="agm-map-id" style="height: 400px; width: -webkit-fill-available;"
  [latitude]="data.selectedBranch_lat"
  [longitude]="data.selectedBranch_lng"
  [zoom]="data.zoom"
  [disableDefaultUI]="false"
  [zoomControl]="true"
  [fitBounds]="false">
  <!-- (mapClick)="mapClicked($event)" -->
  <agm-marker
      *ngFor="let m of data.markers; let i = index"
      (markerClick)="clickedMarker(m.branch_name, i, m.branch_latitude, m.branch_longitude)"
      [latitude]="m.branch_latitude"
      [longitude]="m.branch_longitude"
      [markerDraggable]="false"
      [agmFitBounds]="false">
      <!-- (dragEnd)="markerDragEnd(m, $event)" -->


    <!-- <agm-snazzy-info-window>
      <strong>{{ m.branch_name }}</strong>
    </agm-snazzy-info-window> -->
    <agm-snazzy-info-window #snazzyInfoWindow
      [closeWhenOthersOpen]="true"
      [closeOnMapClick]="true"
      [isOpen]="isSnazzyInfoWindowOpened"
      (isOpenChange)="snazzyInfoWindowIsToggled($event)"
      [latitude]="50.523458" [longitude]="2.800024">
      <ng-template>
        Hello!
      </ng-template>
    </agm-snazzy-info-window>

  </agm-marker>
  <!-- <agm-circle
      [latitude]="data.selectedBranch_lat + 0.3" [longitude]="data.selectedBranch_lng"
      [radius]="5000"
      [fillColor]="'red'"
      [circleDraggable]="true"
      [editable]="true">
  </agm-circle> -->

</agm-map>
</div>
<div mat-dialog-actions>
  <span [ngStyle]="{'color': 'red','display': 'block'}">Change your pick-up Location?</span>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
  <!-- <button mat-button cdkFocusInitial>Ok</button> -->
</div>
