#agm-map-id {
  width: 250px;
  height: 250px;
}
:host .embed-responsive .card-img-top {
    object-fit: cover;
}
.item_det{
    width: 70%;
    margin: auto auto 30px auto;
    display: grid;
    grid-template-columns: 80% 15%;
}

.details{
    display: flex;
    // grid-template-columns: 30% auto;
}
:host ::ng-deep .mat-checkbox-layout {
  white-space: normal !important;
  display: inline;
}
:host ::ng-deep .mat-checkbox-inner-container{
  transform: translateY(-2px);
}

:host ::ng-deep .mat-radio-label {
  white-space: normal !important;
  display: flex;
  align-items: center;
}

.card{
    width: 80%;
    margin-top: 20px;
    position: -webkit-sticky;
    position: sticky;
    top: 200px;
    margin-bottom: 20px;
}

.center-div{
    width: 70%;
    margin: 20px auto auto auto;
}

.terms-condition{
    // background-image: url(../../../assets/images/stars_moon.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    // height: 350px;
    // background-color: white;
    // overflow-y: scroll;
    // padding: 20px;
    // margin-bottom: 30px;
}

// .card-payment{
//     display: flex;
//     flex-direction: column;
//     margin-top: 35px;
//     width: 150px;
//     height: 150px;
//     background-color: white;
// }

// .payment-img{
//     background-size: contain;
//     background-repeat: no-repeat;
//     background-position: center center;
//     height: 120px;
//     margin: 15px auto auto auto;
// }

.sel_payment{
    // border: solid 1px red;
}

.howaySCSM {
  background-color: rgba(0, 0, 0, 0.85); //545252
}
.howaySCSM-white{
  color: white;
}

// :host::ng-deep .mat-select-value{
//   color: white;
// }
//
// :host::ng-deep .mat-select-arrow{
//   color: white;
// }
//
// :host::ng-deep .mat-select-underline{
//   border-color: white;
// }
// :host::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
//   background-color: rgba(255, 255, 255, 0.42);
// }
// :host::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
//     color: rgba(255, 255, 255, 0.54);
// }
// :host::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label {
//     color: rgba(255, 255, 255, 0.54);
// }
// :host::ng-deep .mat-checkbox-white .mat-checkbox-frame {
//     border-color: white;
// }
// :host::ng-deep .mat-datepicker-toggle {
//     color: rgba(255, 255, 255, 0.54);
// }
// :host::ng-deep .mat-radio-outer-circle{
//     border-color: rgba(255, 255, 255, 0.54);
// }
// //outiline
// :host::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
//     color: rgba(255, 255, 255, 0.12);
// }
// :host::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-thick {
//     color: rgba(255, 255, 255, 0.87);
// }
//
// :host::ng-deep .howaySeriveMethodSelect .mat-form-field-infix {
//     border-top: 0px;
//     padding: 20px 0px 15px 0px;
// }
// :host::ng-deep .ngx-material-timepicker-toggle svg{
//   width: 17px;
//   fill: rgba(255, 255, 255, 0.54)
// }
//
//
// :host::ng-deep .howaySeriveMethodSelectGiftWrap .mat-form-field-infix {
//     border-top: 0px;
//     padding: 20px 0px 15px 0px;
// }
//
// :host::ng-deep .howaySeriveMethodSelectGiftWrap .mat-form-field-wrapper {
// 		margin: 0px !important;
//     padding: 5px 0px !important;
// }
// :host::ng-deep .mat-radio-button{
// 	margin-left: 16px;
// }
// :host::ng-deep .mat-radio-button .mat-radio-outer-circle{
//   border-color: white;
// }
:host::ng-deep .mat-focused .mat-form-field-label{ color: #000000 !important; }
:host::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple{ background: #000000 !important; }


@media only screen and (max-width: 500px) {

.card-payment{
  margin-top: 35px;
  width: 100%;
  height: 250px;
  background-color: white;
}

.payment-img{
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  height: 120px;
  // margin: 15px auto auto auto;
}

.normal-text{
  text-align: center;
  font-size: 16px;
  margin-top: -20px;
  margin-left: 51px;
}

.radio-style{
  width:25px;
  height:25px;
}
.not-visilble{
  display: none;
}

.cart-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  max-height: 200px;
}

.show-big{
  display: none;
}


}

@media only screen and (min-width: 500px) {

  .card-payment{
    margin-top: 35px;
    width: 100%;
    height: 250px;
    background-color: white;
  }

  .payment-img{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    height: 120px;
    // margin: 15px auto auto auto;
  }

  .normal-text{

    text-align: center;
    font-size: 18px;
    margin-top: -20px;
    margin-left: 51px;
  }

  .radio-style{
    width:25px;
    height:25px;
  }
  .not-visilble{
    display: none;
  }


  .cart-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    max-height: 200px;
  }

  .show-big{
    display: none;
  }



}

@media only screen and (min-width: 600px) {

  .card-payment{
    margin-top: 35px;
    width: 100%;
    height: 250px;
    background-color: white;
  }

  .payment-img{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    height: 120px;
    // margin: 15px auto auto auto;
  }

  .normal-text{
    text-align: center;
    font-size: 24px;
    margin-top: -20px;
    margin-left: 51px;
  }


.radio-style{
  width:25px;
  height:25px;
}

.not-visilble{
  display: block;
}

.cart-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  max-height: 250px;
}

.show-big{
  display: none;
}



}


@media only screen and (min-width: 768px) {

  .card-payment{
    margin-top: 35px;
    width: 100%;
    height: 250px;
    background-color: white;
  }

  .payment-img{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    height: 120px;
    // margin: 15px auto auto auto;
  }

  .normal-text{
    text-align: center;
    font-size: 24px;
    margin-top: -20px;
    margin-left: 51px;
  }

.radio-style{
  width:25px;
  height:25px;
}
.not-visilble{
  display: block;
}


.cart-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  max-height: 250px;
}

.show-big{
  display: block;
}

.show-small{
  display: none;
}



}

@media only screen and (min-width: 992px) {

  .card-payment{
    margin-top: 35px;
    width: 100%;
    height: 250px;
    background-color: white;
  }

  .payment-img{
    margin-top: -30px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 250px;
    margin-left: 30px;
  }

  .normal-text{
    text-align: center;
    font-size: 24px;
    margin-top: -20px;
    margin-left: 51px;
  }


.radio-style{
  width:25px;
  height:25px;
}
.not-visilble{
  display: block;
}


.cart-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 250px;
  max-height: 250px;
}

.show-big{
  display: block;
}

.show-small{
  display: none;
}


}


@media only screen and (min-width: 500px) {
  .header-size{
    margin-top: -13px;
    text-align: center;
    font-size:  16px;
    font-weight: bold;
  }

  .web-size{
    display: none;
  }
}


@media only screen and (max-width: 500px) {
  .header-size{
    margin-top: -15px;
    text-align: center;
    font-size:  16px;
    font-weight: bold;
  }
  .web-size{
    display: none;
  }
}


@media only screen and (min-width: 600px) {

  .header-size{
    margin-top: -15px;
    text-align: center;
    font-size:  22px;
    font-weight: bold;
  }
  .web-size{
    display: block;
  }

  .small-size{
    display: none;
  }
}

@media only screen and (min-width: 768px) {

  .header-size{
    text-align: center;
    margin-top: -15px;
    font-size: 18px;
    font-weight: bold;
  }

  .web-size{
    display: block;
  }

  .small-size{
    display: none;
  }

}

@media only screen and (min-width: 992px) {

  .header-size{
    margin-top: -19px;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
  }

  .web-size{
    display: block;
  }

  .small-size{
    display: none;
  }

}

@media only screen and (min-width: 500px) {
  .payment-method-name{
    margin-top: -13px;
    text-align: center;
    font-size:  15px;
    font-weight: bold;
  }
}


@media only screen and (max-width: 500px) {
  .payment-method-name{
    margin-top: -15px;
    text-align: center;
    font-size:  15px;
    font-weight: bold;
  }
}


@media only screen and (max-width: 600px) {
  .payment-method-name{
    margin-top: -15px;
    text-align: center;
    font-size:  16px;
    font-weight: bold;
  }
}

@media only screen and (min-width: 600px) {

  .payment-method-name{
    margin-top: -15px;
    text-align: center;
    font-size:  18;
    font-weight: bold;
  }
}

@media only screen and (min-width: 768px) {

  .payment-method-name{
    text-align: center;
    margin-top: -15px;
    font-size: 18px;
    font-weight: bold;
  }

}

@media only screen and (min-width: 992px) {

  .payment-method-name{
    margin-top: -19px;
    text-align: center;
    font-size: 24;
    font-weight: bold;
  }

}




// /* headlines with lines */

@media only screen and (max-width: 600px) {
  .header-title{
    font-size: 14px;
    letter-spacing: .1em;
    color: #333;
    font-weight: 600;
  }
  .image-success{
    object-fit: cover;
    width: 100%;
    max-height: 200px;
  }

  .btn-size-custom{
    margin-top: 10px;
    width: 100%;
  }
}
@media only screen and (min-width: 600px) {
  .header-title{
    font-size: 18px;
    letter-spacing: .1em;
    color: #333;
    font-weight: 600;
  }

  .image-success{
    object-fit: cover;
    width: 100%;
    max-height: 200px;
  }
  .btn-size-custom{
    margin-top: 10px;
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  .header-title{
    font-size: 24px;
    letter-spacing: .1em;
    color: #333;
    font-weight: 600;
  }
  .image-success{
    object-fit: cover;
    width: 100%;
    max-height: 150px;
  }
  .btn-size-custom{
    width: 25%;
  }
}
@media (min-width: 992px) {
  .header-title{
    font-size: 24px;
    letter-spacing: .1em;
    color: #333;
    font-weight: 600;
  }
  .image-success{
    object-fit: cover;
    width: 100%;
    max-height: 150px;
  }
  .label-end{
     display: flex;
     justify-content: flex-end;
   }
  .btn-size-custom{
    width: 25%;
  }
 }
  .decorated{
    overflow: hidden;
    text-align: center;
  }
  .decorated > span{
  position: relative;
  display: inline-block;
  }
  .decorated > span:before, .decorated > span:after{
  content: '';
  position: absolute;
  top: 50%;
  border-bottom: 1px solid #333;
  width: 90vw;
  margin: 0 20px;
  }
  .decorated > span:before{
  right: 100%;
  }
  .decorated > span:after{
  left: 100%;
  }

  // newly added
  .btn-color{
    background-color: #009688;
    color: #ffffff;
  }

  .courier-img {
    height: 60px;
    width: 180px;
  }
  .courier-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    overflow: hidden;
  }
