<div class="mb-5">
  <!-- /end -->
  <div class="decorated mb-5">
    <span class="header-title">CHECKOUT</span>
  </div>
  <div class="row">
    <!-- CART ITEMS -->
    <div class="col-md-6 col-lg-6 order-md-2 order-lg-2">
      <div class="mb-4">
        <h5><i class="fa fa-shopping-cart" aria-hidden="true"></i> ORDER DETAILS</h5>
        <hr>
      </div>
      <div class="form-group pc-view-0">
        <ng-container *ngFor="let itm of items; let i = index">
         <div class="row">
           <div class="col-md-6 col-lg-4 col-sm-6 col-6">
              <img [src]="itm.item.images[0].file" class="image-success" alt="...">
           </div>
           <div class="col-md-6 col-lg-8 col-sm-6 col-6">
             <h6 class="text-break text-capitalize">{{itm.item.name}}</h6>
             <br>
              <p><strong class="mr-2">Price:</strong>  <span class="mr-2">&#8369;</span>{{ itm.item.price | number : '1.2-2' }} x {{itm.qty}}</p>
              <p><strong class="mr-2">Subtotal:</strong>
                <span class="mr-2">&#8369;</span>{{ itm.item.price  * itm.qty | number : '1.2-2' }}</p>
           </div>
         </div>
           <hr>
        </ng-container>
        <div class="row mb-2">
          <div class="col-md-4 col-lg-4 col-sm-6 col-6">
            <h6 >Shipping Fee:</h6>
           </div>
           <div class="col-md-8 col-lg-8 col-sm-6 col-6">
            <h6> &#8369; {{ shippingFee }}</h6>
            <span class="text-danger">Shipping fee is not included in total price and will be shouldered by the buyer. </span>
           </div>
        </div>
        <div class="row mb-2">
          <div class="col-md-4 col-lg-4 col-sm-6 col-6">
            <h6>Total:</h6>
          </div>
          <div  class="col-md-8 col-lg-8 col-sm-6 col-6">
            <span class="mr-2">&#8369;</span>{{total + total_package_shippingfee | number : '1.2-2'}}
          </div>
        </div>
      </div>
      <div class="mb-4 border-dark">
       <a [routerLink]="['/']"><h6 align="end">{{ '<' }} Continue Shopping</h6></a>
      </div>
    </div>
    <!-- / CART ITEMS -->

    <div class="col-md-6 col-lg-6 order-md-1 order-lg-1">
      <!-- SERVICE METHOD START -->
      <div class="row form-group">
        <div class="col-md-8 col-lg-9 col-6 col-sm-6">
          <div class="col-form-label">
            <h5 class="">
              <i class="fa fa-truck fa-flip-horizontal" aria-hidden="true"></i>
              SERVICE METHOD
            </h5>
          </div>
        </div>
        <div class="col-md-4 col-lg-3 col-6 col-sm-6">
          <div align="right">
            <button mat-stroked-button class="btn btn-color btn-block btn-sm" (click)="previousPage()" [routerLink]="['./information-update']">Edit/Change</button>
          </div>
        </div>
      </div>
      <hr style="margin-top: 14px;">
      <div class="row form-group">
        <div class="col-md-12 col-lg-12">
          <div class="row px-3">
            <ng-container *ngIf="this.deliveryOpts.service_method === 'delivery'">
              <div class="col-md-12 px-0">
                  <h6 class="mr-2">Delivery:
                    <span class="text-danger">Shipping fee is not included in total price and will be shouldered by the buyer.</span>
                  </h6>
              </div>
              <div class="col-md-12 px-0">
                <h6>Delivery Service:</h6>
             </div>
             <div class="col-12 col-sm-12 col-md-12 col-lg-12 px-0">
              <div class="courier-img d-block">
                <img alt="Mr Speedy" src="../../../assets/images/mrspeedylogo.png">
              </div>
            </div>
            </ng-container>
            <ng-container *ngIf="this.deliveryOpts.service_method === 'pickup'">
              <div class="col-md-12 px-0">
                <h5>
                <strong>Pick up at store</strong>
                </h5>
              </div>
              <div class="col-md-12 mt-2 px-0">
                <h6>Pickup Date: {{this.deliveryOpts.pickup_date | date: 'MMMM dd, yyyy'}}</h6>
                <h6>Pickup Time: {{this.deliveryOpts.pickup_time}}</h6>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
      <!-- / SERVICE METHOD END -->
      <!-- CUSTOMER DISPLAY INFORMATION START -->
      <div class="row form-group">
        <div class="col-md-8 col-lg-9 col-6 col-sm-6">
          <div class="col-form-label">
            <h5 class="">
              <i class="fa fa-user" aria-hidden="true"></i>
              CUSTOMER INFORMATION
            </h5>
          </div>
        </div>
        <div class="col-md-4 col-lg-3 col-6 col-sm-6">
          <div align="right">
            <button mat-stroked-button class="btn btn-block btn-color btn-sm"  (click)="previousPage()">{{ !userService.hasCurrentUser() ?  'Edit/Change' : 'View'}} </button>
          </div>
        </div>
      </div>
      <hr>
      <div class="d-block">
        <div class="row form-group">
          <div class="col-12">
            <label class="col-form-label h5" for="">Customer Name</label>
          </div>
          <div class="col-12">
            <label class="col-form-label" for="">
              {{infocustom?.firstname}} {{infocustom?.middlename}} {{infocustom?.surename}}
            </label>
          </div>
        </div>
       <div *ngIf="infocustom?.dob">
        <div class="row form-group">
          <div class="col-12">
            <label class="col-form-label h5" for="">Date of Birth</label>
          </div>
          <div class="col-12">
            <label class="col-form-label" for="">
             {{infocustom?.dob | date: 'MMMM dd, yyyy'}}
            </label>
          </div>
        </div>
       </div>
        <div class="row form-group">
          <div class="col-12">
            <label class="col-form-label h5" for="">Email</label>
          </div>
          <div class="col-12">
            <label class="col-form-label" for="">{{infocustom?.email_address}}</label>
          </div>
        </div>
        <div *ngIf="infocustom?.gender == 0 || infocustom?.gender == 'None'; else elseblock">
      </div>
      <ng-template #elseBlock>
        <div class="row form-group">
          <div class="col-12">
            <label class="col-form-label h5" for="">Gender</label>
          </div>
          <div class="col-12">
            <label *ngIf="infocustom?.gender == 1 " class="col-form-label" for="">
              Male
            </label>
            <label *ngIf="infocustom?.gender == 2 " class="col-form-label" for="">
              Female
            </label>
            <label *ngIf="infocustom?.gender == 3 " class="col-form-label" for="">
              N/A
            </label>
              <!-- {{ (infocustom?.gender == 1 ) ? 'Male' ? (infocustom?.gender == 2 ) ? 'Female' ? (infocustom?.gender == 3 ) ? 'N/A'   }}   -->
          <!-- // {{ (infocustom?.gender && infocustom?.gender != "None" ) ? (infocustom?.gender == 3) ? 'N/A' : (infocustom?.gender == 1) ? 'Male' : 'Female' : 'N/A'  }} -->

          </div>
        </div>
      </ng-template>
        <div class="row form-group">
          <div class="col-12">
            <label class="col-form-label h5" for="">Contact Number</label>
          </div>
          <div class="col-12">
            <label class="col-form-label" for="">
              <div *ngIf="showdata">
                +63{{infocustom?.contact_no}}
              </div>
              <div *ngIf="!showdata">
                {{infocustom?.contact_no}}
            </div>
            </label>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-12">
            <label class="col-form-label h5" for="">Address</label>
          </div>
          <div class="col-12">
            <label class="col-form-label" for="">
              {{infocustom?.address | titlecase}}
              <!-- {{infocustom?.address | titlecase}} {{infocustom?.barangay | titlecase}} {{infocustom?.city | titlecase}} {{infocustom?.province | titlecase}} {{infocustom?.region | uppercaseRoman}} -->
            </label>
          </div>
        </div>
        <div class="row form-group" >
          <div class="col-12">
            <label class="col-form-label h5" for="">Address Remarks <small>( Unit no./Bldg. no./Floor no./Village/Blk # Lt #/Street/Special Instructions )</small>:</label>
          </div>
          <div class="col-12">
            <label class="col-form-label" for="">{{infocustom?.remarks}}</label>
          </div>
        </div>
      </div>
      <!-- / CUSTOMER DISPLAY INFORMATION END -->
      <!-- CUSTOMER NSA DISPLAY INFORMATION START -->
     <div *ngIf="noData">
       <div class="row form-group mb-0 align-items-end">
         <div class="col-md-12 col-lg-12 col-sm-12 col-12 mt-5">
           <div class="d-block">
             <h5 class="pull-left mb-0">
               <i class="fa fa-user" aria-hidden="true"></i>
               RECEIVER INFORMATION
             </h5>
             <button mat-stroked-button class="btn btn-color btn-block w-25 pull-right py-0"  (click)="previousPage()">Edit/Change</button>
           </div>
         </div>
       </div>
       <hr>
       <div>
         <div class="row form-group">
           <div class="col-12">
             <label class="col-form-label h5" for="">Firstname</label>
           </div>
           <div class="col-12">
             <label class="col-form-label" for="">{{noData?.firstname}}</label>
           </div>
          </div>
          <div class="row form-group">
           <div class="col-12">
             <label class="col-form-label h5" for="">Middlename</label>
           </div>
           <div class="col-12">
             <label class="col-form-label" for="">{{noData?.middlename}}</label>
           </div>
          </div>
          <div class="row form-group">
           <div class="col-12">
             <label class="col-form-label h5" for="">Lastname</label>
           </div>
           <div class="col-12">
             <label class="col-form-label" for="">{{noData?.surename}}</label>
           </div>
          </div>
          <div class="row form-group">
           <div class="col-12">
             <label class="col-form-label h5" for="">Contact Number</label>
           </div>
           <div class="col-12">
             <label class="col-form-label" for="">+63{{noData?.contact_no}}</label>
           </div>
          </div>
          <div class="row form-group">
           <div class="col-12">
             <label class="col-form-label h5" for="">Address</label>
           </div>
           <div class="col-12">
             <label class="col-form-label" for="">
              {{noData?.address | titlecase}}
              <!-- {{noData?.address | titlecase}} {{noData?.barangay | titlecase}} {{noData?.city | titlecase}} {{noData?.province | titlecase}} {{noData?.region | uppercaseRoman}} -->
             </label>
           </div>
          </div>
          <div class="row form-group" >
           <div class="col-12">
             <label class="col-form-label h5" for="">Remarks</label>
           </div>
           <div class="col-12">
             <label class="col-form-label" for="">{{noData?.remarks}}</label>
           </div>
          </div>
        </div>
     </div>
     <!-- / CUSTOMER NSA DISPLAY INFORMATION START -->
     <!-- PAYMENT METHOD START -->
     <div class="row form-group mb-0 align-items-end">
       <div class="col-md-12 col-lg-12 col-sm-12 col-12 mt-5">
         <h5 class="text-dark">
           <i class="fa fa-credit-card" aria-hidden="true"></i>
           PAYMENT METHOD
         </h5>
       </div>
     </div>
     <div class="container px-0">
       <div class="row">
         <ng-container *ngFor="let payment of paymentMenthodOption; let i = index">
           <ng-container *ngIf="payment.status == 1">
             <div class="col-3 col-sm-3 col-md-3 card border-0">
               <div class="embed-responsive embed-responsive-16by9 mr-auto px-0" style="max-width: 200px;">
                  <img alt="Card image cap" class="card-img-top embed-responsive-item" src="{{payment.img_pm[0].file}}" />
               </div>
               <div class="card-block">
                 <div class="payment-method-name text-center mt-1 mr-auto" style="max-width: 200px;">{{payment.name}}</div>
               </div>
             </div>
           </ng-container>
         </ng-container>
       </div>
       <div class="row form-group mt-5">
         <div class="col-12 align-self-center">
           <label for="" class="col-form-label h5">Payment Method</label>
         </div>
         <div class="col-12">
           <mat-form-field class="my-form-field col-md-12 px-0">
             <mat-select [(ngModel)]="selPayment" required placeholder="Select Payment Method" (selectionChange)="selectPaymentOption()">
               <ng-container *ngFor="let payment of paymentMenthodOption; let i = index">
                 <mat-option *ngIf="payment.status == 1" [value]="payment.name" matTooltip="{{payment.name}}">{{payment.name}}</mat-option>
               </ng-container>
             </mat-select>
           </mat-form-field>
         </div>
       </div>
     </div>
     <!-- / PAYMENT METHOD END -->
     <!-- TERMS AND CONDITION START -->
     <div class="container mt-5">
       <div class="row">
         <div class="col-md-12 px-0">
           <h5><i class="fa fa-gavel fa-flip-horizontal" aria-hidden="true"></i> TERMS AND CONDITION</h5>
           <hr class="mt-1 mb-3">
         </div>
         <div class="col-md-12 px-0">
           <div style="overflow: scroll; height:310px">
             <p style=" text-align: justify;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium quo optio doloremque deserunt adipisci, officia a assumenda libero praesentium nostrum ratione distinctio voluptates placeat nemo illo suscipit quas omnis eius!
               Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium quo optio doloremque deserunt adipisci, officia a assumenda libero praesentium nostrum ratione distinctio voluptates placeat nemo illo suscipit quas omnis eius!
               Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium quo optio doloremque deserunt adipisci, officia a assumenda libero praesentium nostrum ratione distinctio voluptates placeat nemo illo suscipit quas omnis eius!
               Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium quo optio doloremque deserunt adipisci, officia a assumenda libero praesentium nostrum ratione distinctio voluptates placeat nemo illo suscipit quas omnis eius!
               Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium quo optio doloremque deserunt adipisci, officia a assumenda libero praesentium nostrum ratione distinctio voluptates placeat nemo illo suscipit quas omnis eius!
               Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium quo optio doloremque deserunt adipisci, officia a assumenda libero praesentium nostrum ratione distinctio voluptates placeat nemo illo suscipit quas omnis eius!
               Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium quo optio doloremque deserunt adipisci, officia a assumenda libero praesentium nostrum ratione distinctio voluptates placeat nemo illo suscipit quas omnis eius!
               Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium quo optio doloremque deserunt adipisci, officia a assumenda libero praesentium nostrum ratione distinctio voluptates placeat nemo illo suscipit quas omnis eius!
               Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium quo optio doloremque deserunt adipisci, officia a assumenda libero praesentium nostrum ratione distinctio voluptates placeat nemo illo suscipit quas omnis eius!
               Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium quo optio doloremque deserunt adipisci, officia a assumenda libero praesentium nostrum ratione distinctio voluptates placeat nemo illo suscipit quas omnis eius!
               Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium quo optio doloremque deserunt adipisci, officia a assumenda libero praesentium nostrum ratione distinctio voluptates placeat nemo illo suscipit quas omnis eius!
               Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium quo optio doloremque deserunt adipisci, officia a assumenda libero praesentium nostrum ratione distinctio voluptates placeat nemo illo suscipit quas omnis eius!
               Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium quo optio doloremque deserunt adipisci, officia a assumenda libero praesentium nostrum ratione distinctio voluptates placeat nemo illo suscipit quas omnis eius!
               Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium quo optio doloremque deserunt adipisci, officia a assumenda libero praesentium nostrum ratione distinctio voluptates placeat nemo illo suscipit quas omnis eius!
             </p>
           </div>
         </div>
       </div>
     </div>

     <div class="col-md-12 col-sm-12 col-12 col-lg-12 mt-2 px-0">
       <mat-checkbox class="text-normal" style="margin: 150px 0 20px auto;" [(ngModel)]="checked">
         <strong class="text-danger">I have read the Terms & Condition</strong>
       </mat-checkbox>
     </div>
     <!-- / TERMS AND CONDITION END -->
     <!-- PROCEED AND BACK BUTTON -->
     <div class="row mt-5 form-group">
       <div class="col-12 col-sm-12 col-md-8 col-lg-8">
         <div>
           <button mat-stroked-button class="btn btn-color btn-block" (click)="confirmOrder()" [disabled]="checkoutNotAllowed">
             ORDER NOW
           </button>
         </div>
       </div>
     </div>
     <div class="row mb-5">
       <div class="col-12 col-sm-12 col-md-8 col-lg-8">
         <button mat-stroked-button class="btn btn-color btn-block mb-3" (click)="previousPage()">
           BACK
         </button>
       </div>
     </div>
     <!-- / PROCEED AND BACK BUTTON -->
    </div>
    <!-- / FIRST COLUMN -->
  </div>
  <!-- / ROW -->
</div>
<!-- / CONTAINER -->
