<div class="mb-5 ">
  <div class="decorated mb-5">
    <span class="header-title">FORGOT PASSWORD</span>
  </div>
  <!--  -->
  <div class="row">
    <div class="col-md-6 col-lg-6 col-sm-12 col-12">
      <div  style="word-wrap: break-word;" [ngClass]="{'d-block' : hasErrorPassword, 'd-none' : !hasErrorPassword}">
        <p>	We could not find the provided  email  on our record. Please provide a different email address.</p>
      </div>
      <div [ngClass]="{'d-block' : successPrompt , 'd-none' : !successPrompt }" >
        <p>
          <strong>Reset link </strong>
          successfully sent to your email address: <strong>{{email_address_value}}</strong>
          <span class="d-block"><strong>Thank you!</strong></span>
        </p>
      </div>
    </div>
    <div class="col-md-4 col-lg-4"></div>
  </div>
  <div [ngClass]="{'d-block' : hasErrorPassword, 'd-none' : !hasErrorPassword}" >
    <div class="row form-group">
      <div class="col-md-6 col-lg-6 col-12 col-sm-12">
        <div class="row">
          <div class="col-md-6 col-lg-6 col-sm-12 col-12">
            <button [routerLink]="['/user/signin']" routerLinkActive="router-link-active" mat-stroked-button  class="btn btn-color btn-md btn-block">
              SIGN IN
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!--  -->
  <div *ngIf="!showSuccess">
    <form [formGroup]="signinForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-md-6 col-lg-6">
          <div class="row form-group">
            <div class="col-md-12 col-lg-12">
                 <label for="" class="col-form-label">Email</label>
                  <input #email type="text"  (input)="clearAlertMessage()"  class="form-control"  formControlName="email_address"
                  [ngClass]="{'is-invalid': signinFormControl.email_address.touched && signinFormControl.email_address.invalid }" >
                  <span class="text-danger span-error"
                  *ngIf="(signinFormControl.email_address.touched || submitted) && signinFormControl.email_address.errors?.required && !okFlg">
                  Email is &nbsp;<strong> required</strong>
                  </span>
                  <span class="text-danger span-error"
                  *ngIf="(signinFormControl.email_address.touched || submitted) && signinFormControl.email_address.errors?.email">
                  Invalid email&nbsp;<strong> format</strong>
                  </span>
            </div>
          </div>
          <div class="row">
              <div class="col-md-6 col-lg-6">
                <button type="submit" mat-stroked-button class="btn btn-color btn-md btn-block">
                  SUBMIT
                </button>
              </div>
          </div>
       </div>
     </div>

 </form>
  </div>

</div>

