:host::ng-deep .mat-select-underline{
  border-color:black;
}
:host::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: dimgray;
}
:host::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color:  dimgray;
}
:host::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label {
    color: dimgray;
}
// newly added /////////////////////////
.contact-content{
  background-color: #eff2f4;
  height: auto;
  color: #607d8b;
  font-size: 16px;
  line-height: 1.6;
  padding: 10px 10px 10px 10px;
  text-align: justify;
}

.contact-content a:link{
  color: #607d8b;
  text-decoration: none;
}
.contact-content a{
  color: #607d8b;
  text-decoration: none;
}
.contact-content a:hover{
  color: #607d8b;
}

.header-style{
  text-align: center;
  margin-bottom: 30px;
  margin-top: 30px;
  font-size: 20px;
  color: #333;
  line-height: 1.5;
}

a:link{
  color: #333;
  text-decoration: none;
}
a{
  color: #333;
  text-decoration: none;
}
a:hover{
  color: #333;
}


.forgot-content{
  text-decoration: underline;
  color: #4183c4;
  cursor: pointer;
}

.btn-color{
  color: #333;
}




@media only screen and (max-width: 600px) {
  .header-title{
    font-size: 14px;
    letter-spacing: .1em;
    color: #333;
    font-weight: 600;
  }

}
@media only screen and (min-width: 600px) {
  .header-title{
    font-size: 18px;
    letter-spacing: .1em;
    color: #333;
    font-weight: 600;
  }
}
@media only screen and (min-width: 768px) {
  .header-title{
    font-size: 24px;
    letter-spacing: .1em;
    color: #333;
    font-weight: 600;
  }
}
@media (min-width: 992px) {
  .header-title{
    font-size: 24px;
    letter-spacing: .1em;
    color: #333;
    font-weight: 600;
  }
  .label-end{
     display: flex;
     justify-content: flex-end;
   }
 }

.span-error{
  display: flex;
  justify-content: flex-end;
  font-size: 14px;
}

//

// /* headlines with lines */
.decorated{
  overflow: hidden;
  text-align: center;
  }
  .decorated > span{
  position: relative;
  display: inline-block;
  }
  .decorated > span:before, .decorated > span:after{
  content: '';
  position: absolute;
  top: 50%;
  border-bottom: 1px solid #333;
  width: 90vw;
  margin: 0 20px;
  }
  .decorated > span:before{
  right: 100%;
  }
  .decorated > span:after{
  left: 100%;
  }

  .btn-color{
    background-color: #009688;
    color: #ffffff;
  }
