<!-- <div class="result">
  <div mat-dialog-content>
    <p>No data found!</p>
  </div>

  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Ok</button>
  </div>
</div> -->
<mat-dialog-content class="mat-typography font-14 mx-0 px-0 pt-0 pb-3 text-center" style="height: 100% !important; min-width:200px; max-width: 300px !important">
  No result found!
</mat-dialog-content>
<mat-dialog-actions style="padding: 0px 0px 26px 0px;">
	<div class="container-fluid">
		<div class="row px-0">
			<div class="col-md-12 col-12 col-lg-12 col-sm-12 px-0" align="center">
        <!-- <button mat-button [mat-dialog-close]="false">Close</button> -->
        <button mat-button mat-dialog-close class="w-100">Close</button>
			</div>
		</div>
	</div>
</mat-dialog-actions>
