<div class="container-flex">
  <div class=" pt-4 mx-3">

    <div class="mb-4"  style="margin-left: 14px;">
      <img style="margin-top: -4px;" class="mr-2"  src="https://img.icons8.com/material/24/000000/sorting-answers--v1.png"/>
      <span>Category Management</span>
     </div>

    <!-- <div class="col-md-12">
      <mat-icon class="align-middle" style="width: 50px; height: 50px;font-size: 50px;">filter_list</mat-icon>
      <span class="align-middle"> {{ titlebranch | uppercase}}</span>
    </div> -->
    <!-- list control -->
    <div class="col-md-12">
      <button class="list-opt list-btn-opt-view" (click)="additem()" matTooltip="">
          Add category
      </button>
    </div>
    <!-- table starts -->

    <div class="col-md-12 list-div pr-0" [ngStyle]="{'height': contentHeight + 'px'}">
      <!-- style="max-height: 450px;" -->
      <table mat-table [dataSource]="dataSource" matSort class="w-100">
        <!-- class="mat-elevation-z8" -->

        <ng-container matColumnDef="id">
          <th class=" pl-2" math-header-cell *matHeaderCellDef>#</th>
          <td mat-cell class="list-item pl-2" *matCellDef="let row; let i=index">{{i+1}}</td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th class="" math-header-cell *matHeaderCellDef mat-sort-header>Name</th>
          <td mat-cell class="list-item" *matCellDef="let row">{{row.name}}</td>
        </ng-container>

        <ng-container matColumnDef="description">
          <th class="" math-header-cell *matHeaderCellDef mat-sort-header>Description</th>
          <td mat-cell class="list-item" *matCellDef="let row">{{row.description}}</td>
        </ng-container>


        <ng-container matColumnDef="viewAction">
          <th class=" text-center" math-header-cell *matHeaderCellDef>Controls</th>
          <td mat-cell *matCellDef="let row" class="text-center pr-0">
            <!-- <button class="list-opt list-btn-opt-delete" (click)="delete(row.id)" matTooltip="">
              Delete
            </button> -->
            <button class="list-opt list-btn-opt-edit" (click)="edit(row)" matTooltip="">
              Edit
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <!-- <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row> -->
      </table>
    </div>


    <!-- <div class="col-md-12 list-header">
      <div matSort style="display: flex; vertical-align: middle; line-height: 40px;">
        <div style="padding-left: 25px; outline: none; width: 5%;">#</div>
        <div mat-sort-header="item" style="padding-left: 25px; outline: none; width: 34.8%">Name</div>
        <div mat-sort-header="description" style="padding-left: 25px; outline: none; width: 29.5%">Description</div>
        <div style="flex: 1 1 auto"></div>
        <mat-spinner *ngIf="search_loading" [diameter]="20" style="margin-top: 10px;"></mat-spinner>
      </div>
    </div> -->
    <!-- list div content -->
    <!-- <div class="col-md-12 list-div" style="max-height: 450px;">
      <mat-table #table [dataSource]="dataSource">

        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>#</mat-header-cell>
          <mat-cell class="list-item" style="flex: 0.1" *matCellDef="let row; let i=index">{{i+1}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
          <mat-cell class="list-item" style="flex: 0.48" *matCellDef="let row">{{row.name}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="description">
          <mat-cell class="list-item" style="flex: 0.48" *matCellDef="let row">{{row.description}}</mat-cell>
        </ng-container>


        <ng-container matColumnDef="viewAction">
          <mat-header-cell *matHeaderCellDef> </mat-header-cell>
          <mat-cell *matCellDef="let row" style="flex: 0.18">
            <button class="list-opt list-btn-opt-delete" (click)="delete(row.id)" matTooltip="">
              Delete
            </button>
            <button class="list-opt list-btn-opt-edit" (click)="edit(row)" matTooltip="">
              Edit
            </button>
          </mat-cell>
        </ng-container>

        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div> -->
  </div>
</div>

<!-- <div class="below-toolbar"  style="padding: 10px; width: 1100px; margin: 100px auto auto auto;">
  <div class="container-flex">
    <div class="row"> -->
      <!-- <button class="button-back" (click)="backClicked()">
        <mat-icon>arrow_back_ios</mat-icon><div style="font-size:13px;">Back</div>
      </button> -->
    <!-- </div>
  </div>
</div> -->
