<div class="container-flex">
  <div class="row pt-4 mx-3">
    <div class="col-md-12">
      <!-- <mat-icon class="align-middle" style="width: 50px; height: 50px;font-size: 50px;">compare_arrows</mat-icon> -->
      <h3 class="align-middle">Package Settings</h3>
			<hr>
    </div>
		<div class="col-md-12">
			<button class="list-opt list-btn-opt-view" (click)="openDialog('add', [])" matTooltip="">
					Add Package Combination
			</button>
		</div>

    <div class="col-md-12 list-div pr-0" [ngStyle]="{'height': contentHeight + 'px'}">
      <!-- style="max-height: 450px;" -->
      <table mat-table [dataSource]="dataSource" matSort class="w-100">
        <!-- class="mat-elevation-z8" -->
        <!-- <ng-container matColumnDef="id">
          <th class="text-muted pl-3" math-header-cell *matHeaderCellDef>#</th>
          <td mat-cell class="list-item pl-2" *matCellDef="let row; let i=index">
            <ng-container *ngIf="row.service_type === 1">
              <i *ngIf="row.shippingslip_status == 1" class="fa fa-truck text-danger align-middle" style="font-size: 18px;" aria-hidden="true" matTooltip="Okay for Shipping slip" matTooltipPosition="above"></i>
              <i *ngIf="row.shippingslip_status == 0" class="fa fa-truck text-muted align-middle" style="font-size: 18px;" aria-hidden="true" matTooltip="N/A Shipping slip" matTooltipPosition="above"></i>
              <mat-checkbox [disabled]="(row.shippingslip_status == 1) ? 'false' : 'true'" [disableRipple]="true" class="pl-1" (change)="addToPrintSlip($event, row, i)">{{i+1}}</mat-checkbox>
            </ng-container>
          </td>
        </ng-container> -->

        <ng-container matColumnDef="package_no">
          <th class="text-muted" math-header-cell *matHeaderCellDef mat-sort-header>Package SET #</th>
          <td mat-cell class="list-item text-info font-weight-bold" *matCellDef="let row">SET #{{row.package_no}}</td>
        </ng-container>

        <ng-container matColumnDef="itemtype_count">
          <th class="text-muted" math-header-cell *matHeaderCellDef mat-sort-header>Item Type Count</th>
          <td mat-cell class="list-item" *matCellDef="let row">{{row.itemtype_count}}</td>
        </ng-container>

        <ng-container matColumnDef="type">
          <th class="text-muted" math-header-cell *matHeaderCellDef mat-sort-header>Package Type</th>
          <td mat-cell class="list-item" *matCellDef="let row">{{row.type}}</td>
        </ng-container>


        <ng-container matColumnDef="viewAction">
          <th class="text-muted text-center" math-header-cell *matHeaderCellDef>Controls</th>
          <td mat-cell *matCellDef="let row" class="text-center pr-0">
            <!-- <button class="list-opt list-btn-opt-view" (click)="openView(row, 'view')" matTooltip=""> -->
            <button class="list-opt list-btn-opt-view" (click)="openDialog('view', row)" matTooltip="">
              View
            </button>
            <!-- <button class="list-opt list-btn-opt-edit" (click)="openView(row, 'update')" matTooltip="">
              Update
            </button> -->
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <!-- <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row> -->
      </table>
    </div>

	</div>
</div>
