<div mat-dialog-title class="border-bottom mb-3">
  <span class="text-dark h4">TRANSACTION DETAILS</span>
  <!-- <span class="text-muted mb-0">{{ details?.firstname | titlecase }} {{ details?.surename | titlecase }}'s Detail</span> -->
  <button class="lh-button-icon float-right" mat-icon-button [mat-dialog-close]="" style="top: -5px;right: -1px; width: 32px; height: 32px;">
    <mat-icon>close</mat-icon>
  </button>
</div>

<mat-dialog-content class="overflow-x-hidden text-dark mx-0 px-0" [ngStyle]="{'min-width': '600px'}">
<div class="container">
  <div *ngIf="option == 'return'" >
    <div class="row my-2">
      <div class="col-md-4 pl-0 ">
        <label>Reason:</label>
      </div>
      <div class="col-md-8 ">
        <span>{{details.type==0?'Lost':'Return and Exchange'}}</span>
      </div>
    </div>
    <!--  -->
    <!-- <div class="row my-2">
      <div class="col-md-4 pl-0 ">
        <label>Official Receipt No:</label>
      </div>
      <div class="col-md-8 ">
        <span>{{details.or_no}}</span>
      </div>
    </div> -->
    <!--  -->
    <div class="row my-2">
      <div class="col-md-4 pl-0 ">
        <label>Order Number:</label>
      </div>
      <div class="col-md-8 ">
        <span>{{details.order_record}}</span>
      </div>
    </div>
    <!--  -->
    <div class="row my-2">
      <div class="col-md-4 pl-0 ">
        <label>Customer Name</label>
      </div>
      <div class="col-md-8 ">
        <span>{{trimValue(details.fullname)}}</span>
      </div>
    </div>
    <!--  -->
    <div class="row my-2">
      <div class="col-md-4 pl-0 ">
        <label>Item Name:</label>
      </div>
      <div class="col-md-8 ">
        <span>{{details.item_name}}</span>
      </div>
    </div>
    <!--  -->
    <div class="row my-2">
      <div class="col-md-4 pl-0 ">
        <label>Item Quantity</label>
      </div>
      <div class="col-md-8 ">
        <span>{{details.quantity}}</span>
      </div>
    </div>
    <!--  -->
    <div class="row my-2">
      <div class="col-md-4 pl-0 ">
        <label>Remarks</label>
      </div>
      <div class="col-md-8 ">
        <span>{{details.remarks}}</span>
      </div>
    </div>
  </div>
  </div>
<!--  -->
</mat-dialog-content>
<!--
<div *ngIf="option == 'return'" class="container">
	<table>
	    <tr>
	      <td class=" pr-5 pl-5 border-right"><strong>Reason</strong></td>
	      <td class=" pl-5 pr-5 ">{{details.type==0?'Lost':'Return and Exchange'}}</td>
	    </tr>
	    <tr>
	      <td class=" pr-5 pl-5 border-right"><strong>Official Receipt No</strong></td>
	      <td class=" pl-5 pr-5 ">{{details.or_no}}</td>
	    </tr>
	    <tr>
	      <td class=" pr-5 pl-5 border-right"><strong>Trasaction No.</strong></td>
	      <td class=" pl-5 pr-5 ">{{details.order_record}}</td>
	    </tr>
	    <tr>
	      <td class=" pr-5 pl-5 border-right"><strong>Customer Name</strong></td>
	      <td class=" pl-5 pr-5 ">{{trimValue(details.fullname)}}</td>
	    </tr>
	    <tr>
	      <td class=" pr-5 pl-5 border-right"><strong>Item Name</strong></td>
	      <td class=" pl-5 pr-5 ">{{details.item_name}}</td>
	    </tr>
	    <tr>
	      <td class=" pr-5 pl-5 border-right"><strong>Item Quantity</strong></td>
	      <td class=" pl-5 pr-5 ">{{details.quantity}}</td>
	    </tr>
	    <tr>
	      <td class=" pr-5 pl-5 border-right"><strong>Remarks</strong></td>
	      <td class=" pl-5 pr-5 ">{{details.remarks}}</td>
	    </tr>
	</table>
</div> -->
