.text-12 {
	font-size: 12px;
}
.text-11 {
	font-size: 11px;
}
.text-10 {
	font-size: 10px !important;
}
.text-9 {
	font-size: 9px !important;
}
.text-8 {
	font-size: 8px !important;
	font-weight: bolder !important;
}
.text-bold-4d {
	font-size: 14px !important;
	font-weight: bold !important;
}
