<div class="container-fluid">
	<ng-container *ngFor="let data of reqList; let i = index;">
		<ng-container *ngFor="let package of data?.package_detail?.package; let j = index;">
			<div class="row">
				<ng-container *ngIf="data">
					<ng-container *ngFor="let dataCounter of [0,1,2]; let x = index;">
						<div class="col-md-4">
							<div class="row border border-secondary rounded">
								<div class="col-md-6 px-2 py-2 text-10">
									<span class="d-block">Ship From:</span>
									<span class="d-block">4DPocket Inc.</span>
									<span class="d-block">514 Halcon St., Mandaluyong City</span>
									<span class="d-block">8888-1000</span>
									<span class="d-block">info@4dpocket.com</span>
								</div>
								<div class="col-md-6 px-2 py-2">
									<!-- <img class="d-block mx-auto py-2" src="./assets/images/4dpocket_icon3.PNG" style="width: 70%; heigh: 80px" alt=""> -->
									<span class="d-block mx-auto pb-2 text-center">
										<ngx-barcode *ngFor="let bcValue of values('4DPOCKETINC2019 ' + data.order_no)" [bc-element-type]="elementType" [bc-value]="bcValue" [bc-value]="bcValue" [bc-format]="format" [bc-line-color]="lineColor" [bc-width]="width" [bc-height]="height" [bc-display-value]="displayValue" [bc-font-options]="fontOptions" [bc-text-align]="textAlign" [bc-text-position]="textPosition" [bc-text-margin]="textMargin" [bc-font-size]="fontSize" [bc-background]="background" [bc-margin]="margin" [bc-margin-top]="marginTop" [bc-margin-bottom]="marginBottom" [bc-margin-left]="marginLeft" [bc-margin-right]="marginRight"></ngx-barcode>
									</span>
								</div>
								<div class="col-md-12 text-10">
									<hr class="my-2 px-2 py-0 mx-0">
								</div>
								<div class="col-md-6 px-2 py-2 text-10">
									<span class="d-block text-bold-4d">TRACKING NUMBER</span>
									<span class="d-block text-bold-4d text-center">{{data.order_no}}</span>
									<img src="./assets/images/fragile.png" style="width: 100%; heigh: 100px" alt="">
									<span class="d-block">Order Date: 10/10/10</span>
									<span class="d-block">Ship Via: LBC</span>
									<span class="d-block">Payment Reference:</span>
									<span class="d-block">1234-5678-9bdo</span>
									<span class="d-block text-8">*** THANK YOU FOR YOUR BUSINESS ***</span>
								</div>
								<div class="col-md-6 px-2 py-2">
									<span class="d-block">Ship To:</span>
									<span class="text-10">
										<ng-container *ngIf="data.receiver_type == 1">
											<span class="d-block">{{data.customer.firstname + ' ' + data.customer.surename}}</span>
											<span class="d-block">{{data.customer.address}}</span>
											<span class="d-block">{{data.customer.city}}</span>
											<span class="d-block">{{data.customer.region}}</span>
											<span class="d-block">{{data.customer.contact_no}}</span>
											<span class="d-block">{{data.customer.email_address}}</span>
										</ng-container>
										<ng-container *ngIf="data.receiver_type == 2">
											<span class="d-block">{{data.receiver_name}}</span>
											<span class="d-block">{{data.address}}</span>
											<span class="d-block">{{data.city}}</span>
											<span class="d-block">{{data.region}}</span>
											<span class="d-block">{{data.receiver_contact}}</span>
											<span class="d-block">{{data.customer.email_address}}</span>
										</ng-container>
										<!-- <ng-container *ngFor="let order_item of data.order_items; let j = index;">
											<span class="d-block" [ngClass]="(j == 0) ? 'mt-3':'mt-1'">Item No: {{order_item.item_name}}</span>
											<span class="d-block">Quantity: {{order_item.quantity}} {{(order_item.quantity > 1) ? 'pc':'pcs'}}</span>
											<span class="d-block">Size: {{order_item.size}}</span>
											<span class="d-block">Weight: {{order_item.weight}}kgs</span>
										</ng-container> -->
										<ng-container *ngFor="let order_item of package.package_items; let j = index;">
											<span class="d-block" [ngClass]="(j == 0) ? 'mt-3':'mt-1'">Item No: {{order_item.item_detail.item_name}}</span>
											<span class="d-block">Quantity: {{order_item.itemqty_count}} {{(order_item.itemqty_count > 1) ? 'pc':'pcs'}}</span>
											<span class="d-block">Size: {{order_item.item_detail.size}}</span>
											<span class="d-block">Weight: {{order_item.item_detail.weight}}kgs</span>
										</ng-container>
									</span>
									<span class="d-block mx-auto pb-2 text-center mt-2">
										<ngx-barcode *ngFor="let bcValue of values(data.order_no)" [bc-element-type]="elementType" [bc-value]="bcValue" [bc-value]="bcValue" [bc-format]="format" [bc-line-color]="lineColor" [bc-width]="width_2nd" [bc-height]="height" [bc-display-value]="displayValue" [bc-font-options]="fontOptions" [bc-text-align]="textAlign" [bc-text-position]="textPosition_2nd" [bc-text-margin]="textMargin" [bc-font-size]="fontSize_2nd" [bc-background]="background" [bc-margin]="margin" [bc-margin-top]="marginTop" [bc-margin-bottom]="marginBottom" [bc-margin-left]="marginLeft" [bc-margin-right]="marginRight"></ngx-barcode>
									</span>
								</div>
							</div>
						</div>
					</ng-container>
				</ng-container>
			</div>
			<div class="pagebreak"> </div>
		</ng-container>
	</ng-container>
</div>
