
<div class="mb-5"  *ngIf="isUpdate">
  <div class="decorated mb-5">
    <span class="header-title">MANAGE PROFILE</span>
  </div>
  <router-outlet></router-outlet>
</div>

<div class="mb-5"  *ngIf="!isUpdate">
  <div class="decorated mb-5">
    <span class="header-title">CHECKOUT</span>
  </div>
</div>

<div *ngIf="!isUpdate">
 <!-- end -->
 <div class="row">
   <!-- CART ITEMS -->
   <div class="col-md-6 col-lg-6 order-md-2 order-lg-2">
     <div class="mb-4 border-dark">
       <h5><i class="fa fa-shopping-cart" aria-hidden="true"></i> ORDER DETAILS</h5>
       <hr>
     </div>
     <div class="form-group">
      <ng-container *ngFor="let itm of items; let i = index">
       <div class="row">
         <div class="col-md-6 col-lg-4 col-sm-6 col-6">
            <img [src]="itm.item.images[0].file" class="image-success" alt="...">
         </div>
         <div class="col-md-6 col-lg-8 col-sm-6 col-6">
           <h6 class="text-break">{{itm.item.name}}</h6>
           <br>
            <p><strong class="mr-2">Price:</strong> <span class="mr-2">&#8369;</span>{{ itm.item.price | number : '1.2-2' }} x {{itm.qty}}</p>
            <p><strong class="mr-2">Subtotal:</strong>
              <span class="mr-2">&#8369;</span>{{ itm.item.price  * itm.qty | number : '1.2-2' }}</p>
         </div>
       </div>
         <hr>
      </ng-container>
        <div class="row mb-2">
          <div class="col-md-6 col-lg-4 col-sm-6 col-6">
            <strong >Shipping Fee:</strong>
           </div>
           <div class="col-md-6 col-lg-8 col-sm-6 col-6">
            <span class="text-danger">Shipping fee is not included in total price and will be shouldered by the buyer. </span>
           </div>
        </div>
        <div class="row mb-2">
          <div class="col-md-6 col-lg-4 col-sm-6 col-6">
            <strong>Total:</strong>
          </div>
          <div  class="col-md-6 col-lg-8 col-sm-6 col-6">
            <span class="mr-2">&#8369;</span>{{total + total_package_shippingfee | number : '1.2-2'}}
          </div>
        </div>
     </div>
     <div class="mb-4 border-dark">
      <a [routerLink]="['/']"><h6 align="end">{{ '<' }} Continue Shopping</h6></a>
     </div>
   </div>
   <!-- / CART ITEMS -->
   <!-- CHECKOUT INFORMATION -->
   <div class="col-md-6 col-lg-6 order-md-1 order-lg-1">
     <!-- ALREADY A MEMBER OF THIS SITE START -->
     <div *ngIf="!userService.hasCurrentUser()">
       <div class="row" >
         <div class="col-12 align-self-center">
          <mat-checkbox [(ngModel)]="optionIfAlreadyMember">
            <h5 class="mb-0 text-wrap">ALREADY A MEMBER OF THIS SITE?</h5>
          </mat-checkbox>
         </div>
       </div>
       <hr style="margin-top: 8px;">
       <!-- //SIGN IN FORM START -->
       <ng-container *ngIf="optionIfAlreadyMember">
         <form [formGroup]="signinForm" (ngSubmit)="onSignInSubmit()">
           <div class="row form-group">
             <div class="col-md-12 align-self-center">
               <label for="" class="col-form-label">Email Address</label>
             </div>
             <div class="col-md-12 col-lg-12 col-12">
               <mat-form-field class="my-form-field col-md-12 px-0" appearance="outline">
                <input type="text" matInput formControlName="username" (change)="trimValue(signinForm.get('username'))"  placeholder="Username" >
                <mat-error *ngIf="(submitted && f.username.errors) || (signinForm.get('username').touched && signinForm.get('username').hasError('required'))">
                  Email is <strong>required</strong>
                </mat-error>
              </mat-form-field>
             </div>
           </div>
           <div class="row form-group">
             <div class="col-md-12 align-self-center">
               <label for="" class="col-form-label">Password</label>
             </div>
             <div class="col-md-12 col-lg-12 col-12">
                <mat-form-field class="my-form-field col-md-12 px-0" appearance="outline">
                  <input type="password" matInput formControlName="password" (change)="trimValue(signinForm.get('password'))"  placeholder="Password" >
                  <mat-error *ngIf="(submitted && f.password.errors) || (signinForm.get('password').touched && signinForm.get('password').hasError('required'))">
                    Password is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
             </div>
           </div>
           <div class="row">
             <div class="col-12 col-sm-12 col-md-8 col-lg-8">
               <button type="submit" mat-stroked-button class="btn btn-block btn-color">SIGN IN</button>
             </div>
           </div>
         </form>
       </ng-container>
       <!-- //SIGN IN FORM END -->
     </div>
     <!-- ALREADY A MEMBER OF THIS SITE END -->
     <!-- SERVICE METHOD START -->
     <div [ngClass]="{'mt-5': !userService.hasCurrentUser() }">
       <h5><i class="fa fa-truck fa-flip-horizontal" aria-hidden="true"></i> SERVICE METHOD</h5>
       <hr>
     </div>
     Select delivery method
     <div class="row mb-4 mt-3">
       <div class="col-md-12 col-lg-12 col-sm-12 col-12">
         <mat-radio-group [(ngModel)]="deliveryOpts" (change)="onRadioChangeServiceMethod($event)" aria-label="Select an option" >
           <div class="row">
             <div class="col-md-2 col-sm-2 col-4 col-lg-2">
              <mat-radio-button color="black" [value]="'delivery'"> <span style="margin-top: -4px;" class="mr-2">Delivery:</span></mat-radio-button>
             </div>
             <div class="margin-left-style col-8 col-md-10 col-lg-10 col-sm-10">
              <span class="text-danger">Shipping fee is not included in total price and will be shouldered by the buyer.</span>
             </div>
             <div class="col-12 col-sm-12 col-md-10 col-lg-10 offset-md-2 offset-lg-2">
              <div class="courier-img d-block">
                <img alt="Mr Speedy" src="../../../assets/images/mrspeedylogo.png">
              </div>
            </div>
           </div>
           <div class="row px-3">
             <div class="col-md-12 col-12 col-sm-12 col-lg-12 mt-4 px-0">
               <mat-radio-button color="black" [value]="'pickup'"><span class="col-form-label">Pick up at store</span></mat-radio-button>
             </div>
            </div>
             <div *ngIf="deliveryOpts==='pickup'">
               <div class="row">
                 <div class="col-md-12 col align-self-center">
                   <label for="" class="col-form-label">Pickup Date</label>
                 </div>
                 <div class="col-md-12 col-12">
                   <mat-form-field class="my-form-field col-md-12 px-0" appearance="outline">
                     <input class="pointer-hand" (click)="picker.open()" [min]="today" [(value)]="selDate" [(ngModel)]="selDate" matInput [matDatepicker]="picker" placeholder="Choose a date" readonly>
                     <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                     <mat-datepicker #picker></mat-datepicker>
                   </mat-form-field>
                 </div>
               </div>
               <div class="row">
                 <div class="col-md-12 align-self-center">
                   <label for="" class="col-form-label">Pickup Time</label>
                 </div>
                 <div class="col-md-12 col-12">
                   <mat-form-field class="my-form-field col-md-12 px-0" appearance="outline">
                     <input class="pointer-hand" (click)="toggleTimepicker.open()" [(value)]="selTime" matInput [(ngModel)]="selTime" [ngxTimepicker]="toggleTimepicker" placeholder="Choose a time" [disableClick]="true" readonly>
                     <ngx-material-timepicker-toggle matSuffix [for]="toggleTimepicker"></ngx-material-timepicker-toggle>
                     <ngx-material-timepicker #toggleTimepicker></ngx-material-timepicker>
                   </mat-form-field>
                 </div>
               </div>
             </div>
         </mat-radio-group>
       </div>
     </div>
     <!-- / SERVICE METHOD END -->
     <!-- CURRENT USER DISPLAY INFORMATION START -->
     <div *ngIf="userService.hasCurrentUser()">
       <div class="row form-group mb-0">
         <div class="col-md-12 col-lg-12 col-sm-12 col-12 mt-5">
            <div class="d-block">
              <h5 class="pull-left mb-0"><i class="fa fa-user" aria-hidden="true"></i> CUSTOMER INFORMATION</h5>
              <button mat-stroked-button class="btn btn-size-custom btn-color pull-right py-0" (click)="btnUpdateProfile()" [routerLink]="['./information-update']">Edit/Change</button>
            </div>
         </div>
       </div>
       <div class="mb-3">
         <hr>
       </div>
       <div>
        <div class="row form-group">
          <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <label class="col-form-label h6">Customer Name</label>
          </div>
          <div class="col-lg-12 col-md-12 col-12 col-sm-12 align-self-center">
            {{currentCustomerInformation?.firstname}}
              {{currentCustomerInformation?.middlename}}
                {{currentCustomerInformation?.surename}}
          </div>
         </div>
         <div *ngIf="currentCustomerInformation?.dob === null; else dobelse">
         <div class="row form-group">
          <div class="col-lg-12 col-md-12 col-sm-12 col-12"> </div>
         </div>
         </div>
         <ng-template #dobelse>
          <div class="row form-group">
           <div class="col-lg-12 col-md-12 col-sm-12 col-12">
             <label class="col-form-label h6">Date of Birth</label>
           </div>
           <div class="col-lg-12 col-md-12 col-12 col-sm-12 align-self-center">
             {{currentCustomerInformation?.dob | date: 'MMMM dd, yyyy'}}
           </div>
          </div>
         </ng-template>
         <div class="row form-group">
          <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <label class="col-form-label h6">Email</label>
          </div>
          <div class="col-lg-12 col-md-12 col-12 col-sm-12 align-self-center">
            {{currentCustomerInformation?.email_address}}
          </div>
         </div>
         <div>
          <div *ngIf="currentCustomerInformation?.gender < 0">
            <div class="row form-group">
              <div class="col-lg-12 col-md-12 col-sm-12 col-12"></div>
             </div>
          </div>
         </div>
         <div *ngIf="currentCustomerInformation?.gender > 0">
          <div class="row form-group">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
              <label class="col-form-label h6">Gender</label>
            </div>
            <div class="col-lg-12 col-md-12 col-12 col-sm-12 align-self-center">
              <label *ngIf="currentCustomerInformation?.gender == 1 " class="col-form-label" for="">
                Male
              </label>
              <label *ngIf="currentCustomerInformation?.gender == 2 " class="col-form-label" for="">
                Female
              </label>
              <label *ngIf="currentCustomerInformation?.gender == 3 " class="col-form-label" for="">
                N/A
              </label>
            </div>
           </div>
          </div>
         <div class="row form-group">
          <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <label class="col-form-label h6">Contact Number</label>
          </div>
          <div class="col-lg-12 col-md-12 col-12 col-sm-12 align-self-center">
            {{currentCustomerInformation?.contact_no}}
          </div>
         </div>
         <div class="row form-group">
          <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <label class="col-form-label h6">Address</label>
          </div>
          <div class="col-lg-12 col-md-12 col-12 col-sm-12 align-self-center">
            {{currentCustomerInformation?.address | titlecase}}
            <!-- {{currentCustomerInformation?.address | titlecase}} {{currentCustomerInformation?.barangay | titlecase}} ,{{currentCustomerInformation?.city | titlecase}} {{currentCustomerInformation?.province | titlecase}} {{currentCustomerInformation?.region | uppercaseRoman}} -->
          </div>
         </div>
         <div class="row form-group" >
          <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <label class="col-form-label h6">Address Remarks <small>( Unit no./Bldg. no./Floor no./Village/Blk # Lt #/Street/Special Instructions )</small>:</label>
          </div>
          <div class="col-lg-12 col-md-12 col-12 col-sm-12 align-self-center">
            {{currentCustomerInformation?.remarks}}
          </div>
         </div>

       </div>
     </div>
     <!-- / CURRENT USER DISPLAY INFORMATION END -->
     <!-- GUEST FORM INFORMATION START -->
     <div *ngIf="!userService.hasCurrentUser() && !optionIfAlreadyMember">
       <div class="pb-2 mt-5" style="line-height: 0.8">
         <h5 class="mb-0 mt-2"><i class="fa fa-user" aria-hidden="true"></i> CUSTOMER INFORMATION</h5>
         <h6 class="d-block mt-2">*if you are not a member yet, Please provide and fill the information below.</h6>
         <hr>
       </div>
       <!-- start form submision in customer information -->
       <form [formGroup]="Customerform"  (ngSubmit)="SubmitOn()">
         <input type="file" (change)="onSelectFile($event)" id="browse-image" style="display: none;">
         <div class="row form-group mt-3">
           <div class="col-12 align-self-center">
             <label for="" class="col-form-label h5">Firstname</label>
           </div>
           <div class="col-12">
              <mat-form-field appearance="outline" class="my-form-field col-md-12 px-0">
                <input matInput formControlName="firstname" (change)="trimValue(Customerform.get('firstname'))"  placeholder="Firstname" >
                <mat-error *ngIf="Customerform.get('firstname').hasError('required')">
                  Firstname is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="Customerform.get('firstname').hasError('pattern')">
                  Only <strong>letters</strong> are allowed
                </mat-error>
              </mat-form-field>
           </div>
         </div>
         <!--  -->
         <div class="row form-group mt-3">
           <div class="col-12 align-self-center">
             <label for="" class="col-form-label h5">Middlename</label>
           </div>
           <div class="col-12">
            <mat-form-field appearance="outline" class="my-form-field col-md-12 px-0">
              <input matInput formControlName="middlename" (change)="trimValue(Customerform.get('middlename'))"  placeholder="Middlename" >
            </mat-form-field>

           </div>
         </div>
         <!--  -->
         <div class="row form-group mt-3">
           <div class="col-12 align-self-center">
             <label for="" class="col-form-label h5">Lastname</label>
           </div>
           <div class="col-12">
            <mat-form-field appearance="outline" class="my-form-field col-md-12 px-0">
              <input matInput formControlName="surename" (change)="trimValue(Customerform.get('surename'))"  placeholder="Lastname" >
              <mat-error *ngIf="Customerform.get('surename').hasError('required')">
                Lastname is <strong>required</strong>
              </mat-error>
              <mat-error *ngIf="Customerform.get('surename').hasError('pattern')">
                Only <strong>letters</strong> are allowed
              </mat-error>
            </mat-form-field>
           </div>
         </div>
         <!--  -->
         <div class="row form-group">
           <div class="col-12 align-self-center">
             <label for="" class="col-form-label h5">Date of birth</label>
           </div>
           <div class="col-12">
             <mat-form-field appearance="outline" hidden>
               <input formControlName="age" name="age" type="number" min="1" matInput placeholder="Age" autocomplete="off">
             </mat-form-field>
             <mat-form-field appearance="outline" class="my-form-field example-full-width">
               <input class="pointer-hand" (click)="dob.open()" matInput [matDatepicker]="dob" formControlName="dob" name="dob" placeholder="Date of Birth" (dateInput)="calculateAge($event.value)" readonly>
               <mat-datepicker-toggle matSuffix [for]="dob"></mat-datepicker-toggle>
               <mat-datepicker #dob disabled="false"></mat-datepicker>
             </mat-form-field>
           </div>
         </div>
         <!--  -->
         <div class="row form-group mt-3">
           <div class="col-12 align-self-center">
             <label for="" class="col-form-label h5">Email Address</label>
           </div>
           <div class="col-12">
             <mat-form-field appearance="outline" class="my-form-field col-md-12 px-0">
              <input matInput formControlName="email_address" (change)="trimValue(Customerform.get('email_address'))"  placeholder="Email address" >
              <mat-error *ngIf="Customerform.get('email_address').hasError('required')">
                Email address is <strong>required</strong>
              </mat-error>
              <mat-error *ngIf="Customerform.get('email_address').hasError('pattern')">
                Please enter a <strong>valid email address</strong>
              </mat-error>
            </mat-form-field>
           </div>
         </div>
         <!--  -->
         <div class="row form-group">
           <div class="col-12 align-self-center">
             <label for="" class="col-form-label h5">Gender</label>
           </div>
           <div class="col-12">
             <mat-form-field appearance="outline" class="my-form-field example-full-width">
               <mat-select formControlName="gender" placeholder="Gender">
                 <mat-option [value]="3">N/A</mat-option>
                 <mat-option [value]="1">Male</mat-option>
                 <mat-option [value]="2">Female</mat-option>
               </mat-select>
             </mat-form-field>
           </div>
         </div>
         <!--  -->
         <div class="row form-group">
           <div class="col-12 align-self-center">
             <label for="" class="col-form-label h5">Contact Number</label>
           </div>
           <!-- heere the mobile -->
           <div class="col-12">
             <mat-form-field appearance="outline" class="my-form-field example-full-width">
               <label matPrefix class="text-muted">+63</label> <!-- contact-prefix --->
               <input minlength="10" maxlength="10" formControlName="contact_no" name="contact_no"  autocomplete="off" matInput placeholder="">
               <label matSuffix class="suffix-flag">🇵🇭</label> <!-- contact-prefix --->
               <mat-error *ngIf="Customerform.get('contact_no').hasError('required')">
                 Contact number is <strong>required</strong>
               </mat-error>
               <mat-error *ngIf="Customerform.get('contact_no').hasError('pattern')">
                  Only <strong>Number/Digits</strong> are allowed
               </mat-error>
               <mat-error *ngIf="Customerform.get('contact_no').hasError('minlength') || Customerform.get('contact_no').hasError('maxlength')">
                 Must only contain <strong>10 Digit</strong>
               </mat-error>
             </mat-form-field>
           </div>
         </div>
         <!--  -->
         <!-- address here -->
         <div class="row form-group" hidden>
           <div class="col-12 align-self-center">
             <label for="" class="col-form-label h5">Region</label>
           </div>
           <div class="col-12">
             <mat-form-field appearance="outline" class="my-form-field col-md-12 px-0">
               <mat-select formControlName="region"  #selectedRegion placeholder="Select Region" (selectionChange)="getDataAttrRegion($event); clearPCB()">
                 <mat-option *ngFor="let myRegion of locations" [value]="myRegion.region_name">{{myRegion.region_name}}</mat-option>
               </mat-select>
               <mat-error *ngIf="Customerform.get('region').hasError('required')">
                 Region is <strong>required</strong>
               </mat-error>
             </mat-form-field>
           </div>
         </div>
         <div class="row form-group" *ngIf="provinceArray || locationVisible" hidden>
           <div class="col-12 align-self-center">
             <label for="" class="col-form-label h5">Province</label>
           </div>
           <div class="col-12">
             <mat-form-field appearance="outline" class="my-form-field col-md-12 px-0">
               <mat-select formControlName="province" placeholder="Select Provice"  #province (selectionChange)="getDataAttrProvince($event); clearCB()">
                 <mat-option *ngFor="let myProvince of provinceArray | keyvalue" [value]="myProvince.key">
                   {{myProvince.key}}
                 </mat-option>
               </mat-select>
               <mat-error *ngIf="Customerform.get('province').hasError('required')">
                 Province is <strong>required</strong>
               </mat-error>
             </mat-form-field>
           </div>
         </div>
         <div class="row form-group" *ngIf="cityArray || locationVisible" hidden>
           <div class="col-12 align-self-center">
             <label for="" class="col-form-label h5">City</label>
           </div>
           <div class="col-12">
             <mat-form-field appearance="outline" class="my-form-field col-md-12 px-0">
               <mat-select formControlName="city" placeholder="Select City/Town"  #city (selectionChange)="getDataAttrCity($event); clearB()">
                 <mat-option *ngFor="let myCity of cityArray | keyvalue" [value]="myCity.key">
                   {{myCity.key}}
                 </mat-option>
               </mat-select>
               <mat-error *ngIf="Customerform.get('city').hasError('required')">
                 City is <strong>required</strong>
               </mat-error>
             </mat-form-field>
           </div>
         </div>
         <div class="row form-group" *ngIf="barangayArray || locationVisible" hidden>
           <div class="col-12 align-self-center">
             <label for="" class="col-form-label h5">Barangay</label>
           </div>
           <div class="col-12">
             <mat-form-field appearance="outline" class="my-form-field col-md-12 px-0">
               <mat-select formControlName="barangay" placeholder="Barangay"  #barangay (selectionChange)="getDataAttrBarangay($event)">
                 <mat-option *ngFor="let myBarangay of barangayArray" [value]="myBarangay">
                   {{myBarangay}}
                 </mat-option>
               </mat-select>
               <mat-error *ngIf="Customerform.get('barangay').hasError('required')">
                 Barangay is <strong>required</strong>
               </mat-error>
             </mat-form-field>
           </div>
         </div>

         <div class="row form-group">
           <div class="col-12 align-self-center">
             <label for="" class="col-form-label h5">Address</label>
           </div>
           <div class="col-12">
             <mat-form-field appearance="outline" class="my-form-field col-md-12 px-0">
              <input matInput formControlName="address" (keyup)="onKeyUpCustomerFormAddress($event)" (change)="trimValue(Customerform.get('address'))" placeholder="Bldg./Village/Blk # Lt #/Street/Barangang/City" #customerAddressText autocomplete="off">
              <img matSuffix src="../../../assets/images/lss-new-images/google-map-img.png" class="suffix-map pointer-hand" (click)="openAgmMap('Customerform', mapDialogDataCustomerform)">
              <mat-error *ngIf="Customerform.get('address').hasError('required')">
                Address is <strong>required</strong>
              </mat-error>
              <mat-error *ngIf="Customerform.get('address').hasError('isInvalidCustomerform')">
                <strong>No results!</strong> Are you sure you entered the right address?
              </mat-error>


             </mat-form-field>
           </div>
         </div>
         <div class="row form-group">
           <div class="col-12 align-self-center">
             <label for="" class="col-form-label h5">Address Remarks <small>( Unit no./Bldg. no./Floor no./Village/Blk # Lt #/Street/Special Instructions )</small>:</label>
           </div>
           <div class="col-12">
             <mat-form-field appearance="outline" class="my-form-field col-md-12 px-0">
               <textarea matInput formControlName="remarks" (change)="trimValue(Customerform.get('remarks'))" placeholder="Remarks" style="height: 80px;"></textarea>
             </mat-form-field>
           </div>
         </div>
       </form>
     <!-- //endofform -->
     </div>
     <!-- / GUEST FORM INFORMATION END -->
     <!-- USE DIFFERENT ADDRESS FOR GUEST START -->
     <div *ngIf="!userService.hasCurrentUser() && !optionIfAlreadyMember && deliveryOpts === 'delivery'" >
      <div class="row form-group mt-5 mb-0">
        <div class="col-12 align-self-center">
          <mat-checkbox class="col-form-label" [(ngModel)]="optionRegisterGuestNSA">
            <h5 class="mb-0 text-wrap">USE DIFFERENT SHIPPING ADDRESS</h5>
          </mat-checkbox>
        </div>
      </div>
      <hr class="my-1">
       <!-- start -->
       <ng-container *ngIf="!userService.hasCurrentUser() && !optionIfAlreadyMember && optionRegisterGuestNSA">
         <form [formGroup]="CustomerNSAForm">
           <div class="row form-group mt-3">
             <div class="col-12 align-self-center">
               <label for="" class="col-form-label h5">Firstname</label>
             </div>
             <div class="col-12">
              <mat-form-field appearance="outline" class="my-form-field col-md-12 px-0">
                <input matInput formControlName="firstname" (change)="trimValue(CustomerNSAForm.get('firstname'))"  placeholder="Firstname" >
                <mat-error *ngIf="CustomerNSAForm.get('firstname').hasError('required')">
                  Firstname is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="CustomerNSAForm.get('firstname').hasError('pattern')">
                  Only <strong>letters</strong> are allowed
                </mat-error>
              </mat-form-field>
             </div>
           </div>
           <!--  -->
           <div class="row form-group mt-3">
             <div class="col-12 align-self-center">
               <label for="" class="col-form-label h5">Middlename</label>
             </div>
             <div class="col-12">
              <mat-form-field appearance="outline" class="my-form-field col-md-12 px-0">
                <input matInput formControlName="middlename" (change)="trimValue(CustomerNSAForm.get('middlename'))"  placeholder="Middlename" >
              </mat-form-field>
             </div>
           </div>
           <!--  -->
           <div class="row form-group mt-3">
             <div class="col-12 align-self-center">
               <label for="" class="col-form-label h5">Lastname</label>
             </div>
             <div class="col-12">
              <mat-form-field appearance="outline" class="my-form-field col-md-12 px-0">
                <input matInput formControlName="surename" (change)="trimValue(CustomerNSAForm.get('surename'))"  placeholder="Lastname" >
                <mat-error *ngIf="CustomerNSAForm.get('surename').hasError('required')">
                  Lastname is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="CustomerNSAForm.get('surename').hasError('pattern')">
                  Only <strong>letters</strong> are allowed
                </mat-error>
              </mat-form-field>
             </div>
           </div>
           <div class="row form-group" hidden>
             <div class="col-12 align-self-center">
               <label for="" class="col-form-label h5">Date of birth</label>
             </div>
             <div class="col-12">
               <mat-form-field appearance="outline" hidden>
                 <input formControlName="age" name="age" type="number" min="1" matInput placeholder="Age" autocomplete="off">
                 <!-- <mat-error *ngIf="signupForm.get('age').hasError('required')">
                   Age <strong>required</strong>
                 </mat-error> -->
               </mat-form-field>
               <mat-form-field appearance="outline" class="my-form-field example-full-width" >
                 <input class="pointer-hand" (click)="dob.open()" matInput [matDatepicker]="dob" formControlName="dob" name="dob" placeholder="Date of Birth" (dateInput)="calculateAge($event.value)" readonly>
                 <mat-datepicker-toggle matSuffix [for]="dob"></mat-datepicker-toggle>
                 <mat-datepicker #dob disabled="false"></mat-datepicker>
               </mat-form-field>
             </div>
           </div>
           <div class="row form-group mt-3" hidden>
             <div class="col-12 align-self-center">
               <label for="" class="col-form-label h5">Email Address</label>
             </div>
             <div class="col-12">
               <mat-form-field appearance="outline" class="my-form-field col-md-12 px-0">
                 <input matInput formControlName="email_address" (change)="trimValue(CustomerNSAForm.get('email_address'))"  placeholder="Email address" >
                 <mat-error *ngIf="CustomerNSAForm.get('email_address').hasError('required')">
                   Email address is <strong>required</strong>
                 </mat-error>
                 <mat-error *ngIf="CustomerNSAForm.get('email_address').hasError('pattern')">
                   Please enter a <strong>valid email address</strong>
                 </mat-error>
               </mat-form-field>
             </div>
           </div>
           <!--  -->
           <div class="row form-group" hidden>
             <div class="col-12 align-self-center">
               <label for="" class="col-form-label h5">Gender</label>
             </div>
             <div class="col-12">
               <mat-form-field appearance="outline" class="my-form-field example-full-width">
                 <mat-select formControlName="gender" placeholder="Gender">
                   <mat-option [value]="3">N/A</mat-option>
                   <mat-option [value]="1">Male</mat-option>
                   <mat-option [value]="2">Female</mat-option>
                 </mat-select>
               </mat-form-field>
             </div>
           </div>
           <!--  -->
           <div class="row form-group">
             <div class="col-12 align-self-center">
               <label for="" class="col-form-label h5">Contact Number</label>
             </div>
             <!-- heere the mobile -->
             <div class="col-12">
               <mat-form-field appearance="outline" class="my-form-field example-full-width">
                 <label matPrefix class="h6 text-muted">+63</label> <!-- contact-prefix --->
                 <input minlength="10" maxlength="10" formControlName="contact_no" name="contact_no"  autocomplete="off" matInput placeholder="">
                 <label matSuffix class="suffix-flag">🇵🇭</label> <!-- contact-prefix --->
                 <mat-error *ngIf="CustomerNSAForm.get('contact_no').hasError('required')">
                   Contact number is <strong>required</strong>
                 </mat-error>
                 <mat-error *ngIf="CustomerNSAForm.get('contact_no').hasError('pattern')">
                   Only <strong>Number/Digits</strong> are allowed
                 </mat-error>
                 <mat-error *ngIf="CustomerNSAForm.get('contact_no').hasError('minlength') || CustomerNSAForm.get('contact_no').hasError('maxlength')">
                   Must only contain <strong>10 Digit</strong>
                 </mat-error>
               </mat-form-field>
             </div>
           </div>
           <!-- address here -->
           <div class="row form-group" hidden>
             <div class="col-12 align-self-center">
               <label for="" class="col-form-label h5">Region</label>
             </div>
             <div class="col-12">
               <mat-form-field appearance="outline" class="my-form-field col-md-12 px-0">
                 <mat-select formControlName="region"  #selectedRegion placeholder="Select Region" (selectionChange)="getDataAttrRegionNSA($event); clearPCBNSA()">
                   <mat-option *ngFor="let myRegion of locations" [value]="myRegion.region_name">{{myRegion.region_name}}</mat-option>
                 </mat-select>
                 <mat-error *ngIf="CustomerNSAForm.get('region').hasError('required')">
                   Region is <strong>required</strong>
                 </mat-error>
               </mat-form-field>
             </div>
           </div>
           <div class="row form-group" *ngIf="provinceArrayNSA || locationVisible" hidden>
             <div class="col-12 align-self-center">
               <label for="" class="col-form-label h5">Province</label>
             </div>
             <div class="col-12">
               <mat-form-field appearance="outline" class="my-form-field col-md-12 px-0">
                 <mat-select formControlName="province" placeholder="Select Provice"  #province (selectionChange)="getDataAttrProvinceNSA($event); clearCBNSA()">
                   <mat-option *ngFor="let myProvince of provinceArrayNSA | keyvalue" [value]="myProvince.key">
                     {{myProvince.key}}
                   </mat-option>
                 </mat-select>
                 <mat-error *ngIf="CustomerNSAForm.get('province').hasError('required')">
                   Province is <strong>required</strong>
                 </mat-error>
               </mat-form-field>
             </div>
           </div>
           <div class="row form-group" *ngIf="cityArrayNSA || locationVisible" hidden>
             <div class="col-12 align-self-center">
               <label for="" class="col-form-label h5">City</label>
             </div>
             <div class="col-12">
               <mat-form-field appearance="outline" class="my-form-field col-md-12 px-0">
                 <mat-select formControlName="city" placeholder="Select City/Town" #city (selectionChange)="getDataAttrCityNSA($event); clearBNSA()">
                    <!-- matTooltip="{{myCity.key}}" matTooltipPosition="after" matTooltipShowDelay="100" matTooltipHideDelay="100" -->
                   <mat-option *ngFor="let myCity of cityArrayNSA | keyvalue" [value]="myCity.key">
                     {{myCity.key}}
                   </mat-option>
                 </mat-select>
                 <mat-error *ngIf="CustomerNSAForm.get('city').hasError('required')">
                   City is <strong>required</strong>
                 </mat-error>
               </mat-form-field>
             </div>
           </div>
           <div class="row form-group" *ngIf="barangayArrayNSA || locationVisible" hidden>
             <div class="col-12 align-self-center">
               <label for="" class="col-form-label h5">Barangay</label>
             </div>
             <div class="col-12">
               <mat-form-field appearance="outline" class="my-form-field col-md-12 px-0">
                 <mat-select formControlName="barangay" placeholder="Barangay"  #barangay (selectionChange)="getDataAttrBarangayNSA($event)">
                    <!-- matTooltip="{{myBarangay}}" matTooltipPosition="after" matTooltipShowDelay="100" matTooltipHideDelay="100" -->
                   <mat-option *ngFor="let myBarangay of barangayArrayNSA" [value]="myBarangay">
                     {{myBarangay}}
                   </mat-option>
                 </mat-select>
                 <mat-error *ngIf="CustomerNSAForm.get('barangay').hasError('required')">
                   Barangay is <strong>required</strong>
                 </mat-error>
               </mat-form-field>
             </div>
           </div>
           <!--  -->
           <div class="row form-group">
             <div class="col-12 align-self-center">
               <label for="" class="col-form-label h5">Address</label>
             </div>
             <div class="col-12">
               <mat-form-field appearance="outline" class="my-form-field col-md-12 px-0">
                <input matInput (keyup)="onKeyUpCustomerFormAddressNSA($event)" formControlName="address" (change)="trimValue(CustomerNSAForm.get('address'))" placeholder="Bldg./Village/Blk # Lt #/Street/Barangang/City" #customerAddressTextNSA autocomplete="off">
                <img matSuffix src="../../../assets/images/lss-new-images/google-map-img.png" class="suffix-map pointer-hand" (click)="openAgmMap('CustomerNSAForm', mapDialogDataCustomerNSAForm)">
                <mat-error *ngIf="CustomerNSAForm.get('address').hasError('required')">
                  Address is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="CustomerNSAForm.get('address').hasError('isInvalidCustomerNSAForm')">
                  <strong>No results!</strong> Are you sure you entered the right address?
                </mat-error>

               </mat-form-field>
             </div>
           </div>
           <div class="row form-group" >
             <div class="col-12 align-self-center">
               <label for="" class="col-form-label h5">Address Remarks <small>( Unit no./Bldg. no./Floor no./Village/Blk # Lt #/Street/Special Instructions )</small>:</label>
             </div>
             <div class="col-12">
               <mat-form-field appearance="outline" class="my-form-field col-md-12 px-0">
                 <textarea matInput formControlName="remarks" (change)="trimValue(CustomerNSAForm.get('remarks'))" placeholder="Remarks" style="height: 80px;"></textarea>
               </mat-form-field>
             </div>
           </div>
         </form>
       </ng-container>
     <!-- //end -->
     </div>
     <!-- / USE DIFFERENT ADDRESS FOR GUEST END -->
     <!-- USE DIFFERENT ADDRESS FOR MEMBERSHIP START-->
     <div *ngIf="userService.hasCurrentUser() && deliveryOpts === 'delivery'" >
      <div class="row form-group mt-5 mb-0">
        <div class="col-sm-12 col-md-12 col-lg-12 col-12 align-self-center">
          <mat-checkbox [(ngModel)]="optionRegisterNSA" class="col-form-label">
            <h5 class="mb-0 text-wrap">USE DIFFERENT SHIPPING ADDRESS</h5>
          </mat-checkbox>
        </div>
      </div>
      <hr class="my-1">
       <!-- start -->
       <ng-container *ngIf="optionRegisterNSA">
         <form [formGroup]="CustomerDiff">
           <div class="row form-group mt-3">
             <div class="col-12 align-self-center">
               <label for="" class="col-form-label h5">Firstname</label>
             </div>
             <div class="col-12">
              <mat-form-field appearance="outline" class="my-form-field col-md-12 px-0">
                <input matInput formControlName="firstname" (change)="trimValue(CustomerDiff.get('firstname'))"  placeholder="Firstname" >
                <mat-error align="end" *ngIf="CustomerDiff.get('firstname').hasError('required')">
                  Firstname is <strong>required</strong>
                </mat-error>
                <mat-error align="end" *ngIf="CustomerDiff.get('firstname').hasError('pattern')">
                  Only <strong>letters</strong> are allowed
                </mat-error>
              </mat-form-field>
             </div>
           </div>
           <!--  -->
           <div class="row form-group mt-3">
             <div class="col-12 align-self-center">
               <label for="" class="col-form-label h5">Middlename</label>
             </div>
             <div class="col-12">
              <mat-form-field appearance="outline" class="my-form-field col-md-12 px-0">
                <input matInput formControlName="middlename" (change)="trimValue(CustomerDiff.get('middlename'))"  placeholder="Middlename" >
              </mat-form-field>
             </div>
           </div>
           <!--  -->
           <div class="row form-group mt-3">
             <div class="col-12 align-self-center">
               <label for="" class="col-form-label h5">Lastname</label>
             </div>
             <div class="col-12">
              <mat-form-field appearance="outline"  class="my-form-field col-md-12 px-0">
                <input matInput formControlName="surename" (change)="trimValue(CustomerDiff.get('surename'))"  placeholder="Lastname" >
                <mat-error *ngIf="CustomerDiff.get('surename').hasError('required')">
                  Lastname is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="CustomerDiff.get('surename').hasError('pattern')">
                  Only <strong>letters</strong> are allowed
                </mat-error>
              </mat-form-field>

             </div>
           </div>
           <div class="row form-group" hidden>
             <div class="col-12 align-self-center">
               <label for="" class="col-form-label h5">Date of birth</label>
             </div>
             <div class="col-12">
               <mat-form-field appearance="outline"  hidden>
                 <input formControlName="age" name="age" type="number" min="1" matInput placeholder="Age" autocomplete="off">
               </mat-form-field>
               <mat-form-field class="my-form-field example-full-width" >
                 <input class="pointer-hand" (click)="dob.open()" matInput [matDatepicker]="dob" formControlName="dob" name="dob" placeholder="Date of Birth" (dateInput)="calculateAge($event.value)" readonly>
                 <mat-datepicker-toggle matSuffix [for]="dob"></mat-datepicker-toggle>
                 <mat-datepicker #dob disabled="false"></mat-datepicker>
               </mat-form-field>
             </div>
           </div>
           <div class="row form-group mt-3" hidden>
             <div class="col-12 align-self-center">
               <label for="" class="col-form-label h5">Email Address</label>
             </div>
             <div class="col-12">
               <mat-form-field appearance="outline" class="my-form-field col-md-12 px-0">
                 <input matInput formControlName="email_address" (change)="trimValue(CustomerDiff.get('email_address'))"  placeholder="Email address" >
                 <mat-error *ngIf="CustomerDiff.get('email_address').hasError('required')">
                   Email address is <strong>required</strong>
                 </mat-error>
                 <mat-error *ngIf="CustomerDiff.get('email_address').hasError('pattern')">
                   Please enter a <strong>valid email address</strong>
                 </mat-error>
               </mat-form-field>
             </div>
           </div>
           <!--  -->
           <div class="row form-group" hidden>
             <div class="col-12 align-self-center">
               <label for="" class="col-form-label h5">Gender</label>
             </div>
             <div class="col-12">
               <mat-form-field appearance="outline" class="my-form-field example-full-width">
                 <mat-select formControlName="gender" placeholder="Gender">
                   <mat-option [value]="3">N/A</mat-option>
                   <mat-option [value]="1">Male</mat-option>
                   <mat-option [value]="2">Female</mat-option>
                 </mat-select>
               </mat-form-field>
             </div>
           </div>
           <!--  -->
           <div class="row form-group">
             <div class="col-12 align-self-center">
               <label for="" class="col-form-label h5">Contact Number</label>
             </div>
             <!-- heere the mobile -->
             <div class="col-12">
               <mat-form-field appearance="outline" class="my-form-field example-full-width">
                 <label matPrefix class="h6 text-muted">+63</label> <!-- contact-prefix --->
                 <input minlength="10" maxlength="10" formControlName="contact_no" name="contact_no"  autocomplete="off" matInput placeholder="">
                 <label matSuffix class="suffix-flag">🇵🇭</label> <!-- contact-prefix --->
                 <mat-error *ngIf="CustomerDiff.get('contact_no').hasError('required')">
                   Contact number is <strong>required</strong>
                 </mat-error>
                 <mat-error *ngIf="CustomerDiff.get('contact_no').hasError('pattern')">
                   Only <strong>Number/Digits</strong> are allowed
                 </mat-error>
                 <mat-error *ngIf="CustomerDiff.get('contact_no').hasError('minlength') || CustomerDiff.get('contact_no').hasError('maxlength')">
                   Must only contain <strong>10 Digit</strong>
                 </mat-error>
               </mat-form-field>
             </div>
           </div>

           <!-- address here -->
           <div class="row form-group" hidden>
             <div class="col-12 align-self-center">
               <label for="" class="col-form-label h5">Region</label>
             </div>
             <div class="col-12">
               <mat-form-field appearance="outline" class="my-form-field col-md-12 px-0">
                 <mat-select formControlName="region"  #selectedRegion placeholder="Select Region" (selectionChange)="getDataAttrRegion($event); clearPCB()">
                   <mat-option *ngFor="let myRegion of locations" [value]="myRegion.region_name">{{myRegion.region_name}}</mat-option>
                 </mat-select>
                 <mat-error *ngIf="CustomerDiff.get('region').hasError('required')">
                   Region is <strong>required</strong>
                 </mat-error>
               </mat-form-field>
             </div>
           </div>
           <div class="row form-group" *ngIf="provinceArray || locationVisible" hidden>
             <div class="col-12 align-self-center">
               <label for="" class="col-form-label h5">Province</label>
             </div>
             <div class="col-12">
               <mat-form-field appearance="outline" class="my-form-field col-md-12 px-0">
                 <mat-select formControlName="province" placeholder="Select Provice"  #province (selectionChange)="getDataAttrProvince($event); clearCB()">
                   <mat-option *ngFor="let myProvince of provinceArray | keyvalue" [value]="myProvince.key">
                     {{myProvince.key}}
                   </mat-option>
                 </mat-select>
                 <mat-error *ngIf="CustomerDiff.get('province').hasError('required')">
                   Province is <strong>required</strong>
                 </mat-error>
               </mat-form-field>
             </div>
           </div>
           <div class="row form-group" *ngIf="cityArray || locationVisible" hidden>
             <div class="col-12 align-self-center">
               <label for="" class="col-form-label h5">City</label>
             </div>
             <div class="col-12">
               <mat-form-field appearance="outline" class="my-form-field col-md-12 px-0">
                 <mat-select formControlName="city" placeholder="Select City/Town"  #city (selectionChange)="getDataAttrCity($event); clearB()">
                   <mat-option *ngFor="let myCity of cityArray | keyvalue" [value]="myCity.key">
                     {{myCity.key}}
                   </mat-option>
                 </mat-select>
                 <mat-error *ngIf="CustomerDiff.get('city').hasError('required')">
                   City is <strong>required</strong>
                 </mat-error>
               </mat-form-field>
             </div>
           </div>
           <div class="row form-group" *ngIf="barangayArray || locationVisible" hidden>
             <div class="col-12 align-self-center">
               <label for="" class="col-form-label h5">Barangay</label>
             </div>
             <div class="col-12">
               <mat-form-field appearance="outline" class="my-form-field col-md-12 px-0">
                 <mat-select formControlName="barangay" placeholder="Barangay"  #barangay (selectionChange)="getDataAttrBarangay($event)">
                   <mat-option *ngFor="let myBarangay of barangayArray" [value]="myBarangay">
                     {{myBarangay}}
                   </mat-option>
                 </mat-select>
                 <mat-error *ngIf="CustomerDiff.get('barangay').hasError('required')">
                   Barangay is <strong>required</strong>
                 </mat-error>
               </mat-form-field>
             </div>
           </div>
           <!--  -->
           <div class="row form-group">
             <div class="col-12 align-self-center">
               <label for="" class="col-form-label h5">Address</label>
             </div>
             <div class="col-12">
               <mat-form-field appearance="outline" class="my-form-field col-md-12 px-0">
                <input matInput  (keyup)="onKeyUpCustomerFormAddressDiff($event)" formControlName="address" (change)="trimValue(CustomerDiff.get('address'))" placeholder="Bldg./Village/Blk # Lt #/Street/Barangang/City" #customerAddressTextDiff autocomplete="off">
                <img matSuffix src="../../../assets/images/lss-new-images/google-map-img.png" class="suffix-map pointer-hand" (click)="openAgmMap('CustomerDiff', mapDialogDataCustomerDiff)">
                <mat-error *ngIf="CustomerDiff.get('address').hasError('required')">
                  Address is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="CustomerDiff.get('address').hasError('isInvalidCustomerDiff')">
                  <strong>No results!</strong> Are you sure you entered the right address?
                </mat-error>

               </mat-form-field>
             </div>
           </div>
           <div class="row form-group">
             <div class="col-12 align-self-center">
               <label for="" class="col-form-label h5">Address Remarks <small>( Unit no./Bldg. no./Floor no./Village/Blk # Lt #/Street/Special Instructions )</small>:</label>
             </div>
             <div class="col-12">
               <mat-form-field appearance="outline" class="my-form-field col-md-12 px-0">
                 <textarea matInput formControlName="remarks" (change)="trimValue(CustomerDiff.get('remarks'))" placeholder="Remarks" style="height: 80px;"></textarea>
               </mat-form-field>
             </div>
           </div>
         </form>
       </ng-container>
     <!-- //end -->
     </div>
     <!-- / USE DIFFERENT ADDRESS FOR MEMBERSHIP END-->
     <!-- SELECT IF REGISTER AS MEMBER OR NOT START -->
     <div  *ngIf="!userService.hasCurrentUser() && !optionIfAlreadyMember" >
      <div style="line-height: 0.8;" class="pb-2">
       <h5><i class="fa fa-users" aria-hidden="true"></i> MEMBERSHIP</h5>
       <span class="h6 d-block mt-2">*if you register as a member, information above will be save to your nearly created account.</span>
      <hr>
      </div>

      <div class="row form-group mt-3">
       <div class="col-md-12 col-12">
         <mat-radio-group [(ngModel)]="optionRegister" (change)="onOptionRegisterChange($event)" aria-label="Select an option">
           <div class="row">
             <div class="col-12">
               <mat-radio-button color="black" [value]="1"  class="mr-4"><span class="col-form-label">Register for Membership</span></mat-radio-button>
             </div>
           </div>
           <div class="row" *ngIf="optionRegister == 1">
             <div class="col-12 align-self-center">
               <label for="" class="col-form-label" style="padding-left: 28px !important;">Password</label>
             </div>
             <div class="col-12">
               <mat-form-field appearance="outline" class="my-form-field col-md-12 px-0" style="padding-left: 28px !important;">
                 <mat-label>Enter your password</mat-label>
                 <input matInput [type]="hide ? 'password' : 'text'" name="" [(ngModel)]="optionPass">
                 <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                 <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                 </button>
               </mat-form-field>
             </div>
           </div>
           <div class="row">
             <div class="col-12">
               <mat-radio-button color="black" [value]="2"><span class="col-form-label">Don't register as a member</span></mat-radio-button>
             </div>
           </div>
         </mat-radio-group>
       </div>
      </div>
     </div>
     <!-- / SELECT IF REGISTER AS MEMBER OR NOT END -->
     <!-- BACK AND PROCEED BUTTON START -->
    <ng-container *ngIf="!optionIfAlreadyMember">
      <div class="row mt-5 form-group">
        <div class="col-12 col-sm-12 col-md-8 col-lg-8">
          <button (click)="checkoutConfirmBTN(false)" mat-stroked-button class="btn btn-color btn-block">
            PROCEED TO PAYMENT
          </button>
        </div>
      </div>
      <div class="row mb-5">
        <div class="col-12 col-sm-12 col-md-8 col-lg-8">
          <button type="button" mat-stroked-button class="btn mb-3 btn-color btn-block" (click)="checkoutConfirmBTN(true)">
            BACK
          </button>
        </div>
      </div>
    </ng-container>
    <!-- / BACK AND PROCEED BUTTON END -->
   </div>
   <!-- / CHECKOUT INFORMATION -->
 </div>



   <!--  -->



</div>
