.example-full-width {
  width: 100%;
}

.mat-error {
 text-align: right !important;
}
.suffix-flag{
  top: -0.3em;
  position: relative;
}
::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
  background-color: black !important;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: black;
}

:host::ng-deep .mat-focused .mat-form-field-label{ color: #000000 !important; }
:host::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple{ background: #000000 !important; }
// @media only screen and (min-width: 500px) {
//  .pc-view-01{
//    display: none;
//  }
//  .pc-view-02{
//   display: none;
//  }
//  .pc-view-02{
//    display: block;
//  }
//  .mobile-view-02{
//    display: none;
//  }
//  .show-big{
//   display: none;
// }
// }


@media only screen and (max-width: 500px) {
  .pc-view-01{
    display: none;
  }
  .pc-view-02{
    display: none;
  }
  .mobile-view-02{
    display: block;
  }
  .pc-view-0{
    display: none;
  }

  .cart-image {
    align-items: right;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    max-height: 100px;
  }
  .show-big{
    display: none;
  }
  .margin-left-style {
   font-size: 14px;
  }

}


@media only screen and (min-width: 500px) {
  .pc-view-01{
    display: none;
  }
  .mobile-view-02{
    display: none;
  }
  .pc-view-02{
    display: block;
  }

  .pc-view-0{
    display: none;
  }
  .cart-image {
    align-items: right;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    max-height: 100px;
  }
  .show-big{
    display: none;
  }
}

@media only screen and (min-width: 600px) {
  .pc-view-01{
    display: none;
  }
  .mobile-view-02{
    display: none;
  }
  .pc-view-02{
    display: block;
  }
  .pc-view-0{
    display: none;
  }

  .cart-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    max-height: 250px;
  }
  .show-small{
    display: block;
  }
  .show-big{
    display: none;
  }

}

@media only screen and (min-width: 768px) {
  .pc-view-01{
    display: block;
  }
  .mobile-view-01{
    display: none;
  }
  .mobile-view-02{
    display: none;
  }
  .pc-view-02{
    display: block;
  }
  .pc-view-0{
    display: block;
  }
  .mobile-view-0{
    display: none;
  }
  .cart-image {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    max-height: 250px;
  }
  .show-small{
    display: none;
  }
  .show-big{
    display: block;
  }

  // .margin-left-style {
  //   margin-left: -40px;
  // }


}

@media only screen and (min-width: 992px) {
  .pc-view-01{
    display: block;
  }
  .pc-view-02{
    display: block;
  }
  .mobile-view-01{
    display: none;
  }

  .mobile-view-02{
    display: none;
  }

  .pc-view-0{
    display: block;
  }

  .cart-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 250px;
    max-height: 250px;
  }

  .mobile-view-0{
    display: none;
  }
  .show-small{
    display: none;
  }
  .show-big{
    display: block;
  }
  // .margin-left-style {
  //   margin-left: -70px;
  // }

}




// /* headlines with lines */

@media only screen and (max-width: 600px) {
  .header-title{
    font-size: 14px;
    letter-spacing: .1em;
    color: #333;
    font-weight: 600;
  }
  .btn-size-custom{
    margin-top: 10px;
    width: 100%;
  }
  .image-success{
    object-fit: cover;
    width: 100%;
    max-height: 200px;
  }

}
@media only screen and (min-width: 600px) {
  .header-title{
    font-size: 18px;
    letter-spacing: .1em;
    color: #333;
    font-weight: 600;
  }
  .btn-size-custom{
    margin-top: 10px;
    width: 100%;
  }
  .image-success{
    object-fit: cover;
    width: 100%;
    max-height: 200px;
  }
}
@media only screen and (min-width: 768px) {
  .header-title{
    font-size: 24px;
    letter-spacing: .1em;
    color: #333;
    font-weight: 600;
  }
  .btn-size-custom{
    width: 25%;
  }
  .image-success{
    object-fit: cover;
    width: 100%;
    max-height: 150px;
  }
}
@media (min-width: 992px) {
  .header-title{
    font-size: 24px;
    letter-spacing: .1em;
    color: #333;
    font-weight: 600;
  }
  .label-end{
     display: flex;
     justify-content: flex-end;
   }
   .btn-size-custom{
    width: 25%;
  }
  .image-success{
    object-fit: cover;
    width: 100%;
    max-height: 150px;
  }
  }

  .decorated{
    overflow: hidden;
    text-align: center;
  }
  .decorated > span{
  position: relative;
  display: inline-block;
  }
  .decorated > span:before, .decorated > span:after{
  content: '';
  position: absolute;
  top: 50%;
  border-bottom: 1px solid #333;
  width: 90vw;
  margin: 0 20px;
  }
  .decorated > span:before{
  right: 100%;
  }
  .decorated > span:after{
  left: 100%;
  }

  .btn-color{
    background-color: #009688;
    color: #ffffff;
  }


  // NEW
  .courier-img {
    height: 60px;
    width: 180px;
  }
  .courier-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    overflow: hidden;
  }

  //google map
  .suffix-map{
    width: 30px;
    top: -0.5em;
    position: relative;
  }

