
:host::ng-deep .mat-select-underline{
  border-color:black;
}
:host::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: dimgray;
}
:host::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color:  dimgray;
}
:host::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label {
    color: dimgray;
}
