
 <div mat-dialog-title class="border-bottom mb-3">
  <span class="text-dark h4">{{this.details ? 'EDIT CATEGORY' : 'ADD CATEGORY'}}</span>
  <!-- <span class="text-muted mb-0">{{ details?.firstname | titlecase }} {{ details?.surename | titlecase }}'s Detail</span> -->
  <button class="lh-button-icon float-right" mat-icon-button [mat-dialog-close]="" style="top: -5px;right: -10px; width: 32px; height: 32px;">
    <mat-icon>close</mat-icon>
  </button>
</div>

<mat-dialog-content class="overflow-x-hidden text-dark mx-0 px-0" [ngStyle]="{'min-width': '600px'}">
  <form [formGroup]="mform"  (ngSubmit)="onSubmit()">


  <!--  -->
  <div class="row form-group">
    <div class="col-md-4 col-lg-4 align-self-center">
      <label for="" class="col-form-label">
       Name:
      </label>
    </div>
    <div class="col-md-8 col-lg-8">
      <!-- start -->
        <mat-form-field class="my-form-field col-md-12 px-0">
          <input matInput autocomplete="off" required formControlName="name" placeholder="name" >
        </mat-form-field>
      <!-- end -->
    </div>
    <!-- <div class="col-md-4 col-lg-4"></div> -->
  </div>
  <!--  -->
  <div class="row form-group">
    <div class="col-md-4 col-lg-4 align-self-center">
      <label for="" class="col-form-label">
       Description:
      </label>
    </div>
    <div class="col-md-8 col-lg-8">
      <!-- start -->
        <mat-form-field class="my-form-field col-md-12 px-0">
          <input matInput autocomplete="off" required formControlName="description" placeholder="description" >
        </mat-form-field>
      <!-- end -->
    </div>
    <!-- <div class="col-md-4 col-lg-4"></div> -->
  </div>
  <!--  -->
  <div class="row">
    <div class="col-md-4 col-lg-4 align-self-center"> </div>
    <div class="col-md-8 col-lg-8">
      <button  type="submit"  class="btn text-light btn-dark btn-md btn-block" matTooltip="">
        {{this.details ? 'Edit Category' : 'Add Category'}}
    </button>
    </div>
    <!-- <div class="col-md-4 col-lg-4"></div> -->
  </div>


</form>
</mat-dialog-content>

<!-- (click)="paymaentbtn()" -->





























































<!--

 <div mat-dialog-title class="border-bottom mb-3">
  <span class="text-dark h4">CATEGORY</span>
  <span class="text-muted mb-0">{{ details?.firstname | titlecase }} {{ details?.surename | titlecase }}'s Detail</span>
  <button class="lh-button-icon float-right" mat-icon-button [mat-dialog-close]="" style="top: -5px;right: -1px; width: 32px; height: 32px;">
    <mat-icon>close</mat-icon>
  </button>
</div>

<div class="dialog">
  <button style="float:right; outline: none;" mat-dialog-close mat-icon-button>
    <mat-icon>close</mat-icon>
  </button>
  <br>
  <div style="display: flex; flex-direction: column;">
    <div class="text-normal title-txt">Item Details</div>
    <form [formGroup]="mform"  (ngSubmit)="onSubmit()">
        <mat-form-field>
          <input matInput autocomplete="off" required formControlName="name" placeholder="name" >
        </mat-form-field>
        <mat-form-field>
            <input matInput autocomplete="off" required formControlName="description" placeholder="description" >
          </mat-form-field>
        <button  type="submit"  class="list-opt list-btn-opt-view" matTooltip="">
            {{this.details ? 'Edit category' : 'Add category'}}
        </button>
    </form>
  </div>
</div> -->
