<div style="position: relative;">
    <div class="name">{{mData?.data.items[0].name}}</div>
    <div class="address">
        <div class="add">{{mData?.data.items[0].address}}</div>
    </div>

    <div class="date">{{mData?.data.items[0].est_deliverydate | date: 'MMMM dd, yyyy'}}</div>
    <!-- <span *ngFor="let row_order_item of mData?.data.items[0].order_items; last as isLast; index as i">
      <div [ngClass]="'ttl'+(i+1)">{{(row_order_item.price * row_order_item.quantity) | number : '1.2-2'}}</div>
    </span> -->
		<div class="ttl2">{{mData?.data.items[0].total_amt | number : '1.2-2'}}</div>
		<div class="ttl3">{{mData?.data.items[0].total_amt | number : '1.2-2'}}</div>
		<div class="ttl4">{{mData?.data.items[0].total_amt | number : '1.2-2'}}</div>
		<div class="ttl5">{{mData?.data.items[0].total_amt | number : '1.2-2'}}</div>
		<div class="ttl6">{{mData?.data.items[0].total_amt | number : '1.2-2'}}</div>

    <!-- <div class="ttl5">{{mData?.data.items[0].total_amt | number : '1.2-2'}}</div> -->

		<div *ngIf="!mData?.data.items[0].check_no" class="ttl1">{{mData?.data.items[0].total_amt | number : '1.2-2'}}</div>
    <div *ngIf="mData?.data.items[0].check_no" class="check_amount">{{mData?.data.items[0].total_amt | number : '1.2-2'}}</div>
    <div class="bank_name">{{mData?.data.items[0].check_bank}}</div>
    <div class="check_no">{{mData?.data.items[0].check_no}}</div>
    <div class="check_date">{{mData?.data.items[0].check_date | date: 'MMMM dd, yyyy'}}</div>

    <div class="receive">{{mUser.firstname}} {{mUser.surename}}</div>
    <!-- <div class="receive by:">{{mUser.firstname}} {{mUser.surename}}</div> -->
    <div class="item">
      <span *ngFor="let row_order_item of mData?.data.items[0].order_items; last as isLast">
        {{row_order_item.item_name}} <span *ngIf="!isLast">,</span>
      </span>
    </div>
    <div class="num_word">{{numWord + ' pesos only' | uppercase}}</div>

</div>
