.mat-dialog-content-modify{
  display: block;
  /* margin: 0 -24px; */
  // padding: 0 24px;
  max-height: 65vh;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.btn-color{
  color: #ffffff;
  background-color: #009688;
}
