<div class="container-flex">
  <div class="pt-4 mx-3">

    <div class="mb-4"  style="margin-left: 14px;">
      <img style="margin-top: -4px;" class="mr-2"  src="https://img.icons8.com/ios-filled/24/000000/settings.png"/>
      <span>Courier Management</span>
     </div>

  <div class="col-md-12 pr-0">
    <button class="list-opt list-btn-opt-view" (click)="addCourier()" matTooltip="">
      Add
    </button>

  <div class="col-md-12 col-lg-12 px-0 list-div" [ngStyle]="{'height': contentHeight + 'px'}">
    <table mat-table [dataSource]="dataSource" matSort #dataSort class="w-100">
      <!-- class="mat-elevation-z8" -->
      <ng-container matColumnDef="img">
        <th class="" math-header-cell *matHeaderCellDef></th>
        <td mat-cell class="list-item" *matCellDef="let row">
          <img [src]="row.img[0].file" class="img-size">
        </td>
      </ng-container>

      <ng-container matColumnDef="id">
        <th class="pl-2" math-header-cell *matHeaderCellDef mat-sort-header>ID</th>
        <td mat-cell class="pl-2 list-item" *matCellDef="let row">{{row.id}}</td>
      </ng-container>

      <ng-container matColumnDef="contact_no">
        <th class="pl-2" math-header-cell *matHeaderCellDef mat-sort-header>Contact #</th>
        <td mat-cell class="pl-2 list-item" *matCellDef="let row">{{row.contact_no}}</td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th class="" math-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell class="list-item" *matCellDef="let row">{{row.name}}</td>
      </ng-container>

      <ng-container matColumnDef="email_address">
        <th class="" math-header-cell *matHeaderCellDef mat-sort-header>Email Address</th>
        <td mat-cell class="list-item" *matCellDef="let row">{{row.email_address}}</td>
      </ng-container>


      <ng-container matColumnDef="viewAction">
        <th class="" math-header-cell *matHeaderCellDef>Controls</th>
        <td mat-cell *matCellDef="let row" class=" pr-0">

          <mat-slide-toggle [checked] = "(row.status === 1) ? true : false" (change)="toggleSlide(row.id)">{{(row.status === 1) ? 'Active ': 'Inactive' }}</mat-slide-toggle>
        <!--  -->

          <button  class="list-opt list-btn-opt-edit" (click)="editCourier(row.id)" matTooltip="">
            Edit
          </button>
          <button  class="list-opt list-btn-opt-edit" (click)="viewBookings(row.id, row.name)" matTooltip="">
            View
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <!-- end conainer -->
  </div>
</div>
