<div *ngIf="!needsVerification">
  <div class="decorated mb-5">
    <span class="header-title">CONFIRM ORDER</span>
  </div>
<div class="row">
  <div class="col-md-6 col-lg-6 ">
    <div class="content mb-4">
        <mat-checkbox [(ngModel)]="show">
          <h4 class="mr-1 my-auto">ARE YOU A MEMBER?</h4>
        </mat-checkbox><br>
        <div *ngIf="!show">
          Please input your email address and order number
        </div>
        <div *ngIf="show">
          Please input your email address and password
        </div>
    </div>
  </div>
</div>

<div *ngIf="!show">
  <form action="" [formGroup]="confirmOrderForm" (ngSubmit)="getOrderRecord()">
    <div class="row">
      <div class="col-md-6 col-lg-6">
        <div class="row form-group">
          <!-- <div class="col-md-4 col-lg-4 label-end"> </div> -->
          <div class="col-md-12 col-lg-12">
            <label for="" class="col-form-label">Email address</label>
            <input  type="text" class="form-control"  formControlName="email"
            [ngClass]="{'is-invalid': orderFormControl.email.touched && orderFormControl.email.invalid }" >
            <span class="text-danger span-error"
            *ngIf="(orderFormControl.email.touched || submitted) && orderFormControl.email.errors?.required">
            Email is &nbsp;<strong>required</strong>
            </span>
            <span class="text-danger span-error"
            *ngIf="(orderFormControl.email.touched || submitted) && orderFormControl.email.errors?.email">
            Invalid email &nbsp;<strong>format</strong>
            </span>
          </div>
        </div>
        <!--  -->
        <div class="row form-group">
          <!-- <div class="col-md-4 col-lg-4 label-end"> </div> -->
          <div class="col-md-12 col-lg-12">
            <label for="" class="col-form-label">Order number</label>
            <input  type="text" class="form-control"  formControlName="order_id"
            [ngClass]="{'is-invalid': orderFormControl.order_id.touched && orderFormControl.order_id.invalid }" >
            <span class="text-danger span-error"
            *ngIf="(orderFormControl.order_id.touched || submitted) && orderFormControl.order_id.errors?.required">
            Order number is &nbsp;<strong>required</strong>
            </span>

          </div>
        </div>
        <!--  -->

      <div class="row form-group">
        <div class="col-md-6 col-lg-6">
          <button type="submit" mat-stroked-button class="btn btn-color btn-block btn-md ">CONFIRM</button>
        </div>
      </div>

      </div>
    </div>
    </form>
</div>
<!--  -->

<div *ngIf="show">
<form action="" [formGroup]="signinForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-md-6 col-lg-6">
        <div class="row form-group">
          <!-- <div class="col-md-4 col-lg-4 label-end">  </div> -->
          <div class="col-md-12 col-lg-12">
            <label for="" class="col-form-label">Email address</label>
            <input  type="text" class="form-control"  formControlName="username"
            [ngClass]="{'is-invalid': signinFormControl.username.touched && signinFormControl.username.invalid }" >
            <span class="text-danger span-error"
            *ngIf="(signinFormControl.username.touched || submitted) && signinFormControl.username.errors?.required">
            Email is &nbsp;<strong>required</strong>
            </span>
            <span class="text-danger span-error"
            *ngIf="(signinFormControl.username.touched || submitted) && signinFormControl.username.errors?.email">
            Invalid email  &nbsp;<strong>format</strong>
            </span>
          </div>
        </div>
        <!--  -->
        <div class="row form-group">
          <!-- <div class="col-md-4 col-lg-4 label-end"> </div> -->
          <div class="col-md-12 col-lg-12">
            <label for="" class="col-form-label">Password</label>
            <input type="password" class="form-control"  formControlName="password"
            [ngClass]="{'is-invalid': signinFormControl.password.touched && signinFormControl.password.invalid }" >
            <span class="text-danger span-error"
            *ngIf="(signinFormControl.password.touched || submitted) && signinFormControl.password.errors?.required">
            Password is &nbsp;<strong>required</strong><br>
            </span>

          </div>
        </div>
        <!--  -->
        <div class="row form-group">
          <div class="col-md-6 col-lg-6">
            <button type="submit" mat-stroked-button class="btn btn-color btn-block btn-md ">SIGN IN</button>
          </div>
        </div>
      </div>
    </div>
</form>
</div>
</div>


<div class="mt-5 mb-5" *ngIf="needsVerification">
  <h2>CONFIRM ORDER</h2>
  <div class="row form-group">
    <div class="col-md-6 col-lg-6">
          <h4>Email Verification</h4>
          Please click on the link that has been sent to your email to verify your
          membership and complete the registration process.
    </div>
  </div>
  <div class="row form-group">
    <div class="col-md-6 col-lg-6">
      <div class="row">
        <div class="col-md-6 col-lg-6 col-12 col-sm-12">
          <button  (click)="backToLogin()" mat-stroked-button class="btn btn-lg btn-color btn-block">SIGN IN</button>
        </div>
      </div>
    </div>
  </div>
</div>



