<div class="main-container">
<!-- start -->
<!-- Mat toolbar -->
<mat-toolbar [ngStyle]="{'background': '#fc0006', 'padding-bottom': '5px', 'z-index': '2'}" class="text-white add-shadow">
  <mat-toolbar-row class="add-shadow">
    <button mat-icon-button type="button" (click)="drawerToggle()">
      <mat-icon style="font-size: 32px; transform: translateX(-4px); border:none;">menu</mat-icon>
    </button>
    <span style="margin-left: 6px;"><strong>LSS</strong></span>
    <div style="flex: 1 1 auto;"></div>
    <!-- <div style="margin-left: 15px;">{{ username }}</div> -->
    <button (click)="userService.signoutAdmin()" [routerLink]="['/user/signin']" style="outline: none; margin-right: 5px;" mat-icon-button>
      <mat-icon>power_settings_new</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<!-- mat toolbar -->

<!-- mat side navbar -->

<mat-sidenav-container #drawer class="main-sidenav-container"
    style="background-color: white">
    <!--mat side nav  -->
    <mat-sidenav [ngClass]="drawerShow ? 'sideNavShow' : 'sideNavHide'" mode="side" opened
    (mouseenter)="drawerShow = true" (mouseleave)="drawerShow = drawerOpen" [ngStyle]="{ 'z-index': '3'}">

    <div class="drawer overflow-x-hidden">

      <div class="btn_drawer" [routerLink]="['home-admin']" (click)="btnIdAccounts=false; showAccountsMenu=false; btnId=false; showSettingMenu = false"  routerLinkActive="active-list-item">
        <div class="drawer_selected"></div>
        <div class="align-self-center">
          <img class="mr-3 ml-2 pl-1" src="https://img.icons8.com/material/24/000000/home--v5.png"/>
          <!-- <mat-icon class="drawer_img">event_note</mat-icon> -->
        </div>
        <div [ngClass]="!drawerShow ? 'drawer_text div_hide' : 'drawer_text'">Home</div>
      </div>
      <!--  -->
      <div class="btn_drawer" [routerLink]="['order-request']" (click)="btnIdAccounts=false; showAccountsMenu=false; btnId=false; showSettingMenu = false"  routerLinkActive="active-list-item">
        <div class="drawer_selected"></div>
        <div class="align-self-center">
          <img class="mr-3 ml-2 pl-1" src="https://img.icons8.com/ios-filled/24/000000/purchase-order.png"/>
          <!-- <mat-icon class="drawer_img">event_note</mat-icon> -->
        </div>
        <div [ngClass]="!drawerShow ? 'drawer_text div_hide' : 'drawer_text'">Incoming Order</div>
      </div>
      <!--  -->
      <div class="btn_drawer" [routerLink]="['transaction']" (click)="btnIdAccounts=false; showAccountsMenu=false; btnId=false; showSettingMenu = false"  routerLinkActive="active-list-item">
        <div class="drawer_selected"></div>
        <div class="align-self-center">
          <img class="mr-3 ml-2 pl-1" src="https://img.icons8.com/ios-filled/24/000000/order-history.png"/>
          <!-- <mat-icon class="drawer_img">euro_symbol</mat-icon> -->
        </div>
        <div [ngClass]="!drawerShow ? 'drawer_text div_hide' : 'drawer_text'">Order History</div>
      </div>
      <!--  -->
      <div class="btn_drawer" [routerLink]="['return-exchange']" (click)="btnIdAccounts=false; showAccountsMenu=false; btnId=false; showSettingMenu = false"  routerLinkActive="active-list-item">
        <div class="drawer_selected"></div>
        <div class="align-self-center">
          <!-- <mat-icon class="drawer_img">compare_arrows</mat-icon> -->
          <img class="mr-3 ml-2 pl-1" src="https://img.icons8.com/material-sharp/24/000000/compare.png"/>
        </div>
        <div [ngClass]="!drawerShow ? 'drawer_text div_hide' : 'drawer_text'">Return and Exchange</div>
      </div>
      <!--  -->
      <div class="btn_drawer" [routerLink]="['analytics']" (click)="btnIdAccounts=false; showAccountsMenu=false; btnId=false; showSettingMenu = false"  routerLinkActive="active-list-item">
        <div class="drawer_selected"></div>
        <div class="align-self-center">
          <!-- <mat-icon class="drawer_img">trending_up</mat-icon> -->
          <img class="mr-3 ml-2 pl-1" src="https://img.icons8.com/ios-filled/24/000000/total-sales-1.png"/>
        </div>
        <div [ngClass]="!drawerShow ? 'drawer_text div_hide' : 'drawer_text'">Sales Analytics</div>
      </div>
      <!--  -->
      <div class="btn_drawer" [routerLink]="['accounts-customer']" (click)="btnIdAccounts=false; showAccountsMenu=false; btnId=false; showSettingMenu = false"  routerLinkActive="active-list-item">
        <div class="drawer_selected"></div>
        <div class="align-self-center">
          <img class="mr-3 ml-2 pl-1" src="https://img.icons8.com/ios-filled/24/000000/group-background-selected.png"/>
          <!-- <mat-icon class="drawer_img">trending_up</mat-icon> -->
        </div>
        <div [ngClass]="!drawerShow ? 'drawer_text div_hide' : 'drawer_text'">Member User info.</div>
      </div>
      <!--  -->
      <div class="btn_drawer" [routerLink]="['accounts-guest']" (click)="btnIdAccounts=false; showAccountsMenu=false; btnId=false; showSettingMenu = false"  routerLinkActive="active-list-item">
        <div class="drawer_selected"></div>
        <div class="align-self-center">
          <img  class="mr-3 ml-2 pl-1"  src="https://img.icons8.com/ios-filled/24/000000/commercial-development-management.png"/>
          <!-- <mat-icon class="drawer_img">trending_up</mat-icon> -->
        </div>
        <div [ngClass]="!drawerShow ? 'drawer_text div_hide' : 'drawer_text'">Guest User info.</div>
      </div>
      <!--  -->
      <div class="btn_drawer" [routerLink]="['itemCategory']" (click)="btnIdAccounts=false; showAccountsMenu=false; btnId=false; showSettingMenu = false" routerLinkActive="active-list-item" hidden>
        <div class="drawer_selected"></div>
        <div class="align-self-center">
          <img class="mr-3 ml-2 pl-1" src="https://img.icons8.com/material/24/000000/sorting-answers--v1.png"/>
          <!-- <mat-icon class="drawer_img">trending_up</mat-icon> -->
        </div>
        <div [ngClass]="!drawerShow ? 'drawer_text div_hide' : 'drawer_text'">Category Mgmt.</div>
      </div>
      <!--  -->
      <div class="btn_drawer" [routerLink]="['items']" (click)="btnIdAccounts=false; showAccountsMenu=false; btnId=false; showSettingMenu = false"  routerLinkActive="active-list-item">
        <div class="drawer_selected"></div>
        <div class="align-self-center">
          <img  class="mr-3 ml-2 pl-1" src="https://img.icons8.com/ios-filled/24/000000/new-product.png"/>
          <!-- <mat-icon class="drawer_img">trending_up</mat-icon> -->
        </div>
        <div [ngClass]="!drawerShow ? 'drawer_text div_hide' : 'drawer_text'">Item Mgmt.</div>
      </div>
      <!--  -->
      <div class="btn_drawer" [routerLink]="['courier-management']" (click)="btnIdAccounts=false; showAccountsMenu=false; btnId=false; showSettingMenu = false"  routerLinkActive="active-list-item">
        <div class="drawer_selected"></div>
        <div class="align-self-center">
          <!-- <img  class="mr-3 ml-2 pl-1" src="https://img.icons8.com/ios-filled/24/000000/communication.png"/> -->
          <i class="fa fa-truck fa-flip-horizontal mr-2 ml-2 pl-2 pr-1" aria-hidden="true" style="font-size: 25px;"></i>
          <!-- <mat-icon class="drawer_img">trending_up</mat-icon> -->
        </div>
        <div [ngClass]="!drawerShow ? 'drawer_text div_hide' : 'drawer_text'">Courier Manager</div>
      </div>
      <!--  -->
      <div class="btn_drawer" [routerLink]="['testimony']" (click)="btnIdAccounts=false; showAccountsMenu=false; btnId=false; showSettingMenu = false"  routerLinkActive="active-list-item">
        <div class="drawer_selected"></div>
        <div class="align-self-center">
        <img  class="mr-3 ml-2 pl-1" src="https://img.icons8.com/ios-filled/24/000000/communication.png"/>
          <!-- <mat-icon class="drawer_img">trending_up</mat-icon> -->
        </div>
        <div [ngClass]="!drawerShow ? 'drawer_text div_hide' : 'drawer_text'">Customer Reviews</div>
      </div>
      <!--  -->
      <div class="btn_drawer" (click)="toggleSettingMenu()" [ngClass]="{'active-list-item': btnId}">
        <div class="drawer_selected"></div>
        <div class="align-self-center">
          <img  class="mr-3 ml-2 pl-1" src="https://img.icons8.com/ios-filled/24/000000/settings.png"/>
          <!-- <mat-icon class="drawer_img">description</mat-icon> -->
        </div>
        <div [ngClass]="!drawerShow ? 'drawer_text div_hide' : 'drawer_text'">Settings</div>
        <mat-icon style="margin: auto 20px auto auto">{{!showSettingMenu ? 'chevron_right' : 'expand_more'}}</mat-icon>
      </div>

      <mat-nav-list *ngIf="showSettingMenu">
        <a class="btn_drawer drawer_text" mat-list-item (click)="btnIdAccounts=false; showAccountsMenu=false; btnId=true" [routerLink]="['accounts-admin']"><div class="sub_nav">Admin Account</div></a>
        <a class="btn_drawer drawer_text" mat-list-item (click)="btnIdAccounts=false; showAccountsMenu=false; btnId=true" [routerLink]="['order-format']"><div class="sub_nav">Order No. Format</div></a>
        <!-- <a class="btn_drawer drawer_text" mat-list-item (click)="btnIdAccounts=false; showAccountsMenu=false; btnId=true" [routerLink]="['package-setting']"><div class="sub_nav">Package Setting</div></a> -->
        <!-- <a class="btn_drawer drawer_text" mat-list-item (click)="btnIdAccounts=false; showAccountsMenu=false; btnId=true" [routerLink]="['landing-page']"><div class="sub_nav">Landing Page</div></a> -->
        <!-- <a class="btn_drawer drawer_text" mat-list-item (click)="btnIdAccounts=false; showAccountsMenu=false; btnId=true" [routerLink]="['about']"><div class="sub_nav">About</div></a> -->
        <!-- <a class="btn_drawer drawer_text" mat-list-item (click)="btnIdAccounts=false; showAccountsMenu=false; btnId=true" [routerLink]="['guide']"><div class="sub_nav">Guide</div></a> -->
        <!-- <a class="btn_drawer drawer_text" mat-list-item (click)="btnIdAccounts=false; showAccountsMenu=false; btnId=true" [routerLink]="['giftwrap']"><div class="sub_nav">Giftwrap</div></a> -->
        <a class="btn_drawer drawer_text" mat-list-item (click)="btnIdAccounts=false; showAccountsMenu=false; btnId=true" [routerLink]="['payment-setting']"><div class="sub_nav">Payment Setting</div></a>
      </mat-nav-list>



     </div>



  </mat-sidenav>
    <!--  -->
    <div [ngClass]="{'router_grow':!drawerOpen, 'router_shrink':drawerOpen,
    'router_dim':drawerShow && !drawerOpen}" style="background-color: #ffffff; height: 100%;">
        <router-outlet></router-outlet>
      </div>
</mat-sidenav-container>
<!-- mat side navbar -->


<!-- end -->
</div>
