.star{
    color: gold;
    cursor: pointer;
}

img{
    width: 250px;
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 3px 8px rgba(44, 63, 238, 0.247); 
    background-color: #cccccc;   
}