<div class="dialog">
    <button style="float:right; outline: none;" mat-dialog-close mat-icon-button>
        <mat-icon>close</mat-icon>
    </button>
    <div style="display: flex; margin-bottom: 15px;">
        <mat-icon class="star" (click)="rate = 1">
            {{ rate >= 1 ? 'star' : 'star_border' }}</mat-icon>
        <mat-icon class="star" (click)="rate = 2">
            {{ rate >= 2 ? 'star' : 'star_border' }}</mat-icon>
        <mat-icon class="star" (click)="rate = 3">
            {{ rate >= 3 ? 'star' : 'star_border' }}</mat-icon>
        <mat-icon class="star" (click)="rate = 4">
            {{ rate >= 4 ? 'star' : 'star_border' }}</mat-icon>
        <mat-icon class="star" (click)="rate = 5">
            {{ rate >= 5 ? 'star' : 'star_border' }}</mat-icon>
        <div style="margin-left: 5px; margin-top: 3px;">{{rate}} Star Ratings</div>
    </div>
    <mat-form-field style="width: 80%">
        <textarea [(ngModel)]="message" matInput placeholder="Write a review"></textarea>
    </mat-form-field>

    <div class="row">
      <div class="col-md-4 col-lg-4 col-12 col-sm-12">
        <div class="mt-1">
          <button  (click)="saveTestimony()" mat-stroked-button class="btn btn-md btn-block">
              <mat-spinner class="mr-2" *ngIf="isSaving" style="margin: auto;" [diameter]="20"></mat-spinner>SUBMIT
          </button>
        </div>
      </div>
    </div>
    <!--
    <div style="display: flex; margin-top: 25px; margin-bottom: 50px;">
        <div style="flex: 1"></div>
        <mat-spinner *ngIf="isSaving" style="margin: auto;" [diameter]="20"></mat-spinner>
        <div matRipple [matRippleCentered]="false" [matRippleColor]="'rgba(255, 0, 0, 0.1)'"
            class="btn  btn-lg  text-normal" style="color: whitesmoke; margin-right: 15px;"
            (click)="saveTestimony()">
            Save Testimony
        </div>
        <div style="flex: 1"></div>
    </div> -->

    <div style="flex: 1; overflow-y: hidden; overflow-x: hidden;">
        <div >
            <div class="row mt-5">
              <div class="col-md-4 col-lg-4 col-12 col-sm-12">
                <div class="mt-1">
                  <button *ngIf="!isView" [disabled]="uploading || uploadSuccessful"  (click)="addFiles()"  mat-stroked-button class="btn btn-md btn-block">
                      <mat-spinner class="mr-2" *ngIf="isSaving" style="margin: auto;" [diameter]="20"></mat-spinner>ADD FILES
                  </button>
                </div>
              </div>
            </div>
            <input type="file" #file style="display: none" (change)="onFilesAdded()" multiple />

            <br><br>

            <div style="display: flex; justify-content: center; flex-wrap: wrap; max-width: 75vw;">

                <!-- <div *ngFor="let image of currentImages; let i = index" style="display: flex; margin: 20px 10px 0 10px;">
                    <img [ngStyle]="{'background-image': 'url(' + image.file + ')'}" mat-line>
                    <mat-icon *ngIf="!isView" (click)="removeCurrentImg(i)" style="cursor: pointer;">clear</mat-icon>
                </div> -->

                <div *ngFor="let file of strUrl; let i = index" style="display: flex; margin: 20px 10px 0 10px;">
                    <img [ngStyle]="{'background-image': 'url(' + file + ')'}" mat-line>
                    <mat-icon *ngIf="!isView" (click)="removeImg(i)" style="cursor: pointer;">clear</mat-icon>
                </div>
            </div>
        </div>
  </div>


</div>
