<!-- <div style="height: 100%; display: flex; flex-direction: column;">
    <mat-form-field style="width: 400px; margin: auto auto 0 auto;">
        <input type="password" [(ngModel)]="pass1" matInput placeholder="Password">
    </mat-form-field>
    <mat-form-field style="width: 400px; margin: 0 auto auto auto;">
        <input type="password" [(ngModel)]="pass2" matInput placeholder="Confirm Password">
    </mat-form-field>
    <button (click)="resetPass()" style="margin: 30px auto auto auto;" mat-raised-button color="primary">Reset Password</button>
</div> -->
