
  <div class="decorated mb-5">
    <span class="header-title">ABOUT US</span>
  </div>
  <div class="row">
  <h2>About Us</h2>
    <div class="col-md-6 col-lg-6">
      <div class="text-justify p-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum ratione voluptate deleniti eligendi maxime facere, culpa veniam doloremque ducimus earum nam sapiente repellendus, illo iure itaque pariatur necessitatibus, ullam labore?</div>
    </div>
    <div class="col-md-6 col-lg-6">
      <img class="mb-3" width="100%" height="auto" src="https://cdn.pixabay.com/photo/2014/05/03/01/04/manhattan-336708_960_720.jpg" alt="">
    </div>
  </div>
