:host::ng-deep .mat-select-underline{
  border-color:black;
}
:host::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: dimgray;
}
:host::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color:  dimgray;
}
:host::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label {
    color: dimgray;
}



@media only screen and (min-width: 500px) {
  .header-size{
    margin-top: -13px;
    text-align: center;
    font-size:  16px;
    font-weight: bold;
  }
}


@media only screen and (max-width: 500px) {
  .header-size{
    margin-top: -15px;
    text-align: center;
    font-size:  16px;
    font-weight: bold;
  }
}


@media only screen and (min-width: 600px) {

  .header-size{
    margin-top: -15px;
    text-align: center;
    font-size:  22px;
    font-weight: bold;
  }
}

@media only screen and (min-width: 768px) {

  .header-size{
    text-align: center;
    margin-top: -15px;
    font-size: 18px;
    font-weight: bold;
  }

  .margin-left-style{
    margin-left: -40px;
  }

}

@media only screen and (min-width: 992px) {

  .header-size{
    margin-top: -19px;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
  }

  .margin-left-style{
    margin-left: -40px;
  }

}



//

// /* headlines with lines */

@media only screen and (max-width: 600px) {
  .header-title{
    font-size: 14px;
    letter-spacing: .1em;
    color: #333;
    font-weight: 600;
  }

}
@media only screen and (min-width: 600px) {
  .header-title{
    font-size: 18px;
    letter-spacing: .1em;
    color: #333;
    font-weight: 600;
  }
}
@media only screen and (min-width: 768px) {
  .header-title{
    font-size: 24px;
    letter-spacing: .1em;
    color: #333;
    font-weight: 600;
  }
}
@media (min-width: 992px) {
  .header-title{
    font-size: 24px;
    letter-spacing: .1em;
    color: #333;
    font-weight: 600;
  }
  .label-end{
     display: flex;
     justify-content: flex-end;
   }
 }

.decorated{
  overflow: hidden;
  text-align: center;
}
.decorated > span{
 position: relative;
 display: inline-block;
}
.decorated > span:before, .decorated > span:after{
 content: '';
 position: absolute;
 top: 50%;
 border-bottom: 1px solid #333;
 width: 90vw;
 margin: 0 20px;
}
.decorated > span:before{
 right: 100%;
}
.decorated > span:after{
 left: 100%;
}
