<div class="container-fluid">
  <div class="decorated header-title mb-4 mt-4"><span>PASSWORRD RESET</span></div>
</div>

<div class="container">
 <div class="row form-group">
  <div class="col-md-2 col-lg-2"></div>
  <div class="col-md-8 col-lg-8 col-12 col-sm-12 mx-auto">
      <div class="row">
        <div class="col-md-4 col-lg-4 label-end">
          <label for="" class="col-form-label">Password</label>
          </div>
          <div class="col-md-8 col-lg-8">
            <input type="password" class="form-control" [(ngModel)]="pass1"  placeholder="Password" >
           </div>
      </div>
      <div class="row form-group">
        <div class="col-md-4 col-lg-4 label-end">
          <label for="" class="col-form-label">Confirm Password</label>
          </div>
          <div class="col-md-8 col-lg-8">
            <input type="password" class="form-control" [(ngModel)]="pass2"  placeholder="Confirm Password" >
           </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-lg-4"> </div>
        <div class="col-md-4 col-lg-4">
          <button (click)="resetPass()" mat-stroked-button class="btn btn-md btn-block">
            RESET PASSWORD
          </button>
           </div>
           <div class="col-md-4 col-lg-4"> </div>
      </div>
 </div>
 <div class="col-md-2 col-lg-2"></div>
</div>

 <!--  -->


</div>
<!--
<div style="height: 100%; display: flex; flex-direction: column;">
    <mat-form-field style="width: 400px; margin: auto auto 0 auto;">
        <input type="password" [(ngModel)]="pass1" matInput placeholder="Password">
    </mat-form-field>
    <mat-form-field style="width: 400px; margin: 0 auto auto auto;">
        <input type="password" [(ngModel)]="pass2" matInput placeholder="Confirm Password">
    </mat-form-field>
    <button (click)="resetPass()" style="margin: 30px auto auto auto;" mat-raised-button color="primary">Reset Password</button>
</div> -->
