<div class="container-flex">
  <div class="row pt-4 mx-3">

    <div class="mb-4"  style="margin-left: 14px;">
      <img style="margin-top: -4px;" class="mr-2"  src="https://img.icons8.com/ios-filled/24/000000/group-background-selected.png"/>
      <span>Membership User Info.</span>
     </div>

    <!-- <div class="col-md-12">
      <mat-icon class="align-middle" style="width: 50px; height: 50px;font-size: 50px;">account_circle</mat-icon>
      <span class="align-middle"> {{ titlebranch | uppercase}}</span>
    </div> -->
    <!-- list controls -->
    <!-- <div class="col-md-12">
      <button *ngIf="userdetails.usertype_id == 1" class="list-opt list-btn-opt-view" (click)="additem('add')" matTooltip="">
        Add user
      </button>
    </div> -->
    <div class="col-md-12" style="display: flex; justify-content: center; ">
      <mat-form-field class="my-form-field f-15" style="width: 140px;">
        <mat-select [(value)]="paginator.type" (selectionChange)="selectType($event.value)">
          <!-- <mat-option value="0">Select type</mat-option> -->
          <mat-option value="1">User no</mat-option>
          <mat-option value="2">Name</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="f-15 my-form-field" style="width: 20em; margin: 0 10px;">
        <input  #searchInput matInput placeholder="keyword" autocomplete="off">
      </mat-form-field>

      <button class="list-opt list-btn-opt-view" (click)="applyFilter(searchInput.value)" matTooltip="">
        Search
      </button>

      <div style="flex: 1 1 auto"></div>
      <div style="transform: translateY(3px); display: flex;">
        <div style="margin-top: 12px; font-size: 12px; color: rgb(117, 117, 117);">Limit：</div>

        <mat-form-field style="width: 60px; font-size: 12px;">
          <mat-select [(value)]="paginator.limit" (selectionChange)="selectLimit($event.value)">
            <mat-option value="5">5</mat-option>
            <mat-option value="10">10</mat-option>
            <mat-option value="20">20</mat-option>
            <mat-option value="50">50</mat-option>
            <mat-option value="100">100</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div style="transform: translateY(3px); display: flex;">

        <div class="indicator">{{ pageItem.offset + 1 }} - {{ pageItem.offset + +reqList.length  }} of
          {{ pageItem.total }}</div>

        <button [disabled]="pageItem.total <= 1 || (pageItem.current == pageItem.first)" (click)="pageAction('first')"
          mat-icon-button class="pagi-arrow">
          <mat-icon style="font-size: 28px;">first_page</mat-icon>
        </button>
        <button [disabled]="pageItem.total <= 1 || (pageItem.current == pageItem.first)" (click)="pageAction('prev')"
          mat-icon-button class="pagi-arrow">
          <mat-icon style="font-size: 28px;">chevron_left</mat-icon>
        </button>
        <button [disabled]="pageItem.total <= 1 || (pageItem.current == pageItem.pages)" (click)="pageAction('next')"
          mat-icon-button class="pagi-arrow">
          <mat-icon style="font-size: 28px;">chevron_right</mat-icon>
        </button>
        <button [disabled]="pageItem.total <= 1 || (pageItem.current == pageItem.pages)" (click)="pageAction('last')"
          mat-icon-button class="pagi-arrow">
          <mat-icon style="font-size: 28px;">last_page</mat-icon>
        </button>
      </div>

    </div>
    <!-- table start -->
    <div class="col-md-12 list-div pr-0" [ngStyle]="{'height': contentHeight + 'px'}">
      <!-- style="max-height: 450px;" -->
      <table mat-table [dataSource]="dataSource" matSort class="w-100">
        <!-- class="mat-elevation-z8" -->
        <ng-container matColumnDef="id">
          <th class=" pl-2" math-header-cell *matHeaderCellDef>#</th>
          <td mat-cell class="list-item pl-2" *matCellDef="let row; let i=index">{{i+1}}</td>
        </ng-container>

        <ng-container matColumnDef="user_no">
          <th class="" math-header-cell *matHeaderCellDef mat-sort-header>User ID</th>
          <td mat-cell class="list-item" *matCellDef="let row">{{row.user_no}}</td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th class="" math-header-cell *matHeaderCellDef mat-sort-header>Name</th>
          <td mat-cell class="list-item" *matCellDef="let row">{{row.firstname}}</td>
        </ng-container>

        <ng-container matColumnDef="type">
          <th class="" math-header-cell *matHeaderCellDef mat-sort-header>User Type</th>
          <td mat-cell class="list-item" *matCellDef="let row">{{row.userType}} {{ (row.status == '7') ? '| Registered Guest' : '' }}</td>
        </ng-container>


        <ng-container matColumnDef="viewAction">
          <th class=" text-center" math-header-cell *matHeaderCellDef>Controls</th>
          <td mat-cell *matCellDef="let row" class="text-center pr-0">
            <button class="list-opt list-btn-opt-view" (click)="userDialog(row, 'view')" matTooltip="">
              View
            </button>
            <!-- <button *ngIf="row.usertype_id != 2" class="list-opt list-btn-opt-delete" (click)="delete(row.id)" matTooltip="">
              Delete
            </button> -->
            <button *ngIf="userdetails.usertype_id == 1" class="list-opt list-btn-opt-edit" (click)="userDialog(row, 'edit')" matTooltip="">
              Edit
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <!-- <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row> -->
      </table>
    </div>

    <!-- list header -->
    <!-- <div class="col-md-12 list-header">
      <div matSort style="display: flex; vertical-align: middle; line-height: 40px;">
        <div style="padding-left: 25px; outline: none; width: 3.2%;">#</div>
        <div mat-sort-header="user_no" style="padding-left: 25px; outline: none; width: 8.7%">User no</div>
        <div mat-sort-header="name" style="padding-left: 25px; outline: none; width: 24.5%">Name</div>
        <div mat-sort-header="type" style="padding-left: 25px; outline: none; width: 15.5%;">Type</div>
        <div style="flex: 1 1 auto"></div>
        <mat-spinner *ngIf="search_loading" [diameter]="20" style="margin-top: 10px;"></mat-spinner>
      </div>
    </div> -->
    <!-- list div content -->
    <!-- <div class="col-md-12 list-div" style="max-height: 450px;">
      <mat-table #table [dataSource]="dataSource">

        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>#</mat-header-cell>
          <mat-cell class="list-item" style="flex: 0.1" *matCellDef="let row; let i=index">{{i+1}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="user_no">
          <mat-cell class="list-item" style="flex: 0.2" *matCellDef="let row">{{row.user_no}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
          <mat-cell class="list-item" style="flex: 0.48;" *matCellDef="let row">{{ row.firstname }} {{ row.surename }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="type">
          <mat-cell class="list-item" style="flex: 0.48" *matCellDef="let row">{{row.userType}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="viewAction">
          <mat-header-cell *matHeaderCellDef> </mat-header-cell>
          <mat-cell *matCellDef="let row" style="flex: 0.45">
            <button class="list-opt list-btn-opt-view" (click)="openView(row, 'view')" matTooltip="">
              View
            </button>
            <button class="list-opt list-btn-opt-delete" (click)="delete(row.id)" matTooltip="">
              Delete
            </button>
            <button class="list-opt list-btn-opt-edit" (click)="edit(row)" matTooltip="">
              Edit
            </button>
          </mat-cell>
        </ng-container>

        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>
  </div>
</div> -->

<!-- <div class="below-toolbar" style="padding: 10px; width: 1100px; margin: 100px auto auto auto;">
  <div class="container-flex">
    <div class="row"> -->
      <!-- <button class="button-back" (click)="backClicked()">
        <mat-icon>arrow_back_ios</mat-icon><div style="font-size:13px;">Back</div>
      </button> -->
    <!-- </div>
  </div>

</div> -->
