
 <div mat-dialog-title class="border-bottom mb-0">
  <span class="text-dark h4">ADD COURIER</span>

  <button class="lh-button-icon float-right" mat-icon-button [mat-dialog-close]="" style="top: -5px;right: -10px; width: 32px; height: 32px;">
    <mat-icon>close</mat-icon>
  </button>
</div>

<mat-dialog-content class="overflow-x-hidden text-dark mx-0 px-0 pr-1" [ngStyle]="{'max-width': '500px'}">
<form [formGroup]="courierForm" (ngSubmit)="onSubmit()">

  <div class="row form-group">
    <div class="col-md-4 col-lg-4">
      <label for="">
        Courier Image:
      </label>
    </div>
    <div class="col-md-8 col-lg-8">
      <!-- start -->
      <div class="mb-2">
        <div style=" position: relative;">
          <img [src]="(localUrl) ? localUrl : 'https://increasify.com.au/wp-content/uploads/2016/08/default-image.png'" class="profile-pic">
          <label for="browse-image" class="fab-browse" align="center">
            <mat-icon style="font-size: 18px; vertical-align: middle; line-height: 25px;">edit</mat-icon>
          </label>

        </div>
      </div>
      <input type="file" formControlName="img" (change)="onSelectFile($event)" id="browse-image"  style="display: none;">
      <!-- end -->
    </div>
  </div>
  <!--  -->
  <div class="row form-group">
    <div class="col-md-4 col-lg-4 align-self-center">
      <label for="" class="col-form-label">
        Courier Name:
      </label>
    </div>
    <div class="col-md-8 col-lg-8">
      <!-- start -->
        <mat-form-field class="my-form-field col-md-12 px-0">
          <input matInput formControlName="name"  placeholder="Courier name" >
          <mat-error *ngIf="courierForm.get('name').hasError('required')">
            Courier name is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      <!-- end -->
    </div>
    <!-- <div class="col-md-4 col-lg-4"></div> -->
  </div>
  <!--  -->
  <div class="row form-group">
    <div class="col-md-4 col-lg-4 align-self-center">
      <label for="" class="col-form-label">
        Courier Contact #:
      </label>
    </div>
    <div class="col-md-8 col-lg-8">
      <!-- start -->
        <mat-form-field class="my-form-field col-md-12 px-0">
          <input matInput formControlName="contact_no" placeholder="Courier Contact #">
          <mat-error *ngIf="courierForm.get('contact_no').hasError('required')">
            Courier Contact # is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      <!-- end -->
    </div>
  </div>
  <!--  -->
  <div class="row form-group">
    <div class="col-md-4 col-lg-4 align-self-center">
      <label for="" class="col-form-label">
        Courier Email Address:
      </label>
    </div>
    <div class="col-md-8 col-lg-8">
      <!-- start -->
        <mat-form-field class="my-form-field col-md-12 px-0">
          <input matInput formControlName="email_address" placeholder="Courier Email Address">
          <mat-error *ngIf="courierForm.get('email_address').hasError('required')">
            Courier Email Address is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      <!-- end -->
    </div>
  </div>
  <!--  -->
  <div class="row">
    <div class="col-md-4 col-lg-4 align-self-center"> </div>
    <div class="col-md-8 col-lg-8">
      <button type="submit" class="btn text-light btn-dark btn-md btn-block">ADD</button>
    </div>
    <!-- <div class="col-md-4 col-lg-4"></div> -->
  </div>


</form>
</mat-dialog-content>

<!-- (click)="paymaentbtn()" -->
