<button style="float:right; outline: none;z-index: 10;top: -12px; right: -12px;" mat-icon-button color="warn" [mat-dialog-close]="isSuccessProcess" class="mx-2 my-1 lh-button-icon">
	<mat-icon>close</mat-icon>
</button>
<h2 mat-dialog-title class="border-bottom">Confirmation required</h2>
<!-- <div class="col-md-12 text-right py-3 mt-0 pl-2 pr-5 myHeader">
	<h2 class="d-inline float-left text-title font-20" [ngStyle]="{'position': 'relative', 'top': '5px'}"></h2>
</div> -->
<mat-dialog-content class="mat-typography font-14 mx-0 px-0" style="height: 100% !important;">
	<ng-container *ngIf="details.option == 'deactivate'">
		<span class="d-block text-danger">You are going to deactivate your <strong>ACCOUNT</strong>.</span>
		<span class="d-block text-danger mb-2">
			Deactivating of account
			<strong>CAN</strong>
			be <strong>restored</strong> anytime you login again.
		</span>
		<span class="d-block">To prevent accidental actions we ask you to confirm your intention.</span>
		<span class="d-block">
			Please input your email
			<span class="focus-danger pointer-hand" matTooltip="Click to copy in clipboard" matTooltipPosition="above" (click)="copyText()">{{details.email}}</span>
			to proceed or close this modal to cancel.
		</span>
	</ng-container>
	<ng-container *ngIf="details.option == 'remove'">
		<span class="d-block text-danger">You are going to remove your <strong>ACCOUNT</strong> permanently.</span>
		<span class="d-block text-danger mb-2">
			Permanent removal of account
			<strong>CANNOT</strong>
			be restored! Are you
			<strong>ABSOLUTELY</strong>
			sure?
		</span>
		<span class="d-block">This action can lead to data loss. To prevent accidental actions we ask you to confirm your intention.</span>
		<span class="d-block">
			Please input your email
			<span class="focus-danger pointer-hand" matTooltip="Click to copy in clipboard" matTooltipPosition="above" (click)="copyText()">{{details.email}}</span>
			to proceed or close this modal to cancel.
		</span>
	</ng-container>
	<input class="col-md-12 swal2-input" [ngClass]="{ 'ww-inputsuccess': emailMatch, 'ww-inputerror': validateEmailConfirmError }" (input)="validateConfirm($event)" placeholder="Confirm your email address" type="text" #confirmEmail>
	<div *ngIf="validateEmailConfirmError" class="swal2-validation-message mb-2" id="swal2-validation-message" style="display: flex;">Removing failed: Email not matched.</div>
	<div *ngIf="validateEmailConfirmErrorRequest" class="swal2-validation-message mb-2" id="swal2-validation-message" style="display: flex;">Removing failed: Something Went Wrong!.</div>
	<div *ngIf="submitSuccess" class="validation-message-success mb-2 text-center d-block">
		{{details.option | uppercase}} REQUEST SUCCESSFUL!
		<small class="d-block">You will be singed out after you close this dialog. Thank you!</small>
	</div>
</mat-dialog-content>
<mat-dialog-actions class="border-top"> <!---align="left"--->
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
	<div class="container-fluid">
		<div class="row px-0">
			<div class="col-md-6 px-0" align="left">
			  <button matRipple class="btn" (click)="onSubmit(confirmEmail.value, details.option, details.userId)" [ngClass]="{'btn-secondary': disableConfirmBtn, 'btn-danger': !disableConfirmBtn}" [disabled]="disableConfirmBtn">Confirm</button>
			</div>
			<div class="col-md-6 px-0" align="right">
				<div class="mt-2 mr-1" style="width: 27px; height: 27px;">
					<mat-progress-spinner *ngIf="isSpinner" class="" [diameter]="27" color="warn" mode="indeterminate"></mat-progress-spinner>
				</div>
			</div>
		</div>
	</div>
</mat-dialog-actions>
