ul li {
  float: left;
  margin-left: 10px;
  cursor: pointer;
}

.pagi-arrow{
  color: rgb(117, 117, 117);
  outline: none;
}

.indicator{
  margin-top: 12px;
  font-size: 12px;
  color: rgb(117, 117, 117);
  margin-left: 15px;
  margin-right: 10px;
}

:host::ng-deep .mat-table thead{
  background-color: whitesmoke;
}

:host::ng-deep .mat-table thead tr{
  height: 40px;
  font-size: 13px;
}
