<button style="float:right; outline: none;z-index: 10;top: -12px; right: -12px;" mat-icon-button color="warn" [mat-dialog-close]="true" class="mx-2 my-1 lh-button-icon">
	<mat-icon>close</mat-icon>
</button>
<h2 mat-dialog-title class="border-bottom">Items Inside Package</h2>
<!-- <div class="col-md-12 text-right py-3 mt-0 pl-2 pr-5 myHeader">
	<h2 class="d-inline float-left text-title font-20" [ngStyle]="{'position': 'relative', 'top': '5px'}"></h2>
</div> -->
<mat-dialog-content class="mat-typography font-14 mx-0 px-0" style="height: 100% !important;">
	<ng-container>
		<table class="table table-responsive table-stripe" border="0">
			<thead class="borderless">
				<tr>
					<th>Item ID</th>
					<th>Name</th>
					<th>Description</th>
					<th>Item Quantity</th>
					<th>Item Per Price</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let item of details.data; let i = index">
					<td>{{item.item_id}}</td>
					<td>{{item.item_detail.item_name}}</td>
					<td>{{item.item_detail.description}}</td>
					<td>{{item.itemqty_count}}</td>
					<td>{{item.item_detail.price}}</td>
				</tr>
			</tbody>
		</table>
	</ng-container>
</mat-dialog-content>
<mat-dialog-actions class="border-top"> <!---align="left"--->
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
	<div class="container-fluid">
		<div class="row px-0">
			<div class="col-md-6 px-0" align="left">
			  <button matRipple class="btn btn-danger" [mat-dialog-close]="true">Close</button>
			</div>
		</div>
	</div>
</mat-dialog-actions>
