

<div class="mb-5">
  <div class="decorated mb-5">
    <span class="header-title">SUCCESS</span>
  </div>
  <div class="row form-group">
    <div class="col-lg-12 col-md-12 d-flex justify-content-center">
      <h5>WAITING FOR PAYMENT</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-lg-12 col-12 col-sm-12">
      <p>
        Thank you  for shopping with us! Please pay and send your proof of payment, by uploading
        it on this <a  [routerLink]="['/transaction-view/',orderID]"><strong>page</strong></a>, within 24 hours, to get your orders processed.
      </p>
      <p>
        We have sent  a copy of confirmation to your email. Thank you!
      </p>
    </div>
  </div>

  <div class="row d-block mt-5 clearfix">
    <!-- CONTACT US -->
    <div class="col-md-6 col-lg-6 float-left clearfix">
      <div class="mb-2 border-bottom">
        <h5>
          <i class="fa fa-phone" aria-hidden="true"></i>
           CONTACT US
        </h5>
      </div>
      <div class="row form-group">
        <div class="col-md-12 col-lg-12 col-12 col-sm-12">
          For further enquiries or assistance contact us from the  options below.
        </div>
      </div>
      <div class="row form-group">
        <div class="col-12">
          <span class="col-form-label h5">Email our sales team</span>
        </div>
        <div class="col-12">
          sales@easycom-intl.com
          <!--  -->
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <span class="col-form-label h5">Call our sales hotline</span>
        </div>
        <div class="col-12 form-group">
          0000-0000-0000
          <!--  -->
        </div>
      </div>
    </div>
    <!-- / CONTACT US -->
    <!-- ORDER ITEMS -->
    <div class="col-md-6 col-lg-6 float-right clearfix">
      <div class="mb-2 border-bottom">
       <h5>
        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        ORDER DETAILS</h5>
      </div>
      <div class="row form-group">
        <div class="col-md-6 col-lg-4 col-6 col-sm-6"><strong>Order Number</strong></div>
        <div class="col-md-6 col-lg-8 col-6 col-sm-6">
          {{orderID}}
          <!--  -->
        </div>
      </div>
      <ng-container *ngFor="let itm of items; let i = index" >
      <div class="row">
        <div class="col-lg-4 col-md-6 col-6 col-sm-6">
            <img class="image-success" [src]="itm.item.images[0].file" >
        </div>
        <div class="col-md-6 col-lg-8 col-6 col-sm-6">
          <span class="text-break text-capitalize">
            <h6>{{itm.item.name}}</h6>
          </span>
          <br>
          <span><span class="mr-2">&#8369;</span>{{ itm.item.price | number : '1.2-2' }} x {{itm.qty}}</span>
          <br>
          <span class="mr-2">Subtotal:</span>
          <span><span class="mr-2">&#8369;</span>{{ itm.item.price  * itm.qty | number : '1.2-2' }}</span>
        </div>
      </div>
      <hr>
    </ng-container>
    <div class="row form-group">
      <div class="col-md-6 col-lg-4 col-6 col-sm-6">
        <div class="h5">Shipping Fee</div>
      </div>
      <div class="col-lg-8 col-md-6 col-6 col-sm-6">
          <span class="text-danger text-justify">
            <div class="h5">&#8369; {{ (delOps.service_method === 'delivery') ? delOps?.courier.shipping_fee : '0' }}</div>
            Shipping fee is not included in total price and will be shouldered by he buyer.
          </span>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-6 col-sm-6">
        <div class="h5">Total</div>
      </div>
      <div class="col-lg-8 col-md-6 col-6 col-sm-6">
        <span>
          <span class="mr-2">&#8369;</span>
          {{total + total_package_shippingfee | number : '1.2-2'}}</span>
      </div>
      </div>
       <!-- <div class="mb-4 border-dark">
        <a [routerLink]="['/']"><h6 align="end">{{ '<' }} Continue Shopping</h6></a>
       </div> -->
    </div>
    <!-- / ORDER ITEMS -->
    <!-- MORE INFORMATION -->
    <div class="col-md-6 col-lg-6 float-left clearfix">
      <!--  -->
      <div class="mt-5 mb-2 border-bottom">
        <h5>
          <i class="fa fa-truck fa-flip-horizontal" aria-hidden="true"></i>
           SERVICE METHOD
        </h5>
      </div>
      <div class="row form-group">
        <div class="col-12"><label class="col-form-label h5">Service Method</label></div>
        <div class="col-12">
          <!--  -->
          {{opsdel | uppercase}}
        </div>
      </div>
      <ng-container *ngIf="delOps.service_method === 'pickup'">
        <div class="row form-group">
          <div class="col-12"><label class="col-form-label h5">Courier Service</label></div>
          <div class="col-12">
            <!--  -->
            {{delOps.courier.courier_name | uppercase}}
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="delOps.service_method === 'pickup'">
        <div class="row form-group">
          <div class="col-12"><label class="col-form-label h5">Pickup Time</label></div>
          <div class="col-12">
            <!--  -->
            {{delOps.pickup_date | date: 'MMMM dd, yyyy'}}
          </div>
        </div>
        <div class="row form-group">
          <div class="col-12"><label class="col-form-label h5">Pickup Date</label></div>
          <div class="col-12">
            <!--  -->
            {{delOps.pickup_time}}
          </div>
        </div>
      </ng-container>
      <div class="mt-5 mb-2 border-bottom">
        <h5>
          <i class="fa fa-credit-card" aria-hidden="true"></i>
           PAYMENT METHOD
        </h5>
      </div>
      <div class="row">
        <div class="col-12"><label class="col-form-label h5">Payment Method</label></div>
        <div class="col-12">
          {{opspay}}
        </div>
      </div>
      <div class="mt-5 mb-2 border-bottom">
        <h5>
          <i class="fa fa-user" aria-hidden="true"></i>
           CUSTOMER INFORMATION
        </h5>
      </div>
      <div class="row form-group">
        <div class="col-12">
          <label class="col-form-label h5">Name</label>
        </div>
        <div class="col-12">
          {{infocustom?.firstname}}  &nbsp; {{infocustom?.middlename}}  &nbsp;  {{infocustom?.surename}}
          <!--  -->
        </div>
      </div>
      <div class="row form-group">
        <div class="col-12">
          <label class="col-form-label h5">Address</label>
        </div>
        <div class="col-12 text-break">
          {{infocustom?.address | titlecase}}
          <!-- {{infocustom?.address | titlecase}}  &nbsp; {{infocustom?.barangay | titlecase}}  &nbsp;  {{infocustom?.city | titlecase}}  &nbsp; {{infocustom?.province | titlecase}}  &nbsp; {{infocustom?.region | uppercaseRoman}}  &nbsp; -->
        </div>
      </div>
      <!--  -->
      <div class="row form-group">
        <div class="col-12">
          <label class="col-form-label h5">Contact Number </label>
        </div>
        <div class="col-12">
          <div *ngIf="showdata">
            +63{{infocustom?.contact_no}}
          </div>
          <div *ngIf="!showdata">
            {{infocustom?.contact_no}}
        </div>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-12">
          <label class="col-form-label h5">Email</label>
        </div>
        <div class="col-12 text-break">
          {{infocustom?.email_address}}
        </div>
      </div>
      <div class="row" hidden>
        <div class="col-12">
          <label class="col-form-label h5">Remarks</label>
        </div>
        <div class="col-12">
          {{infocustom?.remarks}}
        </div>
      </div>
      <!--  -->
      <div *ngIf="noData">
        <div class="mt-5 mb-2 border-bottom">
          <h5>
            <i class="fa fa-user" aria-hidden="true"></i>
             RECEIVER INFORMATION
           </h5>
        </div>
        <div class="row form-group">
          <div class="col-12">
            <label class="col-form-label h5">Name</label>
          </div>
          <div class="col-12">
            {{noData?.firstname}}  &nbsp; {{noData?.middlename}}  &nbsp;  {{noData?.surename}}
            <!--  -->
          </div>
        </div>
        <div class="row form-group">
          <div class="col-12">
            <label class="col-form-label h5">Address</label>
          </div>
          <div class="col-12">
            {{noData?.address | titlecase}
            <!-- {{noData?.address | titlecase}}  &nbsp; {{noData?.barangay | titlecase}}  &nbsp;  {{noData?.city | titlecase}}  &nbsp; {{noData?.province | titlecase}}  &nbsp; {{noData?.region | uppercaseRoman}}  &nbsp; -->
          </div>
        </div>
        <!--  -->
        <div class="row form-group">
          <div class="col-12">
            <label class="col-form-label h5">Contact Number</label>
          </div>
          <div class="col-12">
            +63{{noData?.contact_no}}
          </div>
        </div>
        <div class="row" hidden>
          <div class="col-12">
            <label class="col-form-label h5">Remarks</label>
          </div>
          <div class="col-12">
            {{noData?.remarks}}
          </div>
        </div>
      </div>
      <!-- / MORE INFORMATION -->
      <!-- BUTTON -->
      <div class="row mt-4">
        <div class="col-12 col-sm-12 col-md-8 col-lg-8 clearfix">
          <button [routerLink]="['/']" mat-stroked-button class="btn btn-block btn-color">CONTINUE SHOPPING</button>
        </div>
      </div>
      <!-- / BUTTON -->
    </div>
    <!-- / COL -->
  </div>
  <!-- / ROW -->
 </div>
<!-- / CONTAINER -->
