
.style-01{
  font-size: 18px;
  font-weight: bold;
}
// a{
//   color: black;
//
// }
// a:hover{
//   color: black;
//
// }
//
// a:link{
//   color: black;
//
// }


@media only screen and (min-width: 500px) {
  .header-size{
    margin-top: -15px;
    text-align: center;
    font-size:  16px;
    font-weight: bold;
  }
  .pc-view{
    display: none;
  }
}


@media only screen and (max-width: 500px) {
  .header-size{
    margin-top: -15px;
    text-align: center;
    font-size:  16px;
    font-weight: bold;
  }
  .pc-view{
    display: none;
  }
}


@media only screen and (max-width: 600px) {
  .header-size{
    margin-top: -15px;
    text-align: center;
    font-size:  18px;
    font-weight: bold;
  }
  .pc-view{
    display: none;
  }
}

@media only screen and (min-width: 600px) {

  .header-size{
    margin-top: -15px;
    text-align: center;
    font-size:  22px;
    font-weight: bold;
  }
  .pc-view{
    display: none;
  }
}

@media only screen and (min-width: 768px) {

  .header-size{
    text-align: center;
    margin-top: -15px;
    font-size: 18px;
    font-weight: bold;
  }
  .mobile-view{
    display: none;
  }
  .pc-view{
    display: block;
  }

  .image-arrow{
    display: none;
  }

  .image-arrow-768{
    display: block;
  }
  .contact-01{
    font-size: 16px;
    font-weight: bold;
  }
}

@media only screen and (min-width: 992px) {

  .header-size{
    margin-top: -19px;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
  }

  .image-arrow{
    display: block;
  }
  .contact-01{
    font-size: 16px;
    font-weight: bold;
  }
  .image-arrow-768{
    display: none;
  }
}


.cart-image {
  align-items: right;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 250px;
  max-height: 250px;
}

//

// /* headlines with lines */

@media only screen and (max-width: 600px) {
  .header-title{
    font-size: 14px;
    letter-spacing: .1em;
    color: #333;
    font-weight: 600;
  }

  .image-success{
    object-fit: cover;
    width: 100%;
    height: 200px;
  }


}
@media only screen and (min-width: 600px) {
  .header-title{
    font-size: 18px;
    letter-spacing: .1em;
    color: #333;
    font-weight: 600;
  }

  .image-success{
    object-fit: cover;
    width: 100%;
    max-height: 200px;
  }

}
@media only screen and (min-width: 768px) {
  .header-title{
    font-size: 24px;
    letter-spacing: .1em;
    color: #333;
    font-weight: 600;
  }

  .image-success{
    object-fit: cover;
    width: 100%;
    max-height: 150px;
  }

}
@media (min-width: 992px) {
  .header-title{
    font-size: 24px;
    letter-spacing: .1em;
    color: #333;
    font-weight: 600;
  }
  .label-end{
     display: flex;
     justify-content: flex-end;
   }
   .image-success{
    object-fit: cover;
    width: 100%;
    max-height: 150px;
  }
 }

  .decorated{
    overflow: hidden;
    text-align: center;
  }
  .decorated > span{
  position: relative;
  display: inline-block;
  }
  .decorated > span:before, .decorated > span:after{
  content: '';
  position: absolute;
  top: 50%;
  border-bottom: 1px solid #333;
  width: 90vw;
  margin: 0 20px;
  }
  .decorated > span:before{
  right: 100%;
  }
  .decorated > span:after{
  left: 100%;
  }


  // newly added
  .btn-color{
    background-color: #009688;
    color: #ffffff;
  }
