<ng-container *ngIf="option == 'add'">
	<div mat-dialog-title class="border-bottom mb-0">
		<img src="/assets/images/favicon.ico" alt="" class="dialog-icon">
		<span class="pl-2 text-primary">ADD PACKAGE COMBINATION</span>
		<!-- <span class="text-muted mb-0">{{ details?.firstname | titlecase }} {{ details?.surename | titlecase }}'s Detail</span> -->
		<button class="lh-button-icon float-right" mat-icon-button color="warn" [mat-dialog-close]="isSuccessProcess" style="top: -5px;right: -1px; width: 32px; height: 32px;">
			<mat-icon>close</mat-icon>
		</button>
	</div>
	<mat-dialog-content class="mat-typography font-14 mx-0 px-0 pt-2 w-100" style="height: 100% !important; min-width: 500px; max-width: 500px;">
    <div class="container-fluid">
      <div class="row">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6 px-0">
			        <form class="col-md-12 px-0" [formGroup]="packageForm">
								<h3 class="text-info border-bottom mt-2 mb-1 pb-1">Item Combination:</h3>
	              <mat-form-field class="w-100">
	                <mat-label>Select Item</mat-label>
	                <mat-select placeholder="Choose Items" #itemSelect (selectionChange)="getItemSelected(itemSelect)" formControlName="items" [errorStateMatcher]="matcher" multiple>
	                  <mat-select-trigger>
	                    {{this.viewValue ? this.viewValue : ''}}
	                    <span *ngIf="packageForm.get('items').value?.length > 1" class="additionals-selection-text">
	                      (+{{packageForm.get('items').value.length - 1}} {{packageForm.get('items').value?.length === 2 ? 'other' : 'others'}})
	                    </span>
	                  </mat-select-trigger>
	                  <!-- (onSelectionChange)="getItemSelected($event.source.selected[0].viewValue)" -->
	                  <mat-option *ngFor="let item of itemList" [value]="item.id">{{item.item_name}}</mat-option>
	                </mat-select>
	                <mat-hint>
	                  {{packageForm.get('items').value ? 'Add More Items to Combine!' : 'Select More Items to Combine!'}}
	                </mat-hint>
	                <mat-error *ngIf="packageForm.get('items').hasError('required')">You must make a selection</mat-error>
	              </mat-form-field>
			        </form>
			        <!-- /FORM -->
							<h3 class="text-info border-bottom mt-2 mb-1 pb-1">Shipping Fee:</h3>
							<mat-form-field class="w-100">
								<input [(ngModel)]="destination[0]" digitOnly matInput placeholder="NCR" [errorStateMatcher]="matcher" autocomplete="off">
							</mat-form-field>

							<mat-form-field class="w-100">
								<input [(ngModel)]="destination[1]" digitOnly matInput placeholder="Luzon" [errorStateMatcher]="matcher" autocomplete="off">
							</mat-form-field>

							<mat-form-field class="w-100">
								<input [(ngModel)]="destination[2]" digitOnly matInput placeholder="Visayas/Mindanao" [errorStateMatcher]="matcher" autocomplete="off">
							</mat-form-field>

							<mat-form-field class="w-100">
								<input [(ngModel)]="destination[3]" digitOnly matInput placeholder="Island" [errorStateMatcher]="matcher" autocomplete="off">
							</mat-form-field>
							<!-- <mat-hint>Errors appear instantly!</mat-hint> -->
            </div>
            <div class="col-md-6">
						<h3 class="text-info border-bottom mt-2 mb-1 pb-1">Items Inside The Package:</h3>
						<!-- <ng-container > -->
							<mat-form-field class="w-100" *ngFor="let itemID of itemsID; let i = index">
								<input #itemsValue digitOnly [(ngModel)]="itemsArray[i]" matInput placeholder="Item #{{itemID.value}} - {{itemID.viewValue}}" [errorStateMatcher]="matcher" autocomplete="off">
								<mat-hint>Input item quantity inside package.</mat-hint>
							</mat-form-field>
						<!-- </ng-container> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-dialog-content>
	<mat-dialog-actions class="border-top"> <!---align="left"--->
	  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
		<div class="container-fluid">
			<div class="row px-0">
				<div class="col-md-12 px-0 py-0">
					<div *ngIf="hasError" class="swal2-validation-message mb-2" id="swal2-validation-message" style="display: flex;">
						{{ hasErrorMessage }}
					</div>
				</div>
				<div class="col-md-6 px-0" align="left">
					<div class="mt-2 mr-1" style="width: 27px; height: 27px;">
						<mat-progress-spinner *ngIf="isSpinner" class="" [diameter]="27" color="warn" mode="indeterminate"></mat-progress-spinner>
					</div>
				  <!-- <button matRipple class="btn" (click)="onSubmit(confirmEmail.value, details.option, details.userId)" [ngClass]="{'btn-secondary': disableConfirmBtn, 'btn-danger': !disableConfirmBtn}" [disabled]="disableConfirmBtn">Confirm</button> -->
				</div>
				<div class="col-md-6 px-0" align="right">
					<!-- <button class="btn_blue text-normal add-files-btn" matRipple for="browse-image" [disabled]="disableConfirmBtn">
						ADD USER IMAGE
					</button> -->
					<button	class="btn btn-danger shadow-all" (click)="onSubmit()" matRipple>
						Confirm
					</button>
					<!-- <div class="mt-2 mr-1" style="width: 27px; height: 27px;">
						<mat-progress-spinner *ngIf="isSpinner" class="" [diameter]="27" color="warn" mode="indeterminate"></mat-progress-spinner>
					</div> -->
				</div>
			</div>
		</div>
	</mat-dialog-actions>
</ng-container>

<ng-container *ngIf="option == 'view'">
  <div mat-dialog-title class="border-bottom mb-0">
		<img src="/assets/images/favicon.ico" alt="" class="dialog-icon">
		<span class="pl-2 text-primary">PACKAGE COMBINATION TEMPLATE DETAIL</span>
		<button class="lh-button-icon float-right" mat-icon-button color="warn" [mat-dialog-close]="" style="top: -5px;right: -1px; width: 32px; height: 32px;">
			<mat-icon>close</mat-icon>
		</button>
	</div>
  <mat-dialog-content class="mat-typography font-14 mx-0 px-0 pt-2 w-100" style="height: 100% !important; min-width: 750px; max-width: 750px;">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <h3 class="d-block text-info mt-2 mb-1 pb-1">Package Set #{{ details.package_no }}</h3>
          <h3 class="d-block text-info mt-2 mb-1 pb-1">Package Type - {{ details.type }}</h3>

          <table>
            <table class="table table-responsive table-stripe" border="0">
              <thead class="borderless">
                <tr>
                  <th>Item ID</th>
                  <th>Name</th>
                  <th>Description</th>
                  <th>Destination</th>
                  <th>Quantity</th>
                  <th>Price</th>
                  <th>Shipping Price</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of details.itemsList; let i = index">
                  <td>{{item.item_id}}</td>
                  <td>{{item.item_detail.item_name}}</td>
                  <td>{{item.item_detail.description}}</td>
                  <td>{{selectDestination[item.destination-1]}}</td>
                  <td>{{item.itemqty_count}}</td>
                  <td>{{item.item_detail.price}}</td>
                  <td>{{item.shipping_price}}</td>
                </tr>
              </tbody>
            </table>
          </table>
        </div>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions class="border-top"> <!---align="left"--->
		<div class="container-fluid">
			<div class="row px-0">
        <div class="col-md-6 px-0" align="left">

        </div>
				<div class="col-md-6 px-0" align="right">
					<button	class="btn btn-danger shadow-all" [mat-dialog-close]="" matRipple>
						Close
					</button>
				</div>
			</div>
		</div>
	</mat-dialog-actions>
</ng-container>
