<div class="container-flex">
  <div class="pt-4 mx-3">
      <!-- start -->

     <div class="mb-4" style="margin-left: 14px;">

      <img style="margin-top: -4px;" class="mr-2" src="https://img.icons8.com/material/24/000000/home--v5.png"/>
      <span>Home</span>
     </div>

     <div class="col-md-12">
     <div class="form-group">
       <img src="https://icatse.org/wp-content/themes/uplift/images/default-thumb.png" height="100" width="100" alt="">
       <hr>
     </div>

    <div class="row">
      <div class="col-3 col-md-3 col-lg-3 col-sm-3">
        <label for="">Shop Name:</label>
      </div>
      <div class="col-9 col-md-9 col-lg-9 col-sm-9">
        Samaple Shop
      </div>
    </div>
    <hr>
    <!--  -->
    <div class="row">
      <div class="col-3 col-md-3 col-lg-3 col-sm-3">
        <label for="">Company Name:</label>
      </div>
      <div class="col-9 col-md-9 col-lg-9 col-sm-9">
       Easycom Japan Philippines
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-3 col-md-3 col-lg-3 col-sm-3">
        <label for="">Subscribe Plan:</label>
      </div>
      <div class="col-9 col-md-9 col-lg-9 col-sm-9">
        Special Plan for Tester
      </div>
    </div>
    </div>
      <!-- end -->
  </div>
</div>
