
  <div class="decorated mb-5">
    <span class="header-title">TERMS AND CONDITION</span>
  </div>
  <h2>Terms and Condition</h2>
  <div class="row">
    <div class="col-md-6 col-lg-6">
      <div class="text-justify p-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum ratione voluptate deleniti eligendi maxime facere, culpa veniam doloremque ducimus earum nam sapiente repellendus, illo iure itaque pariatur necessitatibus, ullam labore?</div>
      <div class="text-justify p-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum ratione voluptate deleniti eligendi maxime facere, culpa veniam doloremque ducimus earum nam sapiente repellendus, illo iure itaque pariatur necessitatibus, ullam labore?</div>
      <div class="text-justify p-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum ratione voluptate deleniti eligendi maxime facere, culpa veniam doloremque ducimus earum nam sapiente repellendus, illo iure itaque pariatur necessitatibus, ullam labore?</div>
    </div>
    <div class="col-md-6 col-lg-6">
      <div class="text-justify p-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum ratione voluptate deleniti eligendi maxime facere, culpa veniam doloremque ducimus earum nam sapiente repellendus, illo iure itaque pariatur necessitatibus, ullam labore?</div>
      <div class="text-justify p-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum ratione voluptate deleniti eligendi maxime facere, culpa veniam doloremque ducimus earum nam sapiente repellendus, illo iure itaque pariatur necessitatibus, ullam labore?</div>
    </div>
  </div>

