.item-details{
  width: 70%;
  margin: 20px auto auto auto;
  display: grid;
  grid-template-columns: 60% 40%;
}

.img_cont{
  // width: 450px;
  // height: 270px;
  // margin: 20px auto 0 auto;
  position: relative;
}

.img{
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 5px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 3px 8px rgba(44, 63, 238, 0.247);
  background-color: #cccccc;
}

.img_upload_div{
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  background-color: hsla(0, 0%, 0%, 0.24);
  opacity: 0;
  cursor: pointer;
  top: 0px;
}

.img_text_div{
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  background-color: hsla(0, 0%, 0%, 0.24);
  opacity: 1;
  cursor: pointer;
  top: 0px;
}

.spin_div{
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  background-color: hsla(0, 0%, 0%, 0.24);
  top: 0px;
}
.text_upload{
  // width: 150px;
  // height: 150px;
  font-size: 20px;
  color: white;
  margin: auto;
  cursor: pointer;
}
.img_upload{
  width: 150px;
  height: 150px;
  font-size: 150px;
  color: white;
  margin: auto;
  cursor: pointer;
}

.img_cont:hover .img_text_div{
  opacity: 0;
}
.img_cont:hover .img_upload_div{
  opacity: 1;
}
.star{
  color: gold;
  cursor: pointer;
}

.testimony{
  // font-size: 14px;
  cursor: pointer;
}

.img_testi{
  width: 250px;
  height: 250px;
  margin-right: 15px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.contact-content{
background-color: #eff2f4;
height: auto;
color: #607d8b;
font-size: 16px;
line-height: 1.6;
padding: 10px 10px 10px 10px;
text-align: justify;
}

.header-style{
text-align: center;
margin-bottom: 30px;
margin-top: 30px;
font-size: 20px;
color: #333;
line-height: 1.5;

// link

}

a:link{
color: #333;
text-decoration: none;
}
a{
color: #333;
text-decoration: none;
}
a:hover{
color: #333;
}

//
.border{
height: 1px;
width: 100%;
background-color: #333;
margin-bottom: 8px;
}

h4{
color: #333;
}
// /* headlines with lines */

@media only screen and (max-width: 600px) {
.header-title{
  font-size: 14px;
  letter-spacing: .1em;
  color: #333;
  font-weight: 600;
}

table td{
  font-size: .8em;
}
table th{
  font-size: .8em;
}

}
@media only screen and (min-width: 600px) {
.header-title{
  font-size: 18px;
  letter-spacing: .1em;
  color: #333;
  font-weight: 600;
}

table td{
  font-size: .8em;
}
table th{
  font-size: .8em;
}

}
@media only screen and (min-width: 768px) {
.header-title{
  font-size: 24px;
  letter-spacing: .1em;
  color: #333;
  font-weight: 600;
}
}
@media (min-width: 992px) {
.header-title{
  font-size: 24px;
  letter-spacing: .1em;
  color: #333;
  font-weight: 600;
}

}

.decorated{
overflow: hidden;
text-align: center;
}
.decorated > span{
position: relative;
display: inline-block;
}
.decorated > span:before, .decorated > span:after{
content: '';
position: absolute;
top: 50%;
border-bottom: 1px solid #333;
width: 90vw;
margin: 0 20px;
}
.decorated > span:before{
right: 100%;
}
.decorated > span:after{
left: 100%;
}

// newly added
table {
border: 1px solid #ccc;
border-collapse: collapse;
margin: 0;
padding: 0;
width: 100%;
table-layout: fixed;
}

.btn-color{
background-color:#ad206b;
color: #ffffff;
}
