<h2>Select template</h2>

<mat-form-field appearance="fill">
    <mat-label>Tempate select</mat-label>
    <mat-select (selectionChange)=changeEvent($event)>
      <mat-option [value]="'t1'">
        Project One
      </mat-option>
       <mat-option [value]="'t2'">
        Project Two
      </mat-option>
    </mat-select>
  </mat-form-field>

  <a routerLink="/projects">Lipat project</a>
