.txt_unselect, .txt_selected{
    padding: 0 15px;
    height: 30px;
    cursor: pointer;
    outline: none;
}

.txt_selected{
    border-bottom:  2px solid red;
}

.txt_unselect{
    border-bottom:  2px solid silver;
}
