

<!-- <div *ngIf="!isResetPass" style="display: flex; margin: 80px auto; justify-content: center;">
    <div (click)="reroute(1)" [ngClass]="pos==1 ? 'txt_selected' : 'txt_unselect'" align="center">Sign In</div>
    <div *ngIf="url!=='/user/admin'" (click)="reroute(2)" [ngClass]="pos==2 ? 'txt_selected' : 'txt_unselect'" align="center" style="margin-left: 15px;">Register</div>
    <div *ngIf="url!=='/user/admin'" (click)="reroute(3)" [ngClass]="pos==3 ? 'txt_selected' : 'txt_unselect'" align="center" style="margin-left: 15px;">Forgot password</div>
</div> -->

<router-outlet></router-outlet>
