<div class="dialog">
  <div>
    <button style="float:right; outline: none;" mat-dialog-close mat-icon-button>
      <mat-icon>close</mat-icon>
    </button>
    <br>
    <div class="text-normal title-txt">Item Details</div>
    <br>
  </div>
  <!-- (ngSubmit)="onSubmit()" -->
  <form [formGroup]="mform" style="display: flex; flex-direction: column; flex: 1;">

    <div style="height: 600px; display: flex;">
      <mat-tab-group style="flex-grow: 1; display: flex">
        <mat-tab label="Details">
          <mat-grid-list cols="4" rowHeight="3:1">
            <!-- <mat-grid-tile> -->
              <mat-form-field class="w-100 mx-4 d-none">
                <mat-select placeholder="Select" formControlName="itemcateg_id">
                  <mat-option *ngFor="let d of itemCategory" [value]="d.id">{{ d.name  }}</mat-option>
                </mat-select>
                <mat-error *ngIf="mform.get('itemcateg_id').hasError('required')">
                  Item Category is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            <!-- </mat-grid-tile> -->

            <mat-grid-tile>
              <mat-form-field class="w-100 mx-4">
                <input [readonly]="isView" matInput autocomplete="off" (ngModelChange)="make_slug($event)" required formControlName="item_no" placeholder="Item Number">
                  <mat-error *ngIf="mform.get('item_no').hasError('required')">
                    Item Number is <strong>required</strong>
                  </mat-error>
              </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
              <mat-form-field class="w-100 mx-4">
                <input [readonly]="isView" matInput autocomplete="off" (ngModelChange)="make_slug($event)" required formControlName="name" placeholder="name">
                  <mat-error *ngIf="mform.get('name').hasError('required')">
                    Item name is <strong>required</strong>
                  </mat-error>
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field class="w-100 mx-4">
                <input type="number" [readonly]="isView" matInput autocomplete="off" required formControlName="price" placeholder="Price">
                  <mat-error *ngIf="mform.get('price').hasError('required')">
                    Price is <strong>required</strong>
                  </mat-error>
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field class="w-100 mx-4">
                <input type="number" [readonly]="isView" matInput autocomplete="off" (ngModelChange)="make_slug($event)" required formControlName="length" placeholder="Length">
                  <mat-error *ngIf="mform.get('length').hasError('required')">
                    Length is <strong>required</strong>
                  </mat-error>
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field class="w-100 mx-4">
                <input type="number" [readonly]="isView" matInput autocomplete="off" (ngModelChange)="make_slug($event)" required formControlName="width" placeholder="Width">
                  <mat-error *ngIf="mform.get('width').hasError('required')">
                    Width is <strong>required</strong>
                  </mat-error>
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field class="w-100 mx-4">
                <input type="number" [readonly]="isView" matInput autocomplete="off" (ngModelChange)="make_slug($event)" required formControlName="height" placeholder="Height">
                  <mat-error *ngIf="mform.get('height').hasError('required')">
                    Height is <strong>required</strong>
                  </mat-error>
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field class="w-100 mx-4">
                <input type="number" [readonly]="isView" matInput autocomplete="off" (ngModelChange)="make_slug($event)" required formControlName="weight" placeholder="Weight">
                  <mat-error *ngIf="mform.get('weight').hasError('required')">
                    Weight is <strong>required</strong>
                  </mat-error>
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field class="w-100 mx-4">
                <input type="number" [readonly]="isView" matInput autocomplete="off" required formControlName="current_stock" placeholder="Current stock">
                  <mat-error *ngIf="mform.get('current_stock').hasError('required')">
                    Current stock is <strong>required</strong>
                  </mat-error>
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field class="w-100 mx-4">
                <input type="number" [readonly]="isView" matInput autocomplete="off" required formControlName="min_stock" placeholder="Min stock">
                  <mat-error *ngIf="mform.get('min_stock').hasError('required')">
                    Minimum stock is <strong>required</strong>
                  </mat-error>
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field class="w-100 mx-4" style="display: none;">
                <input type="number" [readonly]="isView" matInput formControlName="shipping_fee_ncr" placeholder="Shipping fee NCR">
                  <!-- <mat-error *ngIf="mform.get('shipping_fee_ncr').hasError('required')">
                    Shipping fee NCR is <strong>required</strong>
                  </mat-error> -->
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field class="w-100 mx-4" style="display: none;">
                <input type="number" [readonly]="isView" matInput formControlName="shipping_fee_luz" placeholder="Shipping fee luzon">
                  <!-- <mat-error *ngIf="mform.get('shipping_fee_luz').hasError('required')">
                    Shipping fee Luzon is <strong>required</strong>
                  </mat-error> -->
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field class="w-100 mx-4" style="display: none;">
                <input type="number" [readonly]="isView" matInput  formControlName="shipping_fee_vis" placeholder="Shipping fee visayas">
                  <!-- <mat-error *ngIf="mform.get('shipping_fee_vis').hasError('required')">
                    Shipping fee Visayas is <strong>required</strong>
                  </mat-error> -->
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field class="w-100 mx-4" style="display: none;">
                <input type="number" [readonly]="isView" matInput formControlName="shipping_fee_min" placeholder="Shipping fee mindanao">
                  <!-- <mat-error *ngIf="mform.get('shipping_fee_min').hasError('required')">
                    Shipping fee Mindanao is <strong>required</strong>
                  </mat-error> -->
              </mat-form-field>
            </mat-grid-tile>

            <!-- <mat-grid-tile>
              <mat-form-field>
                <input [readonly]=true matInput autocomplete="off" required formControlName="item_slug"
                  placeholder="Item Slug">
                  <mat-error *ngIf="mform.get('username').hasError('required')">
                    Username is <strong>required</strong>
                  </mat-error>
              </mat-form-field>
            </mat-grid-tile> -->
          </mat-grid-list>
          <mat-grid-list cols="2" rowHeight="4:1">
            <mat-grid-tile>
              <mat-form-field class="w-100 mx-4">
                <mat-label>Description</mat-label>
                <textarea matInput
                          cdkTextareaAutosize
                          #autosizeDescription="cdkTextareaAutosize"
                          cdkAutosizeMinRows="1"
                          cdkAutosizeMaxRows="5"
                          [readonly]="isView"
                          autocomplete="off"
                          required
                          formControlName="description" [ngStyle]="{'overflow': 'hidden'}">
                  </textarea>
                  <mat-error *ngIf="mform.get('description').hasError('required')">
                    Description is <strong>required</strong>
                  </mat-error>
              </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
              <mat-form-field class="w-100 mx-4">
                <mat-label>Remarks</mat-label>
                <textarea matInput
                          cdkTextareaAutosize
                          #autosizeRemarks="cdkTextareaAutosize"
                          cdkAutosizeMinRows="1"
                          cdkAutosizeMaxRows="5"
                          [readonly]="isView"
                          autocomplete="off"
                          formControlName="remarks" [ngStyle]="{'overflow': 'hidden'}">
                </textarea>
                <!-- <mat-error *ngIf="mform.get('remarks').hasError('required')">
                  Remarks is <strong>required</strong>
                </mat-error> -->
              </mat-form-field>
            </mat-grid-tile>

          </mat-grid-list>
        </mat-tab>
        <mat-tab label="Image Upload" style="flex: 1; overflow-y: scroll;">

          <div style="margin: 30px;">
            <button *ngIf="!isView" type="button" [disabled]="uploading || uploadSuccessful" mat-raised-button
              color="primary" class="add-files-btn" (click)="addFiles()">
              Add Files
            </button>
            <input type="file" #file style="display: none" (change)="onFilesAdded()" multiple />

            <br><br>

            <div style="display: flex; justify-content: center; flex-wrap: wrap; max-width: 75vw;">

              <div *ngFor="let image of currentImages; let i = index" style="display: flex; margin: 20px 10px 0 10px;">
                <img [ngStyle]="{'background-image': 'url(' + image.file + ')'}" mat-line>
                <mat-icon *ngIf="!isView" (click)="removeCurrentImg(i)" style="cursor: pointer;">clear</mat-icon>
              </div>

              <div *ngFor="let file of strUrl; let i = index" style="display: flex; margin: 20px 10px 0 10px;">
                <img [ngStyle]="{'background-image': 'url(' + file + ')'}" mat-line>
                <mat-icon *ngIf="!isView" (click)="removeImg(i)" style="cursor: pointer;">clear</mat-icon>
              </div>
            </div>
          </div>

        </mat-tab>
        <!-- <mat-tab label="Product Description">
          <div style="margin: 30px;">
            <button *ngIf="!inst_isView" type="button" [disabled]="inst_uploading || inst_uploadSuccessful" mat-raised-button color="primary" class="add-files-btn"
              (click)="inst_addFiles()">
              Add Files
            </button>
            <input type="file" #inst_file style="display: none" (change)="inst_onFilesAdded()" multiple />

            <div class="container-fluid mt-3">
            	<div class="row">
            		<ng-container *ngFor="let image of inst_currentImages; let i = index" >
									<div class="col-md-4 px-1" style="min-height: 500px;">
								    <img class="w-100 h-100 shadow-sm" [src]="image.file" alt="Card image">
										<button mat-icon-button *ngIf="!inst_isView" class="img-btn" (click)="inst_removeCurrentImg(i)">
											<mat-icon>close</mat-icon>
										</button>
								  </div>
								</ng-container>

								<ng-container *ngFor="let image of inst_strUrl; let i = index" >
									<div class="col-md-4 px-1" style="min-height: 500px;">
								    <img class="w-100 h-100 shadow-sm" [src]="image" alt="Card image">
										<button mat-icon-button class="img-btn" *ngIf="!isView" (click)="inst_removeImg(i)">
											<mat-icon>close</mat-icon>
										</button>
								  </div>
								</ng-container>
            	</div>
            </div>
          </div>
        </mat-tab> -->

            <!-- <div style="display: flex; justify-content: center; flex-wrap: wrap; max-width: 75vw;">
              <div *ngFor="let image of inst_currentImages; let i = index" style="display: flex; margin: 20px 10px 0 10px;">
                <img [ngStyle]="{'background-image': 'url(' + image.file + ')'}" mat-line>
                <mat-icon *ngIf="!inst_isView" (click)="inst_removeCurrentImg(i)" style="cursor: pointer;">clear</mat-icon>
              </div>

              <div *ngFor="let file of inst_strUrl; let i = index" style="display: flex; margin: 20px 10px 0 10px;">
                <img [ngStyle]="{'background-image': 'url(' + file + ')'}" mat-line>
                <mat-icon *ngIf="!isView" (click)="inst_removeImg(i)" style="cursor: pointer;">clear</mat-icon>
              </div>
            </div> -->

      </mat-tab-group>
    </div>
    <div class="row">
      <div class="col-md-3 col-lg-4"></div>
      <div class="col-md-6 col-lg-4 col-12 col-sm-12">
        <div *ngIf="!isView" style="margin-top: 20px; margin-bottom: 20px;">
          <mat-spinner *ngIf="isSubmit" [diameter]="20" style="margin-top: 10px; margin: auto;"></mat-spinner>
          <button type="submit" *ngIf="!isSubmit" (click)="onSubmit()" matRipple [matRippleCentered]="false"
            [matRippleColor]="'rgba(255, 0, 0, 0.1)'" class="btn btn-dark btn-md btn-block"
            style="margin: auto; color: whitesmoke;">
            {{ primaryButtonText }}
          </button>
        </div>
      </div>
      <div class="col-md-3 col-lg-4"></div>
    </div>
  </form>

</div>
