img{
    width: 250px;
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 3px 8px rgba(44, 63, 238, 0.247);
    background-color: #cccccc;
}

.dialog{
    height: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
}

.img-btn{
	position: absolute;
	color: #ffffff;
  background-color: rgba(255, 64, 129, 0.50);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 40px;
	right: 10px;
  top: 5px;
}
