.template-navbar{
  background-color: #009688;
  color: #fff;
  height: auto;
  width: 100%;
}


.template-sublevel ul{
  list-style-type: none;
}

.template-sublevel li{
  display: inline-block;
  padding: 10px 10px 30px 10px;
}

.mt-n-4{
  margin-top: -4px;
}
.mt-n-5{
  margin-top: -6px;
}
.figure-caption{
  color: #fff;
}


hr{
  background-color: #fff;
}






















.padding-all-side{
  padding: 10px 10px 10px 10px;
}

.padding-all-side-15{
  padding: 15px 15px 15px 15px;
}
.border-color{
  border-top-color: rgb(211,211,211);
  border-bottom-color: rgb(211,211,211);
  border-right-color: #009688;
  border-left-color: #009688;
  border-width: 1px;
  border-style: solid;
}

.border-color-left{
  border-top-color: rgb(211,211,211);
  border-bottom-color: rgb(211,211,211);
  border-right-color: rgb(211,211,211);
  border-left-color: #4db6ac;
  // border-color:rgb(211,211,211);
  border-width: 1px;
  border-style: solid;
}
.border-color-right{
  border-top-color: rgb(211,211,211);
  border-bottom-color: rgb(211,211,211);
  border-right-color:#009688;
  border-left-color: rgb(211,211,211);
  // border-color:rgb(211,211,211);
  border-width: 1px;
  border-style: solid;
}

.background-menu{
  background-color: #4db6ac;
  color: #ffffff;
  height: auto;
  width: 100%;
  background-size: cover;
}
.background-menu ul{
  list-style-type: none;
  padding-left: 0px;
}
.background-menu li{
  padding: 10px;
  text-transform: uppercase;
  color: #ffffff;
}
.background-menu li:hover{
  color: #ad206b;
  text-decoration: underline;
}
.border-header{
  background-color: rgb(211,211,211);
  height: 1px;
  width: 100%;
  margin-top: 40px;
}
.header-nav ul{
list-style-type: none;
}

.header-nav li{
  display: inline-block;
  padding: 15px 0px 15px 0px;
  cursor: pointer;
  text-transform: uppercase;
 }

 .header-nav li:nth-child(1){
  // margin-right: 30px;
 }

 .header-nav li:nth-child(2){
  // margin-right: 30px;
 }
 .header-nav li:nth-child(3){
  // margin-right: 30px;
 }

.mtop-n-40{
  margin-top: -80px;
}



a{
  color: #333333;
  text-decoration: none;
}

a:link{
  color: #333333;
}

.nav-link.active{
  background-color: #ffffff !important;
  color: #333333 !important;
}
.nav-link{
  cursor: pointer;
}

.nav li{
  border: 1px solid #333333;
}



.badge-pill {
  z-index: 2;
  padding-right: .6em;
  padding-left: .6em;
  border-radius: 7rem;
  /* padding-top: 10px; */
  position: absolute;
  margin-left: -19px;
  margin-top: -8px;
  font-size: 9px;
}
.header-hr{
	width: 100%;
	top: 0;
	background: #ad206b;
	height: 4px;
}
.footer-hr{
	width: 100%;
	bottom: 0;
	background: #ad206b;
	height: 4px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .mobile-view{
    display: block;
  }
  .pc-view{
    display: none;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .mobile-view{
    display: block;
  }
  .pc-view{
    display: none;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .mobile-view{
    display: none;
  }
  .pc-view{
    display: block;
  }
  //

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .mobile-view{
    display: none;
  }
  .pc-view{
    display: block;
  }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
// @media only screen and (min-width: 1200px) {...}

// foooter
footer{
  background-color: #009688;
  color: #fff;
  height: auto;
  width: 100%;
  bottom:0;
  padding-top: 40px;
  padding-bottom: 40px;
  background-size: cover;
}
.header-footer{
  margin-left: 4px;
  font-size: 24px;
  font-weight: 400;
}
.footer ul{
  text-decoration: none;
  list-style-type: none;
}
.footer li{
  font-size: 14px;
  line-height: 1.6;
  padding: 4px;
  cursor: pointer;
}
.footer li:hover{
  color: #b2dfdb;
  text-decoration: underline;
}

.btn-color{
  background-color: #ad206b;
  color: #ffffff;
}

.p-footer-bottom__pagetop {
  position: absolute;
  right: 0;
  bottom: 0;
}
  .p-footer-bottom__pagetop {
  background: #fff;
  }

  .p-footer-bottom__pagetop a {
  display: block;
  padding: 5px;
  text-align: center;
  background: #4db6ac;
  cursor: pointer;
  }
  .p-footer-bottom__pagetop a {
  transition: .2s;
  color: #fff;
  }
  .p-footer-bottom__pagetop a:hover {
  opacity: .66;
  }
  .p-footer-bottom__pagetop svg {
  width: 35px;
  height: 35px;
  fill: currentColor;
  }

  .p-content-footer{
  }

  .right-arrow-up{
    position: fixed;
    bottom: 0;
    right: 0;
  }


// hidden
.hide{
  display: none;
}



//
