<div class="mobile-view">
  <div class="container-fluid template-navbar">
      <div align="center">
        <figure  (click)="closeNav()"  class="figure pointer-hand" routerLink="/">
          <img src="https://pngimage.net/wp-content/uploads/2018/06/logo-here-png-6.png" height="100" width="100" class="figure-img img-fluid rounded">
          <figcaption class="figure-caption">LOGO TEXT HERE</figcaption>
        </figure>
      </div>
      <div #navigationid id="nav-testing">
          <div class="row px-0">
            <div class="col-3 col-sm-3 border-color-left padding-all-side" id="active-menu" align="center">
                <div class="pointer-hand" id="opennav" (click)="openNav()">
                  <img src="https://img.icons8.com/fluent-systems-filled/24/ffffff/menu.png"/>
                </div>
                <div class="pointer-hand"  id="closenav" style="display: none;" (click)="closeNav()">
                  <img src="https://img.icons8.com/ios/24/ffffff/close-window.png"/>
                </div>
            </div>
            <!--  -->
            <div class="col-3 col-sm-3 border-color padding-all-side"  align="center">
              <div class="pointer-hand"  id="pills-search-tab" data-toggle="pill" href="#pills-search" role="tab" aria-controls="pills-search" aria-selected="false">
                <img src="https://img.icons8.com/fluent-systems-filled/24/ffffff/search.png"/>
              </div>
            </div>
              <!--  -->
             <div class="col-3 col-sm-3 border-color-right padding-all-side"  align="center">
              <div class="pointer-hand"  id="pills-cart-tab" data-toggle="pill" href="#pills-cart" role="tab" aria-controls="pills-cart" aria-selected="false">
                <img *ngIf="!userService.hasCurrentUser()"  routerLink="/user/signin" src="https://img.icons8.com/material-sharp/24/ffffff/key.png"/>
                <img *ngIf="userService.hasCurrentUser()"  routerLink="/user/signin" class="pointer-hand" (click)="userService.signout();" src="https://img.icons8.com/ios-glyphs/24/000000/login-rounded-right.png"/>
              </div>
            </div>
            <div (click)="closeNav()" class="col-3 col-sm-3 border-color-right padding-all-side"  align="center"  (click)="goToShoppingCart()" (click)="closeNav()">
              <div class="pointer-hand"  id="pills-cart-tab" data-toggle="pill" href="#pills-cart" role="tab" aria-controls="pills-cart" aria-selected="false">
                <img src="https://img.icons8.com/material-outlined/24/ffffff/shopping-cart.png"/>
                <span *ngIf="cart_item_count > 0" class="badge badge-pill badge-danger">{{cart_item_count}}</span>
              </div>
          </div>
          </div>
     </div>
     </div>
      <div class="background-menu" style="display: none;" id="howayNav">
          <div class="cotnainer">
            <ul>
              <li routerLink="/" (click)="closeNav()"><img class="mr-1" src="https://img.icons8.com/small/24/ffffff/home.png"/>HOME</li>
              <li routerLink="/guides" (click)="closeNav()"><img class="mr-1" src="https://img.icons8.com/windows/24/ffffff/info.png"/>ORDERING INFO</li>
              <li routerLink="/contactus" (click)="closeNav()"><img class="mr-1" src="https://img.icons8.com/ios/24/ffffff/phone.png"/>CONTACT US</li>
              <li routerLink="/confirm-order" (click)="closeNav()"><img src="https://img.icons8.com/ios/24/ffffff/purchase-order.png" alt=""> CONFIRM ORDER</li>
              <li (click)="closeNav()" *ngIf="!userService.hasCurrentUser()"  routerLink="/user/signup" class="pointer-hand">
                <img class="mr-1" src="https://img.icons8.com/ios/24/ffffff/add-user-male.png"/> REGISTER</li>
              <li (click)="closeNav()" *ngIf="userService.hasCurrentUser()" ><img src="https://img.icons8.com/ios-filled/24/ffffff/user-male-circle.png" alt="">
                <span  [matMenuTriggerFor]="belowMenu"  class="pointer-hand">{{currentUser?.firstname}} {{currentUser?.surename}}</span>
                <mat-menu #belowMenu="matMenu" yPosition="below">
                  <button [routerLink]="['/user-info']" mat-menu-item>MANAGE PROFILE</button>
                  <button *ngIf="userService.hasCurrentUser()"  routerLink="/user/signin" class="pointer-hand" (click)="userService.signout();" mat-menu-item>SIGN OUT</button>
                </mat-menu>
              </li>
            </ul>
          </div>
      </div>
  </div>

<div class="template-navbar pc-view">
  <!-- logo  -->
  <div align="center">
    <figure  (click)="closeNav()"  class="figure pointer-hand" routerLink="/">
      <img src="https://pngimage.net/wp-content/uploads/2018/06/logo-here-png-6.png" height="100" width="100" class="figure-img img-fluid rounded">
      <figcaption class="figure-caption">LOGO TEXT HERE</figcaption>
    </figure>
  </div>
  <!--  -->
  <!-- sub-level-menu -->
  <div class="template-sublevel" align="center" >
    <ul class="">
      <li class="pointer-hand" routerLink="/">
        <img class="mr-1 mt-n-5" src="https://img.icons8.com/small/24/ffffff/home.png"/>HOME
      </li>
      <li class="pointer-hand" routerLink="/guides">
        <img class="mr-1 mt-n-5" src="https://img.icons8.com/windows/24/ffffff/info.png"/>ORDERING INFO
      </li>
      <li class="pointer-hand" routerLink="/contactus">
        <img class="mr-1 mt-n-5 " src="https://img.icons8.com/ios/24/ffffff/phone.png"/>CONTACT
      </li>
      <li routerLink="/confirm-order" class="pointer-hand">
        <img class="mr-1 mt-n-4" src="https://img.icons8.com/ios/24/ffffff/purchase-order.png" alt=""><span class="pt-1">CONFIRM ORDER</span>
      </li>
      <li class="pointer-hand" *ngIf="!userService.hasCurrentUser()"  routerLink="/user/signin" >
        <img class="mr-1 " src="https://img.icons8.com/material-sharp/24/ffffff/key.png" alt="">SIGN IN
      </li>
      <li>
        <span  *ngIf="!userService.hasCurrentUser()"  routerLink="/user/signup" class="pointer-hand"><img  class="mt-n-5 mr-1"  src="https://img.icons8.com/ios/24/ffffff/add-user-male.png"/>REGISTER</span>
        <span  [matMenuTriggerFor]="belowMenu" *ngIf="userService.hasCurrentUser()"  class="pointer-hand text-uppercase"><img class="mt-n-4 mr-1" src="https://img.icons8.com/material/24/ffffff/user-male-circle--v1.png"/>{{currentUser?.firstname}} {{currentUser?.surename}}</span>
        <mat-menu #belowMenu="matMenu" yPosition="below">
          <button [routerLink]="['/user-info']" mat-menu-item><img class="mt-n-5" src="https://img.icons8.com/ios-filled/24/000000/edit-administrator.png"/>MANAGE PROFILE</button>
          <button *ngIf="userService.hasCurrentUser()"  routerLink="/user/signin" class="pointer-hand" (click)="userService.signout();" mat-menu-item><img class="mt-n-5"  src="https://img.icons8.com/ios-glyphs/24/000000/login-rounded-right.png"/>SIGN OUT</button>
        </mat-menu>
      </li>
      <li class="pointer-hand" (click)="goToShoppingCart()">
        <img class="mr-1 mt-n-5" src="https://img.icons8.com/material-outlined/24/ffffff/shopping-cart.png"/>
         <span *ngIf="cart_item_count > 0" class="badge badge-pill badge-danger">{{cart_item_count}}</span>CART
      </li>

    </ul>
  </div>
  <!--  -->
</div>
<!-- newly design fo template 4 -->








<!-- router outlet -->
<div class="container">
  <div class="row mt-5 mb-5 ">
    <div class="col-md-12 col-lg-12">
      <!-- <div  [ngStyle]="{'margin-top': testmargin + 'pt', 'margin-bottom': testmargin + 'pt'}"> -->
        <router-outlet></router-outlet>
      <!-- </div> -->
    </div>
  </div>
</div>


<!-- end of router outlet -->
 <footer class="footer">
  <div class="container">
  <div class="row ">
    <div class="col-md-6 col-lg-6">
      <div class="row">
        <div class="col-md-4 col-lg-4 col-6">
          <div class="header-footer">Company</div>
          <ul class="px-0">
            <li routerLink="/aboutus">About us</li>
            <li routerLink="/contactus">Contact us</li>
          </ul>
        </div>
        <!--  -->
        <div class="col-md-4 col-lg-4 col-6">
          <div class="header-footer">Shopping</div>
          <ul class=" px-0 mx-0">
            <li (click)="shipping()" (click)="scrollTo('shipping')">Shipping Information</li>
            <li (click)="payment()" (click)="scrollTo('payment')">Payment method</li>
          </ul>
        </div>
        <!--  -->
        <div class="col-md-4 col-lg-4 col-6">
          <div class="header-footer">Account</div>
          <ul class=" px-0 mx-0">
            <li  *ngIf="!userService.hasCurrentUser()" routerLink="/user/signup">Register</li>
            <li  *ngIf="userService.hasCurrentUser()" routerLink="/user-info">Manage Profile</li>
            <li *ngIf="!userService.hasCurrentUser()" routerLink="/user/signin"  [routerLinkActive]="['hide']">Sign in</li>
            <li  routerLink="/confirm-order">Confirm order</li>
          </ul>
        </div>
        <!--  -->
      </div>
    </div>
    <div class="col-md-6 col-lg-6">
      <div class="row">
        <div class="col-md-4 col-lg-4 col-6">
          <div class="header-footer">Legal Info</div>
          <ul class="px-0">
            <li (click)="return()" (click)="scrollTo('return')">Return and Exchange</li>
            <li routerLink="/privacy-policy">Privacy Policy</li>
            <li  routerLink="/terms-condition" >Terms and Condition</li>
          </ul>
        </div>
        <!--  -->
        <div class="col-md-4 col-lg-4 col-6">
          <div class="header-footer">Social</div>
          <ul class=" px-0 mx-0">
            <li>Facebook</li>
            <li>Twitter</li>
            <li>Instagram</li>
            <li>Youtube</li>
          </ul>
        </div>
        <!--  -->
        <div class="col-md-4 col-lg-4">
          <figure  (click)="closeNav()"  class="figure pointer-hand" routerLink="/">
            <img src="https://pngimage.net/wp-content/uploads/2018/06/logo-here-png-6.png" height="100" width="100" class="figure-img img-fluid rounded">
            <figcaption class="figure-caption">LOGO TEXT HERE</figcaption>
          </figure>
        </div>
        <!--  -->
      </div>
    </div>
  </div>
  <hr>

</div>
<div align="center">
  <p class="p-content-footer">Lets Start Shopping Copyright &#169; &nbsp;2020 Easycom Japan Philippines Inc. All Rights Reserved</p>
</div>
<div class="right-arrow-up">
<div class="p-footer-bottom__pagetop" (click)="scrollToTopNew()">
  <a>
    <svg role="img" aria-hidden="true">
      <use xlink:href="#angle-up">
        <svg id="angle-up" viewBox="0 0 1792 1792"><path d="M1395 1184q0 13-10 23l-50 50q-10 10-23 10t-23-10L896 864l-393 393q-10 10-23 10t-23-10l-50-50q-10-10-10-23t10-23l466-466q10-10 23-10t23 10l466 466q10 10 10 23z"></path></svg>
      </use>
    </svg>
  </a>
</div>
</div>
 </footer>
