

<div class=" mb-5">
  <div class="content-items">
    <!-- HEADER TITLE -->
      <!-- items -->

        <div class="decorated mb-5">
          <span class="header-title">RECOMMEND ITEMS</span>
        </div>

        <div class="row">
          <ng-container *ngFor="let row of items" class="d-flex">
            <div  (click)="openItem(row)" class="col-md-3 col-lg-3  col-xs-12 col-sm-6 pointer-hand mb-4">
              <div class="card mb-3 mat-elevation-z4 example-ripple-container "  matRipple [matRippleColor]="myColor"  [matRippleCentered]="centered" >
                <div class="card-body">
                  <div class="price-image">
                  <img src="{{row.images[0]}}" alt="" >
                  </div>
                  <div class="price-name mb-2">
                    {{row.name}}
                  </div>
                  <div class="price-price">
                    <span class="mr-2">&#8369;</span>{{row.price | number : '1.2-2'}}
                  </div>
                  <div class="price-description">
                   {{row.description}}
                  </div>
                  <!--  -->
                  <div class="mt-2"  [ngStyle]="{'display': row.rating.percentage >= 1 ? 'block': 'none'}" >
                    <div class="d-flex pointer-hand">
                      <div class="star_div star_size">
                        <div class="star_poss"><mat-icon style="color: #d8d8d8; margin-left: -2px;">star</mat-icon></div>
                        <div class="star_poss" [ngStyle]="{'width': row.rating.percentage >= 1 ? '100%':  row.rating.percentage > 0 ? getDec(row.rating.percentage) : '0'}"><mat-icon style="color: gold; margin-left: -2px;">star</mat-icon></div>
                      </div>
                      <!--  -->
                      <div class="star_div star_size">
                        <div class="star_poss"><mat-icon style="color: #d8d8d8; margin-left: -2px;">star</mat-icon></div>
                        <div class="star_poss" [ngStyle]="{'width': row.rating.percentage >= 2 ? '100%':  row.rating.percentage > 1 ? getDec(row.rating.percentage) : '0'}"><mat-icon style="color: gold; margin-left: -2px;">star</mat-icon></div>
                      </div>
                      <!--  -->
                      <div class="star_div star_size">
                        <div class="star_poss"><mat-icon style="color: #d8d8d8; margin-left: -2px;">star</mat-icon></div>
                        <div class="star_poss" [ngStyle]="{'width': row.rating.percentage >= 3 ? '100%':  row.rating.percentage > 2 ? getDec(row.rating.percentage) : '0'}"><mat-icon style="color: gold; margin-left: -2px;">star</mat-icon></div>
                      </div>
                      <!--  -->
                      <div class="star_div star_size">
                        <div class="star_poss"><mat-icon style="color: #d8d8d8; margin-left: -2px;">star</mat-icon></div>
                        <div class="star_poss" [ngStyle]="{'width': row.rating.percentage >= 4 ? '100%':  row.rating.percentage > 3 ? getDec(row.rating.percentage) : '0'}"><mat-icon style="color: gold; margin-left: -2px;">star</mat-icon></div>
                      </div>
                      <!--  -->
                      <div class="star_div star_size">
                        <div class="star_poss"><mat-icon style="color: #d8d8d8; margin-left: -2px;">star</mat-icon></div>
                        <div class="star_poss" [ngStyle]="{'width': row.rating.percentage == 5 ? '100%': row.rating.percentage > 4 ? getDec(row.rating.percentage) : '0'}"><mat-icon style="color: gold; margin-left: -2px;">star</mat-icon></div>
                      </div>
                      <!--  -->
                        <div class="pointer-hand" style="font-size: 14px;">
                          {{row.rating.percentage | number : '1.1-1'}} Star Ratings
                        </div>
                      <!--  -->
                    </div>
                 </div>

                  <!--  -->
                </div>
              </div>
            </div>

          </ng-container>
        </div>
      <!--  -->

  </div>
  <!--  -->

  </div>
