@import url('https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.images-carousel{
  max-height: 400px;
  background-size: cover;
  display: block;
  object-fit: cover;
}

.header-content{
  font-weight: 600;
  font-size: 24px;
  color: #333;
  padding-left: 20px;
}


.content-items{
  height: auto;
  width: 100%;
  background-color: #ffffff;
}

.price-name{
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  text-align: center;
  color: #000000;
}

.price-description{
  font-weight: normal;
  font-size: 14px;
  text-align: center;
  color: #000000;
}
.price-price{
  font-weight: normal;
  font-size: 14px;
  text-align: center;
  color: #000000;
}

// ranking side
.ranking-header{
  font-weight: 600;
  font-size: 24px;
  color: #000000;
}

.span-ranking{
  margin-top: 7px;
  margin-left: 10px;
  position: absolute;
}

@media only screen and (max-width: 320px) {


  .price-image img{
    display: block;
    width: 100%;
    object-fit: cover;
    height: 150px;
  }


}

// /* headlines with lines */
@media only screen and (max-width: 600px) {
  .header-title{
    font-size: 14px;
    letter-spacing: .1em;
    color: #333;
    font-weight: 600;
  }

  .price-image img{
    display: block;
    width: 100%;
    height: auto;
  }
  .carousel{
    margin-top: -30px;
  }

  .star_size{
    width: 10px;
    height: 10px;
}


}
@media only screen and (min-width: 600px) {
  .header-title{
    font-size: 18px;
    letter-spacing: .1em;
    color: #333;
    font-weight: 600;
  }
  .price-image img{
    display: block;
    width: 100%;
    height: auto;
  }

  .star_size{
    width: 21px;
    height: 21px;
 }
}
@media only screen and (max-width: 768px) {
  .carousel{
    margin-top: -30px;
  }
}
@media only screen and (min-width: 768px) {
  .header-title{
    font-size: 24px;
    letter-spacing: .1em;
    color: #333;
    font-weight: 600;
  }
  .price-image img{
    height: 100px;
    display: block;
    width: 100%;
    object-fit: cover;
  }
  .star_size{
    width: 21px;
    height: 21px;
}

}
@media (min-width: 992px) {
  .header-title{
    font-size: 24px;
    letter-spacing: .1em;
    color: #333;
    font-weight: 600;
  }
  .label-end{
     display: flex;
     justify-content: flex-end;
   }
   .price-image img{
    height: 200px;
    display: block;
    width: 100%;
    object-fit: cover;
  }
  .star_size{
    width: 18px;
    height: 18px;
  }
 }

  .decorated{
    overflow: hidden;
    text-align: center;
  }
  .decorated > span{
    position: relative;
    display: inline-block;
    }
    .decorated > span:before, .decorated > span:after{
    content: '';
    position: absolute;
    top: 50%;
    border-bottom: 1px solid #333;
    width: 90vw;
    margin: 0 20px;
    }
    .decorated > span:before{
    right: 100%;
    }
    .decorated > span:after{
    left: 100%;
    }


  .star_div{
    position: relative;
  }

  .star_poss{
    // margin-top: -24px;
    position: absolute;
    overflow: hidden;
  }
  .mat-icon {
    font-size: 16px;
  }

  .myColor{
    background-color: red;
  }


  .example-ripple-container {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    -webkit-user-drag: none;
    -webkit-tap-highlight-color: transparent;
  }


  .mat-ripple-element{
    z-index:-1 !important;
  }
  .mat-ripple{
    z-index:50; // 50 for example
  }
