<button style="float:right; outline: none;" mat-dialog-close mat-icon-button>
  <mat-icon>close</mat-icon>
</button>
<br>

<form class="example-form" [formGroup]="mform" (ngSubmit)="onSubmit()">
  <mat-form-field class="example-full-width">
    <textarea matInput
    placeholder="Description"
    formControlName="description"></textarea>
  </mat-form-field>
  <button  type="submit"  class="btn_red list-opt list-btn-opt-view" matTooltip="">
      Submit
  </button>
</form>
