<div class="container-flex">
  <div class="row pt-4 mx-3">
    <div class="col-md-12">
      <!-- <mat-icon class="align-middle" style="width: 50px; height: 50px;font-size: 50px;">compare_arrows</mat-icon> -->
      <h2 class="align-middle">Landing Page Setting</h2>
    </div>
    <div class="col-md-12">
      <button *ngIf="!isView" type="button" [disabled]="uploading || uploadSuccessful" mat-raised-button color="primary" class="add-files-btn my-3"
        (click)="addFiles()">
        Add Files
      </button>
			<div class="container-fluid">
				<div class="row">
					<div *ngFor="let image of currentImages; let i = index" class="col-md-12 ">
						<div class="card mb-3 px-0">
							<div class="row no-gutters">
								<div class="col-md-8">
									<img [src]="image.file" class="card-img w-100" [alt]="image.title">
								</div>
								<div class="card col-md-4">
									<div class="card-body">
										<h5 class="card-title">Description</h5>
										<p class="card-text">{{image.description}}</p>
									</div>
									<div class="card-footer px-0 py-0">
										<div class="btn-group d-block">
											<button matRipple class="col-md-6 btn btn-warning rounded-0" type="button" name="button" *ngIf="!isView" (click)="edit(image)">EDIT DESCRIPTION</button>
											<button matRipple class="col-md-6 btn btn-danger rounded-0" type="button" name="button" *ngIf="!isView" (click)="removeImg(image)">REMOVE</button>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- <div  style="display: flex; margin: 20px 10px 0 10px;">
							<img [ngStyle]="{'background-image': 'url(' + image.file + ')'}" mat-line>
							<mat-icon *ngIf="!isView" (click)="removeImg(image)" style="cursor: pointer;">clear</mat-icon>
							<mat-icon *ngIf="!isView" (click)="edit(image)" style="cursor: pointer;">edit</mat-icon>
						</div> -->
					</div>
				</div>
			</div>
      <!-- <div style="display: flex; justify-content: center; flex-wrap: wrap; max-width: 75vw;">

      </div> -->
    </div>
  </div>
</div>
