// hover
.mat-icon{
  color: dimgray;
}
.hover-delete:hover{
  text-decoration: underline;
}

//
shopping.img{
    width: 150px;
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

hr {
  display: block;
  width: 100%;
  // margin-top: 1rem;
  // margin-bottom: 1rem;
  // border: 0;
  // border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.shoppingCartRemoveBTN {
  position: relative;
  background-color: whitesmoke;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  top: -3px;
}

.text-normal{
    color: dimgray;
    font-size: 1.15rem;
}

// .textbox{
//     height: 35px;
//     width: 50px;
//     outline: none;
//     border:  2px solid silver;
//     padding: 0 10px;
//     text-align: center;
//     margin-left: 15px;
// }

.main_div{
    display: grid;
    grid-template-columns: 60% 40%;
}

:host ::ng-deep .mat-checkbox-layout {
  white-space: normal !important;
  display: block;
}

// .card{
//     width: 80%;
//     margin-top: 20px;
//     position: -webkit-sticky;
//     position: sticky;
//     top: 200px;
//     margin-bottom: 20px;
// }

.toggle-example{
    font-size: 18px;
}

.howaySCSM {
  background-color: rgba(0, 0, 0, 0.85); //#545252;
}
.howaySCSM-white{
  color: white;
}

:host::ng-deep .mat-select-value{
  color: white;
}

:host::ng-deep .mat-select-arrow{
  color: white;
}

:host::ng-deep .mat-select-underline{
  border-color: white;
}
:host::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: rgba(255, 255, 255, 0.42);
}
:host::ng-deep .mat-checkbox-frame {
    border-color: white;
}
:host::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: rgba(255, 255, 255, 0.54);
}
:host::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label {
    color: rgba(255, 255, 255, 0.54);
}
:host::ng-deep .mat-datepicker-toggle {
    color: rgba(255, 255, 255, 0.54);
}
// .howaySCSM-field .mat-select-value {
// }
//outiline
:host::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: rgba(255, 255, 255, 0.12);
}
:host::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-thick {
    color: rgba(255, 255, 255, 0.87);
}
:host::ng-deep .howaySeriveMethodSelect .mat-form-field-infix {
    border-top: 0px;
    padding: 20px 0px 15px 0px;
}
input::placeholder {
    color: rgba(255, 255, 255, 0.87);
}
:host::ng-deep .ngx-material-timepicker-toggle svg{
  width: 17px;
  fill: rgba(255, 255, 255, 0.54)
}

:host::ng-deep .howaySeriveMethodSelectGiftWrap .mat-form-field-infix {
    border-top: 0px;
    padding: 20px 0px 15px 0px;
}

:host::ng-deep .howaySeriveMethodSelectGiftWrap .mat-form-field-wrapper {
		margin: 0px !important;
    padding: 5px 0px !important;
}
:host::ng-deep .mat-radio-button{
	margin-left: 16px;
}
:host::ng-deep .mat-radio-button .mat-radio-outer-circle{
  border-color: white;
}
:host::ng-deep .mat-radio-button.mat-accent.mat-radio-checked img{
  border: 2px solid #ff4081;
}
// :host::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
//   border-color:rgb(66, 134, 244);
// }
// :host::ng-deep .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
//     background-color:rgb(255, 37, 37,.26)
// }

// :host::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle{
//   color: white;//rgb(66, 134, 244)
//   background-color: white;//rgb(66, 134, 244)
// }


// JOSEPH NUEZCA MAY 29, 2020 DESIGN
.aligned-with-icon{
  position: absolute;
  margin-left: -25px;
}
.small-cart-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  max-height: 230px;
}


// .modify-card{
//   position: relative;
//     display: flex;
//     flex-direction: column;
//     min-width: 0;
//     word-wrap: break-word;
//     background-color: #fff;
//     background-clip: border-box;
//     // border: 1px solid rgba(0,0,0,.125);

//     border-radius: .25rem;

// }
// .modify-card-body{
//   flex: 1 1 auto;
//   padding: 1.25rem;

// }
//

//joseph -4, 2020
@media only screen and (min-width: 500px) {
 .image-cart{
   height: 70px;
   width: 70px;
 }


.text-01{
  font-size: 12px;
}

.button-01{
  margin-right: -130px;
}



.margin-left-style{
  margin-left: 60px;
}
.arrowUp{
  // margin-top: 30px;
  position: relative;
  top: -25px;
}
.arrowDown{
  position: relative;
  top: 10px;
  margin-left: 15px;
}



}

@media only screen and (max-width: 500px) {
  .text-01{
    font-size: 12px;
  }
  .text-02{
     font-size: 12px;
  }
  .button-01{
    margin-right: -20px;
  }

  .margin-left-style{
    margin-left: 50px;
  }

  .arrowUp{
    // margin-top: 30px;
    position: relative;
    top: -25px;
  }
  .arrowDown{
    position: relative;
    top: 10px;
  }

}
@media only screen and (min-width: 600px) {
  .text-01{
    font-size: 12px;
  }
  .text-02{
     font-size: 12px;
  }
  .button-01{
    margin-right: -140px;
  }

  .cart-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    max-height: 600px;
  }
  .margin-top-style{
    margin-top: -200px;
  }

  .arrowUp{
    // margin-top: 30px;
    position: relative;
    top: -25px;
  }
  .arrowDown{
    position: relative;
    top: 20px;
  }

}


@media only screen and (min-width: 768px) {

  .cart-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    max-height: 600px;
  }
  .margin-top-style{
    margin-top: -200px;
  }

  .arrowUp{
    // margin-top: 30px;
    position: relative;
    top: -25px;
  }
  .arrowDown{
    position: relative;
    top: 20px;
  }
}

@media only screen and (min-width: 992px) {


  .cart-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    max-height: 700px;
  }

  .margin-top-style{
    margin-top: -200px;
  }
  .arrowUp{
    // margin-top: 30px;
    position: relative;
    top: -25px;
  }
  .arrowDown{
    position: relative;
    top: 20px;

  }
}


.modify-card{
  position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    // border: 1px solid rgba(0,0,0,.125);

    border-radius: .25rem;

}
.modify-card-body{
  flex: 1 1 auto;
  padding: 1.25rem;

}


// newly design

// /* headlines with lines */

@media only screen and (max-width: 600px) {
  .header-title{
    font-size: 14px;
    letter-spacing: .1em;
    color: #333;
    font-weight: 600;
  }
  .small-show{
    display: block;
  }

  .big-show{
    display: none;
  }
  .p-name{
    font-size: 22px;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
  }
  .p-price{
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
  }
  .p-image img{
    height: 200px;
    width: 100%;
    margin-top: 27px;
    max-height: 100%;
    object-fit: center;
  }

}
@media only screen and (min-width: 600px) {
  .header-title{
    font-size: 18px;
    letter-spacing: .1em;
    color: #333;
    font-weight: 600;
  }
  .p-name{
    font-size: 22px;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
  }
  .p-price{
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
  }
  .p-image img{
    height: 200px;
    width: 100%;
    margin-top: 27px;
    max-height: 100%;
    object-fit: center;
  }
  .small-show{
    display: block;
  }

  .big-show{
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .header-title{
    font-size: 24px;
    letter-spacing: .1em;
    color: #333;
    font-weight: 600;
  }
  .p-name{
    font-size: 22px;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
  }
  .p-price{
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
  }

  .small-show{
    display: none;
  }
  .big-show{
    display: block;
  }

}
@media (min-width: 992px) {
  .header-title{
    font-size: 24px;
    letter-spacing: .1em;
    color: #333;
    font-weight: 600;
  }
  .label-end{
     display: flex;
     justify-content: flex-end;
   }
   .p-name{
    font-size: 28px;
    font-weight: 600;
    font-style: normal;
    line-height: normal;
    text-transform: capitalize;
    word-wrap: break-word;
  }
  .p-price{
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
  }
   .small-show{
    display: none;
  }
  .big-show{
    display: block;
  }
 }

  // for line header style
  .decorated{
    overflow: hidden;
    text-align: center;
  }
  .decorated > span{
  position: relative;
  display: inline-block;
  }
  .decorated > span:before, .decorated > span:after{
  content: '';
  position: absolute;
  top: 50%;
  border-bottom: 1px solid #333;
  width: 90vw;
  margin: 0 20px;
  }
  .decorated > span:before{
  right: 100%;
  }
  .decorated > span:after{
  left: 100%;
  }

input {
  position: relative;
  // left: 10px;
  top: 10px;
  width: 50px;
  height: 30px;
  padding: 0px;
  font-size: 14pt;
  border: solid 0.5px #333;
  z-index: 1;
  text-align: center;
  border-radius: 5px;
  color: #333;
}

.spinner-button {
  position: relative;
  cursor: pointer;
  // z-index: 2;
  width: 20px;
  text-align: center;
  margin: 0px;
  // pointer-events: none;
  height:15px;
  line-height: 10px;
}

#inc-button {
  left: 55px;
  top: -20.5px;
}

#dec-button {
  left: 55px;
  top: -15.5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}




//
.btn-color{
  background-color: #009688;
  color: #ffffff;
}
