<div class="mb-5">

<div class="decorated mb-5">
  <span class="header-title">SHOPPING CART</span>
</div>


<div *ngIf="!show">
  <div class="row form-group">
    <div class="col-lg-12 col-md-12 col-12 col-sm-12">
      There are no items in this cart
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-6">
        <div class="row">
          <div class="col-md-6 col-12 col-sm-12 col-lg-6">
            <button mat-stroked-button [routerLink]="['/']" class="btn btn-color btn-block btn-md">CONTINUE SHOPPING</button>
          </div>
        </div>
    </div>
  </div>
</div>


<div *ngIf="show">
<div class="small-show">
  <div  *ngFor="let itm of items; let i = index">
    <div class="row">
      <div class="col-6 col-sm-6 col-xs-6">
        <div class="p-image">
          <img [src]="itm.item.images[0].file"  alt="">
        </div>
      </div>
      <div class="col-6 col-sm-6 col-xs-6 px-0" >
        <div class="modify-card">
          <div class="modify-card-body">
            <div [routerLink]="['/item-info/'+itm.item.item_slug]">
              <p class="p-name">
                {{itm.item.name}}
              </p>
             </div>
              <p>
                <span class="p-price mr-1">Price:</span>
                 <span class="mr-1">&#8369;</span>{{itm.item.price | number : '1.2-2'}}
              </p>
            <div class="row">
              <div class="col-12">
                <input type="number" [(value)]="itm.qty" min="1" />
                <div id="inc-button" class="spinner-button" (click)="addArrow(itm.item.id);arrowActionGiftWrapValue(i, toNames[i]); getTotal()">
                  &#x25B2;
                </div>
                <div id="dec-button" class="spinner-button" (click)="minusArrow(itm.item.id);arrowActionGiftWrapValue(i, toNames[i]); getTotal()">
                  &#x25BC;
                </div>
              </div>
             </div>
             <!--  -->
             <div>
                <p>
                  <span class="p-price mr-1">Total Price:</span>
                  <span class="mr-1">&#8369;</span>{{(itm.item.price * itm.qty) + ((checkSessionStorageDeliveryOpt)?checked?giftwrap_reference[i].quantity * giftwrap_fee :0:checked?giftwrap[i].quantity * giftwrap_fee :0) | number : '1.2-2'}}
                </p>
            </div>
            <p class="pointer-hand  hover-delete" (click)="delete(i)">
              DELETE
            </p>
          </div>
        </div>
      </div>
    </div>
    <hr>
  </div>
    <div>
      <div class="row form-group">
        <div class="col-12">
          <strong>Total Cost:
            <img style="margin-top: -6px;" src="https://img.icons8.com/material-two-tone/20/000000/peso-symbol.png"/>
            {{total | number : '1.2-2'}}</strong>
      </div>
      </div>
      <div *ngIf="this.itemCount != 0" class="row form-group">
        <div class="col-12 ">
          <button  style="font-size: 14px;" mat-stroked-button class="btn btn-block btn-color"  (click)="purchase()">PROCEED TO CHECKOUT</button>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <button style="font-size: 14px;" mat-stroked-button class="btn btn-block btn-color "  (click)="shop()">CONTINUE SHOPPING</button>
        </div>
      </div>
    </div>
</div>
<!-- end -->

<div class="big-show">
  <div *ngFor="let itm of items; let i = index" >
    <div class="row">
      <div class="col-md-4 col-lg-4">
        <div style="height: 200px; width: 100%; margin-top: 24px;">
          <img [src]="itm.item.images[0].file"  style="height: 100%; width: 100%; object-fit: cover;">
        </div>
      </div>
      <div class="col-md-8  col-lg-8">
        <div class="modify-card">
          <div class="modify-card-body">
            <div class="pointer-hand p-name" [routerLink]="['/item-info/'+itm.item.item_slug]">
              <p>{{itm.item.name}}</p>
            </div>
            <p>
             <strong> Price:</strong>
              <span class="mr-2 ml-2">&#8369;</span>{{itm.item.price | number : '1.2-2'}}</p>
               <input type="number" [(value)]="itm.qty" min="1" />
                <div id="inc-button" class="spinner-button" (click)="addArrow(itm.item.id);arrowActionGiftWrapValue(i, toNames[i]); getTotal()">
                  &#x25B2;
                </div>
                <div id="dec-button" class="spinner-button" (click)="minusArrow(itm.item.id);arrowActionGiftWrapValue(i, toNames[i]); getTotal()">
                  &#x25BC;
                </div>
            <!-- </p> -->
            <p style="word-wrap: break-word;">
              <strong>Total Price:</strong>
                <!-- <img style="margin-top: -6px;" src="https://img.icons8.com/material-two-tone/20/000000/peso-symbol.png"/> -->
                <span class="mr-2 ml-2">&#8369;</span>{{(itm.item.price * itm.qty) + ((checkSessionStorageDeliveryOpt)?checked?giftwrap_reference[i].quantity * giftwrap_fee :0:checked?giftwrap[i].quantity * giftwrap_fee :0) | number : '1.2-2'}}
            </p>
            <p class="pointer-hand hover-delete" (click)="delete(i)">
              DELETE
            </p>
          </div>
        </div>
      </div>
    </div>
    <hr>
  </div>
  <div class="row form-group">
    <div class="col-md-6 col-sm-12 col-lg-4">
      <strong class="mr-2">Total Cost:</strong>
        <!-- <img style="margin-top: -6px;" src="https://img.icons8.com/material-two-tone/20/000000/peso-symbol.png"/> -->
        <span class="mr-2">&#8369;</span>{{total | number : '1.2-2'}}
    </div>
  </div>
  <div *ngIf="this.itemCount != 0" class="row form-group">
    <div class="col-md-4 col-sm-6 col-lg-4">
      <button mat-stroked-button class="btn btn-block btn-color" (click)="purchase()">PROCEED TO CHECKOUT</button>
      </div>
    </div>
  <div class="row">
    <div class="col-md-4 col-sm-6 col-lg-4">
      <button mat-stroked-button class="btn btn-block btn-color" (click)="shop()">CONTINUE SHOPPING</button>
    </div>
    </div>

</div>
</div>

<!-- end -->
</div>
