<!-- success message -->
<div class="mt-5">
  <h2>Registration</h2>
</div>

<div class="row">
  <div class="col-md-6 col-lg-6">
      <div class="content mb-4">
          <div>Thank you for your registration. Please click on the link that has been sent  to your email to activate your account.</div>
        </div>
    </div>
</div>
 <div class="row mb-5">
  <div class="col-md-6 col-lg-6">
    <div class="row">
      <div class="col-nd-6 col-lg-6">
        <button routerLink="/user/signin" mat-stroked-button class="btn btn-lg btn-color btn-block">SIGN IN</button>
      </div>
    </div>
  </div>
</div>

<!-- end success message -->
