
<div>

		<!-- if validation successs show this -->
    <div class="mt-5 mb-5" *ngIf="!hasErrorValidating" >
      <h2>Registration</h2>
      <div class="row">
        <div class="col-md-6 col-lg-6">
          <div class="content ">
            <h4>VERIFICATION SUCCESSFUL</h4>
            <p>By verifying your email address, you acknowledge that you have read and agreed to our terms  and conditions of using our online store. Thank you</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-6 col-12 col-sm-12">
            <div class="row">
              <div class="col-md-6 col-lg-6">
                <button type="button" mat-stroked-button class="btn btn-md btn-block btn-color" (click)="backToHome()">
                  START SHOPPING
                </button>
              </div>
            </div>
        </div>
      </div>
    </div>

		<!-- if validation fail show this -->
		<div class="mt-5 mb-5" *ngIf="hasErrorValidating" >

      <div class="row">
        <div class="col-lg-6 col-md-6 col-12 col-sm-12">
          <h4> Oppps, Something went wrong please try again.</h4>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6 col-md-6 col-12 col-sm-12">
          <p>
            You may have tried to access an invalid url or used an invalid activation url.
          </p>
          <p>
            Kindly check again your email. Thank you!
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-6 col-6 col-sm-12 text-center">
          <div class="row">
            <div class="col-md-6 col-lg-6 col-12 col-sm-12">
              <button type="button" class="btn btn-color btn-md btn-block" (click)="backToHome()">
                START SHOPPING
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>




	</div>
