<div class="container-flex">
  <div class="pt-4 mx-3">

    <div class="mb-4"  style="margin-left: 14px;">
      <img style="margin-top: -4px;" class="mr-2"  src="https://img.icons8.com/ios-filled/24/000000/settings.png"/>
      <span>Order Number Format</span>
     </div>



    <!-- <div class="col-md-12">
      <div class="mb-2">
        <span class="text-danger">SAMPLE OUTPUT</span>: {{ (output_id) ? output_id + '00000000' : 'Not Set' }}
       </div>
    </div> -->


    <!-- start -->
    <div class="col-md-12">
    <form [formGroup]="orderFormatForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-md-2 col-lg-2  align-self-center">
        <label for="" class="col-form-label">
          Order ID:
        </label>
      </div>
      <div class="col-md-4 col-lg-4">
        <mat-form-field class="my-form-field col-md-12 px-0">
          <input formControlName="order_id" #order_id matInput placeholder="Order ID" (keyup)="getKeyInput()" autocomplete="off">
              <mat-error *ngIf="orderFormatForm.get('order_id').hasError('required')">
                  Order ID is <strong>required</strong>
              </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6 col-lg-6"></div>
    </div>
    <!--  -->
    <div class="row">
      <div class="col-md-2 col-lg-2  align-self-center">
        <label for="" class="col-form-label">
          Order Year:
        </label>
      </div>
      <div class="col-md-4 col-lg-4">
        <mat-form-field class="my-form-field col-md-12 px-0">
          <mat-select #order_year formControlName="order_year" (selectionChange)="onChangeDate()" required>
            <ng-container *ngFor="let year of year_list">
              <mat-option value="{{year.value}}">{{year.value}}</mat-option>
            </ng-container>
            <!-- <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="mercedes">Mercedes</option>
            <option value="audi">Audi</option> -->
          </mat-select>
          <mat-error *ngIf="orderFormatForm.get('order_year').hasError('required')">
              Order Year is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6 col-lg-6"></div>
    </div>
    <!--  -->
    <div class="row">
      <div class="col-md-2 col-lg-2  align-self-center">
        <label for="" class="col-form-label">
          Sample Output
        </label>
      </div>
      <div class="col-md-4 col-lg-4">
        <mat-form-field class="my-form-field col-md-12 px-0">
          <input matInput value="{{ (output_id) ? output_id + '00000000' : 'Not Set' }}">
              <!-- <mat-error *ngIf="orderFormatForm.get('order_id').hasError('required')">
                  Order ID is <strong>required</strong>
              </mat-error> -->
        </mat-form-field>
      </div>
      <div class="col-md-6 col-lg-6"></div>
    </div>
    <div class="row form-group">
      <div class="col-md-2 col-lg-2"></div>
      <div class="col-md-4 col-lg-4">
        <button type="submit"  class="btn btn-block btn-dark text-light btn-md" >
        {{isSaving ? 'SAVING PLEASE WAIT' : hasData ? 'Update' : 'Set Order Format'}}
     </button>
      </div>
      <div class="col-md-6 col-lg-6"></div>
    </div>
    </form>
    </div>
    <!-- beginning -->

  </div>
</div>
