<!-- <div class="below-toolbar" style="padding: 10px; width: 1100px; margin: 100px auto auto auto;"> -->
  <div class="container-flex">
    <div class="pt-4 mx-3">
      <!-- header start -->
      <div class="mb-4" style="margin-left: 14px;">
        <img style="margin-top: -4px;" class="mr-2" src="https://img.icons8.com/ios-filled/24/000000/purchase-order.png"/>
        <span>Incoming Order</span>
       </div>
      <!-- <div class="col-md-12">
        <mat-icon class="align-middle" style="width: 50px; height: 50px;font-size: 50px;">event_note</mat-icon>
        <span class="align-middle"> {{ titlebranch | uppercase}}</span>
      </div> -->
      <!-- <button class="button-back" (click)="backClicked()">
        <mat-icon>arrow_back_ios</mat-icon><div style="font-size:13px;">Back</div>
      </button> -->
      <!-- search start -->
      <div class="col-md-12" style="display: flex; justify-content: center; ">
				<!-- <div class="row"> -->
					<mat-form-field class="f-15 my-form-field" style="width: 140px; ">
						<mat-select [(value)]="paginator.type" (selectionChange)="selectType($event.value)">
							<!-- <mat-option value="0">Select type</mat-option> -->
							<mat-option value="1">Order no</mat-option>
							<mat-option value="2">Item name</mat-option>
							<mat-option value="3">Item no</mat-option>
							<mat-option value="4">Customer name</mat-option>
						</mat-select>
          </mat-form-field>

					<mat-form-field class="f-15 my-form-field" style="width: 20em; margin: 0 10px;">
	          <input #searchInput matInput placeholder="keyword" autocomplete="off">
	        </mat-form-field>

						<button class="list-opt list-btn-opt-view" (click)="applyFilter(searchInput.value)" matTooltip="">
		          Search
		        </button>
						<!-- <button class="list-opt list-btn-opt-view text-info" (click)="printShippingSlipBulk()" matTooltip="PRINT SHIPPING SLIP - (BULK)" matTooltipPosition="above">
		          <i class="fa fa-print" aria-hidden="true" style="font-size: 20px;">
								<span class="ml-1 align-middle" style="font-size: 12px;">SLIP</span></i>
		        </button>
						<button class="list-opt list-btn-opt-view text-warning" (click)="downloadJSON2CSV()" matTooltip="GENERATE CSV SHIPPING SLIP" matTooltipPosition="above">
		          <i class="fa fa-print" aria-hidden="true" style="font-size: 20px;">
								<span class="ml-1 align-middle" style="font-size: 12px;">CSV</span>
							</i>
		        </button> -->
            <div style="flex: 1 1 auto"></div>
            <div style="transform: translateY(3px); display: flex;">
              <div style="margin-top: 12px; font-size: 12px; color: rgb(117, 117, 117);">Limit：</div>

              <mat-form-field style="width: 60px; font-size: 12px;">
                <mat-select [(value)]="paginator.limit" (selectionChange)="selectLimit($event.value)">
                  <mat-option value="5">5</mat-option>
                  <mat-option value="10">10</mat-option>
                  <mat-option value="20">20</mat-option>
                  <mat-option value="50">50</mat-option>
                  <mat-option value="100">100</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div style="transform: translateY(3px); display: flex;">

              <div class="indicator">{{ pageItem.offset + 1 }} - {{ pageItem.offset + +reqList.length  }} of
                {{ pageItem.total }}</div>

              <button [disabled]="pageItem.total <= 1 || (pageItem.current == pageItem.first)" (click)="pageAction('first')"
                mat-icon-button class="pagi-arrow">
                <mat-icon style="font-size: 28px;">first_page</mat-icon>
              </button>
              <button [disabled]="pageItem.total <= 1 || (pageItem.current == pageItem.first)" (click)="pageAction('prev')"
                mat-icon-button class="pagi-arrow">
                <mat-icon style="font-size: 28px;">chevron_left</mat-icon>
              </button>
              <button [disabled]="pageItem.total <= 1 || (pageItem.current == pageItem.pages)" (click)="pageAction('next')"
                mat-icon-button class="pagi-arrow">
                <mat-icon style="font-size: 28px;">chevron_right</mat-icon>
              </button>
              <button [disabled]="pageItem.total <= 1 || (pageItem.current == pageItem.pages)" (click)="pageAction('last')"
                mat-icon-button class="pagi-arrow">
                <mat-icon style="font-size: 28px;">last_page</mat-icon>
              </button>
            </div>
<!--


						<div class="float-right" style="transform: translateY(3px); display: flex;">
							<div class="indicator">{{ pageItem.offset + 1 }} - {{ pageItem.offset + +reqList.length  }} of
								{{ pageItem.total }}</div>

							<button [disabled]="pageItem.total <= 1 || (pageItem.current == pageItem.first)" (click)="pageAction('first')"
								mat-icon-button class="pagi-arrow">
								<mat-icon style="font-size: 28px;">first_page</mat-icon>
							</button>
							<button [disabled]="pageItem.total <= 1 || (pageItem.current == pageItem.first)" (click)="pageAction('prev')"
								mat-icon-button class="pagi-arrow">
								<mat-icon style="font-size: 28px;">chevron_left</mat-icon>
							</button>
							<button [disabled]="pageItem.total <= 1 || (pageItem.current == pageItem.pages)" (click)="pageAction('next')"
								mat-icon-button class="pagi-arrow">
								<mat-icon style="font-size: 28px;">chevron_right</mat-icon>
							</button>
							<button [disabled]="pageItem.total <= 1 || (pageItem.current == pageItem.pages)" (click)="pageAction('last')"
								mat-icon-button class="pagi-arrow">
								<mat-icon style="font-size: 28px;">last_page</mat-icon>
							</button>
						</div>
						<mat-form-field class="float-right" style="font-size: 12px; width: 50px;">
							<mat-select [(value)]="paginator.limit" (selectionChange)="selectLimit($event.value)">
								<mat-option value="5">5</mat-option>
								<mat-option value="10">10</mat-option>
								<mat-option value="20">20</mat-option>
								<mat-option value="50">50</mat-option>
								<mat-option value="100">100</mat-option>
							</mat-select>
						</mat-form-field>
						<span class="float-right mt-2 pt-1" style="font-size: 12px; color: rgb(117, 117, 117);">
							Limit：
						</span> -->

				<!-- </div> ///row -->
        <!-- <div style="font-size: 14px; color: rgb(117, 117, 117); margin-top: 27px;">Type：</div> -->
      </div>
      <!-- table start -->
      <div class="col-md-12 list-div pr-0" [ngStyle]="{'height': contentHeight + 'px'}">
        <!-- style="max-height: 450px;" -->
        <table mat-table [dataSource]="dataSource" matSort #dataSort class="w-100">
          <!-- class="mat-elevation-z8" -->
          <!-- uncomment if needed again -->
          <!-- <ng-container matColumnDef="shipping_status">
            <th class=" pl-3" math-header-cell *matHeaderCellDef></th>
            <td mat-cell class="list-item pl-2" *matCellDef="let row; let i=index">
							<ng-container *ngIf="row.service_type === 1">
								<i *ngIf="row.shippingslip_status == 1" class="fa fa-truck text-danger align-middle" style="font-size: 18px;" aria-hidden="true" matTooltip="Okay for Shipping slip" matTooltipPosition="above"></i>
								<i *ngIf="row.shippingslip_status == 0" class="fa fa-truck  align-middle" style="font-size: 18px;" aria-hidden="true" matTooltip="N/A Shipping slip" matTooltipPosition="above"></i>
								<mat-checkbox [disabled]="(row.shippingslip_status == 1) ? 'false' : 'true'" [disableRipple]="true" class="pl-1" (change)="addToPrintSlip($event, row, i)"></mat-checkbox>
							</ng-container>
						</td>
          </ng-container> -->

          <ng-container matColumnDef="id">
            <th class="pl-2 " math-header-cell *matHeaderCellDef mat-sort-header>#</th>
            <td mat-cell class="list-item pl-2 text-dark" *matCellDef="let row; let i=index">{{i+1}}</td>
          </ng-container>

					<ng-container matColumnDef="order_no">
            <th class="" math-header-cell *matHeaderCellDef mat-sort-header>Order #</th>
            <td mat-cell class="list-item text-dark" *matCellDef="let row">{{row.order_no}}</td>
          </ng-container>

          <!-- <ng-container matColumnDef="username">
            <th math-header-cell *matHeaderCellDef mat-sort-header>
							<span class="">Customer</span>
							<span class="font-weight-lighter text-danger" [ngStyle]="{'font-size': '10px'}">[Username]</span>
						</th>
            <td mat-cell class="list-item" *matCellDef="let row">{{row.customer.username}}</td>
          </ng-container> -->

					<ng-container matColumnDef="receiver_name">
            <th class="" math-header-cell *matHeaderCellDef mat-sort-header>Receivers Name</th>
            <td mat-cell class="list-item text-dark" *matCellDef="let row">{{row.receiver_name}}</td>
          </ng-container>

          <!-- <ng-container matColumnDef="concat_item">
            <th class="" math-header-cell *matHeaderCellDef mat-sort-header>Item</th>
            <td mat-cell class="list-item text-dark" *matCellDef="let row">{{row.concat_item}}</td>
          </ng-container> -->

          <ng-container matColumnDef="service">
            <th class="" math-header-cell *matHeaderCellDef mat-sort-header>Service</th>
            <td mat-cell class="list-item text-dark" *matCellDef="let row">{{row.service}}</td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th class="" math-header-cell *matHeaderCellDef mat-sort-header>Status</th>
            <td mat-cell class="list-item text-dark" *matCellDef="let row">{{row.status_text}}</td>
          </ng-container>


          <ng-container matColumnDef="viewAction">
            <th class=" text-center" math-header-cell *matHeaderCellDef>Controls</th>
            <td mat-cell *matCellDef="let row" class="text-center pr-0">
              <button class="list-opt list-btn-opt-view" (click)="openView(row, 'view')" matTooltip="">
                View
              </button>
              <button class="list-opt list-btn-opt-edit" (click)="openView(row, 'update')" matTooltip="">
                Update
              </button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          <!-- <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row> -->
        </table>
      </div>


      <!-- <div class="col-md-12 list-header">
        <div matSort style="display: flex; vertical-align: middle; line-height: 40px;">
          <div style="padding-left: 25px; outline: none; width: 3.3%;">#</div>
          <div mat-sort-header="name" style="padding-left: 25px; outline: none; width: 16.5%">Name</div>
          <div mat-sort-header="item" style="padding-left: 25px; outline: none; width: 17%">Item</div>
          <div mat-sort-header="service" style="padding-left: 25px; outline: none; width: 14.5%;">Service</div>
          <div mat-sort-header="status" style="padding-left: 25px; outline: none; width: 32%;">Status</div>
          <div style="flex: 1 1 auto"></div>
          <mat-spinner *ngIf="search_loading" [diameter]="20" style="margin-top: 10px;"></mat-spinner>
        </div>
      </div> -->
      <!-- <div class="col-md-12 list-div" [ngStyle]="{'height': contentHeight + 'px'}">
        <mat-table #table [dataSource]="dataSource">
          <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header>#</mat-header-cell>
            <mat-cell class="list-item" style="flex: 0.14" *matCellDef="let row; let i=index">{{i+1}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="name">
            <mat-cell class="list-item" style="flex: 0.48" *matCellDef="let row">{{row.name}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="item">
            <mat-cell class="list-item" style="flex: 0.48" *matCellDef="let row">{{row.concat_item}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="service">
            <mat-cell class="list-item" style="flex: 0.43" *matCellDef="let row">{{row.service}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="status">
            <mat-cell class="list-item" style="flex: 0.5" *matCellDef="let row">{{row.status_text}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="viewAction">
            <mat-header-cell *matHeaderCellDef> </mat-header-cell>
            <mat-cell *matCellDef="let row" style="flex: 0.18">
              <button class="list-opt list-btn-opt-view" (click)="openView(row, 'view')" matTooltip="">
                View
              </button>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="viewUpdate">
            <mat-header-cell *matHeaderCellDef> </mat-header-cell>
            <mat-cell *matCellDef="let row" style="flex: 0.18">
              <button class="list-opt list-btn-opt-edit" (click)="openView(row, 'update')" matTooltip="">
                Update
              </button>
            </mat-cell>
          </ng-container>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      </div> -->
    </div>
  </div>
<!-- </div> -->
