<form [formGroup]="signinForm" (ngSubmit)="onSubmit()" class="form-signin mt-5">
  <div class="text-center mb-4">
    <img class="mb-4" src="../../assets/images/LSS_logo.png" alt="" width="180" height="80">
    <h1 class="h3 mb-0 font-weight-normal">LSS</h1>
    <p class="text-danger">Admin Login</p>
  </div>

  <div class="form-label-group">
    <input type="username" class="form-control" id="username" formControlName="username" placeholder="Email" autofocus="">
    <label for="username">Email</label>
    <span class="text-danger text-right d-block text-right error-msg" *ngIf="signinForm.controls['username'].hasError('required') && (signinForm.controls['username'].dirty || signinForm.controls['username'].touched)">Email is required</span>
  </div>

  <div class="form-label-group">
    <input type="password" class="form-control" id="password" formControlName="password" placeholder="Password">
    <label for="inputPassword">Password</label>
    <span class="text-danger text-right d-block text-right error-msg" *ngIf="signinForm.controls['password'].hasError('required') && (signinForm.controls['password'].dirty || signinForm.controls['password'].touched)">Password is required</span>
  </div>

  <!-- <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
  </div> -->
  <button class="btn btn-lg btn-primary btn-block" type="submit">Log-in</button>
  <!-- <p class="mt-5 mb-3 text-muted text-center">© 2019 ~</p> -->
</form>
