<div class="container-flex">
  <div class="pt-4 mx-3">

    <div class="mb-4"  style="margin-left: 14px;">
      <img style="margin-top: -4px;" class="mr-2"  src="https://img.icons8.com/ios-filled/24/000000/settings.png"/>
      <span>Payment Method</span>
     </div>
<!--
  <div class="mb-4">
    <div class="col-lg-4 col-md-6 col-12 col-sm-6">
      <button  (click)="addpayment()" class="btn btn-md btn-block btn-secondary">ADD PAYMENT METHOD</button>
    </div>
  </div> -->

  <div class="col-md-12">
    <button class="list-opt list-btn-opt-view" (click)="addpayment()" matTooltip="">
      Add
    </button>

  <div class="">
    <div class="col-md-12 col-lg-12">
      <table mat-table [dataSource]="dataSource" matSort class="w-100">
        <!-- class="mat-elevation-z8" -->

        <ng-container matColumnDef="pm_no">
          <th class="" math-header-cell *matHeaderCellDef mat-sort-header>#</th>
          <td mat-cell class="list-item" *matCellDef="let row">{{row.pm_no}}</td>
        </ng-container>

        <ng-container matColumnDef="img_pm">
          <th class="" math-header-cell *matHeaderCellDef mat-sort-header>Image</th>
          <td mat-cell class="list-item" *matCellDef="let row">
            <img [src]="row.img_pm[0].file" class="img-size">
          </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th class="" math-header-cell *matHeaderCellDef mat-sort-header>Name</th>
          <td mat-cell class="list-item" *matCellDef="let row">{{row.name}}</td>
        </ng-container>

        <ng-container matColumnDef="account_number">
          <th class="" math-header-cell *matHeaderCellDef mat-sort-header>Account number</th>
          <td mat-cell class="list-item" *matCellDef="let row">{{row.account_number}}</td>
        </ng-container>


        <ng-container matColumnDef="viewAction">
          <th class="" math-header-cell *matHeaderCellDef>Controls</th>
          <td mat-cell *matCellDef="let row" class=" pr-0">
            <!-- <button class="list-opt list-btn-opt-view" (click)="userDialog(row, 'view')" matTooltip="">
              View
            </button>
            <button *ngIf="row.usertype_id != 2" class="list-opt list-btn-opt-delete" (click)="delete(row.id)" matTooltip="">
              Delete
            </button> -->
            <!-- <mat-slide-toggle [id]="row.id" (change)="testFunc($event)">{{(myVariable) ? 'ACTIVE' : 'INACTIVE'}}</mat-slide-toggle> -->
            <!-- <mat-slide-toggle  (change)="onChange($event, row.id)" >{{(a) ? 'Active' : 'Inactive'}}</mat-slide-toggle> -->
            <!-- (click)="matToggle(row.id)"  -->
           <!-- <div *ngIf="!isTest"> -->
            <!-- <mat-slide-toggle  [(ngModel)]="testchecked">Active</mat-slide-toggle>
           </div> -->

            <mat-slide-toggle [checked] = "(row.status === 1) ? true : false" (change)="toggleSlide(row.id)">{{(row.status === 1) ? 'Active ': 'Inactive' }}</mat-slide-toggle>
          <!--  -->
<!-- {{(testVariable) ? 'Active' : 'Inactive'}} -->

            <button  class="list-opt list-btn-opt-edit" (click)="editpayment(row.id)" matTooltip="">
              Edit
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <!-- <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row> -->
      </table>

<!--
      <table class="table table-boerderless">
        <thead>
          <tr>
            <th></th>
            <th>NAME</th>
            <th>ACCOUNT NUMBER</th>
            <th>CONTROL</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let infopayment of paymentinfo">
            <td>{{paymentinfo.name}}</td>
            <td></td>
            <td></td>
            <td>
              refferencce
              ng-switch https://webcat12345.github.io/ngx-ui-switch/docs/
              <button class="btn btn-primary " (click)="editpayment()" >
                Edit
              </button>

          </td>
          </tr>
        </tbody>
      </table> -->
    </div>
  </div>

  <!-- end conainer -->
  </div>
</div>
