.profile-pic{
  width: 100%;
  height: auto;
  border-radius: 2px;
  background-position: center;
  background-repeat: no-repeat;
  /* background-size: cover;
  webkit-filter: drop-shadow(1px 2px 2px rgba(44, 63, 238, 0.4));
  filter: drop-shadow(1px 2px 2px rgba(44, 63, 238, 0.4)); */

}
.fab-browse {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #f8f8f8;
  color: #535353;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  box-shadow: 0 3px 8px rgba(44, 63, 238, 0.247);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.fab-browse:hover {
  box-shadow: 0 5px 12px rgba(44, 63, 238, 0.247);
  transition: 0.2s all ease;
}
.fab-browse:active {
  box-shadow: 0 1px 12px rgba(44, 63, 238, 0.247);
  transition: 0.2s all ease;
}



/*  // box-shadow: 0 3px 8px rgba(44, 63, 238, 0.247);
  // background-color: #cccccc; */
