.agm-map-container-inner {
  height: 100%;
  width: 100%;
  display: block;
}
.agm-map-content {
  display:none !important;
}
// agm-map {
//   height: 300px !important;
//   width: 100%;  /* This is really important*/
// }
agm-map {
  height: 100%;
  width: 100%;
}

.crosshair {
  position: absolute;
  border-radius: 50px;
  border: 2px solid #e90000;
  width: 50px;
  height: 50px;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -25px;
  z-index: 1;
}
.crosshair-stroke {
  position: absolute;
  background: #e90000;
  border-radius: 5px;
}
.crosshair-stroke--left,
.crosshair-stroke--right {
  top: 50%;
  height: 2px;
  margin-top: -1px;
  width: 11px;
}
.crosshair-stroke--right {
  right: 0;
}
.crosshair-stroke--left-2,
.crosshair-stroke--right-2 {
  top: 50%;
  width: 2px;
  height: 11px;
  margin-top: -5.5px;
}
.crosshair-stroke--left-2 {
  left: -2px;
}
.crosshair-stroke--right-2 {
  right: -2px;
}
.crosshair-stroke--top,
.crosshair-stroke--bottom {
  left: 50%;
  height: 11px;
  width: 2px;
  margin-left: -1px;
}
.crosshair-stroke--top {
  top: 0;
}
.crosshair-stroke--bottom {
  bottom: 0;
}
.crosshair-stroke--top-2,
.crosshair-stroke--bottom-2 {
  left: 50%;
  width: 11px;
  margin-left: -5.5px;
  height: 2px;
}
.crosshair-stroke--top-2 {
  top: -2px;
}
.crosshair-stroke--bottom-2 {
  bottom: -2px;
}
.crosshair__address-info {
  width: 340px;
  margin-top: 90px;
  margin-left: -145px;
  text-align: center;
  background: rgba(255, 255, 255, 0.75);
  border-radius: 3px;
  padding: 8px 18px;
  color: #333c4e;
  font-size: 16px;
}
@media (max-width: 768px) {
  .crosshair__address-info {
    display: none;
    width: 100%;
    margin: 0 0 20px;
    padding: 0;
    background: transparent;
    font-size: 14px;
    color: #697982;
  }
}
.crosshair__address-info--mobile {
  display: none;
}
@media (max-width: 768px) {
  .crosshair__address-info--mobile {
    display: block;
  }
}
// .address-picker--fullscreen {
//   position: fixed;
//   display: flex;
//   top: 0.2em;
//   bottom: 0.2em;
//   left: 0.2em;
//   right: 0.2em;
// }
// .map {
//   border-radius: 4px;
// }
// .map > .modal-close {
//   top: 20px;
//   right: 20px;
//   width: 40px;
//   height: 40px;
//   background-color: #ffffff;
//   opacity: 0.75;
//   font-size: 16px;
//   transition: all 0.125s ease-in;
// }
// @media (max-width: 768px) {
//   .map > .modal-close {
//     top: 10px;
//     right: 10px;
//   }
// }
// .map > .modal-close:hover {
//   opacity: 1;
// }
// .map > .modal-close:before {
//   color: #959aa6;
// }
// .map-canvas {
//   display: flex;
//   flex: 1 1 auto;
//   border-radius: 4px;
// }
// .map-controls {
//   display: flex;
//   flex-flow: row nowrap;
//   justify-content: space-between;
//   align-items: center;
//   background: white;
//   padding: 35px 40px;
//   border-top-left-radius: 16px;
//   border-top-right-radius: 16px;
//   position: absolute;
//   left: 50%;
//   bottom: 0;
//   transform: translateX(-50%);
//   width: 1060px;
//   height: 120px;
//   max-width: 100%;
//   box-shadow: 0 -2px 12px 0 rgba(80, 89, 100, 0.2);
// }
// @media (max-width: 768px) {
//   .map-controls {
//     padding: 20px;
//     border: 0;
//     justify-content: center;
//     flex-direction: column;
//     border-top-left-radius: 9px;
//     border-top-right-radius: 9px;
//     width: 100%;
//     height: inherit;
//   }
// }
// .map-controls__description {
//   font-size: 23px;
//   color: #333c4e;
// }
// @media (max-width: 768px) {
//   .map-controls__description {
//     display: none;
//   }
// }
// .map-button-container {
//   padding-top: 10px;
//   width: 300px;
//   text-align: center;
//   margin-left: -125px;
// }
// .map-button-container__submit {
//   font-size: 18px;
//   box-shadow: none;
//   background: #e90000;
//   text-align: center;
//   padding: 10px 30px;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   flex-direction: row;
//   color: #fff;
//   border: #e90000;
//   border-radius: 3px;
//   cursor: pointer;
//   user-select: none;
//   outline: none;
//   text-decoration: none;
//   transition: all 0.125s ease-in;
// }
// @media (max-width: 768px) {
//   .map-button-container__submit {
//     min-height: 40px;
//   }
// }
