
<button style="position:absolute; outline: none;z-index: 10;top: 0px; right: 0px;" mat-icon-button color="warn" (click)="closeDialog()" class="mx-2 my-1 lh-button-icon">
	<mat-icon>close</mat-icon>
</button>
<mat-dialog-content class="mat-typography font-14 mx-0 px-0 py-0 text-center" style="height: 100% !important; max-height: 90vh !important;">
  <div class="map-crosshair crosshair">
    <div class="crosshair-stroke crosshair-stroke--top"></div>
    <div class="crosshair-stroke crosshair-stroke--top-2"></div>
    <div class="crosshair-stroke crosshair-stroke--right"></div>
    <div class="crosshair-stroke crosshair-stroke--right-2"></div>
    <div class="crosshair-stroke crosshair-stroke--bottom"></div>
    <div class="crosshair-stroke crosshair-stroke--bottom-2"></div>
    <div class="crosshair-stroke crosshair-stroke--left"></div>
    <div class="crosshair-stroke crosshair-stroke--left-2"></div>
    <div class="crosshair__address-info">{{ addressText }}</div>
  </div>
  <agm-map style="height: 100%; width: 100%;"
    [latitude]="defaultCenter.lat"
    [longitude]="defaultCenter.lng"
    [zoom]="zoom"
    [mapTypeControl]="true"
    [streetViewControl]="false"
    (centerChange)="centerChange($event)"
    (zoomChange)="zoomChange($event)"
    (boundsChange)="boundsChange($event)"
    (mapReady)="mapReady($event)"
    >


    <!-- Static marker -->
    <!-- <agm-marker
      [latitude]="defaultCenter.lat"
      [longitude]="defaultCenter.lng"
    ></agm-marker> -->

    <!-- User geolocation marker, changes -->
    <!-- <agm-marker
      [latitude]="currentCenter.lat"
      [longitude]="currentCenter.lng"
    ></agm-marker> -->
  </agm-map>

  <!-- <agm-map
    [latitude]="lat"
    [longitude]="lng"
    [zoom]="zoom"
    [disableDefaultUI]="false"
    [zoomControl]="false"
    (mapClick)="mapClicked($event)">

    <agm-marker
        *ngFor="let m of markers; let i = index"
        (markerClick)="clickedMarker(m.label, i)"
        [latitude]="m.lat"
        [longitude]="m.lng"
        [label]="m.label"
        [markerDraggable]="m.draggable"
        (dragEnd)="markerDragEnd(m, $event)">

      <agm-info-window>
        <strong>InfoWindow content</strong>
      </agm-info-window>

    </agm-marker>

    <agm-circle [latitude]="lat + 0.3" [longitude]="lng"
        [radius]="5000"
        [fillColor]="'red'"
        [circleDraggable]="true"
        [editable]="true">
    </agm-circle>

  </agm-map> -->
</mat-dialog-content>
<mat-dialog-actions class="py-0" style="height: 100% !important; max-height: 10vh !important;">
	<div class="container-fluid">
		<div class="row">
      <div class="col-12 text-danger" align="center">
        <button class="w-100" mat-button align="right" (click)="selectAddress()">SELECT ADDRESS</button>
        <!-- <button mat-button [mat-dialog-close]="false">Close</button> -->
        <!-- <input [(ngModel)]="addressText">
        <button class="w-50" mat-button align="left" (click)="findPlace()">Find Place</button> -->
			</div>
			<div class="col-12 text-danger" align="right">
        <!-- <button mat-button [mat-dialog-close]="true">Yes</button> -->
        <!-- <button class="w-100" mat-button align="right" (click)="reverseGeocodeLatLang()">Reverse Geocoding</button> -->
			</div>
		</div>
	</div>
</mat-dialog-actions>
