.mat-input-style{
  width: 100%;
}

.mat-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.signup{
    // margin: 50px auto;
    // width: 350px;
    padding: 0px 15%;
}
// .signin input {
//   height: 50px;
//   border-radius: 30px;
// }
.fourDpocketSubmitLoginBTN{
  font-size: 30px;
  line-height: 50px;
  background-color: #000000;
  color: #ffffff;
  width: 100%;
}
.fourDpocketLoginFormWrapper{
  position: relative;
  background-color: #ffffff;
  // top: 60px;
  // z-index: 9999;
  padding: 20px 20px 100px 20px;
}

.profile-pic{
    width: 150px;
    height: 150px;
    border-radius: 50%;
		background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
		webkit-filter: drop-shadow(1px 2px 2px rgba(44, 63, 238, 0.4));
    filter: drop-shadow(1px 2px 2px rgba(44, 63, 238, 0.4));
    // box-shadow: 0 3px 8px rgba(44, 63, 238, 0.247);
    // background-color: #cccccc;
}

.fab-browse {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #f8f8f8;
    color: #535353;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    box-shadow: 0 3px 8px rgba(44, 63, 238, 0.247);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.fab-browse:hover {
    box-shadow: 0 5px 12px rgba(44, 63, 238, 0.247);
    transition: 0.2s all ease;
}
.fab-browse:active {
    box-shadow: 0 1px 12px rgba(44, 63, 238, 0.247);
    transition: 0.2s all ease;
}
.contact-prefix{
	position: absolute;
	width: 100%;
	height: 100%;
	right: 50px;
}

a{
  color: black;
}
a:link{
  color: black;
  text-decoration: none;
}

// ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-end {
//  border-radius: 1px !important;
//  border: 1px solid  red;
//  border-left:none;
// }
// ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-start {
//  border-radius: 1px !important;
//  border: 1px solid red;
//  border-right:none;
// }
// ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-gap {
//  border-radius: 1px !important;
//  border-bottom: 1px solid red;
// }
::ng-deep .mat-focused .mat-form-field-label{ color: #000000 !important; }
::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple{ background: #000000 !important; }

// new design september 10. 2020
.contact-content{
  background-color: #eff2f4;
  height: auto;
  color: #607d8b;
  font-size: 13px;
  line-height: 1.6;
  padding: 15px 15px 15px 15px;
  text-align: justify;
}


.header-style{
  text-align: center;
  margin-bottom: 30px;
  margin-top: 30px;
  font-size: 20px;
  color: #333;
  line-height: 1.5;

  // link

}
.input-group-append, .input-group-prepend{
  border-radius: 0px !important;
  background-color: #ffffff;
}



//

@media only screen and (max-width: 600px) {
  .header-title{
    font-size: 14px;
    letter-spacing: .1em;
    color: #333;
    font-weight: 600;
  }

}
@media only screen and (min-width: 600px) {
  .header-title{
    font-size: 18px;
    letter-spacing: .1em;
    color: #333;
    font-weight: 600;
  }
}
@media only screen and (min-width: 768px) {
  .header-title{
    font-size: 24px;
    letter-spacing: .1em;
    color: #333;
    font-weight: 600;
  }
}
@media (min-width: 992px) {
  .header-title{
    font-size: 24px;
    letter-spacing: .1em;
    color: #333;
    font-weight: 600;
  }
  .label-end{
     display: flex;
     justify-content: flex-end;
   }
 }


  a:link{
    color: #333;
    text-decoration: none;
  }
  a{
    color: #333;
    text-decoration: none;
  }
  a:hover{
    color: #333;
  }
  .btn-color{
    color: #ffffff;
    background-color: #009688;
  }
  .span-error{
    display: flex;
    justify-content: flex-end;
    font-size: 14px;
  }
  // /* headlines with lines */
  .decorated{
    overflow: hidden;
    text-align: center;
  }
  .decorated > span{
    position: relative;
    display: inline-block;
    }
    .decorated > span:before, .decorated > span:after{
    content: '';
    position: absolute;
    top: 50%;
    border-bottom: 1px solid #333;
    width: 90vw;
    margin: 0 20px;
    }
    .decorated > span:before{
    right: 100%;
    }
    .decorated > span:after{
    left: 100%;
    }

    //google map
    .suffix-map{
      width: 38px;
      // top: -0.5em;
      position: relative;
    }
