<div *ngIf="!isUpdate && !isUpdateOrPassword">
  <div class="decorated mb-5">
    <span class="header-title">REGISTRATION</span>
  </div>
</div>

<div >

<ng-container *ngIf="!isUpdateOrPassword">
<form [formGroup]="registrationForm"  (ngSubmit)="onSignUp()" >

     <!--  -->
     <div class="d-none" style="margin: 0 auto; display: flex; justify-content: center;">
      <div style=" position: relative;">
        <img *ngIf="!isUpdate" [src]="(localUrl) ? localUrl : '/assets/images/user-grey.png'" class="profile-pic">
        <!-- [ngStyle]="{'background-image': 'url(' + localUrl + ')'}" //commnet to june 1 -->
        <img *ngIf="isUpdate" [src]="(localUrl) ? localUrl : '/assets/images/user-grey.png'" class="profile-pic">
        <label for="browse-image" class="fab-browse" align="center">
          <mat-icon style="font-size: 18px; vertical-align: middle; line-height: 25px;">edit</mat-icon>
        </label>
      </div>
    </div>

    <input type="file" (change)="onSelectFile($event)" id="browse-image" style="display: none;">
    <!--  -->

    <div class="row">
      <!-- <div class="col-md-2 col-lg-2"></div> -->
      <div class="col-md-6 col-lg-6 col-12 col-sm-12">
        <div *ngIf="!isUpdate">
        <div class="row form-group">
          <!-- <div class="col-md-4 col-lg-4 label-end"></div> -->
          <div class="col-md-12 col-lg-12">
            <label for="" class="col-form-label">Email</label>
            <input  placeholder="Email"  type="text"  formControlName="email_address" (change)="trimValue(registrationForm.get('email_address'))"  class="form-control"
            [ngClass]="{'is-invalid': registerFormControl.email_address.touched && registerFormControl.email_address.invalid }">
            <span class="text-danger span-error"
            *ngIf="(registerFormControl.email_address.touched || submitted) && registerFormControl.email_address.errors?.required">
            Email is &nbsp; <strong>required</strong>
            </span>
            <span class="text-danger span-error"
            *ngIf="(registerFormControl.email_address.touched || submitted) && registerFormControl.email_address.errors?.pattern">
            Email is &nbsp; <strong>invalid</strong>&nbsp; format
            </span>
          </div>
        </div>
        <!--  -->
        <div class="row form-group" *ngIf="!isUpdate" hidden>
          <div class="col-md-4 col-lg-4 label-end">
            <label for="" class="col-form-label">Username</label>
          </div>
          <div class="col-md-8 col-lg-8">
            <input   placeholder="Username" type="text"  formControlName="username" (change)="trimValue(registrationForm.get('username'))"  class="form-control"
            [ngClass]="{'is-invalid': registerFormControl.username.touched && registerFormControl.username.invalid }" >
            <span class="text-danger span-error"
            *ngIf="(registerFormControl.username.touched || submitted) && registerFormControl.username.errors?.required">
            Username is required
            </span>
            <span class="text-danger span-error"
            *ngIf="(registerFormControl.username.touched || submitted) && registerFormControl.username.errors?.minlength">
            Minimum of (5) Characters only
            </span>
            <span class="text-danger span-error"
            *ngIf="(registerFormControl.username.touched || submitted) && registerFormControl.username.errors?.maxlength">
            Maximum of (8) Characters only
            </span>
          </div>
        </div>
        <!--  -->
        <div class="row form-group" *ngIf="!isUpdate">
          <!-- <div class="col-md-4 col-lg-4 label-end"> </div> -->
          <div class="col-md-12 col-lg-12">
            <label for="" class="col-form-label">Password </label>
            <input  placeholder="Password"  type="password"  formControlName="password" (change)="trimValue(registrationForm.get('password'))"   class="form-control"
            [ngClass]="{'is-invalid': registerFormControl.password.touched && registerFormControl.password.invalid }" >
            <span class="text-danger span-error"
            *ngIf="(registerFormControl.password.touched || submitted) && registerFormControl.password.errors?.required">
            Password is &nbsp;<strong>required</strong>
          </span>
            <span class="text-danger span-error"
            *ngIf="(registerFormControl.password.touched || submitted) && registerFormControl.password.errors?.minlength">
            Password must atleast &nbsp;<strong>6 characters long</strong>
            </span>
            <span class="text-danger span-error"
            *ngIf="(registerFormControl.password.touched || submitted) && registerFormControl.password.errors?.maxlength">
            Password is &nbsp; <strong>too long</strong>
            </span>
            <span class="text-danger span-error"
            *ngIf="(registerFormControl.password.touched || submitted) && registerFormControl.password.errors?.pattern">
            Password must contain only<strong>Alphanumerics</strong>
            </span>
          </div>
        </div>
        <!--  -->
        <div class="row form-group" *ngIf="!isUpdate">
          <!-- <div class="col-md-4 col-lg-4 label-end"></div> -->
          <div class="col-md-12 col-lg-12">
            <label for="" class="col-form-label">Retype password</label>
            <input  placeholder="Retype password" #pass2  type="password" (change)="trimValue(registrationForm.get('password2'))" formControlName="password2"  class="form-control"
            [ngClass]="{'is-invalid': registerFormControl.password2.touched && registerFormControl.password2.invalid }" >
            <span class="text-danger span-error"
            *ngIf="(registerFormControl.password2.touched || submitted) && registerFormControl.password2.errors?.required">
            Password is &nbsp; <strong>required</strong>
            </span>
            <span class="text-danger span-error" *ngIf="registrationForm.hasError('notSame') && pass2.value.length != 0">
              Password does not &nbsp; <strong>match</strong>
            </span>
          </div>
        </div>
        <!--  -->
         </div>
        <!--  -->
        <div class="row form-group">
          <!-- <div class="col-md-4 col-lg-4 label-end"> </div> -->
          <div class="col-md-12 col-lg-12">
            <label for=""  class="col-form-label">Firstname</label>
            <input  type="text"  placeholder="Firstname" (change)="trimValue(registrationForm.get('firstname'))" formControlName="firstname" class="form-control"
            [ngClass]="{'is-invalid': registerFormControl.firstname.touched && registerFormControl.firstname.invalid }" >
            <span class="text-danger span-error"
            *ngIf="(registerFormControl.firstname.touched || submitted) && registerFormControl.firstname.errors?.required">
            Firstname is &nbsp;<strong>required</strong>
            </span>
            <span class="text-danger span-error"
            *ngIf="(registerFormControl.firstname.touched || submitted) && registerFormControl.firstname.errors?.pattern">
            Only &nbsp; <strong>letters</strong> are allowed
            </span>
          </div>
        </div>
        <!--  -->
        <div class="row form-group">
          <!-- <div class="col-md-4 col-lg-4 label-end"> </div> -->
          <div class="col-md-12 col-lg-12">
            <label for="" class="col-form-label">Middlename</label>
            <input  placeholder="Middlename"  type="text"  (change)="trimValue(registrationForm.get('middlename'))"  formControlName="middlename"  class="form-control"  >
          </div>
        </div>
        <!--  -->
        <div class="row form-group">
          <!-- <div class="col-md-4 col-lg-4 label-end"> </div> -->
          <div class="col-md-12 col-lg-12">
            <label for=""  class="col-form-label">Lastname</label>
            <input  type="text"  placeholder="Lastname" (change)="trimValue(registrationForm.get('surename'))" formControlName="surename" class="form-control"
            [ngClass]="{'is-invalid': registerFormControl.surename.touched && registerFormControl.surename.invalid }" >
            <span class="text-danger span-error"
            *ngIf="(registerFormControl.surename.touched || submitted) && registerFormControl.surename.errors?.required">
            Lastname is  &nbsp;<strong>required</strong>
            </span>
          </div>
        </div>
        <!--  -->
        <div class="row form-group">
          <!-- <div class="col-md-4 col-lg-4 label-end"></div> -->
          <div class="col-md-12 col-lg-12">
            <label for="" class="col-form-label">Date of birth</label>
            <div class="input-group">
              <input class="pointer-hand form-control" (click)="dob.open()" (keydown)="false"  [matDatepicker]="dob" formControlName="dob" placeholder="Date of Birth" (dateInput)="calculateAge($event.value)" readonly>
              <div class="input-group-append">
                  <mat-datepicker-toggle matSuffix [for]="dob"></mat-datepicker-toggle>
                  <mat-datepicker #dob disabled="false"></mat-datepicker>
              </div>
            </div>
            <span class="text-danger span-error"
            *ngIf="(registerFormControl.dob.touched || submitted) && registerFormControl.dob.errors?.required">
            Birthday is required
          </span>
          </div>
        </div>
        <!--  -->
        <div class="row form-group">
          <!-- <div class="col-md-4 col-lg-4 label-end"> </div> -->
          <div class="col-md-12 col-lg-12">
             <label for="" class="col-form-label">Gender</label>
              <mat-select formControlName="gender" placeholder="Gender" class="form-control">
                <mat-option [value]="3">N/A</mat-option>
                <mat-option [value]="1">Male</mat-option>
                <mat-option [value]="2">Female</mat-option>
              </mat-select>
          </div>
        </div>
        <!--  -->

        <div class="row form-group">
          <!-- <div class="col-md-4 col-lg-4 label-end"> </div> -->
          <div class="col-md-12 col-lg-12">
            <label for=""   class="col-form-label">Contact number</label>
            <div class="input-group ">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">+63 🇵🇭</span>
              </div>
              <input class="form-control" formControlName="contact_no"  placeholder="10 Digit Cellphone Number" autocomplete="off"
              [ngClass]="{'is-invalid': registerFormControl.contact_no.touched && registerFormControl.contact_no.invalid }">
            </div>
              <span class="text-danger span-error"
              *ngIf="(registerFormControl.contact_no.touched || submitted) && registerFormControl.contact_no.errors?.pattern">
              Only &nbsp;<strong>numbers</strong> are allowed <br>
              </span>
              <span class="text-danger span-error"
              *ngIf="(registerFormControl.contact_no.touched || submitted) && registerFormControl.contact_no.errors?.required">
              Contact number is &nbsp;<strong>required</strong>
              </span>
              <span class="text-danger span-error"
              *ngIf="(registerFormControl.contact_no.touched || submitted) && registerFormControl.contact_no.errors?.maxlength">
              Must only contain &nbsp;<strong>10 Digit</strong>
              </span>
              <span class="text-danger span-error"
              *ngIf="(registerFormControl.contact_no.touched || submitted) && registerFormControl.contact_no.errors?.minlength">
              Must only contain &nbsp;<strong>10 Digit</strong>
              </span>

          </div>
        </div>
        <!--  -->
        <div class="row form-group" hidden>
          <!-- <div class="col-md-4 col-lg-4 label-end"></div> -->
          <div class="col-md-12 col-lg-12">
            <label for="" class="col-form-label">Region</label>
              <mat-select class="form-control"  formControlName="region"  placeholder="Region" #selectedRegion (selectionChange)="getDataAttrRegion($event); clearPCB()"
              [ngClass]="{'is-invalid': registerFormControl.region.touched && registerFormControl.region.invalid }" >
                <!-- (selectionChange)="mreg = []; mcit = []; cit.value = []" -->
                <mat-option *ngFor="let myRegion of locations" [value]="myRegion.region_name">{{myRegion.region_name}}</mat-option>
              </mat-select>
              <span class="text-danger span-error"
              *ngIf="(registerFormControl.region.touched || submitted) && registerFormControl.region.errors?.required">
              Region  is &nbsp;<strong>required</strong>
              </span>
          </div>
        </div>
        <!--  -->
        <div class="row form-group" hidden>
          <!-- <div class="col-md-4 col-lg-4 label-end"> </div> -->
          <div class="col-md-12 col-lg-12">
            <label for="" class="col-form-label">Province</label>
            <mat-select  class="form-control" formControlName="province" placeholder="Province"  #province (selectionChange)="getDataAttrProvince($event); clearCB()"
            [ngClass]="{'is-invalid': registerFormControl.province.touched && registerFormControl.province.invalid }" >
              <mat-option *ngFor="let myProvince of provinceArray | keyvalue" [value]="myProvince.key">
                {{myProvince.key}}
              </mat-option>
            </mat-select>
            <span class="text-danger span-error"
              *ngIf="(registerFormControl.province.touched || submitted) && registerFormControl.province.errors?.required">
              Province  is &nbsp;<strong>required</strong>
              </span>
          </div>
        </div>
        <!--  -->
        <div class="row form-group" hidden>
          <!-- <div class="col-md-4 col-lg-4 label-end"></div> -->
          <div class="col-md-12 col-lg-12">
            <label for=""  class="col-form-label">City</label>
            <mat-select class="form-control" formControlName="city" placeholder="City/Town"  #city (selectionChange)="getDataAttrCity($event); clearB()"
            [ngClass]="{'is-invalid': registerFormControl.city.touched && registerFormControl.city.invalid }" >
              <mat-option *ngFor="let myCity of cityArray | keyvalue" [value]="myCity.key">
                {{myCity.key}}
              </mat-option>
            </mat-select>
            <span class="text-danger span-error"
              *ngIf="(registerFormControl.city.touched || submitted) && registerFormControl.city.errors?.required">
              City  is  &nbsp;<strong>required</strong>
              </span>
          </div>
        </div>
        <!--  -->
        <div class="row form-group" hidden>
          <!-- <div class="col-md-4 col-lg-4 label-end">  </div> -->
          <div class="col-md-12 col-lg-12">
            <label for="" class="col-form-label">Barangay</label>
            <mat-select class="form-control" formControlName="barangay" placeholder="Barangay"  #barangay  (selectionChange)="getDataAttrBarangay($event)"
            [ngClass]="{'is-invalid': registerFormControl.barangay.touched && registerFormControl.barangay.invalid }">
              <mat-option *ngFor="let myBarangay of barangayArray" [value]="myBarangay">
                {{myBarangay}}
              </mat-option>
            </mat-select>
            <span class="text-danger span-error"
              *ngIf="(registerFormControl.barangay.touched || submitted) && registerFormControl.barangay.errors?.required">
              Barangay  is  &nbsp;<strong>required</strong>
              </span>
          </div>
        </div>
        <!--  -->
        <div class="row form-group">
          <!-- <div class="col-md-4 col-lg-4 label-end">  </div> -->
          <div class="col-md-12 col-lg-12">
            <!-- <label for="" class="col-form-label">Address</label> -->
            <!-- <textarea  class="form-control" formControlName="address" (change)="trimValue(registrationForm.get('address'))"
            [ngClass]="{'is-invalid': registerFormControl.address.touched && registerFormControl.address.invalid }"  placeholder="House #/Bldg./Village/Blk # Lt #/Street" style="height: 80px;"></textarea>
            <span class="text-danger span-error"
            *ngIf="(registerFormControl.address.touched || submitted) && registerFormControl.address.errors?.required">
            Address  &nbsp;<strong>required</strong>
            </span> -->
            <label for="" class="col-form-label">Address</label>
            <div class="input-group">
              <input  class="form-control" formControlName="address" (change)="trimValue(registrationForm.get('address'))" (keyup)="onKeyUpRegistrationFormAddress($event)"
              [ngClass]="{'is-invalid': registerFormControl.address.touched && registerFormControl.address.invalid }"  placeholder="House #/Bldg./Village/Blk # Lt #/Street" #customerAddressText>
              <div class="input-group-append">
                <img src="../../../assets/images/lss-new-images/google-map-img.png" class="suffix-map pointer-hand" (click)="openAgmMap(customerAddressText, isUpdate, 'registrationFormControl', mapDialogDataRegistrationForm)">
              </div>
              </div>
              <span class="text-danger span-error"
              *ngIf="(registerFormControl.address.touched || submitted) && registerFormControl.address.errors?.required">
              Address  &nbsp;<strong>required</strong>
              </span>
              <span class="text-danger span-error"
              *ngIf="(registerFormControl.address.touched || submitted) && registerFormControl.address.errors?.isInvalidRegistrationForm">
              <strong class="pr-1">No results!</strong>Are you sure you entered the right address?
              </span>

          </div>
        </div>
        <div class="row form-group">
          <div class="col-md-12 col-lg-12">
            <label for="" class="col-form-label">Remarks</label>
            <input type="text" formControlName="remarks" class="form-control" >
          </div>
        </div>
        <div class="row form-group">
          <div class="col-md-6 col-lg-6">
          <div *ngIf="!isUpdate"> <button type="submit" mat-stroked-button class="btn btn-lg btn-color btn-block">REGISTER</button></div>
          <div class="form-group" *ngIf="isUpdate"> <button type="submit" mat-stroked-button class="btn btn-lg btn-color btn-block">UPDATE</button></div>
          </div>
          <div class="col-md-6 col-lg-6">
            <div *ngIf="isUpdate"> <button (click)="backUpdate()" mat-stroked-button class="btn btn-lg btn-color btn-block">BACK</button></div>
          </div>
        </div>

      </div>
      <!-- <div class="col-md-2 col-lg-2"></div> -->
    </div>
</form>
</ng-container>
<!--  -->

<ng-container *ngIf="isUpdatePassword">
  <!-- PASSWORD -->
  <form [formGroup]="signinForm" (ngSubmit)="onSubmitPasswordOrEmail()">
      <!--start end  -->

        <div class="row form-group">
          <div class="col-md-6 col-lg-6 col-12 col-sm-12">
              <div class="row">
                  <div class="col-md-12 col-lg-12">
                    <label for="" class="col-form-label">Password</label>
                    <input type="password" class="form-control" formControlName="password" (change)="trimValue(signinForm.get('password'))"  placeholder="Password" >
                    <span class="text-danger span-error"  *ngIf="signinForm.get('password').hasError('required')">
                      Password is &nbsp;<strong>required</strong>
                    </span>
                   </div>
              </div>
         </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-6 col-12 col-sm-12">
              <div class="row form-group">
                <div class="col-md-6 col-lg-6 col-12 col-sm-12">
                  <button  mat-stroked-button type="submit" class="btn btn-color btn-md btn-block mb-2">
                    UPDATE
                  </button>
                </div>
                <div class="col-md-6 col-lg-6 col-12 col-sm-12">
                  <button mat-stroked-button [routerLink]="['/user-info']" class="btn btn-color btn-md btn-block">
                    BACK
                  </button>
                </div>
              </div>
         </div>
        </div>
  </form>
</ng-container>
<!--  -->

<ng-container *ngIf="isUpdateEmail">
  <!-- EMAIL -->
  <form [formGroup]="signinForm" (ngSubmit)="onSubmitPasswordOrEmail()">
    <!-- start -->

    <div class="row form-group">
      <div class="col-md-6 col-lg-6 col-12 col-sm-12">
          <div class="row">
              <div class="col-md-12 col-lg-12">
                <label for="" class="col-form-label">Email</label>
                <input type="text" class="form-control" formControlName="email_address" (change)="trimValue(signinForm.get('email_address'))"  placeholder="Email" >
                <span class="text-danger span-error"
                *ngIf="signinForm.get('email_address').hasError('required')">
                Email is &nbsp;<strong>required</strong>
                </span>
                <span class="text-danger span-error"
                *ngIf="signinForm.get('email_address').hasError('pattern')">
                Please enter a &nbsp;<strong>valid email address</strong>
              </span>
               </div>
          </div>
     </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-6 col-12 col-sm-12">
          <div class="row form-group">
            <div class="col-md-6 col-lg-6 col-12 col-sm-12">
              <button  mat-stroked-button type="submit" class="btn btn-color btn-md btn-block mb-2">
                UPDATE
              </button>
            </div>
            <div class="col-md-6 col-lg-6 col-12 col-sm-12">
              <button mat-stroked-button [routerLink]="['/user-info']" class="btn btn-color btn-md btn-block">
                BACK
              </button>
            </div>
          </div>
     </div>
    </div>
    <!-- end -->
  </form>
</ng-container>

</div>
