
 <div mat-dialog-title class="border-bottom mb-0">
  <span class="text-dark h4">ADD PAYMENT METHOD</span>
  <!-- <span class="text-muted mb-0">{{ details?.firstname | titlecase }} {{ details?.surename | titlecase }}'s Detail</span> -->
  <button class="lh-button-icon float-right" mat-icon-button [mat-dialog-close]="" style="top: -5px;right: -10px; width: 32px; height: 32px;">
    <mat-icon>close</mat-icon>
  </button>
</div>

<mat-dialog-content class="overflow-x-hidden text-dark mx-0 px-0" [ngStyle]="{'max-width': '500px'}">
<form  [formGroup]="paymentform"  (ngSubmit)="onSubmit()">

  <div class="row form-group">
    <div class="col-md-4 col-lg-4">
      <label for="">
        Payment Image:
      </label>
    </div>
    <div class="col-md-8 col-lg-8">
      <!-- start -->
      <div class="mb-2">
        <div style=" position: relative;">
          <img [src]="(localUrl) ? localUrl : 'https://increasify.com.au/wp-content/uploads/2016/08/default-image.png'" class="profile-pic">
          <!-- [ngStyle]="{'background-image': 'url(' + localUrl + ')'}" -->
          <label for="browse-image" class="fab-browse" align="center">
            <mat-icon style="font-size: 18px; vertical-align: middle; line-height: 25px;">edit</mat-icon>
          </label>

        </div>
      </div>
      <input type="file" formControlName="img"  (change)="onSelectFile($event)" id="browse-image"  style="display: none;">

      <!-- end -->
    </div>
    <!-- <div class="col-md-4 col-lg-4"></div> -->
  </div>
  <!--  -->
  <div class="row form-group">
    <div class="col-md-4 col-lg-4 align-self-center">
      <label for="" class="col-form-label">
        Payment Name:
      </label>
    </div>
    <div class="col-md-8 col-lg-8">
      <!-- start -->
        <mat-form-field class="my-form-field col-md-12 px-0">
          <input matInput formControlName="name"  placeholder="Payment name" >
          <!-- <mat-error *ngIf="paymentform.get('name').hasError('required')">
            Payment name is <strong>required</strong>
          </mat-error> -->
        </mat-form-field>
      <!-- end -->
    </div>
    <!-- <div class="col-md-4 col-lg-4"></div> -->
  </div>
  <!--  -->
  <div class="row form-group">
    <div class="col-md-4 col-lg-4 align-self-center">
      <label for="" class="col-form-label">
        Account Number:
      </label>
    </div>
    <div class="col-md-8 col-lg-8">
      <!-- start -->
        <mat-form-field class="my-form-field col-md-12 px-0">
          <input matInput formControlName="account_number"  placeholder="Account number" >
          <!-- <mat-error *ngIf="paymentform.get('account_number').hasError('required')">
            Account number is <strong>required</strong>
          </mat-error> -->
        </mat-form-field>
      <!-- end -->
    </div>
    <!-- <div class="col-md-4 col-lg-4"></div> -->
  </div>
  <!--  -->
  <div class="row">
    <div class="col-md-4 col-lg-4 align-self-center"> </div>
    <div class="col-md-8 col-lg-8">
      <button type="submit"  class="btn text-light btn-dark btn-md btn-block">ADD</button>
    </div>
    <!-- <div class="col-md-4 col-lg-4"></div> -->
  </div>


</form>
</mat-dialog-content>

<!-- (click)="paymaentbtn()" -->
