<div class="container-flex">
  <div class="pt-4 mx-3">


    <div class="mb-4" style="margin-left: 14px;">
      <img style="margin-top: -4px;" class="mr-2"  src="https://img.icons8.com/ios-filled/24/000000/total-sales-1.png"/>
      <span>Sales Analytics</span>
     </div>

    <!-- <div class="col-md-12">
      <mat-icon class="align-middle" style="width: 50px; height: 50px;font-size: 50px;">trending_up</mat-icon>
      <span class="align-middle"> {{ titlebranch | uppercase}}</span>
    </div> -->
    <div class="col-md-12">
      <mat-tab-group (selectedTabChange)='tabChange($event)'>
          <!-- INVENTORY TAB -->
          <mat-tab label="Inventory" class="style-01-mat">
            <div class="col-md-12" style="padding: 0px !important;">
              <mat-form-field class="graphSelectorWrapper no-line my-form-field f-15">
                  <mat-select [(value)]="inventoryTabSelectedOption" (selectionChange)="selectInventoryTabSelectedOption($event.value)">
                    <mat-option value="inventoryCount" select selected>TOTAL ITEM INVENTORY COUNT</mat-option>
                    <mat-option value="productionCost">TOTAL PRODUCTION COST</mat-option>
                 </mat-select>
              </mat-form-field>
            </div>
            <!-- <hr> -->
          <!-- INVENTORY -->
            <div class="col-md-12 mt-5 transition" *ngIf="inventoryTabSelectedOption == 'inventoryCount'">
              <ngx-charts-bar-vertical
                [view]="view"
                [scheme]="colorScheme"
                [results]="inventoryData"
                [gradient]="gradient"
                [xAxis]="showXAxis"
                [yAxis]="showYAxis"
                [legend]="showLegend"
                [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel"
                [xAxisLabel]="xAxisLabel"
                [yAxisLabel]="yAxisLabelInventoryCount"
                (select)="onSelect($event)">
              </ngx-charts-bar-vertical>
            </div>
            <!-- PRODUCT COST -->
            <div class="col-md-12 mt-5 transition" *ngIf="inventoryTabSelectedOption == 'productionCost'">
              <ngx-charts-bar-vertical
                [view]="view"
                [scheme]="colorScheme"
                [results]="inventoryData"
                [gradient]="gradient"
                [xAxis]="showXAxis"
                [yAxis]="showYAxis"
                [legend]="showLegend"
                [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel"
                [xAxisLabel]="xAxisLabel"
                [yAxisLabel]="yAxisLabelProductCost"
                (select)="onSelect($event)">
              </ngx-charts-bar-vertical>
            </div>
          </mat-tab>
          <!-- SALES TAB -->
          <mat-tab label="Sales" >
            <div class="col-md-12" style="padding: 0px !important;">
              <mat-form-field  class="graphSelectorWrapper no-line f-15">
                  <mat-select [(value)]="salesTabSelectedOption" (selectionChange)="selectSalesTabSelectedOption($event.value)">
                    <mat-option value="salesCount" select selected>TOTAL SALES COUNT</mat-option>
                    <mat-option value="transactionCount">TOTAL TRANSACTION COUNT</mat-option>
                    <mat-option value="productCount">TOTAL PRODUCT COUNT ORDER</mat-option>
                 </mat-select>
              </mat-form-field>
            </div>
            <!-- <hr> -->
            <div class="col-md-12" style="padding: 0px !important;">
              <mat-form-field class="pr-3 f-15">
                <mat-select [(value)]="search.type" (selectionChange)="selectType($event.value); searchSelectType()" placeholder="Select period of time">
                  <!-- <mat-option value="0" selected disabled>Choose here</mat-option> -->
                  <mat-option value="1">Daily</mat-option>
                  <mat-option value="2">Weekly</mat-option>
                  <mat-option value="3" *ngIf="salesTabSelectedOption != 'productCount'">Monthly</mat-option>
                  <mat-option value="4" *ngIf="salesTabSelectedOption != 'productCount'">Yearly</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="pr-3 f-15">
                <input class="pointer-hand" matInput readonly (click)="dateFrom.open()" [matDatepicker]="dateFrom" placeholder="Date from" [formControl]="date_From"
                  (dateChange)="date_FromChange($event.value)">
                <mat-datepicker-toggle matSuffix [for]="dateFrom"></mat-datepicker-toggle>
                <mat-datepicker #dateFrom></mat-datepicker>
              </mat-form-field>

              <mat-form-field class="pr-3 f-15">
                <input class="pointer-hand" matInput readonly (click)="dateTo.open()" [matDatepicker]="dateTo" placeholder="Date to" [formControl]="date_To"
                  (dateChange)="date_ToChange($event.value)">
                <mat-datepicker-toggle matSuffix [for]="dateTo"></mat-datepicker-toggle>
                <mat-datepicker #dateTo></mat-datepicker>
              </mat-form-field>

              <button class="list-opt list-btn-opt-view" (click)="searchSelectType()" matTooltip="">
                Search
              </button>
            </div>
            <!-- SALES COUNT -->
            <div class="col-md-12 mt-2 transition" *ngIf="salesTabSelectedOption == 'salesCount'">
              <ngx-charts-bar-vertical
                [view]="view"
                [scheme]="colorScheme"
                [results]="single"
                [gradient]="gradient"
                [xAxis]="showXAxis"
                [yAxis]="showYAxis"
                [legend]="showLegend"
                [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel"
                [xAxisLabel]="xAxisLabeldate"
                [yAxisLabel]="yAxisLabelSalesCount"
                (select)="onSelect($event)">
              </ngx-charts-bar-vertical>
            </div>
            <!-- TRANSACTION COUNT -->
            <div class="col-md-12 mt-2 transition" *ngIf="salesTabSelectedOption == 'transactionCount'">
              <ngx-charts-bar-vertical
                [view]="view"
                [scheme]="colorScheme"
                [results]="single"
                [gradient]="gradient"
                [xAxis]="showXAxis"
                [yAxis]="showYAxis"
                [legend]="showLegend"
                [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel"
                [xAxisLabel]="xAxisLabel"
                [yAxisLabel]="yAxisLabelTransactionCount"
                (select)="onSelect($event)">
              </ngx-charts-bar-vertical>
            </div>
            <!-- PRODUCT COUNT -->
            <div class="col-md-12 mt-2 transition" *ngIf="salesTabSelectedOption == 'productCount'">
              <ngx-charts-bar-vertical-2d
                [view]="view"
                [scheme]="colorScheme"
                [results]="productCountData"
                [gradient]="gradient"
                [xAxis]="showXAxis"
                [yAxis]="showYAxis"
                [legend]="showLegend"
                [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel"
                [xAxisLabel]="xAxisLabel"
                [yAxisLabel]="yAxisLabelProductCount"
                (select)="onSelect($event)">
              </ngx-charts-bar-vertical-2d>
            </div>
          </mat-tab>
          <!-- CSV REPORTS TAB -->
          <mat-tab label="CSV">
            <div class="col-md-12" style="padding: 0px !important;">
              <mat-form-field class="graphSelectorWrapper no-line f-15">
                  <mat-select [(value)]="reportTabSelectedOption" (selectionChange)="selectReportTabSelectedOption($event.value)">
                    <mat-option value="salesReport" select selected>SALES REPORT SECTION</mat-option>
                    <mat-option value="inventoryReport">INVENTORY REPORT SECTION</mat-option>
                 </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-12" style="padding: 0px !important;">
              <mat-form-field class="pr-3 f-15" [ngStyle]="{'display': 'none'}">
                <mat-select [(value)]="searchSalesReport.type" (selectionChange)="selectTypeReport($event.value)" placeholder="Select period of time">
                  <!-- <mat-option value="0" selected disabled>Choose here</mat-option> -->
                  <mat-option value="1">Daily</mat-option>
                  <mat-option value="2">Weekly</mat-option>
                  <mat-option value="3">Monthly</mat-option>
                  <mat-option value="4">Yearly</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="pr-3 f-15" *ngIf="reportTabSelectedOption == 'salesReport'">
                <input class="pointer-hand" matInput readonly (click)="reportDateFrom.open()" [matDatepicker]="reportDateFrom" placeholder="Date from" [formControl]="reportDate_From">
                  <!-- (dateChange)="reportDate_FromChange($event.value);" -->
                <mat-datepicker-toggle matSuffix [for]="reportDateFrom"></mat-datepicker-toggle>
                <mat-datepicker #reportDateFrom
                  startView="multi-year"
                  (yearSelected)="chosenYearHandlerReportDate_FromChange($event)"
                  (monthSelected)="chosenMonthHandlerReportDate_FromChange($event, reportDateFrom)"
                  panelClass="month-picker"></mat-datepicker>
              </mat-form-field>

              <mat-form-field class="pr-3 f-15" *ngIf="reportTabSelectedOption == 'salesReport'">
                <input class="pointer-hand" matInput readonly (click)="reportDateTo.open()" [matDatepicker]="reportDateTo" placeholder="Date to" [formControl]="reportDate_To">
                <!-- (dateChange)="reportDate_ToChange($event.value)" -->
                <mat-datepicker-toggle matSuffix [for]="reportDateTo"></mat-datepicker-toggle>
                <mat-datepicker #reportDateTo
                  startView="multi-year"
                  (yearSelected)="chosenYearHandlerReportDate_ToChange($event)"
                  (monthSelected)="chosenMonthHandlerReportDate_ToChange($event, reportDateTo)"
                  panelClass="month-picker"></mat-datepicker>
              </mat-form-field>

              <button class="list-opt list-btn-opt-view" (click)="getSalesReportMonthly()" matTooltip="" *ngIf="reportTabSelectedOption == 'salesReport'">
                Search
              </button>

              <button class="list-opt list-btn-opt-view" (click)="generateCSVReport()" matTooltip="">
                GENERATE CSV REPORT
              </button>
            </div>
            <!-- Table Sales Report start -->
            <div class="col-md-12 mt-2 transition" *ngIf="reportTabSelectedOption == 'salesReport'">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">Order #</th>
                    <th scope="col">Date Closed</th>
                    <th scope="col">Total Sale Amount</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let row of salesReportData">
                   <td>{{row.order_no}}</td>
                    <td>{{row.name | date: 'MMMM dd, yyyy'}}</td>
                    <td>{{row.value | currency:"₱ "}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- Table Production Report start -->
            <div class="col-md-12 mt-2 transition" *ngIf="reportTabSelectedOption == 'inventoryReport'">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">Item Name</th>
                    <th scope="col">Item Price</th>
                    <th scope="col">Current Stock</th>
                    <th scope="col">Production Amount</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let row of inventoryReportData">
                    <th scope="row">{{row.name}}</th>
                    <th scope="row">{{row.item_price}}</th>
                    <th scope="row">{{row.current_stock}}</th>
                    <td>{{row.product | currency:"₱ "}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
