:host::ng-deep .ngx-charts-outer {
  margin: 0 auto;
}
.transition {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.graphSelectorWrapper{
  max-width: 300px;
  width: 100%;
}
:host::ng-deep .no-line .mat-form-field-underline {
  display: none;
}
.month-picker .mat-calendar-period-button {
  pointer-events: none;
}

.month-picker .mat-calendar-arrow {
  display: none;
}

.style-01-mat{
  padding-left: 0px !important;
}

// :host::ng-deep .mat-form-field-appearance-legacy .graphSelectorWrapper .mat-form-field-underline {
//   background-color: rgba(255, 255, 255, 1);
// }
// :host::ng-deep .mat-select-underline{
//   border-color: red;
// }
// :host::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
//   // background-color: rgba(255, 255, 255, 0.42);
//    background-color: green;
// }
