
<button style="float:right; outline: none;z-index: 10;" mat-dialog-close mat-icon-button color="accent" class="mx-2 my-1 add-shadow">
  <mat-icon class="text-white">close</mat-icon>
</button>
<div class="col-md-12 text-right py-3 mt-0 pl-2 pr-5 add-shadow bg-gradient-red-reverse myHeader">
  <h2 class="text-white d-inline float-left add-shadow-text" [ngStyle]="{'position': 'relative', 'top': '5px'}">Guide Details</h2>
	<!-- <span *ngIf="details.option == 'update'">
		<button matRipple [matRippleCentered]="false" [matRippleColor]="'rgba(255, 0, 0, 0.1)'"
			class="btn-success btn text-normal shadow-all bg-gradient-green-reverse px-2 py-1 mx-2" style="margin: auto; color: whitesmoke;" (click)="onSubmit()">
			Save Update
		</button>
	</span>
	<span *ngIf="details.row.status >= 2 && details.row.status <= 5">
		<button class="btn-warning btn text-normal shadow-all bg-gradient-yellow-reverse px-1 py-1 mx-2" (click)="printOR()" style="margin: auto;">
			Print OR
		</button>
	</span> -->
</div>
<mat-dialog-content class="container-fluid mx-0 my-0" [ngStyle]="{'min-width': '100%', 'min-height': '300px'}">
	<div class="row my-3">
		<!-- section -->
		<div class="col-md-6">
			<form class="w-100" [formGroup]="mform" (ngSubmit)="onSubmit()">
					<mat-form-field class="w-100">
						<input matInput autocomplete="off" required formControlName="title" placeholder="title" >
					</mat-form-field>
					<mat-form-field class="w-100" [ngStyle]="{'min-height': '300px'}">
							<textarea matInput [ngStyle]="{'min-height': '300px'}"
								placeholder="Description"
								formControlName="description"></textarea>
					</mat-form-field>

					<input type="file" #file style="display: none" (change)="onFilesAdded($event)" multiple />
					<!-- <button type="submit"  class="list-opt list-btn-opt-view" matTooltip="">
							{{this.details ? 'Edit Guide' : 'Add Guide'}}
					</button> -->
					<button type="submit" class="btn btn-outline-danger" matRipple>{{this.details ? 'Edit Guide' : 'Add Guide'}}</button>
			</form>
		</div>
		<!-- section -->
		<div class="col-md-6">
			<!-- [disabled]="uploading || uploadSuccessful" -->

			<button type="button"  mat-raised-button color="primary" class="add-files-btn"
				(click)="addFiles()">
				Add Files
			</button>
			<!-- <button type="button"  mat-raised-button color="warning" class="add-files-btn"
				(click)="checkFiles()">
				Check Files
			</button>
			<button type="button"  mat-raised-button color="danger" class="add-files-btn"
				(click)="removeaddesImg(1)">
				Remove Files
			</button> -->
			<hr>
			<!-- THUMBNAIL IMAGES STARTS HERE -->
			<div *ngIf="hasFiles || currentImages" class="row">
				<div class="col-md-4 px-1 py-1" *ngFor="let image of strUrl; let i = index">
					<div class="card">
						<img [src]="image.file" class="card-img-top" alt="...">
						<button class="btn btn-danger rounded-0 w-100" (click)="removeaddesImg(i)" type="button" name="button">REMOVE<span class="d-block" style="font-size: 9px;">{{image.name}}</span></button>
					</div>
				</div>
				<!-- CURRENT IMAGES -->
				<div class="col-md-4 px-1 py-1" *ngFor="let image of currentImages; let i = index">
					<div class="card">
						<img [src]="image.file" class="card-img-top" alt="...">
						<button class="btn btn-danger rounded-0 w-100" (click)="removeCurrentImg(i)" type="button" name="button">REMOVE</button>
					</div>
				</div>
			</div>
					<!-- <div  style="display: flex; margin: 20px 10px 0 10px;">
						<img [ngStyle]="{'background-image': 'url(' + file + ')'}" mat-line>
						<mat-icon *ngIf="!isView" (click)="removeaddesImg(i)" style="cursor: pointer;">clear</mat-icon>
						<mat-form-field class="example-full-width">
							<textarea matInput [(ngModel)]="description[i]" placeholder="Leave a comment"></textarea>
						</mat-form-field>
					</div> -->
		</div>
	</div>
</mat-dialog-content>

<!-- <div class="dialog">
  <button style="float:right; outline: none;" mat-dialog-close mat-icon-button>
    <mat-icon>close</mat-icon>
  </button>
  <br>
  <div style="display: flex; flex-direction: column;">

  </div>
</div> -->
