<div class="container-flex">
  <div class="row pt-4 mx-3">
    <div class="col-md-12">
      <!-- <mat-icon class="align-middle" style="width: 50px; height: 50px;font-size: 50px;">compare_arrows</mat-icon> -->
      <h2 class="align-middle">Payment Form Setting</h2>
    </div>
    <div class="col-md-12">
      <form [formGroup]="paymentform" (ngSubmit)="save()" style="display: flex; flex-direction: column; align-items: center;">
          <mat-form-field style="width: 300px; margin-top: 50px;">
              <input formControlName="account_name" matInput placeholder="Account Name" autocomplete="off">
              <mat-error *ngIf="paymentform.get('account_name').hasError('required')">
                  Account Name is <strong>required</strong>
              </mat-error>
          </mat-form-field><br>
          <mat-form-field style="width: 300px;">
              <input formControlName="bdo_account_number" matInput placeholder="BDO Account Number" autocomplete="off">
              <mat-error *ngIf="paymentform.get('bdo_account_number').hasError('required')">
                  BDO Account Number is <strong>required</strong>
              </mat-error>
          </mat-form-field><br>
          <mat-form-field style="width: 300px;">
              <input formControlName="bpi_account_number" matInput placeholder="BPI Account Number" autocomplete="off">
              <mat-error *ngIf="paymentform.get('bpi_account_number').hasError('required')">
                  BPI Account Number is <strong>required</strong>
              </mat-error>
          </mat-form-field><br>
          <mat-form-field style="width: 300px;">
              <input formControlName="pnb_account_number" matInput placeholder="PNB Account Number" autocomplete="off">
              <mat-error *ngIf="paymentform.get('pnb_account_number').hasError('required')">
                  PNB Account Number is <strong>required</strong>
              </mat-error>
          </mat-form-field><br>
          <mat-form-field style="width: 300px;">
              <input formControlName="receiver_name" matInput placeholder="Receiver Name" autocomplete="off">
              <mat-error *ngIf="paymentform.get('receiver_name').hasError('required')">
                  Receiver Name is <strong>required</strong>
              </mat-error>
          </mat-form-field><br>
          <mat-form-field style="width: 300px;">
              <input formControlName="receiver_address" matInput placeholder="Receiver Address" autocomplete="off">
              <mat-error *ngIf="paymentform.get('receiver_address').hasError('required')">
                  Receiver Address is <strong>required</strong>
              </mat-error>
          </mat-form-field><br>
          <mat-form-field style="width: 300px;">
              <input formControlName="receiver_no" matInput placeholder="Receiver Number" autocomplete="off">
              <mat-error *ngIf="paymentform.get('receiver_no').hasError('required')">
                  Receiver Number is <strong>required</strong>
              </mat-error>
          </mat-form-field><br>
					<mat-form-field style="width: 300px;">
              <input formControlName="giftwrap_fee" matInput placeholder="Gift Wrap Fee" autocomplete="off">
              <mat-error *ngIf="paymentform.get('giftwrap_fee').hasError('required')">
                  Gift Wrap Fee is <strong>required</strong>
              </mat-error>
          </mat-form-field><br>
          <div style="display: flex; margin-top: 25px; margin-bottom: 50px;">
              <button type="submit" matRipple [matRippleCentered]="false" [matRippleColor]="'rgba(255, 0, 0, 0.1)'"
                  class="btn_blue text-normal shadow-all" style="margin: auto; color: whitesmoke;">
                  {{isSaving ? 'Saving Please Wait' : 'Update Form'}}
              </button>
          </div>
      </form>
    </div>
  </div>
</div>
