
  <div class="decorated mb-5">
    <span class="header-title">PRIVACY POLICY</span>
  </div>
  <div class="row">
    <div class="col-md-12 col-lg-12">
      <h2>Privacy Policy</h2>
      <div class="text-justify p-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum ratione voluptate deleniti eligendi maxime facere, culpa veniam doloremque ducimus earum nam sapiente repellendus, illo iure itaque pariatur necessitatibus, ullam labore?</div>
      <div class="text-justify p-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum ratione voluptate deleniti eligendi maxime facere, culpa veniam doloremque ducimus earum nam sapiente repellendus, illo iure itaque pariatur necessitatibus, ullam labore?</div>
      <div class="text-justify p-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum ratione voluptate deleniti eligendi maxime facere, culpa veniam doloremque ducimus earum nam sapiente repellendus, illo iure itaque pariatur necessitatibus, ullam labore?</div>
      <div class="text-justify p-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum ratione voluptate deleniti eligendi maxime facere, culpa veniam doloremque ducimus earum nam sapiente repellendus, illo iure itaque pariatur necessitatibus, ullam labore?</div>
      <div class="text-justify p-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum ratione voluptate deleniti eligendi maxime facere, culpa veniam doloremque ducimus earum nam sapiente repellendus, illo iure itaque pariatur necessitatibus, ullam labore?</div>
    </div>
  </div>

