<div class="dialog">
  <button style="float:right; outline: none;" mat-dialog-close mat-icon-button>
    <mat-icon>close</mat-icon>
  </button>
  <br>
  <div style="display: flex; flex-direction: column;">
    <div class="text-normal title-txt">Item Details</div>

    <p class="text-normal"><strong>Item no: </strong>{{ details.row.item_no }}</p>
    <p class="text-normal"><strong>Item categoty: </strong>{{ details.row.category_name }}</p>
    <p class="text-normal"><strong>Name: </strong>{{ details.row.name }}</p>
    <p class="text-normal"><strong>Description: </strong>{{ details.row.desc }}</p>
    <p class="text-normal"><strong>Minimum stock: </strong>{{ details.row.min_stock }}</p>
    <p class="text-normal"><strong>Current stock: </strong>{{ details.row.current_stock }}</p>
    <p class="text-normal"><strong>Price: </strong>{{ details.row.price }}</p>
    <p class="text-normal"><strong>Length: </strong>{{ details.row.length }}</p>
    <p class="text-normal"><strong>Width: </strong>{{ details.row.width }}</p>
    <p class="text-normal"><strong>Height: </strong>{{ details.row.height }}</p>
    <p class="text-normal"><strong>Weight: </strong>{{ details.row.weight }}</p>

    <p class="text-normal"><strong>Shipping fee NCR: </strong>{{ details.row.shipping_fee_ncr }}</p>
    <p class="text-normal"><strong>Shipping fee Luzon: </strong>{{ details.row.shipping_fee_luz }}</p>
    <p class="text-normal"><strong>Shipping fee Visayas: </strong>{{ details.row.shipping_fee_vis }}</p>
    <p class="text-normal"><strong>Shipping fee Mindanao: </strong>{{ details.row.shipping_fee_min }}</p>

  </div>
</div>
