<mat-dialog-content class="mat-typography font-14 mx-0 px-0 pt-0 pb-3 text-center" style="height: 100% !important; min-width:200px; max-width: 300px !important">
  {{this.getdata}}
</mat-dialog-content>
<mat-dialog-actions style="padding: 0px 0px 26px 0px;">
	<div class="container-fluid">
		<div class="row px-0">
			<div class="col-md-12 col-12 col-lg-12 col-sm-12 px-0" align="center">
        <!-- <button mat-button [mat-dialog-close]="false">Close</button> -->
        <button mat-stroked-button mat-dialog-close class="w-100 btn-color">CLOSE</button>
			</div>
		</div>
	</div>
</mat-dialog-actions>
