<div class="mb-5">

  <div class="decorated mb-5">
    <span class="header-title">ORDERING INFO</span>
  </div>

  <h2>Shipping Information</h2>
  <div class="row" id="shipping">
    <div class="col-md-6 col-lg-6">
      <div class="text-justify p-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum ratione voluptate deleniti eligendi maxime facere, culpa veniam doloremque ducimus earum nam sapiente repellendus, illo iure itaque pariatur necessitatibus, ullam labore?</div>
    </div>
    <div class="col-md-6 col-lg-6">
      <div class="text-justify p-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum ratione voluptate deleniti eligendi maxime facere, culpa veniam doloremque ducimus earum nam sapiente repellendus, illo iure itaque pariatur necessitatibus, ullam labore?</div>
      <div class="text-justify p-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum ratione voluptate deleniti eligendi maxime facere, culpa veniam doloremque ducimus earum nam sapiente repellendus, illo iure itaque pariatur necessitatibus, ullam labore?</div>
    </div>
  </div>
  <!-- 2nd row -->
  <div class="m-bottom-50"></div>
  <h2>Payment Method Information</h2>
  <div class="row" id="payment">
    <div class="col-md-6 col-lg-6">
      <div class="text-justify p-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum ratione voluptate deleniti eligendi maxime facere, culpa veniam doloremque ducimus earum nam sapiente repellendus, illo iure itaque pariatur necessitatibus, ullam labore?</div>
    </div>
    <div class="col-md-6 col-lg-6">
      <div class="text-justify p-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum ratione voluptate deleniti eligendi maxime facere, culpa veniam doloremque ducimus earum nam sapiente repellendus, illo iure itaque pariatur necessitatibus, ullam labore?</div>
      <div class="text-justify p-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum ratione voluptate deleniti eligendi maxime facere, culpa veniam doloremque ducimus earum nam sapiente repellendus, illo iure itaque pariatur necessitatibus, ullam labore?</div>
    </div>
  </div>
  <!--  -->
  <div class="m-bottom-50"></div>
  <h2>Return and Exchange</h2>
  <div class="row" id="return">
    <div class="col-md-6 col-lg-6">
      <div class="text-justify p-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum ratione voluptate deleniti eligendi maxime facere, culpa veniam doloremque ducimus earum nam sapiente repellendus, illo iure itaque pariatur necessitatibus, ullam labore?</div>
    </div>
    <div class="col-md-6 col-lg-6">
      <div class="text-justify p-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum ratione voluptate deleniti eligendi maxime facere, culpa veniam doloremque ducimus earum nam sapiente repellendus, illo iure itaque pariatur necessitatibus, ullam labore?</div>
      <div class="text-justify p-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum ratione voluptate deleniti eligendi maxime facere, culpa veniam doloremque ducimus earum nam sapiente repellendus, illo iure itaque pariatur necessitatibus, ullam labore?</div>
    </div>
  </div>
  <div class="m-bottom-50"></div>

</div>
