<div class="mb-5">
  <div class="decorated mb-5">
    <span class="header-title">ORDER DETAILS</span>
  </div>
  <div class="row">
    <div class="col-md-6 col-lg-6">

    <div class="row">
      <div class="col-md-12 col-lg-12 col-12">
        <div  *ngIf="!transDesc?.proofofpayment">
          <label class="col-form-label text-danger">Please upload a proof of payment when you finish to pay</label>
				</div>
        </div>
    </div>

    <div class="row">
      <div class="col-md-12 col-lg-12 col-12">
        <div  *ngIf="(can_comment && (transDesc?.status == 5 || transDesc?.status == 7))">
          <label class="col-form-label text-danger">Please write a review for our item below</label>
				</div>
        </div>
    </div>

  <div class="row mb-2 mt-2">
    <div class="col-md-12 col-lg-12">
      <h4>Customer Information</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-lg-6 col-6 label-end">
      <label for="" >Customer name</label>
    </div>
    <div class="col-md-6 col-lg-6 col-6">
      <div class="content-label">{{ transDesc?.client_info[0].firstname}} {{ transDesc?.client_info[0].middlename}}  {{transDesc?.client_info[0].surename }}</div>
    </div>
  </div>
  <div class="border"></div>
  <div class="row">
    <div class="col-md-6 col-lg-6 col-6 label-end">
      <label for="" >Customer Address</label>
    </div>
    <div class="col-md-6 col-lg-6 col-6">
      <div class="content-label">
        {{ transDesc?.client_info[0].address | titlecase }} {{ transDesc?.client_info[0].barangay | titlecase }} {{ transDesc?.client_info[0].city | titlecase }} {{ transDesc?.client_info[0].province | titlecase }}  {{ transDesc?.client_info[0].region | uppercaseRoman }}
      </div>
    </div>
  </div>
  <div class="border"></div>
  <div class="row">
    <div class="col-md-6 col-lg-6 col-6 label-end">
      <label for="" >Customer contact number</label>
    </div>
    <div class="col-md-6 col-lg-6 col-6">
      <div class="content-label">
        {{ transDesc?.client_info[0].contact_no}}
      </div>
    </div>
  </div>
  <ng-container *ngIf="transDesc?.service_type === 1">

  <div class="row mb-2 mt-2">
    <div class="col-md-12 col-lg-12">
      <h4>Receiver Information</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-lg-6 col-6 label-end">
      <label for="" >Reciever name</label>
    </div>
    <div class="col-md-6 col-lg-6 col-6">
      <div class="content-label">
        <ng-container *ngIf="transDesc?.receiver_type == 1">
        Same with customer name
        </ng-container>
        <ng-container *ngIf="transDesc?.receiver_type != 1">
            {{ transDesc?.firstname }} {{ transDesc?.lastname }}
        </ng-container>
      </div>
    </div>
  </div>
  <div class="border"></div>
  <div class="row">
    <div class="col-md-6 col-lg-6 col-6 label-end">
      <label for="" >Reciever Address</label>
    </div>
    <div class="col-md-6 col-lg-6 col-6">
      <div class="content-label">
        <ng-container *ngIf="transDesc?.receiver_type == 1">
          Same with customer address
        </ng-container>
        <ng-container *ngIf="transDesc?.receiver_type != 1">
          {{ transDesc?.address | uppercaseRoman }}
        </ng-container>
      </div>
    </div>
  </div>
  <div class="border"></div>
  <div class="row">
    <div class="col-md-6 col-lg-6 col-6 label-end">
      <label for="" >Reciever contact number</label>
    </div>
    <div class="col-md-6 col-lg-6 col-6">
      <div class="content-label">
        <ng-container *ngIf="transDesc?.receiver_type == 1">
          Same with customer contact #
        </ng-container>
        <ng-container *ngIf="transDesc?.receiver_type != 1">
          {{ transDesc?.receiver_contact }}
        </ng-container>
      </div>
    </div>
  </div>
</ng-container>
  <div class="row mb-2 mt-2">
    <div class="col-md-12 col-lg-12">
      <h4>Order Details</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-lg-6 col-6 label-end">
      <label for="" >Order number</label>
    </div>
    <div class="col-md-6 col-lg-6 col-6">
      <div class="content-label">{{ transDesc?.order_no }}</div>
    </div>
  </div>
  <div class="border"></div>
  <div class="row">
    <div class="col-md-6 col-lg-6 col-6 label-end">
      <label for="" >Order date</label>
    </div>
    <div class="col-md-6 col-lg-6 col-6">
      <div class="content-label">{{ transDesc?.order_date | date: 'MMMM dd, yyyy h:mm:ss a' }}</div>
    </div>
  </div>
  <div class="border"></div>
  <div class="row">
    <div class="col-md-6 col-lg-6 col-6 label-end">
      <label for="" >Order status</label>
    </div>
    <div class="col-md-6 col-lg-6 col-6">
      <div class="content-label">
        {{ (transDesc?.proofofpayment && transDesc?.status == 1) ? 'Waiting for confirmation' : statMess[transDesc?.status-1] }}
      </div>
    </div>
  </div>
  <div class="border"></div>
  <div class="row">
    <div class="col-md-6 col-lg-6 col-6 label-end">
      <label for="" >Payment Method</label>
    </div>
    <div class="col-md-6 col-lg-6 col-6" >
      <div class="content-label">{{ transDesc?.modeofpayment }}</div>
    </div>
  </div>
  <div  *ngIf="transDesc?.payment_date">
  <div class="border"></div>
  <div class="row"  >
    <div class="col-md-6 col-lg-6 col-6 label-end">
      <label for="" >Payment Date</label>
    </div>
    <div class="col-md-6 col-lg-6 col-6">
      <div class="content-label" >
        {{ transDesc?.payment_date | date: 'MMMM dd, yyyy' }}</div>
    </div>
  </div>
  </div>
  <div class="border"></div>
  <div class="row">
    <div class="col-md-6 col-lg-6 col-6 label-end">
      <label for="" >Service method</label>
    </div>
    <div class="col-md-6 col-lg-6 col-6">
      <div class="content-label">{{ deliveryMeth[transDesc?.service_type - 1] }}</div>
    </div>
  </div>

  <!-- table -->
  <div class="row mt-5">
    <div class="col-md-12 col-lg-12 col-12">
      <table class="table table-bordered" style="empty-cells: hide;">
        <tr>
           <th>Order number</th>
           <th>Product name</th>
           <th>Price  (tax included)</th>
           <th>Quantity</th>
           <th>Sub total</th>
        </tr>
        <tr  *ngFor="let itm of transDesc?.order_items; let i = index">
          <td>{{ transDesc?.order_no }}</td>
          <td>{{itm.item_name}} </td>
          <td><span class="d-flex justify-content-end">&#8369;{{itm.price}}</span></td>
          <td>{{itm.quantity}}</td>
          <td><span class="d-flex justify-content-end">&#8369;{{itm.price * itm.quantity}}</span></td>
        </tr>
        <tr>
          <td style="border: 0;">Total Amount</td>
          <td style="border: 0;"></td>
          <td style="border: 0;"></td>
          <td style="border: 0;"></td>
          <td style="border: 0;"><span class="d-flex justify-content-end">&#8369;{{ transDesc?.total_amt | number : '1.2-2' }}</span></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-12 col-lg-12">
      <h4>Proof of payment</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-lg-12">
      <!-- start -->
      <div class="img_cont">
        <img class="img-fluid" src="{{(localUrl) ? localUrl : '/assets/images/noimage-second.png'}}" [ngStyle]="{'height': '400px', 'max-height': '400px', 'width': '100%', 'background-color': 'whitesmoke'}">
        <ng-container *ngIf="transDesc?.status == 1">
          <label *ngIf="!isUpload" class="img_text_div" for="browse-image">
              <h6 *ngIf="!hasFile" class="text_upload text-center">
                <!-- {{(localUrl) ? 'Click here to select again ' : 'Click here to select '}} -->
                <ng-container *ngIf="transDesc?.proofofpayment; else noProofofPayment">
                  Waiting for payment confirmation
                  <span class="d-block">Click here to select</span>
                  <span class="d-block">file to upload again.</span>
                </ng-container>
                <ng-template #noProofofPayment>
                  Click here to select
                  <span class="d-block">file to upload again.</span>
                </ng-template>
              </h6>
              <h6 *ngIf="hasFile" class="text_upload text-center">Ready for upload</h6>
          </label>
          <label *ngIf="!isUpload" class="img_upload_div" for="browse-image">
              <mat-icon class="img_upload">backup</mat-icon>
          </label>
          <div class="spin_div" *ngIf="isUpload">
              <mat-spinner style="margin: auto;"></mat-spinner>
          </div>
        </ng-container>
        <ng-container *ngIf="transDesc?.status != 1">
          <label class="img_text_div" for="">
              <h6 class="text_upload text-center">Payment confirmed</h6>
          </label>
        </ng-container>
    </div>
    <input type="file" (change)="onSelectFile($event)" id="browse-image" style="display: none;" accept="image/*">
    <!-- transDesc?.status != 7 -->
    <button *ngIf="(hasFile && transDesc?.status == 1)" (click)="uploadProof()" matRipple mat-stroked-button class="text-normal btn-color rounded-0 w-100">UPLOAD PROOF OF PAYMENT</button>
      <!-- end -->
    </div>
    </div>
    <div class="rows">
      <div class="col-md-12 col-lg-12">
        <div *ngIf="(can_comment && (transDesc?.status != 5 && transDesc?.status != 7))">
          <label class="col-form-label text-danger">Write a Review after order is completed.</label>
        </div>

        <div  *ngFor="let itm of transDesc?.order_items; let i = index">
          <label class="d-block col-form-label text-break">{{itm.item_name}} x{{itm.quantity}}<span class="ml-2">&#8369;</span> {{itm.price}}</label>
        <div class="row">
            <div class="col-md-4 col-lg-4 col-sm-6 col-12">
              <button  mat-stroked-button class="btn-color btn btn-md btn-block testimony " [ngClass]="(itm.can_comment && (transDesc?.status == 5 || transDesc?.status == 7)) ? 'pointer-hand' : 'pointer-not-allowed'" (click)="setTestimony(itm.item_id)" [disabled]="(itm.can_comment && (transDesc?.status == 5 || transDesc?.status == 7)) ? null : true">
                WRITE A REVIEW</button>
            </div>
         </div>


        <!--  -->
        <div [ngStyle]="{'display': itemDesc[0].message.length == 0 ? 'none': 'block'}">
          <div style="display: flex;">
              <mat-icon class="star">
                  {{ (mRemarks[i]?.rate) ? mRemarks[i].rate >= 1 ? 'star' : 'star_border' : 'star_border' }}</mat-icon>
              <mat-icon class="star">
                  {{ (mRemarks[i]?.rate) ? mRemarks[i].rate >= 2 ? 'star' : 'star_border' : 'star_border' }}</mat-icon>
              <mat-icon class="star">
                  {{ (mRemarks[i]?.rate) ? mRemarks[i].rate >= 3 ? 'star' : 'star_border' : 'star_border' }}</mat-icon>
              <mat-icon class="star">
                  {{ (mRemarks[i]?.rate) ? mRemarks[i].rate >= 4 ? 'star' : 'star_border' : 'star_border' }}</mat-icon>
              <mat-icon class="star">
                  {{ (mRemarks[i]?.rate) ? mRemarks[i].rate >= 5 ? 'star' : 'star_border' : 'star_border' }}</mat-icon>
              <label class="col-form-label" style="margin-left: 5px; margin-top: -5px;">{{(mRemarks[i]?.rate) ? mRemarks[i].rate : '0'}} Star Ratings</label>
          </div>
      </div>
      <!-- *ngIf="transDesc?.status == 7" -->
      <div [ngStyle]="{'display': itemDesc[0].message.length == 0 ? 'none': 'block'}">
            <mat-form-field style="width: 80%">
              <textarea readonly [(ngModel)]="mRemarks[i].message" matInput
                  placeholder="Testimony"></textarea>
          </mat-form-field>
      </div>

      <div style="width: 100%; display: flex; overflow-x: auto;">
        <div *ngFor="let img of itm.testimony_image" class="img_testi"
          [style.backgroundImage]="'url('+ img +')'">
        </div>
      </div>
      </div>
      <!--  -->
      </div>
    </div>


    </div>
  </div>


</div>
<!--  -->





