<div class="container">
  <mat-dialog-content class="mat-typography">
    <div class="text-success " style="display: flex; align-items: center; justify-content: center; padding-top: 35px;">
      <h1>{{this.getdata}}</h1>
    </div>
  </mat-dialog-content>


  <div class="bottom-part">
  <mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button routerLink="/purchase-procedure" (click)="yes()" >YES</button>
  </mat-dialog-actions>
  </div>

</div>
