<div class="container-flex">
  <div class="row pt-4 mx-3">
    <div class="col-md-12">
      <!-- <mat-icon class="align-middle" style="width: 50px; height: 50px;font-size: 50px;">compare_arrows</mat-icon> -->
      <h3 class="align-middle">Giftwrap Settings</h3>
			<hr>
    </div>
		<div class="col-md-12">
			<button class="list-opt list-btn-opt-view" (click)="addWrap('add')" matTooltip="">
					Add Giftwrap
			</button>
		</div>
		<!-- table start -->
    <div class="col-md-12 list-div pr-0" [ngStyle]="{'height': contentHeight + 'px'}">
      <!-- style="max-height: 450px;" -->
      <table mat-table [dataSource]="dataSource" matSort class="w-100">
        <!-- class="mat-elevation-z8" -->
        <ng-container matColumnDef="id">
          <th class="text-muted pl-2" math-header-cell *matHeaderCellDef>#</th>
          <td mat-cell class="list-item pl-2" *matCellDef="let row; let i=index">{{i+1}}</td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th class="text-muted" math-header-cell *matHeaderCellDef mat-sort-header>name</th>
          <td mat-cell class="list-item" *matCellDef="let row">{{row.name}}</td>
        </ng-container>

        <ng-container matColumnDef="description">
          <th class="text-muted" math-header-cell *matHeaderCellDef mat-sort-header>Description</th>
          <td mat-cell class="list-item w-50" *matCellDef="let row">{{row.description}}</td>
        </ng-container>


        <ng-container matColumnDef="viewAction">
          <th class="text-muted text-center" math-header-cell *matHeaderCellDef>Controls</th>
          <td mat-cell *matCellDef="let row" class="text-center pr-0">
						<button class="list-opt list-btn-opt-view" (click)="viewWrap(row, 'view')" matTooltip="">
							View
						</button>
            <button class="list-opt list-btn-opt-delete" (click)="delete(row.id)" matTooltip="">
              Delete
            </button>
            <button class="list-opt list-btn-opt-edit" (click)="editWrap(row, 'edit')" matTooltip="">
              Edit
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <!-- <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row> -->
      </table>
    </div>
	</div>
</div>
