<div class="container-flex">
  <div class="pt-4 mx-3">

    <div class="mb-4"  style="margin-left: 14px;">
      <h6>
        <img style="margin-top: -4px;" class="mr-2"  src="https://img.icons8.com/ios-filled/24/000000/settings.png"/>
        <span class="text-dark pointer-hand" (click)="backToPreviousPage()"> <strong>Courier Management</strong> </span> / <span class="text-muted">
          <small>
            {{ courier_name }}
            <strong>
              ( {{ courierDetails?.contact_no }} | {{ courierDetails?.email_address }} )
            </strong>
          </small>
        </span>
      </h6>
    </div>
    <!-- <div class="container">
      <div class="row" style="font-size: 10px">
        <div class="col-md-12">
          <div class="d-block">
            <label for="">Courier Name: </label> <span>{{ courierDetails?.name }}</span>
          </div>
          <div class="d-block">
            <label for="">Courier Contact Number: </label> <span>{{  }}</span>
          </div>
          <div class="d-block">
            <label for="">Courier Email Address: </label> <span>{{ courierDetails?.email_address }}</span>
          </div>
        </div>
      </div>
    </div> -->
    <div class="col-md-12 pr-0" style="display: flex; justify-content: center; ">
      <mat-form-field class="my-form-field f-15 ml-0" style="width: 20em; margin: 0 10px;">
        <input #searchInput matInput placeholder="keyword" autocomplete="off">
      </mat-form-field>

      <button class="list-opt list-btn-opt-view" (click)="applyFilter(searchInput.value)" matTooltip="">
        Search
      </button>

      <div style="flex: 1 1 auto"></div>
      <div style="transform: translateY(3px); display: flex;">
        <div style="margin-top: 12px; font-size: 12px; color: rgb(117, 117, 117);">Limit：</div>

        <mat-form-field style="width: 60px; font-size: 12px;">
          <mat-select [(value)]="paginator.limit" (selectionChange)="selectLimit($event.value)">
            <mat-option value="5">5</mat-option>
            <mat-option value="10">10</mat-option>
            <mat-option value="20">20</mat-option>
            <mat-option value="50">50</mat-option>
            <mat-option value="100">100</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div style="transform: translateY(3px); display: flex;">

        <div class="indicator">{{ pageItem.offset + 1 }} - {{ pageItem.offset + +reqList.length  }} of
          {{ pageItem.total }}</div>

        <button [disabled]="pageItem.total <= 1 || (pageItem.current == pageItem.first)" (click)="pageAction('first')"
          mat-icon-button class="pagi-arrow">
          <mat-icon style="font-size: 28px;">first_page</mat-icon>
        </button>
        <button [disabled]="pageItem.total <= 1 || (pageItem.current == pageItem.first)" (click)="pageAction('prev')"
          mat-icon-button class="pagi-arrow">
          <mat-icon style="font-size: 28px;">chevron_left</mat-icon>
        </button>
        <button [disabled]="pageItem.total <= 1 || (pageItem.current == pageItem.pages)" (click)="pageAction('next')"
          mat-icon-button class="pagi-arrow">
          <mat-icon style="font-size: 28px;">chevron_right</mat-icon>
        </button>
        <button [disabled]="pageItem.total <= 1 || (pageItem.current == pageItem.pages)" (click)="pageAction('last')"
          mat-icon-button class="pagi-arrow">
          <mat-icon style="font-size: 28px;">last_page</mat-icon>
        </button>
      </div>
    </div>

  <div class="col-md-12 pr-0">
    <div class="col-md-12 col-lg-12 px-0 list-div" [ngStyle]="{'height': contentHeight + 'px'}">
      <table mat-table [dataSource]="dataSource" matSort #dataSort class="w-100">
        <!-- class="mat-elevation-z8" -->
        <ng-container matColumnDef="img">
          <th class="" math-header-cell *matHeaderCellDef></th>
          <td mat-cell class="list-item" *matCellDef="let row">
            <img [src]="row.img[0].file" class="img-size">
          </td>
        </ng-container>

        <ng-container matColumnDef="id">
          <th class="pl-2" math-header-cell *matHeaderCellDef mat-sort-header>ID</th>
          <td mat-cell class="pl-2 list-item" *matCellDef="let row">{{row.id}}</td>
        </ng-container>

        <ng-container matColumnDef="order_no">
          <th class="" math-header-cell *matHeaderCellDef mat-sort-header>Order #</th>
          <td mat-cell class="list-item" *matCellDef="let row">{{row.order_no}}</td>
        </ng-container>

        <ng-container matColumnDef="courier_book_id">
          <th class="" math-header-cell *matHeaderCellDef mat-sort-header>Booking ID</th>
          <td mat-cell class="list-item" *matCellDef="let row">{{(row.courier_book_id) ? row.courier_book_id : 'Awaiting Booking'}}</td>
        </ng-container>

        <ng-container matColumnDef="fee">
          <th class="" math-header-cell *matHeaderCellDef mat-sort-header>Fee</th>
          <td mat-cell class="list-item" *matCellDef="let row">
            <span class="mr-2">&#8369;</span>{{row.fee}}.00
          </td>
        </ng-container>

        <ng-container matColumnDef="updated_date">
          <th class="" math-header-cell *matHeaderCellDef mat-sort-header>Booking Date</th>
          <td mat-cell class="list-item" *matCellDef="let row">{{(row.updated_date) ? (row.updated_date | date: 'MMMM dd, yyyy h:mm:ss a') : 'N/A'}}</td>
        </ng-container>

        <ng-container matColumnDef="viewAction">
          <th class="" math-header-cell *matHeaderCellDef>Controls</th>
          <td mat-cell *matCellDef="let row" class=" pr-0">

            <!-- <mat-slide-toggle [checked] = "(row.status === 1) ? true : false" (change)="toggleSlide(row.id)">{{(row.status === 1) ? 'Active ': 'Inactive' }}</mat-slide-toggle> -->
          <!--  -->

            <button  class="list-opt list-btn-opt-edit" (click)="courierViewDialog(row)" matTooltip="">
              view
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <!-- end conainer -->
  </div>
</div>
