ul li {
  float: left;
  margin-left: 10px;
  cursor: pointer;
}

.pagi-arrow{
  color: rgb(117, 117, 117);
  outline: none;
}

.indicator{
  margin-top: 12px;
  font-size: 12px;
  color: rgb(117, 117, 117);
  margin-left: 15px;
  margin-right: 10px;
}

:host::ng-deep .mat-table thead{
  background-color: whitesmoke;
}

:host::ng-deep .mat-table thead tr{
  height: 40px;
  font-size: 13px;
}


/* CSS to change Default/'Accent' color */

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: #1b5e20; /*replace with your color*/
}

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: #81c784;  /*replace with your color*/
}

/* CSS to change 'Primary' color */

::ng-deep .mat-slide-toggle.mat-primary.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: red;
}

::ng-deep .mat-slide-toggle.mat-primary.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: #ff99ff;
}

/* CSS to change 'Warn' color */

::ng-deep .mat-slide-toggle.mat-warn.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: black;
}

::ng-deep .mat-slide-toggle.mat-warn.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: black;
}
