<button style="float:right; outline: none;" mat-dialog-close mat-icon-button>
    <mat-icon>close</mat-icon>
  </button>

<div style="margin: 30px; overflow-y: scroll;">
  <button *ngIf="!isView" type="button" [disabled]="uploading || uploadSuccessful" mat-raised-button color="primary" class="add-files-btn"
    (click)="addFiles()">
    Add Files
  </button>
  <input type="file" #file style="display: none" (change)="onFilesAdded()" multiple />

  <br><br>

  <div style="display: flex; justify-content: center; flex-wrap: wrap; max-width: 75vw;">

    <div *ngFor="let file of strUrl; let i = index" style="display: flex; margin: 20px 10px 0 10px;">
      <img [ngStyle]="{'background-image': 'url(' + file + ')'}" mat-line>
      <mat-icon *ngIf="!isView" (click)="removeaddesImg(i)" style="cursor: pointer;">clear</mat-icon>
      <mat-form-field class="example-full-width">
        <textarea matInput [(ngModel)]="description[i]" placeholder="Leave a comment"></textarea>
      </mat-form-field>
    </div>

  </div>

  <div *ngIf="!isView" style="display: flex; margin-top: 20px; margin-bottom: 20px;">
    <mat-spinner *ngIf="isSubmit" [diameter]="20" style="margin-top: 10px; margin: auto;"></mat-spinner>
    <button type="submit" *ngIf="!isSubmit" (click)="onSubmit()" matRipple [matRippleCentered]="false" [matRippleColor]="'rgba(255, 0, 0, 0.1)'"
      class="btn_red text-normal shadow-all" style="margin: auto; color: whitesmoke;">
      Submit
    </button>
  </div>
</div>
