/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  padding: 0;
}
// html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
// .btn {
// 	margin: 0 0.5rem;
// }
// SWEET ALERT CSS
.f-15{
font-size: 15px;
}
.overflow-x-hidden{
overflow-x: hidden !important;
}
.overflow-y-hidden{
overflow-y: hidden !important;
}
.overflow-x-auto{
overflow-x: auto !important;
}
.overflow-y-auto{
overflow-y: auto !important;
}
.focus-danger{
padding: 2px 4px;
color: #c0341d;
background-color: #fbe5e1;
border-radius: 4px;
}
.focus-userType{
padding: 2px 4px;
color: #c0341d;
background-color: #fbe5e1;
border-radius: 4px;
}
.font-20{
font-size: 20px !important;
}
.font-14{
font-size: 15px !important;
}
// END SWEET ALERT CSS
:focus {outline:0 !important;}
.add-shadow {
box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12)!important;
}
.add-shadow-more {
box-shadow: 0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15)!important;
}
/* custom material Input */

.mat-focused .mat-form-field-label {
  //padding-left: 0;
  transition: 0.4s all ease;
}

.mat-form-field-label {
  //padding-left: 10px;
  transition: 0.4s all ease;
}
l,
.mat-form-field-should-float .mat-form-field-label{
  // padding-left: 0;
  transition: 0.4s all ease;
}

/* Change the warning color into gray */
.mat-form-field.mat-form-field-invalid .mat-form-field-label {
  color: rgba(117,117,117,0.8);
}
.mat-form-field.mat-form-field-invalid .mat-form-field-label.mat-accent, .mat-form-field.mat-form-field-invalid .mat-form-field-label .mat-form-field-required-marker {
  color: rgba(117,117,117,0.8);
}
.mat-form-field.mat-form-field-invalid .mat-form-field-ripple, .mat-form-field.mat-form-field-invalid .mat-form-field-ripple.mat-accent {
  background-color: rgba(117,117,117,0.8);
}


/* Mat button icon */

.mat-button .mat-ripple-element, .mat-icon-button .mat-ripple-element, .mat-stroked-button .mat-ripple-element {
  opacity: 0.2;
  // background-color: red;
}
.lh-button-icon{
line-height: 24px !important;
}

.mat-tab-body-wrapper{
  flex-grow: 1;
}



/* Editting the scrollbar */


::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: rgb(192, 192, 192);
}

::-webkit-scrollbar-thumb:hover {
  background: #888;
}


/* ----- For the carousel use ------ */

/* Image container */

.carousel-container{
  height: 100%;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 5px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: calc(50% - 20px);
  width: auto;
  margin-top: -22px;
  padding: 16px;
  background:dimgray;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  color:#fff;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
background: dimgray;
color: #fff;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
//OLD CAROUSEL
// .active, .dot:hover {
//     background-color: red;
// }

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: .5s;
  animation-name: fade;
  animation-duration: .5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* ----- End of carousel use ----- */

/* Setting the shadow */
.shadow-top {
  box-shadow: 0 -5px 5px -2px rgba(70, 70, 70, 0.3);
}

.shadow-right {
  box-shadow: 5px 0 5px -2px rgba(70, 70, 70, 0.3);
}

.shadow-bottom {
  box-shadow: 0 5px 5px -2px rgba(70, 70, 70, 0.3);
}

.shadow-left {
  box-shadow: -5px 0 5px -2px rgba(70, 70, 70, 0.3);
}

.shadow-all {
  box-shadow: 0 0 10px rgba(70, 70, 70, 0.3);
}

/* removing the up down arrow of input number */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
-webkit-appearance: none;
margin: 0;
}

.center-vertical{
  margin: auto 0;
}

.line-style{
  width: 40%;
  height: 16px;
  margin: auto auto 50px auto;
  position: relative;
}

.line-line{
  height: 3px;
  background-color: dimgray;
  position: absolute;
  left: 5px;
  right: 5px;
  top: calc(50% - 1px);
}

.line-diamond-right{
  display: inline-block;
  position: absolute;
  right: 0; top: 0;
}

.diamond {
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-bottom-color: dimgray;
  position: relative;
  top: -8px;
}
.diamond:after {
  content: '';
  position: absolute;
  left: -8px;
  top: 8px;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-top-color: dimgray;
}

.header-text{
  font-size: 2.3rem;
  color: dimgray;
  margin-bottom: 10px;
  text-align: center;
}

.text-small{
  color: dimgray;
  font-size: 1rem;
}

.text-title{
  color: dimgray;
  font-size: 2.5rem;
  text-align: center;
  // margin-top: 20px;
}

.text-normal{
  color: dimgray;
  font-size: 16px;
}

.btn_red, .btn_blue{
  display: inline-block;
  color: whitesmoke;
  padding: 15px 25px;
  cursor: pointer;
  // border-top: 1px solid rgb(255, 240, 240);
  border-radius: 5px;
}

.btn_red{
  background-color: rgb(255, 0, 0, 0.85); //rgb(228, 78, 78);
}

.btn_blue{
  background-color:black//rgb(78, 118, 228);
}

.list-header{
  // width: 1100px;
  height: 40px;
  line-height: 40px !important;
  // margin: 0 auto;
  background-color: rgb(241, 241, 241);
  font-size: 13px;
  color: #828286;
}

.list-div{
  overflow-y: scroll;
  // width: 1100px;
  // margin: 0 auto;
}

.list-item{
  color: black;
  font-size: 15px;
}

.list-opt{
  outline: none;
  font-size: 13px;
}

.list-btn-opt-view {
  border-radius: 25px;
  background: none;
  border: none;
  color: blue;
  padding: 10px 25px;
  transition: 0.4s all ease;
}

.list-btn-opt-view:hover {
  background-color: #4884ed1f;
  transition: 0.4s all ease;
}

.list-btn-opt-edit {
  border-radius: 25px;
  background: none;
  border: none;
  color: green;
  padding: 10px 25px;
  transition: 0.4s all ease;
}
.list-btn-opt-edit:hover {
  background-color: #3cba5323;
  transition: 0.4s all ease;
}


.list-btn-opt-delete {
  border-radius: 25px;
  background: none;
  border: none;
  color: red;
  padding: 10px 25px;
  transition: 0.4s all ease;
}
.list-btn-opt-delete:hover {
  background-color: #db323518;
  transition: 0.4s all ease;
}

// .star_div{
//   position: relative;
// }
.star_pos{
  margin-top: -24px;
  overflow: hidden;
}

.text-justify{
  text-align:justify;
  text-justify:inter-word;
}

@media print {

  .name, .address, .date, .ttl1, .ttl2, .ttl3, .ttl4, .ttl5, .ttl6, .receive, .item,
  .num_word, .check_amount, .bank_name, .check_no, .check_date{
      position: absolute;
      font-size: 8pt;
  }

  .name{
      left: 92mm;
      top: 28mm;
      font-size: 12pt;
  }
  .address{
      left: 89mm;
      top: 32mm;
      font-size: 8pt;
      max-height: 27px;
      height: 27px;
      overflow: hidden;
      display: flex;
  }

  .add{
      margin: auto auto 0 0;
  }

  .date{
      left: 153mm;
      top: 21mm;
  }

  .ttl1{
      left: 35mm;
      top: 58mm;
  }

  .ttl2{
      left: 35mm;
      top: 85mm;
  }

  .ttl3{
      left: 162mm;
      top: 56mm;
  }

  .ttl4{
      left: 35mm;
      top: 24mm;
  }

  .ttl5{
      left: 35mm;
      top: 34mm;
  }

  .ttl6{
      left: 35mm;
      top: 44mm;
  }

  .check_amount{
      left: 35mm;
      top: 63mm;
  }

  .bank_name{
      left: 35mm;
      top: 68mm;
  }

  .check_no{
      left: 35mm;
      top: 74mm;
  }

  .check_date{
      left: 35mm;
      top: 79mm;
  }

  .receive{
      left: 154mm;
      top: 74mm;
  }

  .item{
      left: 106mm;
      top: 63mm;
  }

  .num_word{
      left: 83mm;
      top: 48mm;
      max-height: 40px;
      height: 40px;
      overflow: hidden;
      display: flex;
      line-height: 1.8;
      background-color: #3cba54;
  }
}

/* Slick carousel */

// .slick-slider {
//     width: 850px;
//     height: 400px;
//     background: rgba(0, 0, 0, 0);
//     margin: auto;
// }

.nav-btn {
  height: 100px;
  position: absolute;
  width: 100px;
  cursor: pointer;
  top: 100px !important;
}

.prev-slide.slick-disabled,
.next-slide.slick-disabled {
  pointer-events: none;
  opacity: 0.2;
}
.prev-slide {
  // background: url(assets/images/previous.png) no-repeat scroll 0 0;
  left: -100px;
}

.next-slide {
  // background: url(assets/images/next.png) no-repeat scroll -24px 0px;
  right: -100px;
}
.howayBackgroundColor-black {
background-color: rgba(0, 0, 0, 0.85); //#545252;
}
.howayBacground-star-moon-center {
// background-image: url(assets/images/stars_moon.png);
background-size: contain;
background-repeat: no-repeat;
background-position: center;
}
.howayBacground-star-moon-right {
// background-image: url(assets/images/stars_moon.png);
background-size: contain;
background-repeat: no-repeat;
background-position: right;
}
.howayBacground-star-moon-left {
// background-image: url(assets/images/stars_moon.png);
background-size: contain;
background-repeat: no-repeat;
background-position: left;
}
.pt-150 {
padding-top: 150px;
}

.text-respon{
// font-size: 2.4em;
// text-align: right;
}
@media all and (min-width: 50px)   {  .text-respon  { font-size:1.5em;  } }
@media all and (min-width: 100px)  {  .text-respon  { font-size:1.5em;  } }
@media all and (min-width: 200px)  {  .text-respon  { font-size:1.5em;  } }
@media all and (min-width: 300px)  {  .text-respon  { font-size:1.5em;  } }
@media all and (min-width: 400px)  {  .text-respon  { font-size:1.5em;  } }
@media all and (min-width: 500px)  {  .text-respon  { font-size:1.5em;  } }
@media all and (min-width: 600px)  {  .text-respon  { font-size:1.5em;  } }
@media all and (min-width: 700px)  {  .text-respon  { font-size:1.5em;  } }
@media all and (min-width: 800px)  {  .text-respon  { font-size:1.5em;  } }
@media all and (min-width: 900px)  {  .text-respon  { font-size:1.5em;  } }
@media all and (min-width: 1000px) {  .text-respon  { font-size:2.0em;  } }
@media all and (min-width: 1100px) {  .text-respon  { font-size:2.0em;  } }
@media all and (min-width: 1200px) {  .text-respon  { font-size:2.0em;  } }
@media all and (min-width: 1300px) {  .text-respon  { font-size:2.0em;  } }
@media all and (min-width: 1400px) {  .text-respon  { font-size:2.0em;  } }
@media all and (min-width: 1500px) {  .text-respon  { font-size:2.1em;  } }
@media all and (min-width: 1500px) {  .text-respon  { font-size:2.2em;  } }
@media all and (min-width: 1600px) {  .text-respon  { font-size:2.3em;  } }
@media all and (min-width: 1700px) {  .text-respon  { font-size:2.4em;  } }

.fourdpocket-shadow {
box-shadow: 0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19)!important;
}


.app-full-bleed-dialog .mat-dialog-container {
padding: 0;
}

.app-full-bleed-dialog-p-10 .mat-dialog-container {
padding-top: 10px;
padding-left: 10px;
padding-right: 10px;
padding-bottom: 10px;
}

.app-full-bleed-dialog-p-26 .mat-dialog-container {
padding-top: 26px;
padding-left: 26px;
padding-right: 26px;
// padding-bottom: 10px;
}

.mat-radio-button .mat-radio-inner-circle{
background-color: black !important;
}



// gradients
.bg-gradient-red{
background: linear-gradient(45deg,#fc0006,#fc0006bf);
}
.bg-gradient-red-reverse{
background: linear-gradient(45deg,#fc0006bf,#fc0006);
}
.bg-gradient-blue{
background: linear-gradient(45deg,#ff869a,#ff5370);
}
.bg-gradient-blue-reverse{
background: linear-gradient(45deg,#ff5370),#ff869a;
}
.bg-gradient-green{
background: linear-gradient(45deg,#2ed8b6,#59e0c5);
}
.bg-gradient-green-reverse{
background: linear-gradient(45deg,#59e0c5,#2ed8b6);
}
.bg-gradient-yellow{
background: linear-gradient(45deg,#ffb64d,#ffcb80);
}
.bg-gradient-yellow-reverse{
background: linear-gradient(45deg,#ffcb80,#ffb64d);
}


.add-shadow-text {
-webkit-filter: drop-shadow(0px 2px 2px #222);
filter: drop-shadow(0px 2px 2px #222);
}
.shadow-multi-purple{
box-shadow: 0 3px 8px rgba(44, 63, 238, 0.247);
}
.pointer-hand{
cursor: pointer !important;
}
.pointer-not-allowed{
cursor: not-allowed !important;
}
.footer-custom{
position: absolute;
bottom: 0;
// right: 0;
}

.right-0{
right: 0px;
}

.left-0{
left: 0px;
}

.pusha-pink{
color: #ff4081;
}

.swal2-file.ww-inputerror,.swal2-input.ww-inputerror,.swal2-textarea.ww-inputerror {
  border-color: #dc3545!important;
  box-shadow: 0 0 2px #dc3545!important
}
.swal2-file.ww-inputsuccess,.swal2-input.ww-inputsuccess,.swal2-textarea.ww-inputsuccess {
  border-color: #a5dc86!important;
  box-shadow: 0 0 2px #a5dc86!important
}
.validation-message-success {
  display: none;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding: .625em;
  overflow: hidden;
  background: #f0f0f0;
  color: #666;
  font-size: 1em;
  font-weight: 300;
}
.validation-message-success::before {
  content: "✓";
  display: inline-block;
  width: 1.5em;
  min-width: 1.5em;
  height: 1.5em;
  margin: 0 .625em;
  border-radius: 50%;
  background-color: #a5dc86;
  color: #fff;
  font-weight: 600;
  line-height: 1.5em;
  text-align: center;
}

.dialog-icon {
width: 25px;
height: 25px;
position: relative;
top: -2px;
}

@media only screen and (max-width:482px){
.header-text{
  font-size: 24px;
}
}
///////////////////////////////////////////////////////////////////
///FOR TEMPLATE 2 - MAT INPUT
.mat-form-field-appearance-outline .mat-form-field-prefix{
  top: 0px !important;
}
.mat-form-field-appearance-outline .mat-form-field-suffix {
  top: .45em !important;
}
.mat-form-field-appearance-outline .mat-form-field-infix {
  padding: .5em 0 1em 0 !important;
}
.mat-select-arrow-wrapper{
vertical-align: baseline !important;
}
///////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////
.my-form-field.mat-form-field-appearance-legacy .mat-form-field-underline,
.my-form-field.mat-form-field-appearance-legacy .mat-form-field-ripple,
.my-form-field.mat-form-field-appearance-legacy.mat-focused
.mat-form-field-underline,
.my-form-field.mat-form-field-appearance-legacy.mat-focused
.mat-form-field-ripple.mat-form-field-label {
background-color: black;
}

.mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label:not(.mat-empty):not(.mat-form-field-empty) {
// color
color: black;
// scale or font-size
}


// for dots customize
.carousel-indicators{
z-index: 1 !important;
}
.carousel-indicators li {
width: 15px !important;
height: 15px !important;
border-radius: 100% !important;
}
.carousel-indicators .active{
background-color:#ad206b;
}


//for google maps
.app-full-bleed-dialog-full-screen {
max-width: 100vw !important;
}
.app-full-bleed-dialog-full-screen .mat-dialog-container {
width: 100vw !important;
height: 100vh !important;
padding-top: 0px;
padding-left: 0px;
padding-right: 0px;
padding-bottom: 0px;
}


.mat-button[disabled], .mat-flat-button[disabled], .mat-icon-button[disabled], .mat-stroked-button[disabled] {
cursor: not-allowed !important;
}
//end off google maps
