<ng-container *ngIf="option == 'view'">
	<div mat-dialog-title class="border-bottom mb-0">
		<!-- <img src="/assets/images/favicon.ico" alt="" class="dialog-icon"> -->
		<span class="h4">MEMBERSHIP USER INFORMATION</span>
		<!-- <span class="text-muted mb-0">{{ details?.firstname | titlecase }} {{ details?.surename | titlecase }}'s Detail</span> -->
		<button class="lh-button-icon float-right" mat-icon-button [mat-dialog-close]="" style="top: -5px;right: -10px; width: 32px; height: 32px;">
			<mat-icon>close</mat-icon>
		</button>
	</div>
	<mat-dialog-content class="mat-typography font-14 mx-0 px-0 pt-2 w-100 text-dark" style="height: 100% !important;max-width: 600px;">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12 px-0">
					<!-- PERSONAL INFORMATION -->
					<span class="h5 d-block text-dark border-bottom border-light">Personal Information</span>
					<table class="table table-borderless text-dark">
						<tr>
							<td width="30%" class="pl-0">Name:</td>
							<td width="70%">{{ details?.firstname | titlecase }} {{ details?.surename | titlecase }}</td>
						</tr>
						<tr>
							<td width="30%" class="pl-0">Gender:</td>
							<td width="70%">{{ (details?.gender && details?.gender != "None" ) ? (details?.gender == 3) ? 'N/A' : (details?.gender == 1) ? 'Male' : 'Female' : 'N/A' }}</td>
						</tr>
						<tr>
							<td width="30%" class="pl-0">Date of Birth:</td>
							<td width="70%">{{ (details?.dob) ? details?.dob : 'N/A' }}</td>
						</tr>
						<!-- <tr>
							<td width="30%" class="pl-0">Age:</td>
							<td width="70%">{{ (details?.age && details?.age != 0) ? details?.age : 'N/A' }}</td>
						</tr> -->
						<tr>
							<td width="30%" class="pl-0">Address:</td>
							<td width="70%">{{ details?.address | titlecase }} {{ details?.barangay | titlecase }} {{ details?.city | titlecase }} {{ details?.province | titlecase }} {{ details?.region | uppercaseRoman }}</td>
						</tr>
						<tr>
							<td width="30%" class="pl-0">Remarks:</td>
							<td width="70%">{{ (details?.remarks) ? details?.remarks : 'N/A' }}</td>
						</tr>
						<tr>
							<td width="30%" class="pl-0">Contact #:</td>
							<td width="70%">{{ details?.contact_no }}</td>
						</tr>
					</table>
					<!-- SHIPPING INFORMATION -->
					<!-- <span class="h5 d-block border-bottom border-light" *ngIf="details?.usertype_id == '2' || details?.usertype_id == '4'" >Shipping Information</span>
					<table *ngIf="details?.usertype_id == '2' || details?.usertype_id == '4'" class="table table-borderless text-dark">
						<tr>
							<td width="30%" class="pl-0">Region:</td>
							<td width="70%">{{ (details?.region) ? details?.region : 'N/A' }}</td>
						</tr>
						<tr>
							<td width="30%" class="pl-0">Province:</td>
							<td width="70%">{{ (details?.province) ? details?.province : 'N/A' }}</td>
						</tr>
						<tr>
							<td width="30%" class="pl-0">City:</td>
							<td width="70%">{{ (details?.city) ? details?.city : 'N/A' }}</td>
						</tr>
						<tr>
							<td width="30%" class="pl-0">Barangay:</td>
							<td width="70%">{{ (details?.barangay) ? details?.barangay : 'N/A' }}</td>
						</tr>
						<tr>
					</table> -->
				</div>
				<!-- ACCOUNT INFORMATION -->
				<div class="col-md-12 px-0">
					<!-- <div class="mb-2" style="margin: 0 auto; display: flex; justify-content: center;">
						<div style=" position: relative;">
							<img [src]="(localUrl) ? localUrl : '/assets/images/user-grey.png'" class="profile-pic">
						</div>
					</div>
					<div class="h7 text-center my-2">
						<span class="focus-userType">
							{{ details?.email_address }}
						</span>
					</div>
					<div class="h7 text-center my-2">
						<span class="focus-userType">
							{{ (details?.usertype_id == '2') ? 'Customer' : (details?.usertype_id == '1') ? 'Admin' : 'Staff' }}
						</span>
					</div> -->
					<div class="h5 border-bottom border-light">Account Information</div>
					<table class="table table-borderless text-dark">
						<tr>
							<td width="30%" class="pl-0">Email:</td>
							<td width="70%">
								<!-- <span class="focus-userType"> -->
								<span>
									{{ details?.email_address }}
								</span>
							</td>
						</tr>
						<tr>
							<td width="30%" class="pl-0">User Type:</td>
							<td width="70%">
								Customer
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</mat-dialog-content>
</ng-container>

<!-- ADD & UPDATE PART -->

<ng-container *ngIf="option != 'view'">
	<div mat-dialog-title class="border-bottom mb-0">
		<!-- <img src="/assets/images/favicon.ico" alt="" class="dialog-icon"> -->
		<span *ngIf="option == 'add'" class="h4">ADD MEMBERSHIP USER INFORMATION</span>
		<span *ngIf="option == 'edit'" class="h4">EDIT MEMBERSHIP USER INFORMATION</span>
		<button class="lh-button-icon float-right" mat-icon-button [mat-dialog-close]="" style="top: -5px;right: -10px; width: 32px; height: 32px;">
			<mat-icon>close</mat-icon>
		</button>
	</div>
	<!-- ERROR PASSWORD CHANGE-->
	<div class="col-md-12 alert alert-danger text-center" [ngClass]="{'d-block' : errorChanngePassword, 'd-none' : !errorChanngePassword}" role="alert">
		<small>
		{{ errorChangePasswordText }}
		</small>
	</div>
	<!-- SUCCESS PASSWORD CHANGE-->
	<div class="col-md-12 alert alert-success text-center" [ngClass]="{'d-block' : successChanngePassword, 'd-none' : !successChanngePassword}" role="alert">
		<small>
		{{ successChangePasswordText }}
		</small>
	</div>
	<!-- ERROR -->
	<div class="col-md-12 alert alert-danger text-center" [ngClass]="{'d-block' : errorRequiredFields, 'd-none' : !errorRequiredFields}" role="alert">
		<small>
		Please fill out all <strong> required fields! </strong>
		</small>
	</div>
	<!-- ERROR -->
	<div class="col-md-12 alert alert-danger text-center" [ngClass]="{'d-block' : userExistError, 'd-none' : !userExistError}" role="alert">
		<small>
		Sorry! User <strong> {{email.value}} </strong> address already exist.
		</small>
	</div>
	<!-- SUCCESS -->
	<div class="col-md-12 alert alert-success text-center" [ngClass]="{'d-block' : isSuccessProcess, 'd-none' : !isSuccessProcess}" role="alert">
		<small *ngIf="!isUpdate">
		You have successfully created user for email: <strong> {{email.value}} </strong>.
		</small>
		<small *ngIf="isUpdate">
		You have successfully updated information for user with email: <strong> {{email.value}} </strong>.
		</small>
	</div>
	<mat-dialog-content class="mat-typography font-14 mx-0 px-0 pt-2 w-100" style="height: 100% !important; max-width: 600px">
		<form [formGroup]="mform" class="container-fluid">
			<div class="row">
				<div class="col-md-12 pl-0 pr-1">
					<!-- [ngStyle]="{'background-image': 'url(' + localUrl + ')'}" -->
					<!-- <div class="mb-2" style="margin: 0 auto; display: flex; justify-content: center;">
	          <div style=" position: relative;">
	            <img *ngIf="!isUpdate" [src]="(localUrl) ? localUrl : '/assets/images/user-grey.png'" class="profile-pic">
	            <img *ngIf="isUpdate" [src]="(localUrl) ? localUrl : '/assets/images/user-grey.png'" class="profile-pic">
	            <label for="browse-image" class="fab-browse" align="center">
	              <mat-icon style="font-size: 18px; vertical-align: middle; line-height: 25px;">edit</mat-icon>
	            </label>
	          </div>
	        </div> -->
					<input type="file" (change)="onSelectFile($event)" id="browse-image" style="display: none;">
					<div class="d-block h5">Account Security</div>
					<!-- USER TYPE -->
					<mat-form-field class="col-md-12 px-0">
						<label matSuffix class="h6 text-muted"><i class="fa fa-user-circle-o" aria-hidden="true"></i></label>
						<mat-select placeholder="Select" #usertype_id formControlName="usertype_id" (selectionChange)="getUserTypeValue($event)">
							<mat-option *ngFor="let d of userType" value="{{ d.id }}">{{ d.usertype_name }}</mat-option>
						</mat-select>
						<mat-error class="text-right" *ngIf="mform.get('usertype_id').hasError('required')">
							User Type is <strong>required</strong>
						</mat-error>
					</mat-form-field>
					<!-- EMAIL -->
					<mat-form-field class="col-md-12 px-0">
						<input type="email" formControlName="email_address" #email (input)="clearAlertMessage()" matInput placeholder="Email Address" autocomplete="off">
						<mat-error class="text-right" *ngIf="mform.get('email_address').hasError('required')">
							Email Address is <strong>required</strong>
						</mat-error>
						<mat-error class="text-right" *ngIf="mform.get('email_address').hasError('email')">
							Please enter a <strong>valid email address</strong>
						</mat-error>
					</mat-form-field>

					<!-- USERNAME PRESET -->
					<mat-form-field class="col-md-12 px-0" hidden>
						<input formControlName="username" matInput placeholder="Username" autocomplete="off">
						<mat-error class="text-right" *ngIf="mform.get('username').hasError('required')">
							Username is <strong>required</strong>
						</mat-error>
						<mat-error class="text-right" *ngIf="mform.get('username').hasError('minlength')">
							Username is <strong>too short</strong>
						</mat-error>
						<mat-error class="text-right" *ngIf="mform.get('username').hasError('maxlength')">
							Username is <strong>too long</strong>
						</mat-error>
						<mat-error class="text-right" *ngIf="mform.get('username').hasError('pattern')">
							Username must contain only<strong>Alphanumerics</strong>
						</mat-error>
					</mat-form-field>
					<!-- PASSWORD -->
					<mat-form-field class="col-md-12 px-0" [attr.hidden]="(option == 'edit' && details?.usertype_id == '2' || details?.usertype_id == '4') ? '' : null">
						<span *ngIf="option == 'edit'" (click)="changePassword()" #btnChangePassword matSuffix class="btn rounded-0 btn-sm btn-outline-danger">{{ changePasswordText }}</span>
						<span *ngIf="option == 'edit' && mform.controls['password'].enabled" (click)="disableChangePassword()" matSuffix class="btn rounded-0 btn-sm btn-danger">X</span>
						<input #pass type="password" formControlName="password" matInput placeholder="Password" autocomplete="off">
						<!-- <mat-hint *ngIf="pass.value.length == 0">Must atleast 6 characters long</mat-hint> -->
						<mat-error class="text-right" *ngIf="option == 'add' && mform.get('password').hasError('required')">
							Password is <strong>required</strong>
						</mat-error>
						<mat-error class="text-right" *ngIf="option == 'add' && mform.get('password').hasError('minlength')">
							Password must atleast <strong>6 characters long</strong>
						</mat-error>
						<mat-error class="text-right" *ngIf="option == 'add' && mform.get('password').hasError('maxlength')">
							Password is <strong>too long</strong>
						</mat-error>
						<mat-error class="text-right" *ngIf="option == 'add' && mform.get('password').hasError('pattern')">
							Password must contain only<strong>Alphanumerics</strong>
						</mat-error>
					</mat-form-field>
					<!-- REPASSWORD -->
					<mat-form-field *ngIf="!isUpdate" class="col-md-12 px-0">
						<input #pass2 type="password" formControlName="password2" matInput placeholder="Retype Password" autocomplete="off"
							[errorStateMatcher]="matcher">
						<mat-error class="text-right" *ngIf="mform.get('password2').hasError('required')">
							Retype Password is <strong>required</strong>
						</mat-error>
						<mat-error class="text-right" *ngIf="mform.hasError('notSame') && pass2.value.length != 0">
							Password does not <strong>match</strong>
						</mat-error>
					</mat-form-field>
					<!-- / Account Security -->
					<div class="d-block h5">Personal Information</div>
					<mat-form-field class="col-md-12 px-0">
						<input formControlName="firstname" matInput (change)="trimValue(mform.get('firstname'))" placeholder="Firstname" autocomplete="off">
						<mat-error class="text-right" *ngIf="mform.get('firstname').hasError('required')">
							Firstname is <strong>required</strong>
						</mat-error>
						<mat-error class="text-right" *ngIf="mform.get('firstname').hasError('pattern')">
							Only <strong>letters</strong> are allowed
						</mat-error>
					</mat-form-field>

					<mat-form-field class="col-md-12 px-0">
						<input formControlName="middlename" matInput (change)="trimValue(mform.get('middlename'))" placeholder="Middlename" autocomplete="off">
						<!-- <mat-error class="text-right" *ngIf="mform.get('middlename').hasError('required')">
							Middlename is <strong>required</strong>
						</mat-error> -->
						<mat-error class="text-right" *ngIf="mform.get('middlename').hasError('pattern')">
							Only <strong>letters</strong> are allowed
						</mat-error>
					</mat-form-field>

					<mat-form-field class="col-md-12 px-0">
						<input formControlName="surename" matInput (change)="trimValue(mform.get('surename'))" placeholder="Lastname" autocomplete="off">
						<mat-error class="text-right" *ngIf="mform.get('surename').hasError('required')">
							Lastname is <strong>required</strong>
						</mat-error>
						<mat-error class="text-right" *ngIf="mform.get('surename').hasError('pattern')">
							Only <strong>letters</strong> are allowed
						</mat-error>
					</mat-form-field>
					<!-- /Personal Informaiton -->
					<div class="d-block h5">Additional Information</div>
					<mat-form-field class="col-md-12 px-0" hidden>
						<input formControlName="age" type="number" min="1" matInput placeholder="Age" autocomplete="off">
						<!-- <mat-error class="text-right" *ngIf="mform.get('age').hasError('required')">
							Age <strong>required</strong>
						</mat-error> -->
					</mat-form-field>
					<!-- BIRTDATE -->
					<mat-form-field class="col-md-12 px-0">
						<input class="pointer-hand" (click)="dob.open()" matInput [matDatepicker]="dob" formControlName="dob" placeholder="Date of Birth" (dateInput)="calculateAge($event.value)" readonly>
						<mat-datepicker-toggle matSuffix [for]="dob"></mat-datepicker-toggle>
						<mat-datepicker #dob disabled="false"></mat-datepicker>
					</mat-form-field>

					<mat-form-field class="col-md-12 px-0">
						<mat-select formControlName="gender" placeholder="Gender" (selectionChange)="getGenderValue($event)">
							<mat-option [value]="3">N/A</mat-option>
							<mat-option [value]="1">Male</mat-option>
							<mat-option [value]="2">Female</mat-option>
						</mat-select>
						<!-- <mat-error class="text-right" *ngIf="mform.get('gender').hasError('required')">
							Gender is <strong>required</strong>
						</mat-error> -->
					</mat-form-field>
					<!-- /Additionals Informaiton -->
				</div>
				<!-- / col-6 -->
				<div class="col-md-12 pl-0 pr-1">
					<div class="d-block h5">{{ conaddText }}</div>
					<mat-form-field class="col-md-12 px-0" style="position:relative;">
						<label matPrefix class="h6 text-muted">+63</label> <!-- contact-prefix --->
						<label matSuffix class="h6 text-muted">🇵🇭</label> <!-- contact-prefix --->
						<input formControlName="contact_no" matInput placeholder="10 Digit Cellphone Number" autocomplete="off">
						<mat-error class="text-right" *ngIf="mform.get('contact_no').hasError('required')">
							Contact No. is <strong>required</strong>
						</mat-error>
						<mat-error class="text-right" *ngIf="mform.get('contact_no').hasError('maxlength') || mform.get('contact_no').hasError('minlength')">
							Must only contain <strong>10 Digit</strong>
						</mat-error>
						<mat-error class="text-right" *ngIf="mform.get('contact_no').hasError('pattern')">
							Only <strong>numbers</strong> are allowed
						</mat-error>
					</mat-form-field>

					<mat-form-field class="col-md-12 px-0">
						<mat-select formControlName="region" required #selectedRegion placeholder="Select Region" (selectionChange)="getDataAttrRegion($event); clearPCB()">
							<!-- (selectionChange)="mreg = []; mcit = []; cit.value = []" -->
							<mat-option *ngFor="let myRegion of locations" [value]="myRegion.region_name">{{myRegion.region_name}}</mat-option>
						</mat-select>
						<mat-error class="text-right" *ngIf="mform.get('region').hasError('required')">
							Region is <strong>required</strong>
						</mat-error>
					</mat-form-field>

						 <!-- (selectionChange)="mreg = province.value; getRegionValue($event)" -->
					<mat-form-field class="col-md-12 px-0" *ngIf="provinceArray">
						<mat-select formControlName="province" placeholder="Province" required #province (selectionChange)="getDataAttrProvince($event); clearCB()">
							<mat-option *ngFor="let myProvince of provinceArray | keyvalue" [value]="myProvince.key">
								{{myProvince.key}}
							</mat-option>
						</mat-select>
						<mat-error class="text-right" *ngIf="mform.get('province').hasError('required')">
							Province is <strong>required</strong>
						</mat-error>
					</mat-form-field>

					<mat-form-field class="col-md-12 px-0" *ngIf="cityArray">
						<mat-select formControlName="city" placeholder="City/Town" required #city (selectionChange)="getDataAttrCity($event); clearB()">
							<mat-option *ngFor="let myCity of cityArray | keyvalue" [value]="myCity.key">
								{{myCity.key}}
							</mat-option>
						</mat-select>
						<mat-error class="text-right" *ngIf="mform.get('city').hasError('required')">
							City is <strong>required</strong>
						</mat-error>
					</mat-form-field>

					<mat-form-field class="col-md-12 px-0" *ngIf="barangayArray">
						<mat-select formControlName="barangay" placeholder="Barangay" required #barangay  (selectionChange)="getDataAttrBarangay($event)">
							<mat-option *ngFor="let myBarangay of barangayArray" [value]="myBarangay">
								{{myBarangay}}
							</mat-option>
						</mat-select>
						<mat-error class="text-right" *ngIf="mform.get('barangay').hasError('required')">
							Barangay is <strong>required</strong>
						</mat-error>
					</mat-form-field>


					<mat-form-field class="col-md-12 px-0">
						<textarea matInput formControlName="address" (change)="trimValue(mform.get('address'))" placeholder="House #/Bldg./Village/Blk # Lt #/Street" style="height: 50px;"></textarea>
						<mat-error class="text-right" *ngIf="mform.get('address').hasError('required')">
							Address is <strong>required</strong>
						</mat-error>
					</mat-form-field>

					<mat-form-field class="col-md-12 px-0">
	          <textarea matInput formControlName="remarks" (change)="trimValue(mform.get('remarks'))" placeholder="Remarks" style="height: 50px;"></textarea>
	        </mat-form-field>
				</div>
				<div class="col-md-6">
					<div class="col-md-12">
						<input type="file" #file style="display: none" (change)="onFilesAdded()" />
						<div class="container" fxLayout="column" fxLayoutAlign="space-evenly stretch">
							<div>
								<div *ngFor="let file of strUrl; let i = index" style="display: flex; margin: 50px 10px 0 50px;">
									<img [ngStyle]="{'background-image': 'url(' + file + ')'}" mat-line>
									<mat-icon (click)="removeImg(file)" style="cursor: pointer;">clear</mat-icon>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
  </mat-dialog-content>
	<mat-dialog-actions class="border-top mb-0 py-0">
	  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
		<div class="container-fluid">
			<div class="row mb-1 px-0">
			<div class="col-md-6 px-0 align-self-end" align="left">
				<!-- <button class="btn_blue text-normal add-files-btn" matRipple for="browse-image" [disabled]="disableConfirmBtn">
					ADD USER IMAGE
				</button> -->
				<button	class="btn btn-block btn-md btn-dark text-light " (click)="onSubmit()" matRipple [disabled]="disableConfirmBtn">
					{{ primaryButtonText }}
        </button>
        <!-- px-2 py-1 my-auto ml-1 -->
				<!-- <div class="mt-2 mr-1" style="width: 27px; height: 27px;">
					<mat-progress-spinner *ngIf="isSpinner" class="" [diameter]="27" color="warn" mode="indeterminate"></mat-progress-spinner>
				</div> -->
			</div>
				<div class="col-md-6 px-0" align="right">
					<div class="mt-2 mr-1" style="width: 45px; height: 45px;">
						<mat-progress-spinner *ngIf="isSpinner" class="" [diameter]="45" color="warn" mode="indeterminate"></mat-progress-spinner>
					</div>
				  <!-- <button matRipple class="btn" (click)="onSubmit(confirmEmail.value, details.option, details.userId)" [ngClass]="{'btn-secondary': disableConfirmBtn, 'btn-danger': !disableConfirmBtn}" [disabled]="disableConfirmBtn">Confirm</button> -->
				</div>
			</div>
		</div>
  </mat-dialog-actions>

</ng-container>


<!-- <mat-grid-list cols="2" rowHeight="2:1">
	<mat-grid-tile>
		<mat-form-field class="w-100 mx-2">
				<mat-select placeholder="Select" formControlName="usertype_id">
					<mat-option *ngFor="let d of userType" value="{{ d.id }}">{{ d.usertype_name }}</mat-option>
				</mat-select>
				<mat-error *ngIf="mform.get('usertype_id').hasError('required')">
					User Type is <strong>required</strong>
				</mat-error>
		</mat-form-field>
	</mat-grid-tile> -->

	<!-- <mat-grid-tile>
		<mat-form-field class="w-100 mx-2">
			<input matInput autocomplete="off" formControlName="username" placeholder="username" >
			<mat-error *ngIf="mform.get('username').hasError('required')">
				Username is <strong>required</strong>
			</mat-error>
			<mat-error *ngIf="mform.get('username').hasError('minlength')">
				Username is <strong>too short</strong>
			</mat-error>
			<mat-error *ngIf="mform.get('username').hasError('maxlength')">
				Username is <strong>too long</strong>
			</mat-error>
			<mat-error *ngIf="mform.get('username').hasError('pattern')">
				Username must contain only <strong>Alphanumerics</strong>
			</mat-error>
		</mat-form-field>
	</mat-grid-tile>
	<mat-grid-tile>
		<mat-form-field class="w-100 mx-2">
			<input matInput autocomplete="off" formControlName="email_address" placeholder="email_address" >
			<mat-error *ngIf="mform.get('email_address').hasError('required')">
				Email Address is <strong>required</strong>
			</mat-error>
			<mat-error *ngIf="mform.get('email_address').hasError('email')">
				Please enter a <strong>valid email address</strong>
			</mat-error>
		</mat-form-field>
	</mat-grid-tile>
	<mat-grid-tile *ngIf="!details">
		<mat-form-field class="w-100 mx-2">
			<input matInput autocomplete="off" formControlName="password" placeholder="Password" >
			<mat-error *ngIf="mform.get('password').hasError('required')">
				Password is <strong>required</strong>
			</mat-error>
			<mat-error *ngIf="mform.get('password').hasError('minlength')">
				Password must atleast <strong>6 characters long</strong>
			</mat-error>
			<mat-error *ngIf="mform.get('password').hasError('maxlength')">
				Password is <strong>too long</strong>
			</mat-error>
			<mat-error *ngIf="mform.get('password').hasError('pattern')">
				Password must contain only<strong>Alphanumerics</strong>
			</mat-error>
		</mat-form-field>
	</mat-grid-tile>
	<mat-grid-tile>
		<mat-form-field class="w-100 mx-2">
			<input matInput autocomplete="off" formControlName="firstname" (change)="trimValue(mform.get('firstname'))" placeholder="firstname" >
			<mat-error *ngIf="mform.get('firstname').hasError('required')">
				Firstname is <strong>required</strong>
			</mat-error>
			<mat-error *ngIf="mform.get('firstname').hasError('pattern')">
				Only <strong>letters</strong> are allowed
			</mat-error>
		</mat-form-field>
	</mat-grid-tile>
	<mat-grid-tile>
		<mat-form-field class="w-100 mx-2">
			<input matInput autocomplete="off" formControlName="middlename" (change)="trimValue(mform.get('middlename'))" placeholder="Middlename">
			<mat-error *ngIf="mform.get('middlename').hasError('required')">
				Middlename is <strong>required</strong>
			</mat-error>
			<mat-error *ngIf="mform.get('middlename').hasError('pattern')">
				Only <strong>letters</strong> are allowed
			</mat-error>
		</mat-form-field>
	</mat-grid-tile>
	<mat-grid-tile>
		<mat-form-field class="w-100 mx-2">
			<input matInput autocomplete="off" formControlName="surename" (change)="trimValue(mform.get('surename'))" placeholder="Surename">
			<mat-error *ngIf="mform.get('surename').hasError('required')">
				Surename is <strong>required</strong>
			</mat-error>
			<mat-error *ngIf="mform.get('surename').hasError('pattern')">
				Only <strong>letters</strong> are allowed
			</mat-error>
		</mat-form-field>
	</mat-grid-tile>
	<mat-grid-tile>
		<mat-form-field class="w-100 mx-2">
			<input matInput autocomplete="off" formControlName="contact_no" (change)="trimValue(mform.get('contact_no'))" placeholder="Surename" placeholder="Contact no">
			<mat-error *ngIf="mform.get('contact_no').hasError('required')">
				Contact No. is <strong>required</strong>
			</mat-error>
			<mat-error *ngIf="mform.get('contact_no').hasError('maxlength') || mform.get('contact_no').hasError('minlength')">
				Must only contain <strong>11 Digit</strong>
			</mat-error>
			<mat-error *ngIf="mform.get('contact_no').hasError('pattern')">
				Only <strong>numbers</strong> are allowed
			</mat-error>
		</mat-form-field>
	</mat-grid-tile>
	<mat-grid-tile>
		<mat-form-field class="w-100 mx-2">
			<input matInput autocomplete="off" formControlName="age" placeholder="Age">
			<mat-error *ngIf="mform.get('age').hasError('required')">
				Age <strong>required</strong>
			</mat-error>
			<mat-error *ngIf="mform.get('age').hasError('pattern')">
				Invalid <strong>age</strong>
			</mat-error>
		</mat-form-field>
	</mat-grid-tile>
	<mat-grid-tile>
		<mat-form-field class="w-100 mx-2">
			<mat-select formControlName="gender" placeholder="Gender">
				<mat-option value="1">Male</mat-option>
				<mat-option value="2">Female</mat-option>
			</mat-select>
			<mat-error *ngIf="mform.get('gender').hasError('required')">
				Gender <strong>required</strong>
			</mat-error>
		</mat-form-field>
	</mat-grid-tile>
	<mat-grid-tile>
		<mat-form-field class="w-100 mx-2">
			<input matInput autocomplete="off" formControlName="address" placeholder="Address">
			<mat-error *ngIf="mform.get('address').hasError('required')">
				Address <strong>required</strong>
			</mat-error>
		</mat-form-field>
	</mat-grid-tile>

</mat-grid-list> -->




<!-- <div class="dialog">
  <button style="float:right; outline: none;" mat-dialog-close mat-icon-button>
    <mat-icon>close</mat-icon>
  </button>
  <br>
  <div style="display: flex; flex-direction: column;">
    <div class="text-normal title-txt">User details</div>

  </div>

</div> -->
