<div *ngIf="!needsVerification">
  <div class="decorated mb-5">
    <span class="header-title">SIGN IN</span>
  </div>
</div>

<div *ngIf="needsVerification">
    <h2>Member Registration</h2>
 <div *ngIf="needsVerification">
    <div class="row form-group">
      <div class="col-md-6 col-lg-6 ">
        <div class="content mb-4">
          <div>
            <h4>Email Verification</h4>
            Please click on the link that has been sent to your email to verify your
            membership and complete the registration process.
          </div>
        </div>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-md-6 col-lg-6">
       <div class="row">
        <div class="col-md-6 col-lg-6">
          <button  (click)="backToLogin()" mat-stroked-button class="btn btn-lg btn-color btn-block">SIGN IN</button>
        </div>
       </div>
      </div>
    </div>
 </div>
</div>
<form *ngIf="!needsVerification" [formGroup]="signinForm" (ngSubmit)="onSubmit()">
    <div class="row mt-4 ">
      <div class="col-md-6 col-lg-6 pt-2">
        <div class="row mb-3">
          <div class="col-md-12 col-lg-12">
            Welcome to the sign in page!
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-lg-12">
            <div class="content mb-4">
              <div>Please enter your login ID (email address) and password. <br>
              <a class="pointer-hand text-u" routerLink="/user/signup" >Register Now</a>
              <br>
              <i>If you have an account with us, please log in.</i>
              </div>
            </div>
          </div>
        </div>
        <div class="row form-group">
          <!-- <div class="col-md-4 col-lg-4 label-end"> </div> -->
          <div class="col-md-12 col-lg-12">
            <label for="" class="col-form-label">Email Address</label>
            <input  (change)="trimValue(signinForm.get('username'))" type="text" class="form-control"  formControlName="username"
            [ngClass]="{'is-invalid': signinFormControl.username.touched && signinFormControl.username.invalid }" >
            <span class="text-danger span-error"
            *ngIf="(signinFormControl.username.touched || submitted) && signinFormControl.username.errors?.required">
            Email is &nbsp;<strong> required</strong>
            </span>
            <span class="text-danger span-error"
            *ngIf="(signinFormControl.username.touched || submitted) && signinFormControl.username.errors?.email">
            Invalid email&nbsp;<strong> format</strong>
            </span>
          </div>
        </div>
        <!--  -->
        <div class="row form-group">
          <!-- <div class="col-md-4 col-lg-4 label-end"> </div> -->
          <div class="col-md-12 col-lg-12">
            <label for="" class="col-form-label">Password</label>
            <input type="password" class="form-control"  formControlName="password"
            [ngClass]="{'is-invalid': signinFormControl.password.touched && signinFormControl.password.invalid }" >
            <span class="text-danger span-error"
            *ngIf="(signinFormControl.password.touched || submitted) && signinFormControl.password.errors?.required">
            Password is &nbsp;<strong> required</strong> <br>
            </span>
          </div>
        </div>
        <div class="forgotplusregister" align="end">
          <ul>
            <li><a routerLink="/user/forgot-password">Forgot Password</a></li>
            <li><span>&#124;</span></li>
            <li> <a routerLink="/user/signup">Member Registration</a></li>
          </ul>
        </div>
        <div class="row form-group">
          <div class="col-md-6 col-lg-6 col-6 col-sm-6">

          </div>
          <div class="col-md-6 col-lg-6 col-6 col-sm-6">
          </div>
        </div>
        <!--  -->
        <div class="row form-group">
          <!-- <div class="col-md-4 col-lg-4"></div> -->
          <div class="col-md-6 col-lg-6">
            <button type="submit" mat-stroked-button class="btn btn-lg btn-color btn-block">SIGN IN</button>
          </div>
        </div>
        </div>
      </div>
</form>
