.content{
  height: auto;
  color: #636363;
  font-size: 16px;
  line-height: 1.6;
  text-align: justify;
}

.contact-content a:link{
  color: #607d8b;
  text-decoration: none;
}
.contact-content a{
  color: #607d8b;
  text-decoration: none;
}
.contact-content a:hover{
  color: #607d8b;
}

.header-style{
  text-align: center;
  margin-bottom: 30px;
  margin-top: 30px;
  font-size: 20px;
  color: #333;
  line-height: 1.5;
}

i{
  color: lightgray;
  font-size: 14px;
}

// /* headlines with lines */

.decorated{
  overflow: hidden;
  text-align: center;
}
.decorated > span{
 position: relative;
 display: inline-block;
}
.decorated > span:before, .decorated > span:after{
 content: '';
 position: absolute;
 top: 50%;
 border-bottom: 1px solid #333;
 width: 90vw;
 margin: 0 20px;
}
.decorated > span:before{
 right: 100%;
}
.decorated > span:after{
 left: 100%;
}

a:link{
  color: #636363;
  text-decoration: none;
}
a{
  color: #636363;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
  color: #4db6ac;
  cursor: pointer;
}


.btn-color{
  color: #ffffff;
  background-color: #009688;
}

  @media only screen and (max-width: 600px) {
    .header-title{
      font-size: 14px;
      letter-spacing: .1em;
      color: #333;
      font-weight: 600;
    }

  }
  @media only screen and (min-width: 600px) {
    .header-title{
      font-size: 18px;
      letter-spacing: .1em;
      color: #333;
      font-weight: 600;
    }
  }
  @media only screen and (min-width: 768px) {
    .header-title{
      font-size: 24px;
      letter-spacing: .1em;
      color: #333;
      font-weight: 600;
    }
  }
  @media (min-width: 992px) {
    .header-title{
      font-size: 24px;
      letter-spacing: .1em;
      color: #333;
      font-weight: 600;
    }
    .label-end{
      display: flex;
      justify-content: flex-end;
    }
  }

  .forgotplusregister ul{
    list-style-type: none;
  }
  .forgotplusregister li{
    display: inline-block;
  }
  .forgotplusregister li:nth-child(1){
    padding-right: 10px;
  }
  .forgotplusregister li:nth-child(2){
    padding-right: 10px;
  }

  .span-error{
    display: flex;
    justify-content: flex-end;
    font-size: 14px;
  }

  .text-u{
    text-decoration: underline;
    text-decoration-color: #636363;
  }

  .text-u:hover{
    text-decoration: underline;
    text-decoration-color: #ad206b;
  }

//   .divider{
//     position:absolute;
//     left:50%;
//     top:10%;
//     bottom:10%;
//     border-left:1px solid #000000;
// }
