.main_card{
    display: grid;
    grid-template-columns: 550px 500px;
}

.details{
    display: grid;
    grid-template-columns: 30% auto;

}
agm-map {
    height: 380px;
}
:host::ng-deep .mat-select-underline{
  border-color:black;
}
:host::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: dimgray;
}
:host::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color:  dimgray;
}
:host::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label {
    color: dimgray;
}
.content{
  height: auto;
  color: #636363;
  font-size: 16px;
  line-height: 1.6;
  padding: 10px 10px 10px 10px;
  text-align: justify;
}

.header-style{
  text-align: center;
  margin-bottom: 30px;
  margin-top: 30px;
  font-size: 20px;
  color: #333;
  line-height: 1.5;

  // link

}

a:link{
  color: #333;
  text-decoration: none;
}
a{
  color: #333;
  text-decoration: none;
}
a:hover{
  color: #333;
}


.span-eror{
  display: flex;
  justify-content: flex-end;
  font-size: 14px;
}



// /* headlines with lines */

@media only screen and (max-width: 600px) {
  .header-title{
    font-size: 14px;
    letter-spacing: .1em;
    color: #333;
    font-weight: 600;
  }

}
@media only screen and (min-width: 600px) {
  .header-title{
    font-size: 18px;
    letter-spacing: .1em;
    color: #333;
    font-weight: 600;
  }
}
@media only screen and (min-width: 768px) {
  .header-title{
    font-size: 24px;
    letter-spacing: .1em;
    color: #333;
    font-weight: 600;
  }
}
@media (min-width: 992px) {
  .header-title{
    font-size: 24px;
    letter-spacing: .1em;
    color: #333;
    font-weight: 600;
  }
  .label-end{
     display: flex;
     justify-content: flex-end;
   }
 }

  .decorated{
    overflow: hidden;
    text-align: center;
  }
  .decorated > span{
  position: relative;
  display: inline-block;
  }
  .decorated > span:before, .decorated > span:after{
  content: '';
  position: absolute;
  top: 50%;
  border-bottom: 1px solid #333;
  width: 90vw;
  margin: 0 20px;
  }
  .decorated > span:before{
  right: 100%;
  }
  .decorated > span:after{
  left: 100%;
  }


  //
  .btn-color{
    background-color: #009688;
    color: #ffffff;
  }
