<!-- <div class="container-fluid">
  <div class="decorated header-title mb-4 mt-4"><span>CONTACT US</span></div>
</div> -->

<div class="mb-5">

  <div class="decorated mb-5">
  <span class="header-title">CONTACT US</span>
</div>

<div class="row">
  <div class="col-md-6 col-lg-6">
    <div class="ccontent mb-4">
      Please feel free to contact us using this form regarding products, opinions and comments about our shop.
    </div>
  </div>
</div>
<form action="" [formGroup]="form" (ngSubmit)="onSubmit()">
<div class="row">
  <div class="col-md-6 col-lg-6">
    <div class="row form-group">
      <!-- <div class="col-md-4 col-lg-4 label-end"></div> -->
      <div class="col-md-12 col-lg-12">
        <label for="" class="col-form-label">Fullname</label>
        <input type="text" class="form-control" formControlName="fullname" (change)="trimValue(form.get('fullname'))"
        [ngClass]="{'is-invalid': contactFormControl.fullname.touched && contactFormControl.fullname.invalid }" >
        <span class="text-danger span-eror"
        *ngIf="(contactFormControl.fullname.touched || submitted) && contactFormControl.fullname.errors?.required">
        Fullname is &nbsp;<strong>required</strong>
        </span>
      </div>
    </div>
    <!--  -->
    <div class="row form-group" hidden>
      <div class="col-md-4 col-lg-4 label-end">
        <label for="" class="col-form-label">Company name</label>
      </div>
      <div class="col-md-8 col-lg-8">
        <input type="text" class="form-control"  formControlName="company_name" (change)="trimValue(form.get('company_name'))"
        [ngClass]="{'is-invalid': contactFormControl.company_name.touched && contactFormControl.company_name.invalid }" >
        <span class="text-danger span-eror"
        *ngIf="(contactFormControl.company_name.touched || submitted) && contactFormControl.company_name.errors?.required">
        Company name is  &nbsp;<strong>required</strong>
        </span>
      </div>
    </div>
    <!--  -->
    <div class="row form-group">
      <!-- <div class="col-md-4 col-lg-4 label-end"> </div> -->
      <div class="col-md-12 col-lg-12">
        <label for="" class="col-form-label">Contact</label>
        <input  minlength="10" maxlength="10" type="text" class="form-control" formControlName="contact_number" (change)="trimValue(form.get('contact_number'))"
        [ngClass]="{'is-invalid': contactFormControl.contact_number.touched && contactFormControl.contact_number.invalid }" >
        <span class="text-danger span-eror"
        *ngIf="(contactFormControl.contact_number.touched || submitted) && contactFormControl.contact_number.errors?.required">
        Contact number is  &nbsp;<strong>required</strong>
        </span>

      </div>
    </div>
    <!--  -->
    <div class="row form-group">
      <!-- <div class="col-md-4 col-lg-4 label-end"></div> -->
      <div class="col-md-12 col-lg-12">
        <label for="" class="col-form-label">Email address</label>
        <input type="text" class="form-control" formControlName="email_address" (change)="trimValue(form.get('email_address'))"
        [ngClass]="{'is-invalid': contactFormControl.email_address.touched && contactFormControl.email_address.invalid }" >
        <span class="text-danger span-eror"
        *ngIf="(contactFormControl.email_address.touched || submitted) && contactFormControl.email_address.errors?.required">
        Email is  &nbsp;<strong>required</strong>
        </span>
        <span class="text-danger span-eror"
        *ngIf="(contactFormControl.email_address.touched || submitted) && contactFormControl.email_address.errors?.email">
        Email is  &nbsp;<strong>invalid</strong>
        </span>
      </div>
    </div>
    <!--  -->
    <div class="row form-group">
      <!-- <div class="col-md-4 col-lg-4 label-end"> </div> -->
      <div class="col-md-12 col-lg-12">
        <label for="" class="col-form-label">Message</label>
        <textarea class="form-control" (change)="trimValue(form.get('subject'))" formControlName="subject" name="" id="" cols="30" rows="10"
        [ngClass]="{'is-invalid': contactFormControl.subject.touched && contactFormControl.subject.invalid }" ></textarea>
        <span class="text-danger span-eror"
        *ngIf="(contactFormControl.subject.touched || submitted) && contactFormControl.subject.errors?.required">
        Message is  &nbsp;<strong>required</strong>
        </span>
      </div>
    </div>
    <!--  -->
    <div class="row">
      <div class="col-md-6 col-lg-6">
        <button type="submit" mat-stroked-button class="btn btn-block btn-color btn-lg ">SUBMIT</button>
      </div>
    </div>

  </div>
</div>
</form>


</div>
