
 <div mat-dialog-title class="border-bottom mb-3">

  <span class="text-dark h4 mr-5">ADMIN REPLY</span>

  <!-- <span class="text-muted mb-0">{{ details?.firstname | titlecase }} {{ details?.surename | titlecase }}'s Detail</span> -->
  <button class="lh-button-icon float-right" mat-icon-button [mat-dialog-close]="" style="top: -5px;right: -10px; width: 32px; height: 32px;">
    <mat-icon>close</mat-icon>
  </button>
</div>

<mat-dialog-content  class="overflow-x-hidden text-dark mx-0 px-0" [ngStyle]="{'min-width': '600px'}">
<div class="container">
  <form *ngIf="details.option === 'reply'" [formGroup]="adminReplyForm" (ngSubmit)="onSubmit()" >
    <div class="row">
      <div class="col-md-12">
        <!-- start -->
        <div class="row form-group">
          <div class="col-md-4 pl-0  align-self-center">
            <label for="" class="col-form-label">
              Reply:
            </label>
          </div>
          <div class="col-md-8  pr-0">
            <!-- start -->
              <mat-form-field class="my-form-field col-md-12 px-0">
                <textarea rows="5" matInput formControlName="adminreply" placeholder="Reply">
                </textarea>
                <mat-error *ngIf="adminReplyForm.get('adminreply').hasError('required')">
                  Reply field is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            <!-- end -->
          </div>
          <!-- <div class="col-md-4 col-lg-4"></div> -->
        </div>
        <!-- end -->
      </div>
    </div>
    <!--  -->

    <div class="row ">
      <div class="col-md-4 align-self-center"> </div>
      <div class="col-md-8 pr-0">
        <button type="submit"  class="btn text-light btn-dark btn-md btn-block">SUBMIT</button>
      </div>
      <!-- <div class="col-md-4 col-lg-4"></div> -->
    </div>



  </form>
</div>
<!--  -->
<div class="row">
  <div class="col-md-12 col-lg-12 d-flex justify-content-center" *ngIf="details.option === 'view'">

    <div class="mt-2 mb-2">
     <p> {{details.row.admin_reply[0].message}}</p>
    </div>

   </div>
 </div>
</mat-dialog-content>

<!-- (click)="paymaentbtn()" -->
































<!--

<mat-dialog-content>

    <form *ngIf="details.option === 'reply'" [formGroup]="adminReplyForm" (ngSubmit)="onSubmit()" class="d-block w-100">
      <h3>REPLY</h3>
      <div class="row">
      <div class="col-md-12">
        <mat-form-field [ngStyle]="{'width': '100%'}">
          <textarea matInput formControlName="adminreply" placeholder="Reply">
          </textarea>
          <mat-error *ngIf="adminReplyForm.get('adminreply').hasError('required')">
            Reply field is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
     <div class="row">
        <div class="col-mg-4 col-lg-4"></div>
        <div class="col-md-4 col-lg-4">
          <button class="btn btn-block bg-dark text-white" type="submit" name="button">SUBMIT</button>
        </div>
        <div class="col-md-4 col-lg-4"></div>
      </div>

    </form>
    <div class="row">
     <div class="col-md-12" *ngIf="details.option === 'view'">
        <h4>Admin Reply: </h4>
        <h3>{{details.row.admin_reply[0].message}}</h3>
      </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="details">Close</button>
</mat-dialog-actions>
 -->

