<div class="container-flex">
  <div class="row pt-4 mx-3">

    <div class="mb-4"  style="margin-left: 14px;">
      <img style="margin-top: -4px;" class="mr-2"  src="https://img.icons8.com/ios-filled/24/000000/communication.png"/>
      <span>Customer Reviews</span>
     </div>

    <!-- <div class="col-md-12">
      <mat-icon class="align-middle" style="width: 50px; height: 50px;font-size: 50px;">message</mat-icon>
      <span class="align-middle"> {{ titlebranch | uppercase}}</span>
    </div> -->
    <!-- search start -->
    <div class="col-md-12" style="display: flex; justify-content: center; ">
      <!-- <mat-form-field style="width: 140px; font-size: 12px; margin-top: 12px;">
        <mat-select [(value)]="paginator.type" (selectionChange)="selectType($event.value)">
          <mat-option value="0">Select type</mat-option>
          <mat-option value="1">Order no</mat-option>
          <mat-option value="2">Item name</mat-option>
          <mat-option value="3">Item no</mat-option>
          <mat-option value="4">Customer name</mat-option>
        </mat-select>
      </mat-form-field> -->

      <mat-form-field class="my-form-field f-15" style="width: 20em; margin: 0 10px;">
        <input #searchInput matInput placeholder="keyword" autocomplete="off">
      </mat-form-field>

      <button class="list-opt list-btn-opt-view" (click)="applyFilter(searchInput.value)" matTooltip="">
        Search
      </button>

      <div style="flex: 1 1 auto"></div>
      <div style="transform: translateY(3px); display: flex;">
        <div style="margin-top: 12px; font-size: 12px; color: rgb(117, 117, 117);">Limit：</div>

        <mat-form-field style="width: 60px; font-size: 12px;">
          <mat-select [(value)]="paginator.limit" (selectionChange)="selectLimit($event.value)">
            <mat-option value="5">5</mat-option>
            <mat-option value="10">10</mat-option>
            <mat-option value="20">20</mat-option>
            <mat-option value="50">50</mat-option>
            <mat-option value="100">100</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div style="transform: translateY(3px); display: flex;">

        <div class="indicator">{{ pageItem.offset + 1 }} - {{ pageItem.offset + +reqList.length  }} of
          {{ pageItem.total }}</div>

        <button [disabled]="pageItem.total <= 1 || (pageItem.current == pageItem.first)" (click)="pageAction('first')"
          mat-icon-button class="pagi-arrow">
          <mat-icon style="font-size: 28px;">first_page</mat-icon>
        </button>
        <button [disabled]="pageItem.total <= 1 || (pageItem.current == pageItem.first)" (click)="pageAction('prev')"
          mat-icon-button class="pagi-arrow">
          <mat-icon style="font-size: 28px;">chevron_left</mat-icon>
        </button>
        <button [disabled]="pageItem.total <= 1 || (pageItem.current == pageItem.pages)" (click)="pageAction('next')"
          mat-icon-button class="pagi-arrow">
          <mat-icon style="font-size: 28px;">chevron_right</mat-icon>
        </button>
        <button [disabled]="pageItem.total <= 1 || (pageItem.current == pageItem.pages)" (click)="pageAction('last')"
          mat-icon-button class="pagi-arrow">
          <mat-icon style="font-size: 28px;">last_page</mat-icon>
        </button>
      </div>
    </div>
    <!-- table start -->
    <!-- <div class="col-md-12 list-header">

      <div matSort style="display: flex; vertical-align: middle; line-height: 40px;">
        <div style="padding-left: 25px; outline: none; width: 3.3%;">#</div>
        <div mat-sort-header="order" style="padding-left: 25px; outline: none; width: 16.5%">Order</div>
        <div mat-sort-header="rate" style="padding-left: 25px; outline: none; width: 17%">Rate</div>
        <div mat-sort-header="message" style="padding-left: 25px; outline: none; width: 14.5%;">Message</div>
        <div mat-sort-header="status" style="padding-left: 25px; outline: none; width: 32%;">Status</div>
        <div style="flex: 1 1 auto"></div>
        <mat-spinner *ngIf="search_loading" [diameter]="20" style="margin-top: 10px;"></mat-spinner>
      </div>
    </div> -->

    <div class="col-md-12 list-div pr-0" [ngStyle]="{'height': contentHeight + 'px'}">
      <!-- style="max-height: 450px;" -->
      <table mat-table [dataSource]="dataSource" matSort class="w-100">
        <!-- class="mat-elevation-z8" -->
        <ng-container matColumnDef="id">
          <th class=" pl-2" math-header-cell *matHeaderCellDef>#</th>
          <td mat-cell class="list-item pl-2" *matCellDef="let row; let i=index">{{i+1}}</td>
        </ng-container>

        <ng-container matColumnDef="order_no">
          <th class="" math-header-cell *matHeaderCellDef mat-sort-header>Order #</th>
          <td mat-cell class="list-item" *matCellDef="let row">{{row.order_no}}</td>
        </ng-container>

        <ng-container matColumnDef="rate">
          <th class="" math-header-cell *matHeaderCellDef mat-sort-header>Rate</th>
          <td mat-cell class="list-item" *matCellDef="let row">{{row.rate}}</td>
        </ng-container>

        <ng-container matColumnDef="message">
          <th class="" math-header-cell *matHeaderCellDef mat-sort-header>Message</th>
          <td mat-cell class="list-item" *matCellDef="let row">{{row.message}}</td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th class="" math-header-cell *matHeaderCellDef mat-sort-header>Status</th>
          <td mat-cell class="list-item" *matCellDef="let row">
            <span class="px-3 py-2" *ngIf="row.status === 1" class="badge badge-danger">Replied</span>
            <span class="px-3 py-2" *ngIf="row.status === 0" class="badge badge-info">Needs Reply</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="viewAction">
          <th class=" text-center" math-header-cell *matHeaderCellDef>Controls</th>
          <td mat-cell *matCellDef="let row" class="text-center pr-0">
            <button *ngIf="row.status === 0" class="list-opt list-btn-opt-edit" (click)="openDialog(row, 'reply')" matTooltip="">
              REPLY
            </button>
            <button *ngIf="row.status === 1" class="list-opt list-btn-opt-edit" (click)="openDialog(row, 'view')" matTooltip="">
              VIEW REPLY
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <!-- <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row> -->
      </table>
    </div>


    <!-- <div class="col-md-12 list-div pr-0" [ngStyle]="{'height': contentHeight + 'px'}">
      <table mat-table [dataSource]="dataSource" matSort class="w-100">
        <ng-container matColumnDef="id">
          <th math-header-cell *matHeaderCellDef mat-sort-header>#</th>
          <td mat-cell class="list-item" style="flex: 0.14" *matCellDef="let row; let i=index">{{i+1}}</td>
        </ng-container>

        <ng-container matColumnDef="order_no">
          <th math-header-cell *matHeaderCellDef mat-sort-header>Order #</th>
          <td mat-cell class="list-item" style="flex: 0.48" *matCellDef="let row">{{row.order_no}}</td>
        </ng-container>

        <ng-container matColumnDef="rate">
          <th math-header-cell *matHeaderCellDef mat-sort-header>Rate</th>
          <td mat-cell class="list-item" style="flex: 0.48" *matCellDef="let row">{{row.rate}}</td>
        </ng-container>

        <ng-container matColumnDef="message">
          <th math-header-cell *matHeaderCellDef mat-sort-header>Message</th>
          <td mat-cell class="list-item" style="flex: 0.43" *matCellDef="let row">{{row.message}}</td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th math-header-cell *matHeaderCellDef mat-sort-header>Status</th>
          <td mat-cell class="list-item" style="flex: 0.5" *matCellDef="let row">
            <span class="px-3 py-2" *ngIf="row.status === 1" class="badge badge-danger">Replied</span>
            <span class="px-3 py-2" *ngIf="row.status === 0" class="badge badge-info">Needs Reply</span>
          </td>
        </ng-container>


        <ng-container matColumnDef="viewAction">
          <th math-header-cell *matHeaderCellDef> </th>
          <td mat-cell *matCellDef="let row" style="flex: 0.18">
            <button *ngIf="row.status === 0" class="list-opt list-btn-opt-edit" (click)="openDialog(row, 'reply')" matTooltip="">
              REPLY
            </button>
            <button *ngIf="row.status === 1" class="list-opt list-btn-opt-edit" (click)="openDialog(row, 'view')" matTooltip="">
              VIEW REPLY
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div> -->
  </div>
</div>
